/*
Run this script on:

        awssqlstgm.51349_CDCCKD_TED    -  This database will be modified

to synchronize it with:

        awssqldevm.51349_CDCCKD

You are recommended to back up your database before running this script

Script created by SQL Compare version 14.0.7.13517 from Red Gate Software Ltd at 9/11/2026 1:16:26 PM

*/
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS ON
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL Serializable
GO
BEGIN TRANSACTION
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Altering [dbo].[proc_GetDownloadExcelTableForMaps]'
GO

/******************************************************************************

  Name:         [proc_GetDownloadExcelTableForMaps]
  
  Description:  

  Called By:    

-------------------------------------------------------------------------------
  Notes:
                                                                   
-------------------------------------------------------------------------------
  History:             
  10/05/2020	Ben S		Initial Implementation
-------------------------------------------------------------------------------
usage:
		 

*******************************************************************************/
ALTER PROCEDURE [dbo].[proc_GetDownloadExcelTableForMaps]
(
	@ChartID INT 
	--,@fipsstate int
	,@Year NVARCHAR(100)  -- stratifier

	
)
AS

	--DECLARE @IndicatorID int  

	--Select @IndicatorID = i.IndicatorID --@QNum = p.QNum   
	--FROM t_Chart c   
	--	INNER JOIN t_Page p on p.PageID = c.PageID   
	--	inner join t_Indicator i on i.IndicatorID = p.IndicatorID   
	--WHERE c.ChartID = @ChartID   
	---- comment when not testing   
	----SELECT @IndicatorID AS '@IndicatorID', @AllYears AS '@AllYears'   
	   
	--Declare @t udtt_OrderOfChartStratificationSets   
	
	--	BEGIN   
	--		-- get the strat sets and their sequence from t_chart   
	--		--insert into @t select @ChartID, * from dbo.udf_StratificationSetOrderFromChartID(@ChartID)   
	--		insert into @t SELECT * from dbo.udf_StratificationSetOrderWithStratifierFromChartID(@ChartID) WHERE StratSetLevel <> 'Stratifier'   
	--	END   

	--SELECT    
	--	i.IndicatorTitleRoot    
	--	,(select top 1 StratificationText from @t order by StratSetRank Desc) as XAxisLabel    
	--	,case when df.Format = N'P2' then N'%' else N'' end as Format   
	--	,c.DecimalPlaces AS SignificantDigits   
	--FROM t_Chart c   
	--	INNER JOIN t_DisplayFormat df on c.DisplayFormatID = df.DisplayFormatID   
	--	INNER JOIN t_Page p on p.PageID = c.PageID   
	--	inner join t_Indicator i on i.IndicatorID = p.IndicatorID   
	--WHERE c.ChartID = @ChartID
	IF @ChartID = -1
	BEGIN
		SELECT DISTINCT CAST(AnyCKD_rate AS VARCHAR(100)) AS [Percentage of Diagnosed CKD Patients], State, County, CAST(cmean_PM_pred2 AS VARCHAR(100)) AS [Average Daily PM2.5] FROM Q760
		SELECT DISTINCT CAST(AnyCKD_rate AS VARCHAR(100)) AS [Percentage of Diagnosed CKD Patients], State, County, CAST(cmean_PM_pred2 AS VARCHAR(100)) AS [Average Daily PM2.5] FROM Q760
    END
	ELSE IF @ChartID = -2		
	BEGIN
		SELECT CAST(AnyCKD_rate AS VARCHAR(100)) AS [Percentage of Diagnosed CKD Patients], CAST(Below_poverty_threshold AS VARCHAR(100)) AS [Percentage of the Population Below the Poverty Threshold], State, County FROM Q761
		SELECT CAST(AnyCKD_rate AS VARCHAR(100)) AS [Percentage of Diagnosed CKD Patients], CAST(Below_poverty_threshold AS VARCHAR(100)) AS [Percentage of the Population Below the Poverty Threshold], State, County FROM Q761
    END
	ELSE IF @ChartID = -3
	BEGIN
		SELECT CAST([Segregation Index] AS VARCHAR(100)) AS Value, County, [State] FROM q783 ORDER BY State, County
		SELECT CAST([Segregation Index] AS VARCHAR(100)) AS Value, County, [State], @Year AS [Year] FROM q783 ORDER BY State, County
	END
	ELSE
    BEGIN
	  Select case when isnumeric(dp.MainValue) = 1 then Cast(Cast(dp.MainValue as Decimal(30,2)) as varchar(20))  else null end as Value,
	  tc.county as County, ts.State as [State]
	  From t_DataPoint dp
	  Inner Join t_Stratification tstrat_county on tstrat_county.StratificationId = dp.StratificationID2
	  Inner Join t_Stratification tstrat_year on tstrat_year.StratificationId = dp.StratificationID1
	  Inner Join t_County tc on tstrat_county.Stratification = Convert(varchar(5),tc.fipscounty)
	  Inner Join t_State ts on tc.state =ts.StateAbbrev 
	  where ChartID = @ChartID and tc.county <> 'STATEWIDE' AND tstrat_year.Stratification = @Year
	  order by ts.State, tc.county


	Select case when isnumeric(dp.MainValue) = 1 then Cast(Cast(dp.MainValue as Decimal(30,2)) as varchar(20))  else null end as Value,
	  tc.county as County, ts.State as [State] , tstrat_year.Stratification as [Year] 
	  From t_DataPoint dp
	  Inner Join t_Stratification tstrat_county on tstrat_county.StratificationId = dp.StratificationID2
	  Inner Join t_Stratification tstrat_year on tstrat_year.StratificationId = dp.StratificationID1
	  Inner Join t_County tc on tstrat_county.Stratification = Convert(varchar(5),tc.fipscounty)
	  Inner Join t_State ts on tc.state =ts.StateAbbrev 
	  where ChartID = @ChartID and tc.county <> 'STATEWIDE' 
	  order by ts.State, tc.county, tstrat_year.Stratification

	END
	


GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
COMMIT TRANSACTION
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
-- This statement writes to the SQL Server Log so SQL Monitor can show this deployment.
IF HAS_PERMS_BY_NAME(N'sys.xp_logevent', N'OBJECT', N'EXECUTE') = 1
BEGIN
    DECLARE @databaseName AS nvarchar(2048), @eventMessage AS nvarchar(2048)
    SET @databaseName = REPLACE(REPLACE(DB_NAME(), N'\', N'\\'), N'"', N'\"')
    SET @eventMessage = N'Redgate SQL Compare: { "deployment": { "description": "Redgate SQL Compare deployed to ' + @databaseName + N'", "database": "' + @databaseName + N'" }}'
    EXECUTE sys.xp_logevent 55000, @eventMessage
END
GO
DECLARE @Success AS BIT
SET @Success = 1
SET NOEXEC OFF
IF (@Success = 1) PRINT 'The database update succeeded'
ELSE BEGIN
	IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION
	PRINT 'The database update failed'
END
GO
