<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CDC.NCCDPHP.Commons" version="4.5.2" targetFramework="net462" />
  <package id="CDC.NCCDPHP.Crypto.GetHash" version="4.5" targetFramework="net452" />
  <package id="CDC.NCCDPHP.Cryptography" version="4.5.0.1" targetFramework="net452" />
  <package id="CDC.NCCDPHP.DataAccess" version="4.6.1" targetFramework="net462" />
  <package id="CDC.NCCDPHP.NCCDAppUser" version="4.5.1" targetFramework="net452" />
  <package id="CDC.NCCDPHP.NCCDUtilities" version="5.3.0" targetFramework="net462" />
  <package id="CDC.NCCDPHP.PasswordPolicy" version="4.5.2" targetFramework="net462" />
  <package id="CDC.NCCDPHP.SSLUtility" version="4.5.2" targetFramework="net462" />
  <package id="ClosedXML" version="0.95.4" targetFramework="net462" />
  <package id="ExcelNumberFormat" version="1.1.0" targetFramework="net462" />
  <package id="Microsoft.Build.Tasks.Git" version="1.0.0" targetFramework="net462" developmentDependency="true" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net462" />
  <package id="NG.CodeSecure.Common" version="7.0.0" targetFramework="net462" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net462" />
  <package id="System.Data.SqlClient" version="4.8.5" targetFramework="net462" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net462" />
  <package id="System.IO.Packaging" version="7.0.0" targetFramework="net462" />
  <package id="System.Memory" version="4.5.5" targetFramework="net462" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net462" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net462" />
  <package id="System.Text.Encoding.CodePages" version="7.0.0" targetFramework="net462" />
</packages>