<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="DBServer" value="2016Q1" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MailServer" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="MailSender" value="DONOTREPLY_DDT_CKD@cdc.gov" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="SupportMailReciever" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ExceptionMailReciever" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ExceptionMailSubject" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="EmailExceptions" value="False" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ErrorLogType" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="ErrorLogAPI" value="" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <httpCookies httpOnlyCookies="true" requireSSL="true" xdt:Transform="Replace"/>
	  <identity xdt:Transform="SetAttributes(impersonate)" impersonate="false" />
  </system.web>
  <connectionStrings xdt:Transform="Remove" >
  </connectionStrings>
</configuration>