<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings>
		<add key="AccountDBConnectionStringAPIURL" value="https://nccdphp-od-accounts-function.azurewebsites.net/api/DBConnectionString?code=TItFu63F_78io7Jn3u_Pr5SU3WAOjqsYxSmAV1FFH-vyAzFurClCpg==" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="DBServer" value="DSTV-INFC-2200.CDC.GOV,1433" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="Database" value="NCCD_DDT_CKD" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="MailServer" value="smtpgw.cdc.gov" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="MailSender" value="DONOTREPLY_DDT_CKD@cdc.gov" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="SupportMailReciever" value="jpark-lee@mathematica-mpr.com" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="ExceptionMailReciever" value="nccdphpapplicationex@cdc.gov" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="ExceptionMailSubject" value="DDT CKD - QA - Application Exception Token:"  xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="EmailExceptions" value="False" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="ErrorLogType" value="ALL" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="ErrorLogAPI" value="https://nccdgisdev.cdc.gov/Logger/ApplicationError" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
		<add key="ISB_ServiceAccount" value="CDC\KDSSTstSvc" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
	</appSettings>
	<system.web>
		<compilation xdt:Transform="RemoveAttributes(debug)" />
		<httpCookies httpOnlyCookies="true" requireSSL="true" xdt:Transform="Replace"/>
		<identity xdt:Transform="SetAttributes(impersonate)" impersonate="false" />
	</system.web>
	<connectionStrings xdt:Transform="Remove" >
	</connectionStrings>
</configuration>