/*
Run this script on:

        awssqlstgm.51349_CDCCKD_TED    -  This database will be modified

to synchronize it with:

        awssqldevm.51349_CDCCKD

You are recommended to back up your database before running this script

Script created by SQL Compare version 14.0.7.13517 from Red Gate Software Ltd at 8/11/2026 10:02:16 AM

*/
USE [NCCD_DDT_CKD]
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS ON
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL Serializable
GO
BEGIN TRANSACTION
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Altering [dbo].[t_Chart]'
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
ALTER TABLE [dbo].[t_Chart] ADD
[IsXAxisDate] [bit] NULL CONSTRAINT [DF__t_Chart__IsXAxis__764262CA] DEFAULT ((0))
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Altering [dbo].[t_ChartAudit]'
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
ALTER TABLE [dbo].[t_ChartAudit] ADD
[IsXAxisDate] [bit] NULL CONSTRAINT [DF__t_ChartAu__IsXAx__77368703] DEFAULT ((0))
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Altering trigger [dbo].[t_Chart_Trigger] on [dbo].[t_Chart]'
GO
ALTER TRIGGER [dbo].[t_Chart_Trigger] ON [dbo].[t_Chart] FOR INSERT,UPDATE,DELETE AS
BEGIN
    IF ((SELECT COUNT(*) FROM INSERTED) > 0) AND ((SELECT COUNT(*) FROM DELETED) = 0)
    BEGIN
        INSERT INTO dbo.t_ChartAudit ([ChangeType],[ChartID],[YAxisLabel],[PageID],[ChartStyleID],[DisplayOrder],[DisplayFormatID],[StratificationType1],[StratificationType2],[StratificationType3],[StratificationTypeSeq1],[StratificationTypeSeq2],[StratificationTypeSeq3],[StratificationSetID1],[StratificationSetID2],[StratificationSetID3],[EnableEntireChart],[ShowTableOnly],[ToolTipText],[XAxisLabelAngle],[YAxisLabelMaxValue],[ChartTitle],[SignificantDigits],[ScaleBreak],[DecimalPlaces],[XAxisLabel],[IsXAxisDate])
        SELECT 'I',[ChartID],[YAxisLabel],[PageID],[ChartStyleID],[DisplayOrder],[DisplayFormatID],[StratificationType1],[StratificationType2],[StratificationType3],[StratificationTypeSeq1],[StratificationTypeSeq2],[StratificationTypeSeq3],[StratificationSetID1],[StratificationSetID2],[StratificationSetID3],[EnableEntireChart],[ShowTableOnly],[ToolTipText],[XAxisLabelAngle],[YAxisLabelMaxValue],[ChartTitle],[SignificantDigits],[ScaleBreak],[DecimalPlaces],[XAxisLabel],[IsXAxisDate] FROM INSERTED
    END
    IF ((SELECT COUNT(*) FROM INSERTED) > 0) AND ((SELECT COUNT(*) FROM DELETED) > 0)
    BEGIN
        WITH Update_CTE
        AS
        (SELECT * FROM INSERTED EXCEPT SELECT * FROM DELETED)
        INSERT INTO dbo.t_ChartAudit ([ChangeType],[ChartID],[YAxisLabel],[PageID],[ChartStyleID],[DisplayOrder],[DisplayFormatID],[StratificationType1],[StratificationType2],[StratificationType3],[StratificationTypeSeq1],[StratificationTypeSeq2],[StratificationTypeSeq3],[StratificationSetID1],[StratificationSetID2],[StratificationSetID3],[EnableEntireChart],[ShowTableOnly],[ToolTipText],[XAxisLabelAngle],[YAxisLabelMaxValue],[ChartTitle],[SignificantDigits],[ScaleBreak],[DecimalPlaces],[XAxisLabel],[IsXAxisDate])
        SELECT 'U',[ChartID],[YAxisLabel],[PageID],[ChartStyleID],[DisplayOrder],[DisplayFormatID],[StratificationType1],[StratificationType2],[StratificationType3],[StratificationTypeSeq1],[StratificationTypeSeq2],[StratificationTypeSeq3],[StratificationSetID1],[StratificationSetID2],[StratificationSetID3],[EnableEntireChart],[ShowTableOnly],[ToolTipText],[XAxisLabelAngle],[YAxisLabelMaxValue],[ChartTitle],[SignificantDigits],[ScaleBreak],[DecimalPlaces],[XAxisLabel],[IsXAxisDate] FROM Update_CTE
    END
    IF ((SELECT COUNT(*) FROM INSERTED) = 0) AND ((SELECT COUNT(*) FROM DELETED) > 0)
    BEGIN
        INSERT INTO dbo.t_ChartAudit ([ChangeType],[ChartID],[YAxisLabel],[PageID],[ChartStyleID],[DisplayOrder],[DisplayFormatID],[StratificationType1],[StratificationType2],[StratificationType3],[StratificationTypeSeq1],[StratificationTypeSeq2],[StratificationTypeSeq3],[StratificationSetID1],[StratificationSetID2],[StratificationSetID3],[EnableEntireChart],[ShowTableOnly],[ToolTipText],[XAxisLabelAngle],[YAxisLabelMaxValue],[ChartTitle],[SignificantDigits],[ScaleBreak],[DecimalPlaces],[XAxisLabel],[IsXAxisDate])
        SELECT 'D',[ChartID],[YAxisLabel],[PageID],[ChartStyleID],[DisplayOrder],[DisplayFormatID],[StratificationType1],[StratificationType2],[StratificationType3],[StratificationTypeSeq1],[StratificationTypeSeq2],[StratificationTypeSeq3],[StratificationSetID1],[StratificationSetID2],[StratificationSetID3],[EnableEntireChart],[ShowTableOnly],[ToolTipText],[XAxisLabelAngle],[YAxisLabelMaxValue],[ChartTitle],[SignificantDigits],[ScaleBreak],[DecimalPlaces],[XAxisLabel],[IsXAxisDate] FROM DELETED
    END
END
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
COMMIT TRANSACTION
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
-- This statement writes to the SQL Server Log so SQL Monitor can show this deployment.
IF HAS_PERMS_BY_NAME(N'sys.xp_logevent', N'OBJECT', N'EXECUTE') = 1
BEGIN
    DECLARE @databaseName AS nvarchar(2048), @eventMessage AS nvarchar(2048)
    SET @databaseName = REPLACE(REPLACE(DB_NAME(), N'\', N'\\'), N'"', N'\"')
    SET @eventMessage = N'Redgate SQL Compare: { "deployment": { "description": "Redgate SQL Compare deployed to ' + @databaseName + N'", "database": "' + @databaseName + N'" }}'
    EXECUTE sys.xp_logevent 55000, @eventMessage
END
GO
DECLARE @Success AS BIT
SET @Success = 1
SET NOEXEC OFF
IF (@Success = 1) PRINT 'The database update succeeded'
ELSE BEGIN
	IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION
	PRINT 'The database update failed'
END
GO
