/*
Run this script on:

awssqlprodm.51349_CDCCKD    -  This database will be modified

to synchronize it with:

awssqlstgm.51349_CDCCKD_TED

You are recommended to back up your database before running this script

Script created by SQL Data Compare version 14.0.7.13517 from Red Gate Software Ltd at 2/3/2026 4:24:54 PM

*/
		
USE [NCCD_DDT_CKD]
GO
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS, NOCOUNT ON
GO
SET DATEFORMAT YMD
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL Serializable
GO
BEGIN TRANSACTION

PRINT(N'Drop constraints from [dbo].[t_SpecSheet]')
ALTER TABLE [dbo].[t_SpecSheet] NOCHECK CONSTRAINT [FK_t_SpecSheet_t_Page]

PRINT(N'Drop constraints from [dbo].[t_KeyPoint]')
ALTER TABLE [dbo].[t_KeyPoint] NOCHECK CONSTRAINT [FK_t_KeyPoint_t_Page]

PRINT(N'Update rows in [dbo].[t_SpecSheet]')
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>CKD is defined by an estimated glomerular filtration rate (eGFR) &lt; 60 ml/min/1.73 m&sup2; or albuminuria (urine albumin to creatinine ratio [UACR] &ge; 30 mg/g). Estimates are based on single estimates of eGFR and UACR.</p>
' WHERE [SpecSheetID] = 12567
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>UACR was calculated as urine albumin divided by urine creatinine. Albuminuria is defined as UACR &ge; 30 mg/g. Urine albumin is measured in random urine collection by fluorescent immunoassay.</p>
' WHERE [SpecSheetID] = 12569
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>CKD is defined by an estimated glomerular filtration rate (eGFR) &lt; 60 ml/min/1.73 m&sup2; or albuminuria (urine albumin to creatinine ratio [UACR] &ge; 30 mg/g). Estimates are based on single estimates of eGFR and UACR.</p>
' WHERE [SpecSheetID] = 12580
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>UACR was calculated as urine albumin divided by urine creatinine. Albuminuria is defined as UACR &ge; 30 mg/g. Urine albumin is measured in random urine collection by fluorescent immunoassay.</p>
' WHERE [SpecSheetID] = 12582
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>Overall U.S. adults aged &ge; 20 years with data for CKD and self-reported CVD measures.</p>

<p>By strata: U.S. adults aged &ge; 20 years with CKD (eGFR &lt; 60 ml/min/1.73 m2 or albuminuria) and self-reported CVD information.</p>
' WHERE [SpecSheetID] = 12615
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>CKD is defined by an estimated glomerular filtration rate (eGFR) &lt; 60 ml/min/1.73 m&sup2; or albuminuria (urine albumin to creatinine ratio [UACR] &ge; 30 mg/g). Estimates are based on single estimates of eGFR and UACR.</p>
' WHERE [SpecSheetID] = 12616
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>UACR was calculated as urine albumin divided by urine creatinine. Albuminuria is defined as UACR &ge; 30 mg/g. Urine albumin is measured in random urine collection by fluorescent immunoassay.</p>
' WHERE [SpecSheetID] = 12618
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>Overall U.S. adults aged &ge; 20 years with data for CKD and self-reported CVD measures.</p>

<p>By strata: U.S. adults aged &ge; 20 years with CKD (eGFR &lt; 60 ml/min/1.73 m2 or albuminuria) and self-reported CVD information.</p>
' WHERE [SpecSheetID] = 12628
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>CKD is defined by an estimated glomerular filtration rate (eGFR) &lt; 60 ml/min/1.73 m&sup2; or albuminuria (urine albumin to creatinine ratio [UACR] &ge; 30 mg/g). Estimates are based on single estimates of eGFR and UACR.</p>
' WHERE [SpecSheetID] = 12629
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>UACR was calculated as urine albumin divided by urine creatinine. Albuminuria is defined as UACR &ge; 30 mg/g. Urine albumin is measured in random urine collection by fluorescent immunoassay.</p>
' WHERE [SpecSheetID] = 12631
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>Overall: U.S. adults aged &ge; 18 years with data for CKD and anemia.</p>

<p>By strata: U.S. adults aged &ge; 18 years with CKD (eGFR &lt; 60 ml/min/1.73 m<sup>2</sup> or albuminuria) and with data for anemia</p>
' WHERE [SpecSheetID] = 12641
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>CKD is defined by an estimated glomerular filtration rate (eGFR) &lt; 60 ml/min/1.73 m&sup2; or albuminuria. Estimates are based on single estimates of eGFR and UACR.</p>
' WHERE [SpecSheetID] = 12642
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>UACR was calculated as urine albumin divided by urine creatinine. Albuminuria is defined as UACR &ge; 30 mg/g. Urine albumin is measured in random urine collection by fluorescent immunoassay.</p>
' WHERE [SpecSheetID] = 12644
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>Overall: U.S. adults aged &ge; 18 years with data for CKD and anemia.</p>

<p>By strata: U.S. adults aged &ge; 18 years with CKD (eGFR &lt; 60 ml/min/1.73 m<sup>2</sup> or albuminuria) and with data for anemia</p>
' WHERE [SpecSheetID] = 12654
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>CKD is defined by an estimated glomerular filtration rate (eGFR) &lt; 60 ml/min/1.73 m&sup2; or albuminuria. Estimates are based on single estimates of eGFR and UACR.</p>
' WHERE [SpecSheetID] = 12655
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>UACR was calculated as urine albumin divided by urine creatinine. Albuminuria is defined as UACR &ge; 30 mg/g. Urine albumin is measured in random urine collection by fluorescent immunoassay.</p>
' WHERE [SpecSheetID] = 12657
PRINT(N'Operation applied to 16 rows out of 16')

PRINT(N'Update rows in [dbo].[t_KeyPoint]')
UPDATE [dbo].[t_KeyPoint] SET [KeyPointText]=N'<p>During 2001&ndash;March 2020, crude prevalence of hypertension increased from 49.9% to 53.3% in the U.S. adult population. Hypertension prevalence was higher among adults with CKD for both crude and age-standardized prevalence, with the crude burden at its highest level in recent years at 78.0% among adults with CKD. Hypertension prevalence (crude) appeared higher among older, male, and non-Hispanic Black adults.</p>
' WHERE [KeyPointID] = 580
UPDATE [dbo].[t_KeyPoint] SET [KeyPointText]=N'<p>During 2001&ndash;March 2020, crude prevalence of diabetes increased from 9.0% to 14.1% in the U.S. adult population. Among adults with CKD, the crude and age-adjusted prevalence was on average threefold higher than among adults without CKD. During 2017&ndash;March 2020, the crude prevalence of diabetes was 37.4% among adults with CKD vs. 10.3% among adults without CKD. Among adults with CKD, diabetes prevalence (crude) was highest among those aged 60&ndash;69 years and males. The lowest prevalence of diabetes was seen among non-Hispanic White adults with CKD.</p>
' WHERE [KeyPointID] = 581
UPDATE [dbo].[t_KeyPoint] SET [KeyPointText]=N'<p>During 2001&ndash;March 2020, the overall crude prevalence of cardiovascular disease (CVD) ranged from 8.9% to 10.1% and was at least threefold higher among adults with CKD compared to adults without CKD across the time periods. Age-standardized prevalence of CVD was about twofold higher in adults with than without CKD. Crude prevalence of CVD among adults with CKD was higher among older, male, and non-Hispanic White adults.</p>
' WHERE [KeyPointID] = 582
UPDATE [dbo].[t_KeyPoint] SET [KeyPointText]=N'<p>During 2001&ndash;March 2020, the overall crude prevalence of anemia increased from 4.9% to 7.1%. Anemia prevalence was at least 2.6 times higher among adults with CKD compared to adults without CKD across the time periods. Crude prevalence of anemia among adults with CKD was higher among older, female (except 2013-2016), and non-Hispanic Black adults.</p>
' WHERE [KeyPointID] = 583
UPDATE [dbo].[t_KeyPoint] SET [KeyPointText]=N'<p>During 2001&ndash;March 2020, crude prevalence of hypertension increased from 49.9% to 53.3% in the U.S. adult population. Hypertension prevalence was higher among adults with CKD for both crude and age-standardized prevalence, with the crude burden at its highest level in recent years at 78.0% among adults with CKD. Hypertension prevalence (crude) appeared higher among older, male, and non-Hispanic Black adults.</p>
' WHERE [KeyPointID] = 587
UPDATE [dbo].[t_KeyPoint] SET [KeyPointText]=N'<p>During 2001&ndash;March 2020, crude prevalence of diabetes increased from 9.0% to 14.1% in the U.S. adult population. Among adults with CKD, the crude and age-adjusted prevalence was on average threefold higher than among adults without CKD. During 2017&ndash;March 2020, the crude prevalence of diabetes was 37.4% among adults with CKD vs. 10.3% among adults without CKD. Among adults with CKD, diabetes prevalence (crude) was highest among those aged 60&ndash;69 years and males. The lowest prevalence of diabetes was seen among non-Hispanic White adults with CKD.</p>
' WHERE [KeyPointID] = 588
UPDATE [dbo].[t_KeyPoint] SET [KeyPointText]=N'<p>During 2001&ndash;March 2020, the overall crude prevalence of cardiovascular disease (CVD) ranged from 8.9% to 10.1% and was at least threefold higher among adults with CKD compared to adults without CKD across the time periods. Age-standardized prevalence of CVD was about twofold higher in adults with than without CKD. Crude prevalence of CVD among adults with CKD was higher among older, male, and non-Hispanic White adults.</p>
' WHERE [KeyPointID] = 589
UPDATE [dbo].[t_KeyPoint] SET [KeyPointText]=N'<p>During 2001&ndash;March 2020, the overall crude prevalence of anemia increased from 4.9% to 7.1%. Anemia prevalence was at least 2.6 times higher among adults with CKD compared to adults without CKD across the time periods. Crude prevalence of anemia among adults with CKD was higher among older, female (except 2013-2016), and non-Hispanic Black adults.</p>
' WHERE [KeyPointID] = 590
PRINT(N'Operation applied to 8 rows out of 8')

PRINT(N'Add constraints to [dbo].[t_SpecSheet]')
ALTER TABLE [dbo].[t_SpecSheet] WITH CHECK CHECK CONSTRAINT [FK_t_SpecSheet_t_Page]

PRINT(N'Add constraints to [dbo].[t_KeyPoint]')
ALTER TABLE [dbo].[t_KeyPoint] WITH CHECK CHECK CONSTRAINT [FK_t_KeyPoint_t_Page]
COMMIT TRANSACTION
GO
