/*
Run this script on:

        awssqlprodm.51349_CDCCKD    -  This database will be modified

to synchronize it with:

        awssqlstgm.51349_CDCCKD_TED

You are recommended to back up your database before running this script

Script created by SQL Compare version 14.0.7.13517 from Red Gate Software Ltd at 11/6/2025 2:32:30 PM

*/
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS ON
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL Serializable
GO
BEGIN TRANSACTION
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Altering [dbo].[udf_TitleCase]'
GO

ALTER FUNCTION [dbo].[udf_TitleCase]
	(
	@Value NVARCHAR(4000), 
	@Exceptions NVARCHAR(4000)= NULL,
	@UCASEWordLength TINYINT = NULL
	) 
RETURNS NVARCHAR(4000) 
AS
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 
Function Purpose: To convert text to Title Case.

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 
INPUT Parameters:
 
@Value :                This is the text to be converted to Proper Case
 
@Exceptions:            'ACE|ARB' do not include the beginning and ending delimiter bars
						A list of exceptions to the default Proper Case rules. e.g. |RAM|CPU|HDD|TFT|
                        Without exception list they would display as Ram, Cpu, Hdd and Tft
                        Note the use of the Pipe "|" symbol to separate exceptions. 
                        (You can change the @sep variable to something else if you prefer)

@UCASEWordLength: You can specify that words less than a certain length are automatically displayed in UPPERCASE

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 

USAGE: 
select dbo.udf_TitleCase('SGLT2 chart ARB CNI Ooops',null,null)
select dbo.udf_TitleCase('SIMPSON, HJ',null,3)
select dbo.udf_TitleCase('sApienza, M',default,default)
select dbo.udf_TitleCase(N'By Annual change in a AKI BY measured kidney function wasn't in patients with ADPKD', NULL, NULL)
select dbo.udf_titleCase(N'Prevalence of CKD Stages, 1988-1994 Vs. 1999-2010', default, default)
select dbo.udf_titleCase(N'Prevalence of NSAID Use Among Persons With and Without CKD in the General Porpulation 1999-2004', NULL, NULL)

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
reference for Capitalization in Titles 101

http://www.grammarcheck.net/capitalization-in-titles-101/
http://www.grammarbook.com/punctuation/capital.asp

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
12/11/2013 MS add code to maintain the capitilization of the first word as it is passed into the proc. 
12/18/2013 MS add code to maintain the capitilization of the first word as it is passed into the proc. 
02/01/2016 MS remove "past" from lsit of @ArticalAndPrepositionExceptions
11/29/2016 MS exception for 'With and Without'
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
*/
 
BEGIN
 
	--DECLARE 	@Value nvarchar(4000) = N'Percentage of patients with diabetes and CKD stages 3-5 filling at least one prescription for either an ACE inhibitor or an ARB, stratified'
	--DECLARE @Exceptions nvarchar(4000)= NULL 

	declare @i int = 1 -- counter 
	declare @WordCount int = 1 -- counter
	DECLARE @SecondWord NVARCHAR (2000) = N''
	DECLARE @ThirdWord NVARCHAR (2000) = N''
	declare @ProperCaseText nvarchar(4000) = N'' -- Used to build our Proper Case string for Function return
	declare @Word nvarchar(2000)= N'' -- Temporary storage for each word
	declare @c nchar(1) = ' ' -- Temp storage location for each character
	declare @StaticExceptions nvarchar(1000) = N'1-Year|3-Year|ACE|(ACE)|ACE/ARB|ACEi/ARB|ADPKD|ADPKD,|(ADPKD)|Age-Adjusted|AKI|AKIN|(AKIN)|All-Cause||ARB|ARB,|ARBs|(ARBs)|ARG|BMI|CKD|CKD,|CVD|CVD,|CM|CNI|CNI-based|eGFR|eGFR,|ESRD|(ESRD)|ESRD,|GLP-1|HP2020|ICD|ICD-9-CM|IDMS|Inhibitor/ARB|II|Pre-ESRD|Race/Ethnicity|Race/Ethnicity,|SGLT2i|Stages/eGFR|U.S.|VA|vs.|vs|AASK|APOL1|CRIC|NEAP|Protein-to-Creatinine|D-ARIC|(T2DM)|NSAID|With and Without|IDMS-Traceable|ACR|(ACR)|End-Stage|MDRD|ICD-10-CM|SGLT2|PLACEHOLDERTEXT|2003–March' 
	declare @ArticalAndPrepositionExceptions nvarchar(1000) = N'a|among|an|at|and|are|as|but|by|down|for|from|if|in|into|like|near|nor|not|of|off|per|on|once|onto|or|over|so|than|that|the|till|to|upon|use|when|with|yet|NSAIDs' 
    
	if @Exceptions is NULL
		set @Exceptions = N'|' + @StaticExceptions + N'|' + @ArticalAndPrepositionExceptions + N'|'
	else
		set @Exceptions =  N'|' +  @Exceptions + N'|' +  @StaticExceptions + N'|' + @ArticalAndPrepositionExceptions + N'|'
	--select @Exceptions as '@Exceptions'

	-- Convert user input to lower case 
	set @Value = LOWER(@Value) 
	--select @Value as '@value'  
	-------------------------------------
	-- very fast split function
	  			 
	DECLARE @tList TABLE (ID INT IDENTITY(1,1),  position int, word nvarchar(100) )		  
	declare @string  nvarchar(4000)
	set @string = @Value
	
	INSERT INTO @tList (position, word)
	select pos, ListString FROM dbo.udf_Split2(N' ',@String)
	
	--select * from @tList
		
	--------------------------------------------------
	select @WordCount = COUNT(1) from  @tList
	while (@i <= @WordCount)
		begin
				-- Reset the Temp @Word variable, ready for a new word
				set @Word = N''
				-- get the next word
				select @Word = cast(word as nvarchar) from @tList where position = @i
				
				--select @Word as '@Word'
				--select @ProperCaseText as '@ProperCaseText'	  
				
				if @i = 1
					BEGIN
						-- first word, maintain the capitalizaion of the first word  
						-- select @Word as '@Word'
						-- Check word against user STATIC exceptions list. If exception is found, use the case specified in the exception. e.g. eGFR.
						-- do not check article and prepositon exceptions e.g. by, a, and, the....
						-- select @Word as '@Word'
						set @Word = case 
								when charindex('|'  + @Word + '|' ,@StaticExceptions collate Latin1_General_CI_AS) > 0 
								then substring(@StaticExceptions,charindex('|'  + @Word + '|' ,@StaticExceptions collate Latin1_General_CI_AS)+1,len(@Word))
								else upper(SUBSTRING(@Word, 1, 1)) + SUBSTRING(@word,2,len(@word))  end 
						--select @Word as '@Word'
					END
				ELSE
					BEGIN	
							-- exception for three words 'With and Without'
							IF @Word = 'With'   
							BEGIN 
								SELECT @SecondWord = CAST(word as nvarchar) from @tList where position = @i + 1
								SELECT @ThirdWord =  CAST(word as nvarchar) from @tList where position = @i + 2
								IF @SecondWord = 'and'  AND @ThirdWord = 'without'
									BEGIN
										SET @i += 2
										set @Word = 'With and Without'
									END
								END
				  				  							
			 			  -- Check word against all exception lists. If exception is found, use the case specified in the exception.
						  -- select @Word as '@Word'
						  set @Word = case 
								when charindex('|' + @Word + '|',@exceptions collate Latin1_General_CI_AS) > 0 
								then substring(@exceptions,charindex('|' + @Word + '|' , @exceptions collate Latin1_General_CI_AS)+1,len(@Word))
								else upper(SUBSTRING(@Word, 1, 1)) + SUBSTRING(@word,2,len(@word))  end 
						  --select @Word as '@Word'
					END
			
			--Append the word to the @ProperCaseText along with the whitespace character
			--select @Word as '@Word'
			set @ProperCaseText = @ProperCaseText + @Word + @c
	 		--select @ProperCaseText as '@ProperCaseText first word'	
			-- Increment the counter
			set @i = @i + 1

		end
				
  --select @ProperCaseText = word from @tList
  --select @ProperCaseText = cast (@WordCount as varchar)
  return ltrim(rtrim(@ProperCaseText)) 
END
 


GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Altering [dbo].[proc_GetChartForMaps_AllYearsOneState]'
GO

/******************************************************************************

  Name:         [proc_GetChartForMaps_AllYearsOneState]
  
  Description:  

  Called By:    

-------------------------------------------------------------------------------
  Notes:
                                                                   
-------------------------------------------------------------------------------
  History:             
  10/05/2020	Ben S		Initial Implementation
-------------------------------------------------------------------------------
usage:
		 

*******************************************************************************/
ALTER PROCEDURE [dbo].[proc_GetChartForMaps_AllYearsOneState]
(
	@ChartID INT 
	,@fipsstate int
	--,@Year NVARCHAR(100)  -- stratifier

	
)
AS

IF @ChartID = 4319
BEGIN
SELECT
	dp.FIPS_State + dp.FIPS_County AS fipscounty,
	dp.FIPS_State AS fipsstate,
	dp.County,
        ts.StateAbbrev,
        dp.State                   AS Statename,
        '2019' AS [year],
        CASE
            WHEN ISNUMERIC(dp.AnyCKD_rate) = 1
                THEN
                CAST(dp.AnyCKD_rate AS DECIMAL(30, 2))
            ELSE
                NULL
        END                        AS DatapointDecimal
FROM
        dbo.Q761      dp
    INNER JOIN
        t_State          ts
            ON dp.State = ts.State
WHERE
        dp.FIPS_State = @fipsstate

END
ELSE
BEGIN

  Select tc.fipscounty, tc.fipsstate, tc.county, ts.StateAbbrev, ts.State as Statename, tstrat_year.Stratification as [year],
  case when isnumeric(dp.MainValue) = 1 then Cast(dp.MainValue as Decimal(30,2))  else null end as DatapointDecimal
  From t_DataPoint dp
  Inner Join t_Stratification tstrat_county on tstrat_county.StratificationId = dp.StratificationID2
  Inner Join t_Stratification tstrat_year on tstrat_year.StratificationId = dp.StratificationID1
  Inner Join t_County tc on tstrat_county.Stratification = Convert(varchar(5),tc.fipscounty)
  Inner Join t_State ts on tc.state =ts.StateAbbrev 
  where ChartID = @ChartID and tc.fipsstate = @fipsstate and tc.county <> 'STATEWIDE'
  order by tstrat_county.Stratification, tstrat_year.StratificationDisplayOrder

END
	--DECLARE @ChartID int = 193, @Year VARCHAR(4) ='2005', @NTiles tinyint=5 , @Range char(1) ='A'
		
 --	DECLARE  @GroupByStrat nvarchar(50)
	--		,@XAxisLabel as varchar(50)
	--		,@IndicatorID int
	--		,@Map bit
	--		,@QNUM varchar(6) = ''

	--set @Range = 'A'
	
	--select  @IndicatorID = i.IndicatorID, @QNum = p.QNum
	--	,@MAP = CASE when (select count(1) from dbo.t_MapLegend ml where ml.QNum = p.QNUM) > = 1 Then 1 else 0 END
	--FROM t_Chart c 
	--	INNER JOIN t_Page p on c.PageID = p.PageID
	--	INNER JOIN t_Indicator i on i.IndicatorID = p.IndicatorID
	--where c.ChartID = @ChartID
	
	---- get the strat sets and their sequence from t_chart
	--Declare @t udtt_OrderOfChartStratificationSets;
	--insert into @t SELECT * from dbo.udf_StratificationSetOrderWithStratifierFromChartID(@ChartID)
	----select * from @t

	---- use Groupby1 when it exist else use DataSeries
	--IF exists (select * from @t StratSetSequence where StratSetSequence.StratSetLevel = 'GroupBy1')   
	--	select @XAxisLabel = t.StratificationText FROM @t t WHERE t.StratSetLevel = 'GroupBy1' 
	--ELSE  
	--	SELECT @XAxisLabel = t.StratificationText FROM @t t WHERE t.StratSetLevel = 'DataSeries' 
	----PRINT '@XAxisLabel=' + @XAxisLabel 
	
	----added 1/21/2019, one call to the udf_chartTitle function
	-- DECLARE @chartHeader [nvarchar](500) 
	-- DECLARE @chartHeaderWithSuperscripts [nvarchar](500) 
	-- DECLARE @pageTitleWithSuperscripts [nvarchar](500) 
	-- DECLARE @indicatorShortTitle [nvarchar](500) 
	-- DECLARE @byPopulation [nvarchar](500) 
	
	--select @chartHeader = ChartTitle,@chartHeaderWithSuperscripts = ChartTitleWithSuperscripts, @pageTitleWithSuperscripts = PageTitleWithSuperscripts, @indicatorShortTitle = IndicatorShortTitle, @byPopulation = ByPopulation  from dbo.udf_ChartTitleWithShort(@ChartID, '')

	---- Return a record set with the general parameters for the chart.
	--SELECT top 1
	--	DotNetChartStyleID 
	--	,COALESCE (c.XAxisLabel, @XAxisLabel) as XAxisLabel
	--	,YAxisLabel
	--	,@chartHeader AS ChartHeader
	--	,@chartHeaderWithSuperscripts AS ChartHeaderWithSuperscripts
	--	,@pageTitleWithSuperscripts AS PageTitleWithSuperscripts		
	--	,c.DisplayOrder
	--	,ds.DataSourceFullName
	--	,p.ChartExplanation as Explanation
	--	,c.ShowTableOnly
	--	,c.EnableEntireChart
	--	,c.XAxisLabelAngle
	--	,c.YAxisLabelMaxValue
	--	,I.HP2020Logo
	--	,c.DecimalPlaces AS SignificantDigits
	--	,c.ScaleBreak
	--	,@indicatorShortTitle as IndicatorShortTitle
	--	,@byPopulation as ByPopulation
	--FROM t_Chart c 
	--	INNER JOIN t_Page p on c.PageID = p.PageID
	--	INNER JOIN t_Indicator i on i.IndicatorID = p.IndicatorID
	--	inner JOIN t_DataSource ds on p.DataSourceID = ds.DataSourceID
	--	INNER JOIN t_ChartStyle cs on c.ChartStyleID = cs.ChartStyleID
	--WHERE c.ChartID = @ChartID
	
	--if OBJECT_ID('tempdb..#DP') is not NULL drop table #DP
	--Create Table #DP
	--	(
	--		[GroupBy2ID] int NULL 
	--		,[GroupBy2Strat] nvarchar(100) NULL 
	--		,[GroupBy2StratSet] nvarchar(100) NULL 
	--		,[GroupBy2StratDisplayOrder] smallint
	--		,[GroupBy1ID] int NULL 
	--		,[GroupBy1Strat] nvarchar(100) NULL 
	--		,[GroupBy1StratSet] nvarchar(100) NULL 
	--		,[GroupBy1StratDisplayOrder] smallint
	--		,[DataSeriesID] int NULL 
	--		,[DataSeriesStrat] nvarchar(100)  NULL 
	--		,[DataSeriesStratDisplayOrder] smallint
	--		,[DataSeriesStratSet] nvarchar(100) NULL 
	--		,[DataPoint] varchar(50) NULL 
	--		,[DataPointSort] numeric (30,15) NULL 
	--	)

		
	--		BEGIN
	--			insert into #DP (GroupBy2ID, GroupBy1ID, DataSeriesID, DataPoint, DataPointSort)
	--			SELECT
	--			   (select Case 
	--					when StratificationText = ss1.StratificationText then s1.StratificationID	
	--					when StratificationText = ss2.StratificationText then s2.StratificationID				
	--					when StratificationText = ss3.StratificationText then s3.StratificationID end 			
	--					from @t
	--					where StratSetRank = 2 and ChartID = c.ChartID)
	--				,(select Case 
	--					when StratificationText = ss1.StratificationText then s1.StratificationID	
	--					when StratificationText = ss2.StratificationText then s2.StratificationID				
	--					when StratificationText = ss3.StratificationText then s3.StratificationID end 			
	--					from @t
	--					where StratSetRank = 1 and ChartID = c.ChartID) 
	--				 ,(select Case 
	--					when StratificationText = ss1.StratificationText then s1.StratificationID	
	--					when StratificationText = ss2.StratificationText then s2.StratificationID				
	--					when StratificationText = ss3.StratificationText then s3.StratificationID end 				
	--					from @t
	--					where StratSetRank = 0 and ChartID = c.ChartID)   
	--			   --,CASE mvsd.MainValueAdjustedForDigitsRightOfDecimal when '*' then '0' WHEN 'NA' then '0' else mvsd.MainValueAdjustedForDigitsRightOfDecimal END as Datapoint	
	--			   ,d.MainValue
	--			   ,case when isnumeric(d.MainValue) = 0 then 0 else Cast(replace(d.MainValue, ',','') as Numeric(30,15)) end as DatapointSort
	--			   --,mvsd.HighCIChartSigDigits
	--			   --,mvsd.LowCIChartSigDigits
	--			from 
	--				t_Chart c 
	--				left join 	t_DataPoint d on d.ChartID = c.ChartID
	--				--inner join  dbo.udf_SignificantDigitsMainValue (@ChartID) mvsd on c.ChartID = mvsd.ChartID and d.DatapointID = mvsd.DatapointID  
	--				left JOIN	t_Stratification s1 on s1.StratificationId = d.StratificationID1
	--				left join   t_StratificationSet ss1 on ss1.StratificationSetID = s1.StratificationSetID
	--				left JOIN	t_Stratification s2 on s2.StratificationId = d.StratificationID2
	--				left join   t_StratificationSet ss2 on ss2.StratificationSetID = s2.StratificationSetID
	--				left JOIN	t_Stratification s3 on s3.StratificationId = d.StratificationID3
	--				left join   t_StratificationSet ss3 on ss3.StratificationSetID = s3.StratificationSetID
	--			where c.ChartID = @ChartID
	--		END
		

	--	-- You have the stratIDs now get the Stratifcations for those IDs. 
	--	--Update #DP set 
	--	--	#DP.DataSeriesStrat = s1.Stratification, #DP.DataSeriesStratDisplayOrder = s1.StratificationDisplayOrder, #DP.DataSeriesStratSet = ss1.StratificationText
	--	--from #DP 
	--	--inner join dbo.t_Stratification s1 on #DP.DataSeriesID = s1.StratificationId	
	--	--inner join dbo.t_StratificationSet ss1 on s1.StratificationSetID = ss1.StratificationSetID
			 
	--	--Update #DP set 
	--	--	#DP.GroupBy1Strat = s2.Stratification, #DP.GroupBy1StratDisplayOrder = s2.StratificationDisplayOrder, #DP.GroupBy1StratSet = ss2.StratificationText
	--	--from #DP 
	--	--inner join dbo.t_Stratification s2 on #DP.GroupBy1ID = s2.StratificationId
	--	--inner join dbo.t_StratificationSet ss2 on s2.StratificationSetID = ss2.StratificationSetID
		
	--	--Update #DP set 
	--	--	#DP.GroupBy2Strat = s3.Stratification, #DP.GroupBy2StratDisplayOrder = s3.StratificationDisplayOrder, #DP.GroupBy2StratSet = ss3.StratificationText
	--	--from #DP 
	--	--inner join dbo.t_Stratification s3 on #DP.GroupBy2ID = s3.StratificationId
	--	--inner join dbo.t_StratificationSet ss3 on s3.StratificationSetID = ss3.StratificationSetID

	--	----------------------------------------------------------------------------------------------------------------------------------------------

	--	-- remove "Total" when map
	--	if @MAP = 1 Delete #DP where #DP.DataSeriesStrat = 'Total'

	--	-- There is some funny business for charts with one strat X
	--	select @GroupByStrat = #dp.GroupBy1Strat  from #DP 
		
	--	-- CX and X
	--	if @GroupByStrat is  NULL 
	--		select #dp.GroupBy2Strat as Tertiary, #dp.DataSeriesStrat as Secondary, 
	--		case when isnumeric(#dp.DataPoint) = 1 then Cast(#dp.DataPoint as Decimal(30,2))  else null end as DatapointDecimal,
	--		tc.county as CountyName, ts.State as StateName, tc.fipsstate as FIPSState		
	--		from #DP  
	--		Inner Join t_County tc on #DP.DataSeriesStrat = Cast(tc.fipscounty as varchar(5))
	--		Inner Join t_State ts on tc.state = ts.StateAbbrev
	--		Where tc.fipsstate = @fipsstate
	--		order by DataSeriesStratDisplayOrder, GroupBy1StratDisplayOrder, GroupBy2StratDisplayOrder
	--	ELSE
	--	-- xx, xxx, cxx
	--		SELECT #dp.GroupBy2Strat AS Tertiary, #dp.GroupBy1Strat AS Secondary, 
	--		case when isnumeric(#dp.DataPoint) = 1 then Cast(#dp.DataPoint as Decimal(30,2))  else null end as DatapointDecimal,
	--		tc.county as CountyName, ts.State as StateName, tc.fipsstate as FIPSState	
	--		FROM #DP  
	--		Inner Join t_County tc on #DP.GroupBy1Strat = Cast(tc.fipscounty as varchar(5))
	--		Inner Join t_State ts on tc.state = ts.StateAbbrev
	--		Where tc.fipsstate = @fipsstate
	--		ORDER BY GroupBy2StratDisplayOrder, GroupBy1StratDisplayOrder, DataSeriesStratDisplayOrder;


GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Altering [dbo].[udf_IndicatorDefaultQNumFromIndicatorID]'
GO
/* 
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 
Function Purpose: Return the default QNum for an Indicator
 
Created By:       Mary Sapienza

Some indicatores have multiple data sources, therfore multiple QNums.
choose the QNum with the datasource with the lowest display order as the default QNum.

-- for testing
-- Q159/Q163 same indicator two datasources CMS-Medicare/National VA
-- Q95 one datasource  - 1 
-- select dbo.udf_IndicatorDefaultQNumFromIndicatorID(1)

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/
ALTER FUNCTION [dbo].[udf_IndicatorDefaultQNumFromIndicatorID]
	(
	@IndicatorID int = 0 
	) 
returns varchar(6) 
as
BEGIN
	
	DECLARE @QNUM varchar(6) 

	-- Add the T-SQL statements to compute the return value here
	;With CTE_Default_QNUM as 
	(
		select i.IndicatorText, ds.DataSourceShortName, p.QNum 
		,Rank() over(order by ds.DataSourceShortName desc) as RankOver
		from dbo.t_Indicator I
		inner join t_Page p on i.IndicatorID = p.IndicatorID 
		inner join t_DataSource ds on p.DataSourceID = ds.DataSourceID
		where I.IndicatorID = @IndicatorID AND p.QNum LIKE 'Q%'
	)	
    Select @QNum =  QNum from CTE_Default_QNUM
	where RankOver = (select MIN(RankOver) from CTE_Default_QNUM)

	RETURN @QNum

END
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Altering [dbo].[proc_GetChartWithShort]'
GO

/******************************************************************************

  Name:         [proc_GetChartWithShort]
  
  Description:  

  Called By:    

-------------------------------------------------------------------------------
  Notes:
                                                                   
-------------------------------------------------------------------------------
  History:             
  02/29/2012	rg		Created as proof of concept.
         	    ms		Updates / rewrite 
  04/14/2012	ms		HP2020 logo on website for a few QNUMs
  04/15/2012	ms		Update for MainValue = NA, on Q631-Q634
  05/06/2015	ms		New Map Stuff
  01/30/2017	ms		Updates to allow for stratifying by strat set other than year
                        funcation replaced 
						from dbo.udf_StratificationSetOrderFromChartID
						to   dbo.udf_StratificationSetOrderWithStratifierFromChartID 
						and  dbo.udf_StratificationSetOrderWithStratifierFromChartID 
  02/01/2017	ms	    new column XAxisLabel 
  2019			bs		created this proc based on the proc_getChart
  04/07/2021	bs		Change order by sequence on the #dp table, Q715 was the reason for this fix
-------------------------------------------------------------------------------
usage:
	 exec [proc_GetChartWithShort] 4022, ''
	 exec proc_getPage 'Q600'
	 exec [proc_GetChartWithShort] 204, '2013'
	 select * from v_datapoint vdp where vdp.ChartID = 204
	 
-- usage
-- Q240 has one footnote
-- exec proc_getPage 'Q240'
-- exec [proc_GetChartWithShort] 411, '2006-2008'

-- Q103 has 2 footnotes
-- select * from dbo.udf_ChartTitle(252, '2003')
  
-- Q116 has 3 footnotes
-- exec proc_getPage 'Q116'
-- exec [proc_GetChartWithShort] 256, '2007'

-- Q96 map
-- exec proc_getPage 'Q96'
-- exec [proc_GetChartWithShort] 228, '2009'
-- exec proc_getPage 'Q600'
-- exec [proc_GetChartWithShort] 204, '2013'

-- Q631 map
-- exec proc_getPage 'Q631' 
-- exec [proc_GetChartWithShort] 2954, ''

-- exec proc_getPage 'Q600'
-- exec [proc_GetChartWithShort] 204, '2013'

-- Y - this year
-- A - all years
exec [proc_GetChartWithShort] @ChartID=216,@year=N'2013',@nTiles=5,@Range=N'A'
exec [proc_GetChartWithShort] @ChartID=216,@year=N'2013',@nTiles=5,@Range=N'Y'
exec [proc_GetChartWithShort] @ChartID=193,@year=N'2013',@nTiles=5,@Range=N'Y'  
exec [proc_GetChartWithShort] @ChartID=216, @year=N'2013', @nTiles=5, @Range=N'A'

*******************************************************************************/
ALTER  PROCEDURE [dbo].[proc_GetChartWithShort]
(
	@ChartID INT 
	,@Year NVARCHAR(100)  -- stratifier
	,@NTiles TINYINT  = 5
	,@Range CHAR(1) = 'A'
)
AS

	--DECLARE @ChartID int = 193, @Year VARCHAR(4) ='2005', @NTiles tinyint=5 , @Range char(1) ='A'
		
 	DECLARE  @GroupByStrat nvarchar(50)
			,@XAxisLabel as varchar(50)
			,@IndicatorID int
			,@Map bit
			,@QNUM varchar(6) = ''

	if @Year = '' set @Range = 'A'
	
	select  @IndicatorID = i.IndicatorID, @QNum = p.QNum
		,@MAP = CASE when (select count(1) from dbo.t_MapLegend ml where ml.QNum = p.QNUM) > = 1 Then 1 else 0 END
	FROM t_Chart c 
		INNER JOIN t_Page p on c.PageID = p.PageID
		INNER JOIN t_Indicator i on i.IndicatorID = p.IndicatorID
	where c.ChartID = @ChartID
	
	-- get the strat sets and their sequence from t_chart
	Declare @t udtt_OrderOfChartStratificationSets;
	insert into @t SELECT * from dbo.udf_StratificationSetOrderWithoutStratifierFromChartID(@ChartID)
	--select * from @t

	-- use Groupby1 when it exist else use DataSeries
	IF exists (select * from @t StratSetSequence where StratSetSequence.StratSetLevel = 'GroupBy1')   
		select @XAxisLabel = t.StratificationText FROM @t t WHERE t.StratSetLevel = 'GroupBy1' 
	ELSE  
		SELECT @XAxisLabel = t.StratificationText FROM @t t WHERE t.StratSetLevel = 'DataSeries' 
	--PRINT '@XAxisLabel=' + @XAxisLabel 
	
	--added 1/21/2019, one call to the udf_chartTitle function
	 DECLARE @chartHeader [nvarchar](500) 
	 DECLARE @chartHeaderWithSuperscripts [nvarchar](500) 
	 DECLARE @pageTitleWithSuperscripts [nvarchar](500) 
	 DECLARE @indicatorShortTitle [nvarchar](500) 
	 DECLARE @byPopulation [nvarchar](500) 
	
	select @chartHeader = ChartTitle,@chartHeaderWithSuperscripts = ChartTitleWithSuperscripts, @pageTitleWithSuperscripts = PageTitleWithSuperscripts, @indicatorShortTitle = IndicatorShortTitle, @byPopulation = ByPopulation  from dbo.udf_ChartTitleWithShort(@ChartID, @Year)

	-- Return a record set with the general parameters for the chart.
	SELECT top 1
		DotNetChartStyleID 
		,COALESCE (c.XAxisLabel, @XAxisLabel) as XAxisLabel
		,YAxisLabel
		,@chartHeader AS ChartHeader
		,@chartHeaderWithSuperscripts AS ChartHeaderWithSuperscripts
		,@pageTitleWithSuperscripts AS PageTitleWithSuperscripts
		,case when exists (select dp.HighConfidenceInterval from dbo.t_Chart c inner join dbo.t_DataPoint dp on c.ChartID = dp.ChartID where dp.HighConfidenceInterval is not null) then 1 else 0 end AS HasConfidenceIntervals
		,c.DisplayOrder
		,ds.DataSourceFullName
		,p.ChartExplanation as Explanation
		,c.ShowTableOnly
		,c.EnableEntireChart
		,c.XAxisLabelAngle
		,c.YAxisLabelMaxValue
		,I.HP2020Logo
		,c.DecimalPlaces AS SignificantDigits
		,c.ScaleBreak
		,@indicatorShortTitle as IndicatorShortTitle
		,@byPopulation as ByPopulation
		,REPLACE(c.YAxisLabel, ' (per 1,000 patient-years)', '') +', ' AS SubTitlePrefix
	FROM t_Chart c 
		INNER JOIN t_Page p on c.PageID = p.PageID
		INNER JOIN t_Indicator i on i.IndicatorID = p.IndicatorID
		inner JOIN t_DataSource ds on p.DataSourceID = ds.DataSourceID
		INNER JOIN t_ChartStyle cs on c.ChartStyleID = cs.ChartStyleID
	WHERE c.ChartID = @ChartID
	
	if OBJECT_ID('tempdb..#DP') is not NULL drop table #DP
	Create Table #DP
		(
			[GroupBy2ID] int NULL 
			,[GroupBy2Strat] nvarchar(100) NULL 
			,[GroupBy2StratSet] nvarchar(100) NULL 
			,[GroupBy2StratDisplayOrder] smallint
			,[GroupBy1ID] int NULL 
			,[GroupBy1Strat] nvarchar(100) NULL 
			,[GroupBy1StratSet] nvarchar(100) NULL 
			,[GroupBy1StratDisplayOrder] smallint
			,[DataSeriesID] int NULL 
			,[DataSeriesStrat] nvarchar(100)  NULL 
			,[DataSeriesStratDisplayOrder] smallint
			,[DataSeriesStratSet] nvarchar(100) NULL 
			,[DataPoint] varchar(50) NULL 
			,[DataPointSort] numeric (30,15) NULL 
			,[HighConfidenceInterval]  varchar(50) NULL   
			,[LowConfidenceInterval]  varchar(50) NULL 
			--,[HighConfidenceInterval]  decimal(20,10) NULL
			--,[LowConfidenceInterval]  decimal(20,10) NULL
		)

		IF @Year = ''
			BEGIN
				insert into #DP (GroupBy2ID, GroupBy1ID, DataSeriesID, DataPoint, DataPointSort, HighConfidenceInterval, LowConfidenceInterval)
				SELECT
				   (select Case 
						when StratificationText = ss1.StratificationText then s1.StratificationID	
						when StratificationText = ss2.StratificationText then s2.StratificationID				
						when StratificationText = ss3.StratificationText then s3.StratificationID end 			
						from @t
						where StratSetRank = 3 and ChartID = c.ChartID)
					,(select Case 
						when StratificationText = ss1.StratificationText then s1.StratificationID	
						when StratificationText = ss2.StratificationText then s2.StratificationID				
						when StratificationText = ss3.StratificationText then s3.StratificationID end 			
						from @t
						where StratSetRank = 2 and ChartID = c.ChartID) 
					 ,(select Case 
						when StratificationText = ss1.StratificationText then s1.StratificationID	
						when StratificationText = ss2.StratificationText then s2.StratificationID				
						when StratificationText = ss3.StratificationText then s3.StratificationID end 				
						from @t
						where StratSetRank = 1 and ChartID = c.ChartID)   
				   --,CASE mvsd.MainValueAdjustedForDigitsRightOfDecimal when '*' then '0' WHEN 'NA' then '0' else mvsd.MainValueAdjustedForDigitsRightOfDecimal END as Datapoint	
				   ,d.MainValue
				   ,case when isnumeric(d.MainValue) = 0 then 0 else Cast(replace(d.MainValue, ',','') as Numeric(30,15)) end as DatapointSort
				   --,mvsd.HighCIChartSigDigits
				   --,mvsd.LowCIChartSigDigits
				   ,HighConfidenceInterval
				   ,LowConfidenceInterval
				from 
					t_Chart c 
					left join 	t_DataPoint d on d.ChartID = c.ChartID
					--inner join  dbo.udf_SignificantDigitsMainValue (@ChartID) mvsd on c.ChartID = mvsd.ChartID and d.DatapointID = mvsd.DatapointID  
					left JOIN	t_Stratification s1 on s1.StratificationId = d.StratificationID1
					left join   t_StratificationSet ss1 on ss1.StratificationSetID = s1.StratificationSetID
					left JOIN	t_Stratification s2 on s2.StratificationId = d.StratificationID2
					left join   t_StratificationSet ss2 on ss2.StratificationSetID = s2.StratificationSetID
					left JOIN	t_Stratification s3 on s3.StratificationId = d.StratificationID3
					left join   t_StratificationSet ss3 on ss3.StratificationSetID = s3.StratificationSetID
				where c.ChartID = @ChartID
			END
		ELSE
			BEGIN
				INSERT INTO #DP (GroupBy2ID, GroupBy1ID, DataSeriesID, DataPoint, DataPointSort, HighConfidenceInterval, LowConfidenceInterval)
				SELECT
				   (SELECT CASE 
						WHEN StratificationText = ss1.StratificationText THEN s1.StratificationID	
						WHEN StratificationText = ss2.StratificationText THEN s2.StratificationID				
						WHEN StratificationText = ss3.StratificationText THEN s3.StratificationID END 				
						FROM @t
						WHERE StratSetRank = 3 AND ChartID = c.ChartID)
					,(SELECT CASE 
						WHEN StratificationText = ss1.StratificationText THEN s1.StratificationID	
						WHEN StratificationText = ss2.StratificationText THEN s2.StratificationID				
						WHEN StratificationText = ss3.StratificationText THEN s3.StratificationID END 			
						FROM @t
						WHERE StratSetRank = 2 AND ChartID = c.ChartID) 
					 ,(SELECT CASE 
						WHEN StratificationText = ss1.StratificationText THEN s1.StratificationID	
						WHEN StratificationText = ss2.StratificationText THEN s2.StratificationID				
						WHEN StratificationText = ss3.StratificationText THEN s3.StratificationID END 				
						FROM @t
						WHERE StratSetRank = 1 AND ChartID = c.ChartID)   
				   --,CASE mvsd.MainValueAdjustedForDigitsRightOfDecimal when '*' then '0' WHEN 'NA' then '0' else mvsd.MainValueAdjustedForDigitsRightOfDecimal END as Datapoint	
				   ,d.MainValue
				   ,CASE WHEN ISNUMERIC(MainValue) = 0 THEN 0 ELSE CAST(REPLACE(d.Mainvalue, ',','') AS NUMERIC(30,15)) END AS DatapointSort
				   --,mvsd.HighCIChartSigDigits
				   --,mvsd.LowCIChartSigDigits
				   ,HighConfidenceInterval
				   ,LowConfidenceInterval
				FROM 
					t_Chart c 
					LEFT JOIN 	t_DataPoint d ON d.ChartID = c.ChartID
					--inner join  dbo.udf_SignificantDigitsMainValue (@ChartID) mvsd on c.ChartID = mvsd.ChartID and d.DatapointID = mvsd.DatapointID  
					LEFT JOIN	t_Stratification s1 ON s1.StratificationId = d.StratificationID1
					LEFT JOIN   t_StratificationSet ss1 ON ss1.StratificationSetID = s1.StratificationSetID
					LEFT JOIN	t_Stratification s2 ON s2.StratificationId = d.StratificationID2
					LEFT JOIN   t_StratificationSet ss2 ON ss2.StratificationSetID = s2.StratificationSetID
					LEFT JOIN	t_Stratification s3 ON s3.StratificationId = d.StratificationID3
					LEFT JOIN   t_StratificationSet ss3 ON ss3.StratificationSetID = s3.StratificationSetID
				WHERE c.ChartID = @ChartID AND 
					(s1.Stratification = @Year OR s2.Stratification = @Year OR s3.Stratification = @Year)
			END


		-- You have the stratIDs now get the Stratifcations for those IDs. 
		Update #DP set 
			#DP.DataSeriesStrat = s1.Stratification, #DP.DataSeriesStratDisplayOrder = s1.StratificationDisplayOrder, #DP.DataSeriesStratSet = ss1.StratificationText
		from #DP 
		inner join dbo.t_Stratification s1 on #DP.DataSeriesID = s1.StratificationId	
		inner join dbo.t_StratificationSet ss1 on s1.StratificationSetID = ss1.StratificationSetID
			 
		Update #DP set 
			#DP.GroupBy1Strat = s2.Stratification, #DP.GroupBy1StratDisplayOrder = s2.StratificationDisplayOrder, #DP.GroupBy1StratSet = ss2.StratificationText
		from #DP 
		inner join dbo.t_Stratification s2 on #DP.GroupBy1ID = s2.StratificationId
		inner join dbo.t_StratificationSet ss2 on s2.StratificationSetID = ss2.StratificationSetID
		
		Update #DP set 
			#DP.GroupBy2Strat = s3.Stratification, #DP.GroupBy2StratDisplayOrder = s3.StratificationDisplayOrder, #DP.GroupBy2StratSet = ss3.StratificationText
		from #DP 
		inner join dbo.t_Stratification s3 on #DP.GroupBy2ID = s3.StratificationId
		inner join dbo.t_StratificationSet ss3 on s3.StratificationSetID = ss3.StratificationSetID

					--4/7/21 REMOVE THIS
			--Select * From #DP

		----------------------------------------------------------------------------------------------------------------------------------------------

		-- remove "Total" when map
		if @MAP = 1 Delete #DP where #DP.DataSeriesStrat = 'Total'

		-- There is some funny business for charts with one strat X
		select @GroupByStrat = #dp.GroupBy1Strat  from #DP 
		
		-- CX and X
		if @GroupByStrat is  NULL  
			select NULL as Tertiary, #dp.DataSeriesStrat as Secondary, #dp.DataSeriesStratSet as SeriesLabel, #dp.DataPoint, #dp.DataPointSort, #dp.HighConfidenceInterval, #dp.LowConfidenceInterval--, Coalesce(Coalesce(DataSeriesStratDisplayOrder, GroupBy1StratDisplayOrder), GroupBy2StratDisplayOrder) as DisplayOrder
			from #DP  order by DataSeriesStratDisplayOrder, GroupBy1StratDisplayOrder, GroupBy2StratDisplayOrder -- #dp.DataSeriesStratSet--,
		ELSE
		BEGIN	
		-- xx, xxx, cxx -Changing the order by sequence so that the Data Series are ordered correctly now, Q715 was the start of this
		IF @ChartID = 4365
		BEGIN	
			INSERT INTO #DP
		    (
		        GroupBy2ID,
		        GroupBy2Strat,
		        GroupBy2StratSet,
		        GroupBy2StratDisplayOrder,
		        GroupBy1ID,
		        GroupBy1Strat,
		        GroupBy1StratSet,
		        GroupBy1StratDisplayOrder,
		        DataSeriesID,
		        DataSeriesStrat,
		        DataSeriesStratDisplayOrder,
		        DataSeriesStratSet,
		        DataPoint,
		        DataPointSort,
		        HighConfidenceInterval,
		        LowConfidenceInterval
		    )
			SELECT DISTINCT NULL,
		        NULL,
		        NULL,
		        NULL,
		        NULL,
		        2016,
		        GroupBy1StratSet,
		        500,
		        DataSeriesID,
		        DataSeriesStrat,
		        DataSeriesStratDisplayOrder,
		        DataSeriesStratSet,
		        NULL,
		        NULL,
		        HighConfidenceInterval,
		        LowConfidenceInterval
			FROM #DP  
			WHERE DataSeriesStrat = '18–29 years' 
				UNION
			SELECT DISTINCT NULL,
		        NULL,
		        NULL,
		        NULL,
		        NULL,
		        2017,
		        GroupBy1StratSet,
		        550,
		        DataSeriesID,
		        DataSeriesStrat,
		        DataSeriesStratDisplayOrder,
		        DataSeriesStratSet,
		        NULL,
		        NULL,
		        HighConfidenceInterval,
		        LowConfidenceInterval
			FROM #DP  
			WHERE DataSeriesStrat = '18–29 years' 
			END

			SELECT #dp.GroupBy2Strat AS Tertiary, #dp.GroupBy1Strat AS Secondary, #dp.DataSeriesStrat AS SeriesLabel,  #dp.DataPoint, #dp.DataPointSort, #dp.HighConfidenceInterval, #dp.LowConfidenceInterval--, Coalesce(Coalesce(GroupBy2StratDisplayOrder, GroupBy1StratDisplayOrder), DataSeriesStratDisplayOrder) as DisplayOrder
			FROM #DP ORDER BY DataSeriesStratDisplayOrder, GroupBy2StratDisplayOrder, GroupBy1StratDisplayOrder--, DataSeriesStratDisplayOrder; --#dp.DataSeriesStratSet--,
		END


		----------------------------------------------------------------------------------------------------------------------------------------------
		--if this is a map return two more rowsets:  Map Legend, Map Data Point
		IF @Range = 'Y'  
			-- ntile within one year
			BEGIN
					;WITH CTE1 AS ( SELECT * FROM   [dbo].[udf_MapNTilesByChartid] (@ChartID, @NTiles) )
					,CTE2 AS 
						(
							SELECT indicatorID, QNUM,  MapNtileWithinOneYear, MIN(CAST(MainValueAdjustedForDigitsRightOfDecimalNumeric AS DECIMAL(30,15))) AS MinValue, MAX(CAST(MainValueAdjustedForDigitsRightOfDecimalNumeric AS DECIMAL(30,15))) AS  MaxValue
							FROM  CTE1
							GROUP BY IndicatorID, QNUM, Year, MapNtileWithinOneYear
							HAVING year = @Year
						) 
					,CTE3 AS 
						( 
						SELECT indicatorID, QNUM,  MapNtileWithinOneYear, minvalue, maxvalue
						,(SELECT TOP 1 MainValueAdjustedForDigitsRightOfDecimal FROM cte1 WHERE CAST(cte1.MainValueAdjustedForDigitsRightOfDecimalNumeric AS DECIMAL(30,15)) = cte2.minvalue AND cte1.MapNtileWithinOneYear = cte2.MapNtileWithinOneYear ) MinValueChar
						,(SELECT TOP 1 MainValueAdjustedForDigitsRightOfDecimal FROM cte1 WHERE CAST(cte1.MainValueAdjustedForDigitsRightOfDecimalNumeric AS DECIMAL(30,15)) = cte2.maxvalue AND cte1.MapNtileWithinOneYear = cte2.MapNtileWithinOneYear ) MaxValueChar
						FROM cte2
						)
					SELECT QNUM,  MapNtileWithinOneYear AS LegendOrder,  pc.Color AS LegendColor, pc.ColorDescription
					      , CTE3.MinValueChar + ' to ' + CTE3.MaxValueChar AS LegendDisplay
						  , (SELECT TOP 1 LegendTitle FROM t_MapLegend ml WHERE ml.QNum = @QNUM) AS LegendTitle 
					FROM CTE3
					INNER JOIN dbo.t_PalettesColors pc ON CTE3.MapNtileWithinOneYear = pc.ColorOrder 
					ORDER BY  IndicatorID, QNUM,  MapNtileWithinOneYear
			END
		ELSE
			-- ntiles across all years
			BEGIN
					;WITH CTE1 AS ( SELECT * FROM   [dbo].[udf_MapNTilesByChartid] (@ChartID, @NTiles) )
					,CTE2 AS 
						(
							SELECT indicatorID, QNUM,  MapNtileAllYears, MIN(CAST(MainValueAdjustedForDigitsRightOfDecimalNumeric AS DECIMAL(30,15))) AS MinValue, MAX(CAST(MainValueAdjustedForDigitsRightOfDecimalNumeric AS DECIMAL(30,15))) AS  MaxValue
							FROM  CTE1
							GROUP BY IndicatorID, QNUM, MapNtileAllYears
						) 
					,CTE3 AS 
						( 
						SELECT indicatorID, QNUM,  MapNtileAllYears, minvalue, maxvalue
						,(SELECT TOP 1 MainValueAdjustedForDigitsRightOfDecimal FROM cte1 WHERE CAST(cte1.MainValueAdjustedForDigitsRightOfDecimalNumeric AS DECIMAL(30,15)) = cte2.minvalue AND cte1.MapNtileAllYears = cte2.MapNtileAllYears ) MinValueChar
						,(SELECT TOP 1 MainValueAdjustedForDigitsRightOfDecimal FROM cte1 WHERE CAST(cte1.MainValueAdjustedForDigitsRightOfDecimalNumeric AS DECIMAL(30,15)) = cte2.maxvalue AND cte1.MapNtileAllYears = cte2.MapNtileAllYears ) MaxValueChar
						FROM cte2
						)
					SELECT QNUM,  MapNtileAllYears AS LegendOrder,  pc.Color AS LegendColor, pc.ColorDescription
					      , CTE3.MinValueChar + ' to ' + CTE3.MaxValueChar AS LegendDisplay
						  , (SELECT TOP 1 LegendTitle FROM t_MapLegend ml WHERE ml.QNum = @QNUM) AS LegendTitle 
					FROM CTE3
					INNER JOIN dbo.t_PalettesColors pc ON CTE3.MapNtileAllYears = pc.ColorOrder 
					ORDER BY  IndicatorID, QNUM,  MapNtileAllYears
			END	
	
		-- Map Data Points
		IF @Range = 'A'  
			SELECT MainValueAdjustedForDigitsRightOfDecimal, tile.State, s.StateAbbrev, Color 
			FROM [dbo].[udf_MapNTilesByChartid] (@ChartID, @NTiles) Tile
			LEFT JOIN[dbo].[t_PalettesColors] pc ON tile.MapNtileAllYears = pc.ColorOrder
			LEFT JOIN dbo.t_State s ON s.State = Tile.State
			WHERE tile.QNum = @QNUM  AND tile.State <> 'Total' AND tile.year = @Year
		ELSE 
			SELECT MainValueAdjustedForDigitsRightOfDecimal, tile.State, s.StateAbbrev,Color 
			FROM [dbo].[udf_MapNTilesByChartid] (@ChartID, @NTiles) Tile
			LEFT JOIN[dbo].[t_PalettesColors] pc ON tile.MapNtileWithinOneYear = pc.ColorOrder
			LEFT JOIN dbo.t_State s ON s.State = Tile.State
			WHERE tile.QNum = @QNUM AND tile.State <> 'Total' AND tile.Year = @Year 

GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Altering [dbo].[proc_GetRelatedIndicatorsFromQNum]'
GO

ALTER proc [dbo].[proc_GetRelatedIndicatorsFromQNum]
		@QNum VARCHAR(6) 
as
  
	DECLARE @IndicatorID int = 0, @PageID INT = 0
	select @IndicatorID = i.IndicatorID, @PageID=p.PageID
	from dbo.t_Indicator I 
		inner join dbo.t_Page P on i.IndicatorID = p.IndicatorID
	where p.QNum = @QNum
  
	;With CTE_RI (RelatedQNum, RelatedIndicatorText, RelatedIndicatorID, RelatedIndicatorDisplayOrder) as 
	( 
			SELECT dbo.udf_IndicatorDefaultQNumFromIndicatorID(IL.RelatedIndicatorID) , Coalesce(ts.ShortTitle, IR.IndicatorText) as IndicatorText, IL.RelatedIndicatorID, IL.RelatedIndicatorDisplayOrder 
			FROM dbo.t_Indicator I1 
				inner join dbo.t_IndicatorLink IL on i1.IndicatorID = il.IndicatorID 
				inner join dbo.t_Indicator IR on il.RelatedIndicatorID = IR.IndicatorID AND IR.Active=1
				inner join dbo.t_MeasureIndicatorLink MILR on milr.IndicatorID = ir.IndicatorID
				inner join dbo.t_Measure MR on milr.MeasureID = mr.MeasureID
				inner join dbo.t_Topic TR on tr.TopicID = mr.TopicID
				INNER JOIN dbo.t_Page p on P.IndicatorID = IR.IndicatorID --will need to be removed to be optimized, this is added for ease of short title join
				Left Join dbo.t_ShortTitles ts on ts.Qnum = p.QNum /*BS added 1/17/2019 */
			Where I1.IndicatorID = @IndicatorID and tr.HealthyPeople2020 <> 1 and I1.Active = 1 AND p.QNum LIKE 'Q%'
    )  
    Select '~/detail.aspx?QNum=' + RelatedQNum as URL, dbo.udf_TitleCase(RelatedIndicatorText,NULL,NULL) as RelatedIndicatorText
    from CTE_RI
    order by  RelatedIndicatorDisplayOrder

	;With CTE_RI (AYALink, AYAIndicatorText, AYAIndicatorID, AYAIndicatorDisplayOrder) as 
	( 
			SELECT a.AYALink, A.Title , I.IndicatorID, I.DisplayOrder --Coalesce(ts.ShortTitle, i.IndicatorText) as IndicatorText
			FROM dbo.AYAQNumLInk L
			INNER JOIN dbo.AYA A ON A.AYAID = L.AYAID
			INNER JOIN dbo.t_Page P ON L.PageID = P.PageID
			INNER JOIN dbo.t_Indicator I ON P.IndicatorID=I.IndicatorID
			inner join dbo.t_MeasureIndicatorLink MILR on milr.IndicatorID = i.IndicatorID
			INNER join dbo.t_Measure MR on milr.MeasureID = mr.MeasureID
			inner join dbo.t_Topic TR on tr.TopicID = mr.TopicID
			Left Join dbo.t_ShortTitles ts on ts.Qnum = p.QNum /*BS added 1/17/2019 */
			WHERE l.PageID = @PageID AND I.IndicatorID = @IndicatorID and tr.HealthyPeople2020 <> 1 and I.Active = 1
    )  
    --Select '~/detail.aspx?QNum=' + AYAQNum as URL, dbo.udf_TitleCase(AYAIndicatorText,NULL,NULL) as AYAIndicatorText
	Select AYALink as AYALink, dbo.udf_TitleCase(AYAIndicatorText,NULL,NULL) as AYAIndicatorText
    from CTE_RI
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
COMMIT TRANSACTION
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
-- This statement writes to the SQL Server Log so SQL Monitor can show this deployment.
IF HAS_PERMS_BY_NAME(N'sys.xp_logevent', N'OBJECT', N'EXECUTE') = 1
BEGIN
    DECLARE @databaseName AS nvarchar(2048), @eventMessage AS nvarchar(2048)
    SET @databaseName = REPLACE(REPLACE(DB_NAME(), N'\', N'\\'), N'"', N'\"')
    SET @eventMessage = N'Redgate SQL Compare: { "deployment": { "description": "Redgate SQL Compare deployed to ' + @databaseName + N'", "database": "' + @databaseName + N'" }}'
    EXECUTE sys.xp_logevent 55000, @eventMessage
END
GO
DECLARE @Success AS BIT
SET @Success = 1
SET NOEXEC OFF
IF (@Success = 1) PRINT 'The database update succeeded'
ELSE BEGIN
	IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION
	PRINT 'The database update failed'
END
GO
