/*
Run this script on:

awssqlprodm.51349_CDCCKD    -  This database will be modified

to synchronize it with:

awssqlstgm.51349_CDCCKD_TED

You are recommended to back up your database before running this script

Script created by SQL Data Compare version 14.0.7.13517 from Red Gate Software Ltd at 1/2/2026 9:39:01 PM

*/
		
USE [NCCD_DDT_CKD]
GO
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS, NOCOUNT ON
GO
SET DATEFORMAT YMD
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL Serializable
GO
BEGIN TRANSACTION

PRINT(N'Drop constraints from [dbo].[t_DataPoint]')
ALTER TABLE [dbo].[t_DataPoint] NOCHECK CONSTRAINT [FK_t_DataPoint_t_Chart]
ALTER TABLE [dbo].[t_DataPoint] NOCHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_1]
ALTER TABLE [dbo].[t_DataPoint] NOCHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_2]
ALTER TABLE [dbo].[t_DataPoint] NOCHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_3]

PRINT(N'Drop constraints from [dbo].[t_Chart]')
ALTER TABLE [dbo].[t_Chart] NOCHECK CONSTRAINT [FK_t_Chart_t_ChartStyle]
ALTER TABLE [dbo].[t_Chart] NOCHECK CONSTRAINT [FK_t_Chart_t_DisplayFormat]
ALTER TABLE [dbo].[t_Chart] NOCHECK CONSTRAINT [FK_t_Chart_t_Page]
ALTER TABLE [dbo].[t_Chart] NOCHECK CONSTRAINT [FK_t_Chart_t_StratificationSet_1]
ALTER TABLE [dbo].[t_Chart] NOCHECK CONSTRAINT [FK_t_Chart_t_StratificationSet_2]
ALTER TABLE [dbo].[t_Chart] NOCHECK CONSTRAINT [FK_t_Chart_t_StratificationSet_3]

PRINT(N'Drop constraint FK_t_DisparitiesDP_t_Chart from [dbo].[t_DisparitiesDataPoint]')
ALTER TABLE [dbo].[t_DisparitiesDataPoint] NOCHECK CONSTRAINT [FK_t_DisparitiesDP_t_Chart]

PRINT(N'Drop constraints from [dbo].[t_Stratification]')
ALTER TABLE [dbo].[t_Stratification] NOCHECK CONSTRAINT [FK_t_Stratification_t_StratificationSet]

PRINT(N'Drop constraint FK_t_DisparitiesDP_t_Stratification_1 from [dbo].[t_DisparitiesDataPoint]')
ALTER TABLE [dbo].[t_DisparitiesDataPoint] NOCHECK CONSTRAINT [FK_t_DisparitiesDP_t_Stratification_1]

PRINT(N'Drop constraint FK_t_DisparitiesDP_t_Stratification_2 from [dbo].[t_DisparitiesDataPoint]')
ALTER TABLE [dbo].[t_DisparitiesDataPoint] NOCHECK CONSTRAINT [FK_t_DisparitiesDP_t_Stratification_2]

PRINT(N'Drop constraint FK_t_DisparitiesDP_t_Stratification_3 from [dbo].[t_DisparitiesDataPoint]')
ALTER TABLE [dbo].[t_DisparitiesDataPoint] NOCHECK CONSTRAINT [FK_t_DisparitiesDP_t_Stratification_3]

PRINT(N'Drop constraints from [dbo].[t_Page]')
ALTER TABLE [dbo].[t_Page] NOCHECK CONSTRAINT [FK_t_Page_t_DataSource]
ALTER TABLE [dbo].[t_Page] NOCHECK CONSTRAINT [FK_t_Page_t_Indicator]

PRINT(N'Drop constraint FK_t_FootNote_t_Page from [dbo].[t_FootNote]')
ALTER TABLE [dbo].[t_FootNote] NOCHECK CONSTRAINT [FK_t_FootNote_t_Page]

PRINT(N'Drop constraint FK_t_Image_t_Page from [dbo].[t_Image]')
ALTER TABLE [dbo].[t_Image] NOCHECK CONSTRAINT [FK_t_Image_t_Page]

PRINT(N'Drop constraint FK_t_KeyPoint_t_Page from [dbo].[t_KeyPoint]')
ALTER TABLE [dbo].[t_KeyPoint] NOCHECK CONSTRAINT [FK_t_KeyPoint_t_Page]

PRINT(N'Drop constraint FK_t_MapLegend_t_Page from [dbo].[t_MapLegend]')
ALTER TABLE [dbo].[t_MapLegend] NOCHECK CONSTRAINT [FK_t_MapLegend_t_Page]

PRINT(N'Drop constraint FK_t_MethodsPage_t_Page from [dbo].[t_MethodsPage]')
ALTER TABLE [dbo].[t_MethodsPage] NOCHECK CONSTRAINT [FK_t_MethodsPage_t_Page]

PRINT(N'Drop constraint FK_t_PageReferenceLink_t_Page from [dbo].[t_PageReferenceLink]')
ALTER TABLE [dbo].[t_PageReferenceLink] NOCHECK CONSTRAINT [FK_t_PageReferenceLink_t_Page]

PRINT(N'Drop constraint FK_t_SpecSheet_t_Page from [dbo].[t_SpecSheet]')
ALTER TABLE [dbo].[t_SpecSheet] NOCHECK CONSTRAINT [FK_t_SpecSheet_t_Page]

PRINT(N'Drop constraints from [dbo].[t_MeasureIndicatorLink]')
ALTER TABLE [dbo].[t_MeasureIndicatorLink] NOCHECK CONSTRAINT [FK_t_MeasureIndicatorLink_t_Indicator]
ALTER TABLE [dbo].[t_MeasureIndicatorLink] NOCHECK CONSTRAINT [FK_t_MeasureIndicatorLink_t_Measure]

PRINT(N'Delete rows from [dbo].[t_DataPoint]')
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365087
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365088
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365089
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365090
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365091
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365092
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365093
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365094
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365095
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365096
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365097
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365098
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365099
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365100
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365101
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365102
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365103
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365104
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365105
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365106
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365107
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365108
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365109
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365110
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365111
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365112
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365113
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365114
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365115
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365116
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365117
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365118
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365119
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365120
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365121
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365122
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365123
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365124
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365125
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365126
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365127
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365128
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365129
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365130
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365131
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365132
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365133
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365134
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365135
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365136
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365137
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365138
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365139
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365140
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365141
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365142
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365143
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365144
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365145
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365146
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365147
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365148
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365149
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365150
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365151
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365152
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365153
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365154
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365155
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365156
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365157
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365158
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365159
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365160
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365161
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365162
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365163
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365164
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365165
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365166
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365167
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365168
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365169
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365170
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365171
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365172
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365173
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365174
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365175
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365176
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365177
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365178
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365179
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365180
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365181
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365182
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365183
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365184
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365185
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365186
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365187
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365188
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365189
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365190
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365191
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365192
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365193
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365194
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365195
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365196
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365533
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365534
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365535
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365536
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365537
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365538
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365539
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365540
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365541
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365542
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365543
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365544
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365545
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365546
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365547
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365548
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365549
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365550
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365551
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365552
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365553
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365554
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365555
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365556
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365557
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365558
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365559
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365560
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365561
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365562
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365563
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365564
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365565
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365566
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365567
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365568
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365569
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365570
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365571
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365572
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365573
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365574
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365575
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365576
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365577
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365578
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365579
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365580
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365581
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365582
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365583
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365584
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365585
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365586
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365587
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365588
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365589
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365590
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365591
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365592
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365593
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365594
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365595
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365596
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365597
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365598
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365599
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365600
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365601
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365602
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365603
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365604
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365605
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365606
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365607
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365608
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365609
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365610
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365611
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365612
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365613
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365614
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365615
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365616
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365617
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365618
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365619
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365620
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365621
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365622
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365623
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365624
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365625
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365626
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365627
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365628
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365629
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365630
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365631
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365632
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365633
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365634
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365635
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365636
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365637
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365638
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365639
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365640
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365641
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365642
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365643
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365644
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365645
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365646
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365647
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365648
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365649
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365650
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365651
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365652
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365653
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365654
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365655
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365656
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365657
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365658
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365659
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365660
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365661
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365662
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365663
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365664
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365665
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365666
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365667
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365668
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365669
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365670
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365671
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365672
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365673
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365674
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365675
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365676
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365677
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365678
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365679
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365680
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365681
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365682
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365683
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365684
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365685
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365686
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394903
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394904
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394905
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394906
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394907
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394908
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394909
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394910
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394911
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394912
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394913
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394914
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394915
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394916
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394917
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394918
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394919
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394920
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394921
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394922
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394923
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394924
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394925
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394926
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394927
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394928
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394929
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394930
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394931
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394932
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394933
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394934
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394935
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394936
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394937
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394938
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394939
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394940
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394941
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394942
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394943
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394944
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394945
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394946
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394947
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394948
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394949
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394950
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394951
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394952
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394953
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394954
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394955
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394956
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394957
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394958
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395104
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395105
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395106
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395107
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395108
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395109
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395110
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395111
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395112
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395113
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395114
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395115
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395116
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395117
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395118
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395119
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395120
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395121
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395122
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395123
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395124
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395125
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395126
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395127
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395128
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395129
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395130
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395131
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395132
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395133
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395134
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395135
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395136
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395137
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395138
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395139
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395140
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395141
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395142
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395143
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395144
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395145
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395146
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395147
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395148
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395149
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395150
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395151
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395152
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395153
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395154
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395155
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395156
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395157
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395158
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395159
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395160
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395161
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395162
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395163
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395164
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395165
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395166
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395167
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395168
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395169
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395170
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395171
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395172
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395173
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395174
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395175
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395176
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395177
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395178
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395179
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395180
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395181
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395182
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395183
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395184
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395185
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395186
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395187
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395188
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395189
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395190
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395191
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395192
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395193
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395194
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395195
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395196
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395197
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395198
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395199
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395200
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395201
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395202
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395203
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395204
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395205
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395206
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395207
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395208
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395209
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395210
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395211
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395212
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395213
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395214
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395215
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395216
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395217
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395218
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395219
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395220
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395221
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395222
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395223
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395224
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395225
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395226
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395227
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395228
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395229
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395230
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395231
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395232
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395233
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395234
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395235
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395236
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395237
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395238
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395239
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395240
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395241
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395242
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395243
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395244
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395245
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395246
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395247
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395248
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395249
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395250
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395251
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395252
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395253
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395254
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395255
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395256
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395257
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395258
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395259
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395260
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395261
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395262
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395263
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395264
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395265
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395266
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395267
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395268
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395269
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395270
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395271
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395272
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395273
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395274
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395275
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395276
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395277
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395278
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395279
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395280
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395281
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395282
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395283
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395284
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395285
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395286
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395287
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395288
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395289
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395290
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395291
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395292
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395293
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395294
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395295
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395296
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395297
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395298
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395299
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395300
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395301
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395302
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395303
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395304
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395305
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395306
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395307
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395308
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395309
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395310
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395311
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395312
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395313
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395314
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395315
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395316
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395317
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395318
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395319
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395320
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395321
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395322
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395323
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395324
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395325
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395326
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395327
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395328
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395329
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395330
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395331
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395332
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395333
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395334
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395335
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395336
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395337
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395338
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395339
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395340
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395341
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395342
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395343
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395344
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395345
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395346
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395347
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395348
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395349
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395350
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395351
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395352
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395353
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395354
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395355
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395356
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395357
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395358
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395562
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395563
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395564
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395565
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395566
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395567
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395568
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395569
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395570
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395571
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395572
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395573
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395574
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395575
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395576
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395577
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395578
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395579
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395580
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395581
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395582
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395583
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395584
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395585
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395586
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395587
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395588
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395589
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395590
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395591
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395592
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395593
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395594
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395595
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395596
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395597
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395598
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395599
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395600
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395601
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395602
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395603
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395604
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395605
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395606
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395607
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395608
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395609
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395610
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395611
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395612
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395613
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395614
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395615
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395616
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395617
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395618
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395619
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395620
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395621
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395622
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395623
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395624
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395625
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395626
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395627
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395628
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395629
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395630
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 395631
PRINT(N'Operation applied to 645 rows out of 645')

PRINT(N'Delete rows from [dbo].[t_Chart]')
DELETE FROM [dbo].[t_Chart] WHERE [ChartID] = 4294
DELETE FROM [dbo].[t_Chart] WHERE [ChartID] = 4295
DELETE FROM [dbo].[t_Chart] WHERE [ChartID] = 4296
DELETE FROM [dbo].[t_Chart] WHERE [ChartID] = 4297
DELETE FROM [dbo].[t_Chart] WHERE [ChartID] = 4319
PRINT(N'Operation applied to 5 rows out of 5')

PRINT(N'Update rows in [dbo].[t_Chart]')
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'CKD Stages 3-5 (%)' WHERE [ChartID] = 4076
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'CKD Stages 3-5 (%)' WHERE [ChartID] = 4090
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'CKD Stages 3-5 (%)' WHERE [ChartID] = 4091
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'CKD Stages 3-5 (%)' WHERE [ChartID] = 4092
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'CKD Stages 3-5 (%)' WHERE [ChartID] = 4286
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'CKD Stages 3-5 (%)' WHERE [ChartID] = 4287
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'CKD Stages 3-5 (%)' WHERE [ChartID] = 4288
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'Hypertension among adults with CKD (%)' WHERE [ChartID] = 4336
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'Hypertension among adults with CKD (%)' WHERE [ChartID] = 4338
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'Hypertension among adults with CKD (%)' WHERE [ChartID] = 4339
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'Diabetes among adults with CKD (%)' WHERE [ChartID] = 4341
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'Diabetes among adults with CKD (%)' WHERE [ChartID] = 4343
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'Diabetes among adults with CKD (%)' WHERE [ChartID] = 4344
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'CVD among adults with CKD (%)' WHERE [ChartID] = 4350
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'CVD among adults with CKD (%)' WHERE [ChartID] = 4352
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'CVD among adults with CKD (%)' WHERE [ChartID] = 4353
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'Anemia among adults with CKD (%)' WHERE [ChartID] = 4359
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'Anemia among adults with CKD (%)' WHERE [ChartID] = 4361
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'Anemia among adults with CKD (%)' WHERE [ChartID] = 4362
PRINT(N'Operation applied to 19 rows out of 19')

PRINT(N'Update rows in [dbo].[t_Page]')
UPDATE [dbo].[t_Page] SET [Active]=1 WHERE [PageID] = 586
UPDATE [dbo].[t_Page] SET [Active]=1 WHERE [PageID] = 587
UPDATE [dbo].[t_Page] SET [Active]=1 WHERE [PageID] = 588
UPDATE [dbo].[t_Page] SET [Active]=1 WHERE [PageID] = 589
UPDATE [dbo].[t_Page] SET [Active]=1 WHERE [PageID] = 593
UPDATE [dbo].[t_Page] SET [Active]=1 WHERE [PageID] = 594
UPDATE [dbo].[t_Page] SET [Active]=1 WHERE [PageID] = 595
UPDATE [dbo].[t_Page] SET [Active]=1 WHERE [PageID] = 596
PRINT(N'Operation applied to 8 rows out of 8')

PRINT(N'Add rows to [dbo].[t_MeasureIndicatorLink]')
SET IDENTITY_INSERT [dbo].[t_MeasureIndicatorLink] ON
INSERT INTO [dbo].[t_MeasureIndicatorLink] ([MeasureIndicatorLinkID], [MeasureID], [IndicatorID]) VALUES (558, 166, 452)
SET IDENTITY_INSERT [dbo].[t_MeasureIndicatorLink] OFF
PRINT(N'Operation applied to 1 rows out of 15')

PRINT(N'Add rows to [dbo].[t_ShortTitles]')
SET IDENTITY_INSERT [dbo].[t_ShortTitles] ON
INSERT INTO [dbo].[t_ShortTitles] ([Topic], [Qnum], [Description], [Current Indicator Title], [Data Source], [ShortTitle], [ShortTitleKey]) VALUES (N'Prevalence', N'Q811', N'Trends in the Prevalence of Cardiovascular-Kidney-Metabolic (CKM) Syndrome', N'Prevalence of CKM Syndrome', N'NHANES', N'Prevalence of CKM in the General Population', 1123)
INSERT INTO [dbo].[t_ShortTitles] ([Topic], [Qnum], [Description], [Current Indicator Title], [Data Source], [ShortTitle], [ShortTitleKey]) VALUES (N'Prevalence & Incidence', N'Q801', N'Prevalence of CKD Stages Among U.S. Adults, 2003–March 2020, by Age Categories', N'Prevalence of CKD Stages Among U.S. Adults, 2003–March 2020, by Age Categories', NULL, N'Prevalence of CKD Stages Among U.S. Adults, 2003–March 2020, by Age Categories', 1122)
SET IDENTITY_INSERT [dbo].[t_ShortTitles] OFF
PRINT(N'Operation applied to 2 rows out of 2')

PRINT(N'Add rows to [dbo].[t_Stratification]')
SET IDENTITY_INSERT [dbo].[t_Stratification] ON
INSERT INTO [dbo].[t_Stratification] ([StratificationId], [StratificationSetID], [StratificationCode], [Stratification], [StratificationDisplayOrder]) VALUES (8065, 2, 'Age05', N'0–5 years', 15)
INSERT INTO [dbo].[t_Stratification] ([StratificationId], [StratificationSetID], [StratificationCode], [Stratification], [StratificationDisplayOrder]) VALUES (8066, 2, 'Age6-10', N'6–10 years', 55)
INSERT INTO [dbo].[t_Stratification] ([StratificationId], [StratificationSetID], [StratificationCode], [Stratification], [StratificationDisplayOrder]) VALUES (8067, 2, 'Age11-17', N'11–17 years', 71)
SET IDENTITY_INSERT [dbo].[t_Stratification] OFF
PRINT(N'Operation applied to 3 rows out of 3')

PRINT(N'Add rows to [dbo].[t_DataPoint]')
SET IDENTITY_INSERT [dbo].[t_DataPoint] ON
INSERT INTO [dbo].[t_DataPoint] ([DatapointID], [ChartID], [StratificationID1], [StratificationID2], [StratificationID3], [MainValue], [HighConfidenceInterval], [LowConfidenceInterval], [StandardError]) VALUES (397579, 4092, 484, NULL, NULL, N'5.9', NULL, NULL, NULL)
INSERT INTO [dbo].[t_DataPoint] ([DatapointID], [ChartID], [StratificationID1], [StratificationID2], [StratificationID3], [MainValue], [HighConfidenceInterval], [LowConfidenceInterval], [StandardError]) VALUES (397580, 4092, 486, NULL, NULL, N'6.0', NULL, NULL, NULL)
INSERT INTO [dbo].[t_DataPoint] ([DatapointID], [ChartID], [StratificationID1], [StratificationID2], [StratificationID3], [MainValue], [HighConfidenceInterval], [LowConfidenceInterval], [StandardError]) VALUES (397581, 4092, 487, NULL, NULL, N'5.4', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[t_DataPoint] OFF
PRINT(N'Operation applied to 405 rows out of 1979')

PRINT(N'Add constraints to [dbo].[t_DataPoint]')
ALTER TABLE [dbo].[t_DataPoint] WITH CHECK CHECK CONSTRAINT [FK_t_DataPoint_t_Chart]
ALTER TABLE [dbo].[t_DataPoint] WITH CHECK CHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_1]
ALTER TABLE [dbo].[t_DataPoint] WITH CHECK CHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_2]
ALTER TABLE [dbo].[t_DataPoint] WITH CHECK CHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_3]

PRINT(N'Add constraints to [dbo].[t_Chart]')
ALTER TABLE [dbo].[t_Chart] WITH CHECK CHECK CONSTRAINT [FK_t_Chart_t_ChartStyle]
ALTER TABLE [dbo].[t_Chart] WITH CHECK CHECK CONSTRAINT [FK_t_Chart_t_DisplayFormat]
ALTER TABLE [dbo].[t_Chart] WITH CHECK CHECK CONSTRAINT [FK_t_Chart_t_Page]
ALTER TABLE [dbo].[t_Chart] WITH CHECK CHECK CONSTRAINT [FK_t_Chart_t_StratificationSet_1]
ALTER TABLE [dbo].[t_Chart] WITH CHECK CHECK CONSTRAINT [FK_t_Chart_t_StratificationSet_2]
ALTER TABLE [dbo].[t_Chart] WITH CHECK CHECK CONSTRAINT [FK_t_Chart_t_StratificationSet_3]
ALTER TABLE [dbo].[t_DisparitiesDataPoint] WITH CHECK CHECK CONSTRAINT [FK_t_DisparitiesDP_t_Chart]

PRINT(N'Add constraints to [dbo].[t_Stratification]')
ALTER TABLE [dbo].[t_Stratification] WITH CHECK CHECK CONSTRAINT [FK_t_Stratification_t_StratificationSet]
ALTER TABLE [dbo].[t_DisparitiesDataPoint] WITH CHECK CHECK CONSTRAINT [FK_t_DisparitiesDP_t_Stratification_1]
ALTER TABLE [dbo].[t_DisparitiesDataPoint] WITH CHECK CHECK CONSTRAINT [FK_t_DisparitiesDP_t_Stratification_2]
ALTER TABLE [dbo].[t_DisparitiesDataPoint] WITH CHECK CHECK CONSTRAINT [FK_t_DisparitiesDP_t_Stratification_3]

PRINT(N'Add constraints to [dbo].[t_Page]')
ALTER TABLE [dbo].[t_Page] WITH CHECK CHECK CONSTRAINT [FK_t_Page_t_DataSource]
ALTER TABLE [dbo].[t_Page] WITH CHECK CHECK CONSTRAINT [FK_t_Page_t_Indicator]
ALTER TABLE [dbo].[t_FootNote] WITH CHECK CHECK CONSTRAINT [FK_t_FootNote_t_Page]
ALTER TABLE [dbo].[t_Image] WITH CHECK CHECK CONSTRAINT [FK_t_Image_t_Page]
ALTER TABLE [dbo].[t_KeyPoint] WITH CHECK CHECK CONSTRAINT [FK_t_KeyPoint_t_Page]
ALTER TABLE [dbo].[t_MapLegend] WITH CHECK CHECK CONSTRAINT [FK_t_MapLegend_t_Page]
ALTER TABLE [dbo].[t_MethodsPage] WITH CHECK CHECK CONSTRAINT [FK_t_MethodsPage_t_Page]
ALTER TABLE [dbo].[t_PageReferenceLink] WITH CHECK CHECK CONSTRAINT [FK_t_PageReferenceLink_t_Page]
ALTER TABLE [dbo].[t_SpecSheet] WITH CHECK CHECK CONSTRAINT [FK_t_SpecSheet_t_Page]

PRINT(N'Add constraints to [dbo].[t_MeasureIndicatorLink]')
ALTER TABLE [dbo].[t_MeasureIndicatorLink] WITH CHECK CHECK CONSTRAINT [FK_t_MeasureIndicatorLink_t_Indicator]
ALTER TABLE [dbo].[t_MeasureIndicatorLink] WITH CHECK CHECK CONSTRAINT [FK_t_MeasureIndicatorLink_t_Measure]
COMMIT TRANSACTION
GO
