/*
Run this script on:

awssqlprodm.51349_CDCCKD    -  This database will be modified

to synchronize it with:

awssqlstgm.51349_CDCCKD_TED

You are recommended to back up your database before running this script

Script created by SQL Data Compare version 14.0.7.13517 from Red Gate Software Ltd at 11/14/2025 8:05:53 PM

*/
		
--USE [51349_CDCCKD]
--GO
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS, NOCOUNT ON
GO
SET DATEFORMAT YMD
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL Serializable
GO
BEGIN TRANSACTION

PRINT(N'Drop constraints from [dbo].[t_DataPoint]')
ALTER TABLE [dbo].[t_DataPoint] NOCHECK CONSTRAINT [FK_t_DataPoint_t_Chart]
ALTER TABLE [dbo].[t_DataPoint] NOCHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_1]
ALTER TABLE [dbo].[t_DataPoint] NOCHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_2]
ALTER TABLE [dbo].[t_DataPoint] NOCHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_3]

PRINT(N'Drop constraints from [dbo].[t_SpecSheet]')
ALTER TABLE [dbo].[t_SpecSheet] NOCHECK CONSTRAINT [FK_t_SpecSheet_t_Page]

PRINT(N'Drop constraints from [dbo].[t_PageReferenceLink]')
ALTER TABLE [dbo].[t_PageReferenceLink] NOCHECK CONSTRAINT [FK_t_PageReferenceLink_t_Page]
ALTER TABLE [dbo].[t_PageReferenceLink] NOCHECK CONSTRAINT [FK_t_PageReferenceLink_t_Reference]

PRINT(N'Drop constraints from [dbo].[t_MethodsPage]')
ALTER TABLE [dbo].[t_MethodsPage] NOCHECK CONSTRAINT [FK_t_MethodsPage_t_Page]

PRINT(N'Drop constraints from [dbo].[t_KeyPoint]')
ALTER TABLE [dbo].[t_KeyPoint] NOCHECK CONSTRAINT [FK_t_KeyPoint_t_Page]

PRINT(N'Drop constraints from [dbo].[t_FootNote]')
ALTER TABLE [dbo].[t_FootNote] NOCHECK CONSTRAINT [FK_t_FootNote_t_Page]

PRINT(N'Drop constraints from [dbo].[t_Chart]')
ALTER TABLE [dbo].[t_Chart] NOCHECK CONSTRAINT [FK_t_Chart_t_ChartStyle]
ALTER TABLE [dbo].[t_Chart] NOCHECK CONSTRAINT [FK_t_Chart_t_DisplayFormat]
ALTER TABLE [dbo].[t_Chart] NOCHECK CONSTRAINT [FK_t_Chart_t_Page]
ALTER TABLE [dbo].[t_Chart] NOCHECK CONSTRAINT [FK_t_Chart_t_StratificationSet_1]
ALTER TABLE [dbo].[t_Chart] NOCHECK CONSTRAINT [FK_t_Chart_t_StratificationSet_2]
ALTER TABLE [dbo].[t_Chart] NOCHECK CONSTRAINT [FK_t_Chart_t_StratificationSet_3]

PRINT(N'Drop constraint FK_t_DisparitiesDP_t_Chart from [dbo].[t_DisparitiesDataPoint]')
ALTER TABLE [dbo].[t_DisparitiesDataPoint] NOCHECK CONSTRAINT [FK_t_DisparitiesDP_t_Chart]

PRINT(N'Drop constraints from [dbo].[t_Page]')
ALTER TABLE [dbo].[t_Page] NOCHECK CONSTRAINT [FK_t_Page_t_DataSource]
ALTER TABLE [dbo].[t_Page] NOCHECK CONSTRAINT [FK_t_Page_t_Indicator]

PRINT(N'Drop constraint FK_t_Image_t_Page from [dbo].[t_Image]')
ALTER TABLE [dbo].[t_Image] NOCHECK CONSTRAINT [FK_t_Image_t_Page]

PRINT(N'Drop constraint FK_t_MapLegend_t_Page from [dbo].[t_MapLegend]')
ALTER TABLE [dbo].[t_MapLegend] NOCHECK CONSTRAINT [FK_t_MapLegend_t_Page]

PRINT(N'Drop constraints from [dbo].[t_MeasureIndicatorLink]')
ALTER TABLE [dbo].[t_MeasureIndicatorLink] NOCHECK CONSTRAINT [FK_t_MeasureIndicatorLink_t_Indicator]
ALTER TABLE [dbo].[t_MeasureIndicatorLink] NOCHECK CONSTRAINT [FK_t_MeasureIndicatorLink_t_Measure]

PRINT(N'Drop constraints from [dbo].[t_Measure]')
ALTER TABLE [dbo].[t_Measure] NOCHECK CONSTRAINT [FK_t_Measure_t_topic]

PRINT(N'Drop constraint FK_t_IndicatorFactorOfInterestLink_t_Indicator from [dbo].[t_IndicatorFactorOfInterestLink]')
ALTER TABLE [dbo].[t_IndicatorFactorOfInterestLink] NOCHECK CONSTRAINT [FK_t_IndicatorFactorOfInterestLink_t_Indicator]

PRINT(N'Drop constraint FK_t_IndicatorLink_t_Indicator_1 from [dbo].[t_IndicatorLink]')
ALTER TABLE [dbo].[t_IndicatorLink] NOCHECK CONSTRAINT [FK_t_IndicatorLink_t_Indicator_1]

PRINT(N'Drop constraint FK_t_IndicatorLink_t_Indicator_2 from [dbo].[t_IndicatorLink]')
ALTER TABLE [dbo].[t_IndicatorLink] NOCHECK CONSTRAINT [FK_t_IndicatorLink_t_Indicator_2]

PRINT(N'Update rows in [dbo].[t_Page]')
UPDATE [dbo].[t_Page] SET [Active]=0 WHERE [PageID] = 516
UPDATE [dbo].[t_Page] SET [Active]=0 WHERE [PageID] = 574
PRINT(N'Operation applied to 2 rows out of 2')

PRINT(N'Update rows in [dbo].[ApplicationConfiguration]')
UPDATE [dbo].[ApplicationConfiguration] SET [Value]='Q9;Q11;Q89;Q98;Q185;Q364;Q372;Q605;Q640;Q700;Q703;Q712;Q719;Q730;Q756;Q759;Q762;Q763;Q764;Q773;Q781;Q784;Q785;Q786;Q787;Q788;Q789;Q790;Q791;Q802;Q794;Q795;Q796;Q800;Q801;Q804;Q811;Q805;Q806;Q807;Q808;' WHERE [ID] = 11
PRINT(N'Operation applied to 1 rows out of 4')

PRINT(N'Add rows to [dbo].[t_Indicator]')
SET IDENTITY_INSERT [dbo].[t_Indicator] ON
INSERT INTO [dbo].[t_Indicator] ([IndicatorID], [IndicatorText], [DisplayOrder], [IndicatorTitleRoot], [Active], [IndicatorKeyPoint], [IndicatorMethod], [maxYear], [HP2020Logo], [SampleIndicator], [LiteratureIndicator]) VALUES (453, N'Trends in Prevalence of Hypertension', 5491, N'Prevalence of Hypertension', 1, NULL, NULL, '2020', 0, 0, 0)
INSERT INTO [dbo].[t_Indicator] ([IndicatorID], [IndicatorText], [DisplayOrder], [IndicatorTitleRoot], [Active], [IndicatorKeyPoint], [IndicatorMethod], [maxYear], [HP2020Logo], [SampleIndicator], [LiteratureIndicator]) VALUES (454, N'Trends in Prevalence of Diabetes', 5492, N'Prevalence of Diabetes', 1, NULL, NULL, '2020', 0, 0, 0)
INSERT INTO [dbo].[t_Indicator] ([IndicatorID], [IndicatorText], [DisplayOrder], [IndicatorTitleRoot], [Active], [IndicatorKeyPoint], [IndicatorMethod], [maxYear], [HP2020Logo], [SampleIndicator], [LiteratureIndicator]) VALUES (455, N'Trends in Prevalence of Cardiovascular Disease', 5493, N'Prevalence of Cardiovascular Disease', 1, NULL, NULL, '2020', 0, 0, 0)
SET IDENTITY_INSERT [dbo].[t_Indicator] OFF
PRINT(N'Operation applied to 4 rows out of 18')

PRINT(N'Add rows to [dbo].[t_Measure]')
SET IDENTITY_INSERT [dbo].[t_Measure] ON
INSERT INTO [dbo].[t_Measure] ([MeasureID], [TopicID], [MeasureText], [DisplayOrder], [Description]) VALUES (157, 5, N'Prevalence of Hypertension', 1090, NULL)
INSERT INTO [dbo].[t_Measure] ([MeasureID], [TopicID], [MeasureText], [DisplayOrder], [Description]) VALUES (158, 5, N'Prevalence of Diabetes', 1100, NULL)
INSERT INTO [dbo].[t_Measure] ([MeasureID], [TopicID], [MeasureText], [DisplayOrder], [Description]) VALUES (159, 5, N'Prevalence of Cardiovascular Disease', 1110, NULL)
SET IDENTITY_INSERT [dbo].[t_Measure] OFF
PRINT(N'Operation applied to 9 rows out of 9')

PRINT(N'Add rows to [dbo].[t_Reference]')
SET IDENTITY_INSERT [dbo].[t_Reference] ON
INSERT INTO [dbo].[t_Reference] ([ReferenceID], [ReferenceText], [URL]) VALUES (1142, N'<p>Whelton PK, Carey RM, Aronow WS, et al. 2017 ACC/AHA/AAPA/ABC/ACPM/AGS/APhA/ ASH/ASPC/NMA/PCNA Guideline for the Prevention, Detection, Evaluation, and Management of High Blood Pressure in Adults: a report of the American College of Cardiology/American Heart Association Task Force on Clinical Practice Guidelines. Hypertension. 2018;71(6):e13‐e115.</p>', N'')
INSERT INTO [dbo].[t_Reference] ([ReferenceID], [ReferenceText], [URL]) VALUES (1143, N'<p>AGA Clinical Practice Guidelines on the Gastrointestinal Evaluation of Iron Deficiency Anemia. Ko, Cynthia W. et al. Gastroenterology, Volume 159, Issue 3, 1085 &ndash; 1094.</p>', N'')
SET IDENTITY_INSERT [dbo].[t_Reference] OFF
PRINT(N'Operation applied to 2 rows out of 2')

PRINT(N'Add rows to [dbo].[t_MeasureIndicatorLink]')
SET IDENTITY_INSERT [dbo].[t_MeasureIndicatorLink] ON
INSERT INTO [dbo].[t_MeasureIndicatorLink] ([MeasureIndicatorLinkID], [MeasureID], [IndicatorID]) VALUES (539, 155, 453)
INSERT INTO [dbo].[t_MeasureIndicatorLink] ([MeasureIndicatorLinkID], [MeasureID], [IndicatorID]) VALUES (540, 155, 454)
INSERT INTO [dbo].[t_MeasureIndicatorLink] ([MeasureIndicatorLinkID], [MeasureID], [IndicatorID]) VALUES (541, 155, 455)
SET IDENTITY_INSERT [dbo].[t_MeasureIndicatorLink] OFF
PRINT(N'Operation applied to 4 rows out of 19')

PRINT(N'Add rows to [dbo].[t_Page]')
SET IDENTITY_INSERT [dbo].[t_Page] ON
INSERT INTO [dbo].[t_Page] ([PageID], [IndicatorID], [QNum], [DataSourceID], [ChartExplanation], [DisplayChart], [DisplayTable], [TEDMetadataUpdatesDone], [TEDDataPointUpdatesDone], [DisplayTableAllYears], [Active]) VALUES (586, 453, 'Q805', 14, N'<p>To view the burden of Hypertension by risk categories, select from the drop-down menu below. Risk categories include CKD, Age Category, Sex, Race/Ethnicity.</p>
', 1, 1, 0, 0, 0, 1)
INSERT INTO [dbo].[t_Page] ([PageID], [IndicatorID], [QNum], [DataSourceID], [ChartExplanation], [DisplayChart], [DisplayTable], [TEDMetadataUpdatesDone], [TEDDataPointUpdatesDone], [DisplayTableAllYears], [Active]) VALUES (587, 454, 'Q806', 14, N'<p>To view the burden of Diabetes by risk categories, select from the drop-down menu below. Risk categories include CKD, Age Category, Sex, Race/Ethnicity.</p>
', 1, 1, 0, 0, 0, 1)
INSERT INTO [dbo].[t_Page] ([PageID], [IndicatorID], [QNum], [DataSourceID], [ChartExplanation], [DisplayChart], [DisplayTable], [TEDMetadataUpdatesDone], [TEDDataPointUpdatesDone], [DisplayTableAllYears], [Active]) VALUES (588, 455, 'Q807', 14, N'<p>To view the burden of Cardiovascular Disease by risk categories, select from the drop-down menu below. Risk categories include CKD, Age Category, Sex, Race/Ethnicity.</p>
', 1, 1, 0, 0, 0, 1)
SET IDENTITY_INSERT [dbo].[t_Page] OFF
PRINT(N'Operation applied to 8 rows out of 23')

PRINT(N'Add rows to [dbo].[t_Chart]')
SET IDENTITY_INSERT [dbo].[t_Chart] ON
SET IDENTITY_INSERT [dbo].[t_Chart] OFF
PRINT(N'Operation applied to 28 rows out of 75')

PRINT(N'Add rows to [dbo].[t_FootNote]')
SET IDENTITY_INSERT [dbo].[t_FootNote] ON
INSERT INTO [dbo].[t_FootNote] ([FootnoteID], [PageID], [FootnoteType_NU], [DisplayOrder], [FootnoteText]) VALUES (1269, 587, NULL, 1, N'<p>Data includes CKD stages 1&ndash;5. Estimates were standardized to the 2010 U.S. Census adult population.</p>

<p>Estimate for Age Category &quot;18-39 years&quot; was suppressed due to&nbsp;a large standard error stemming from a small sample size.</p>
')
INSERT INTO [dbo].[t_FootNote] ([FootnoteID], [PageID], [FootnoteType_NU], [DisplayOrder], [FootnoteText]) VALUES (1270, 586, NULL, 1, N'<p>Data includes CKD stages 1&ndash;5. Estimates were standardized to the 2010 U.S. Census population for adults.</p>
')
INSERT INTO [dbo].[t_FootNote] ([FootnoteID], [PageID], [FootnoteType_NU], [DisplayOrder], [FootnoteText]) VALUES (1271, 594, NULL, 1, N'<p>Data includes CKD stages 1&ndash;5. Estimates were standardized to the 2010 U.S. Census adult population.</p>

<p>Estimate for Age Category &quot;18-39 years&quot; was suppressed due to&nbsp;a large standard error stemming from a small sample size.</p>
')
SET IDENTITY_INSERT [dbo].[t_FootNote] OFF
PRINT(N'Operation applied to 8 rows out of 20')

PRINT(N'Add rows to [dbo].[t_KeyPoint]')
SET IDENTITY_INSERT [dbo].[t_KeyPoint] ON
INSERT INTO [dbo].[t_KeyPoint] ([KeyPointID], [PageID], [DisplayOrder], [KeyPointText]) VALUES (580, 586, 1, N'<p>During 2001&ndash;March 2020, crude prevalence of hypertension increased from 49.9% to 53.3% in the US adult population. Hypertension was higher among adults with CKD for both crude and age-standardized prevalence, with the crude burden at its highest level in recent years at 78.0% among adults with CKD. Crude and age-adjusted hypertension among those with CKD was more prevalent with older age, male sex, and Non-Hispanic Black race.</p>
')
INSERT INTO [dbo].[t_KeyPoint] ([KeyPointID], [PageID], [DisplayOrder], [KeyPointText]) VALUES (582, 588, 1, N'<p>During 2001&ndash;March 2020, the overall crude prevalence of cardiovascular disease (CVD) ranged from 8.9% to 10.1% and was 3-fold higher among adults with CKD compared to adults without CKD (24.2% vs. 7.8%) in 2017-March 2020. Age-standardized prevalence of CVD was about 2-fold higher in adults with than without CKD. Prevalence of CVD among adults with CKD was higher in older age, among males, and Non-Hispanic White adults.</p>
')
SET IDENTITY_INSERT [dbo].[t_KeyPoint] OFF
PRINT(N'Operation applied to 8 rows out of 23')

PRINT(N'Add rows to [dbo].[t_MethodsPage]')
SET IDENTITY_INSERT [dbo].[t_MethodsPage] ON
SET IDENTITY_INSERT [dbo].[t_MethodsPage] OFF
PRINT(N'Operation applied to 8 rows out of 23')

PRINT(N'Add rows to [dbo].[t_PageReferenceLink]')
SET IDENTITY_INSERT [dbo].[t_PageReferenceLink] ON
INSERT INTO [dbo].[t_PageReferenceLink] ([PageReferenceLinkID], [PageID], [ReferenceID], [DisplayOrder]) VALUES (1681, 586, 1142, 1)
INSERT INTO [dbo].[t_PageReferenceLink] ([PageReferenceLinkID], [PageID], [ReferenceID], [DisplayOrder]) VALUES (1682, 593, 1142, 1)
INSERT INTO [dbo].[t_PageReferenceLink] ([PageReferenceLinkID], [PageID], [ReferenceID], [DisplayOrder]) VALUES (1683, 589, 1143, 1)
SET IDENTITY_INSERT [dbo].[t_PageReferenceLink] OFF
PRINT(N'Operation applied to 4 rows out of 4')

PRINT(N'Add rows to [dbo].[t_SpecSheet]')
SET IDENTITY_INSERT [dbo].[t_SpecSheet] ON
INSERT INTO [dbo].[t_SpecSheet] ([SpecSheetID], [PageID], [DisplayOrder], [FieldText], [DataText]) VALUES (11541, 586, 1, 'Description of Measure', N'<p>Overall: Prevalence of Hypertension among U.S. adults.</p>

<p>By strata: Prevalence of Hypertension among U.S. adults with CKD.</p>
')
INSERT INTO [dbo].[t_SpecSheet] ([SpecSheetID], [PageID], [DisplayOrder], [FieldText], [DataText]) VALUES (11542, 587, 1, 'Description of Measure', N'<p>Overall: Prevalence of diabetes among U.S. adults.</p>

<p>By strata: Prevalence of diabetes among U.S. adults with CKD.</p>
')
INSERT INTO [dbo].[t_SpecSheet] ([SpecSheetID], [PageID], [DisplayOrder], [FieldText], [DataText]) VALUES (11543, 588, 1, 'Description of Measure', N'<p>Overall: Prevalence of cardiovascular disease (CVD) among U.S. adults.</p>

<p>By strata: Prevalence of CVD among U.S. adults with CKD.</p>
')
SET IDENTITY_INSERT [dbo].[t_SpecSheet] OFF
PRINT(N'Operation applied to 112 rows out of 369')

PRINT(N'Add rows to [dbo].[t_DataPoint]')
SET IDENTITY_INSERT [dbo].[t_DataPoint] ON
INSERT INTO [dbo].[t_DataPoint] ([DatapointID], [ChartID], [StratificationID1], [StratificationID2], [StratificationID3], [MainValue], [HighConfidenceInterval], [LowConfidenceInterval], [StandardError]) VALUES (392750, 4347, 5993, NULL, NULL, N'51.5', 53.5000000000, 49.6000000000, NULL)
INSERT INTO [dbo].[t_DataPoint] ([DatapointID], [ChartID], [StratificationID1], [StratificationID2], [StratificationID3], [MainValue], [HighConfidenceInterval], [LowConfidenceInterval], [StandardError]) VALUES (392751, 4347, 5994, NULL, NULL, N'49.8', 51.4000000000, 48.1000000000, NULL)
INSERT INTO [dbo].[t_DataPoint] ([DatapointID], [ChartID], [StratificationID1], [StratificationID2], [StratificationID3], [MainValue], [HighConfidenceInterval], [LowConfidenceInterval], [StandardError]) VALUES (392752, 4347, 5995, NULL, NULL, N'48.7', 50.2000000000, 47.3000000000, NULL)
SET IDENTITY_INSERT [dbo].[t_DataPoint] OFF
PRINT(N'Operation applied to 351 rows out of 2445')

PRINT(N'Add constraints to [dbo].[t_DataPoint]')
ALTER TABLE [dbo].[t_DataPoint] WITH CHECK CHECK CONSTRAINT [FK_t_DataPoint_t_Chart]
ALTER TABLE [dbo].[t_DataPoint] WITH CHECK CHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_1]
ALTER TABLE [dbo].[t_DataPoint] WITH CHECK CHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_2]
ALTER TABLE [dbo].[t_DataPoint] WITH CHECK CHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_3]

PRINT(N'Add constraints to [dbo].[t_SpecSheet]')
ALTER TABLE [dbo].[t_SpecSheet] WITH CHECK CHECK CONSTRAINT [FK_t_SpecSheet_t_Page]

PRINT(N'Add constraints to [dbo].[t_PageReferenceLink]')
ALTER TABLE [dbo].[t_PageReferenceLink] WITH CHECK CHECK CONSTRAINT [FK_t_PageReferenceLink_t_Page]
ALTER TABLE [dbo].[t_PageReferenceLink] WITH CHECK CHECK CONSTRAINT [FK_t_PageReferenceLink_t_Reference]

PRINT(N'Add constraints to [dbo].[t_MethodsPage]')
ALTER TABLE [dbo].[t_MethodsPage] WITH CHECK CHECK CONSTRAINT [FK_t_MethodsPage_t_Page]

PRINT(N'Add constraints to [dbo].[t_KeyPoint]')
ALTER TABLE [dbo].[t_KeyPoint] WITH CHECK CHECK CONSTRAINT [FK_t_KeyPoint_t_Page]

PRINT(N'Add constraints to [dbo].[t_FootNote]')
ALTER TABLE [dbo].[t_FootNote] WITH CHECK CHECK CONSTRAINT [FK_t_FootNote_t_Page]

PRINT(N'Add constraints to [dbo].[t_Chart]')
ALTER TABLE [dbo].[t_Chart] WITH CHECK CHECK CONSTRAINT [FK_t_Chart_t_ChartStyle]
ALTER TABLE [dbo].[t_Chart] WITH CHECK CHECK CONSTRAINT [FK_t_Chart_t_DisplayFormat]
ALTER TABLE [dbo].[t_Chart] WITH CHECK CHECK CONSTRAINT [FK_t_Chart_t_Page]
ALTER TABLE [dbo].[t_Chart] WITH CHECK CHECK CONSTRAINT [FK_t_Chart_t_StratificationSet_1]
ALTER TABLE [dbo].[t_Chart] WITH CHECK CHECK CONSTRAINT [FK_t_Chart_t_StratificationSet_2]
ALTER TABLE [dbo].[t_Chart] WITH CHECK CHECK CONSTRAINT [FK_t_Chart_t_StratificationSet_3]
ALTER TABLE [dbo].[t_DisparitiesDataPoint] WITH CHECK CHECK CONSTRAINT [FK_t_DisparitiesDP_t_Chart]

PRINT(N'Add constraints to [dbo].[t_Page]')
ALTER TABLE [dbo].[t_Page] WITH CHECK CHECK CONSTRAINT [FK_t_Page_t_DataSource]
ALTER TABLE [dbo].[t_Page] WITH CHECK CHECK CONSTRAINT [FK_t_Page_t_Indicator]
ALTER TABLE [dbo].[t_Image] WITH CHECK CHECK CONSTRAINT [FK_t_Image_t_Page]
ALTER TABLE [dbo].[t_MapLegend] WITH CHECK CHECK CONSTRAINT [FK_t_MapLegend_t_Page]

PRINT(N'Add constraints to [dbo].[t_MeasureIndicatorLink]')
ALTER TABLE [dbo].[t_MeasureIndicatorLink] WITH CHECK CHECK CONSTRAINT [FK_t_MeasureIndicatorLink_t_Indicator]
ALTER TABLE [dbo].[t_MeasureIndicatorLink] WITH CHECK CHECK CONSTRAINT [FK_t_MeasureIndicatorLink_t_Measure]

PRINT(N'Add constraints to [dbo].[t_Measure]')
ALTER TABLE [dbo].[t_Measure] WITH CHECK CHECK CONSTRAINT [FK_t_Measure_t_topic]
ALTER TABLE [dbo].[t_IndicatorFactorOfInterestLink] WITH CHECK CHECK CONSTRAINT [FK_t_IndicatorFactorOfInterestLink_t_Indicator]
ALTER TABLE [dbo].[t_IndicatorLink] WITH CHECK CHECK CONSTRAINT [FK_t_IndicatorLink_t_Indicator_1]
ALTER TABLE [dbo].[t_IndicatorLink] WITH CHECK CHECK CONSTRAINT [FK_t_IndicatorLink_t_Indicator_2]
COMMIT TRANSACTION
GO
