/*
Run this script on:

        awssqlprodm.51349_CDCCKD    -  This database will be modified

to synchronize it with:

        awssqlstgm.51349_CDCCKD_TED

You are recommended to back up your database before running this script

Script created by SQL Compare version 14.0.7.13517 from Red Gate Software Ltd at 5/20/2026 12:21:50 PM

*/
USE [NCCD_DDT_CKD]
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS ON
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL Serializable
GO
BEGIN TRANSACTION
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Altering [dbo].[proc_GetChartWithShort]'
GO


/******************************************************************************

  Name:         [proc_GetChartWithShort]
  
  Description:  

  Called By:    

-------------------------------------------------------------------------------
  Notes:
                                                                   
-------------------------------------------------------------------------------
  History:             
  02/29/2012	rg		Created as proof of concept.
         	    ms		Updates / rewrite 
  04/14/2012	ms		HP2020 logo on website for a few QNUMs
  04/15/2012	ms		Update for MainValue = NA, on Q631-Q634
  05/06/2015	ms		New Map Stuff
  01/30/2017	ms		Updates to allow for stratifying by strat set other than year
                        funcation replaced 
						from dbo.udf_StratificationSetOrderFromChartID
						to   dbo.udf_StratificationSetOrderWithStratifierFromChartID 
						and  dbo.udf_StratificationSetOrderWithStratifierFromChartID 
  02/01/2017	ms	    new column XAxisLabel 
  2019			bs		created this proc based on the proc_getChart
  04/07/2021	bs		Change order by sequence on the #dp table, Q715 was the reason for this fix
-------------------------------------------------------------------------------
usage:
	 exec [proc_GetChartWithShort] 4022, ''
	 exec proc_getPage 'Q600'
	 exec [proc_GetChartWithShort] 204, '2013'
	 select * from v_datapoint vdp where vdp.ChartID = 204
	 
-- usage
-- Q240 has one footnote
-- exec proc_getPage 'Q240'
-- exec [proc_GetChartWithShort] 411, '2006-2008'

-- Q103 has 2 footnotes
-- select * from dbo.udf_ChartTitle(252, '2003')
  
-- Q116 has 3 footnotes
-- exec proc_getPage 'Q116'
-- exec [proc_GetChartWithShort] 256, '2007'

-- Q96 map
-- exec proc_getPage 'Q96'
-- exec [proc_GetChartWithShort] 228, '2009'
-- exec proc_getPage 'Q600'
-- exec [proc_GetChartWithShort] 204, '2013'

-- Q631 map
-- exec proc_getPage 'Q631' 
-- exec [proc_GetChartWithShort] 2954, ''

-- exec proc_getPage 'Q600'
-- exec [proc_GetChartWithShort] 204, '2013'

-- Y - this year
-- A - all years
exec [proc_GetChartWithShort] @ChartID=216,@year=N'2013',@nTiles=5,@Range=N'A'
exec [proc_GetChartWithShort] @ChartID=216,@year=N'2013',@nTiles=5,@Range=N'Y'
exec [proc_GetChartWithShort] @ChartID=193,@year=N'2013',@nTiles=5,@Range=N'Y'  
exec [proc_GetChartWithShort] @ChartID=216, @year=N'2013', @nTiles=5, @Range=N'A'

*******************************************************************************/
ALTER  PROCEDURE [dbo].[proc_GetChartWithShort]
(
	@ChartID INT 
	,@Year NVARCHAR(100)  -- stratifier
	,@NTiles TINYINT  = 5
	,@Range CHAR(1) = 'A'
)
AS

	--DECLARE @ChartID int = 193, @Year VARCHAR(4) ='2005', @NTiles tinyint=5 , @Range char(1) ='A'
		
 	DECLARE  @GroupByStrat NVARCHAR(50)
			,@XAxisLabel AS VARCHAR(50)
			,@IndicatorID INT
			,@Map BIT
			,@QNUM VARCHAR(6) = ''

	IF @Year = '' SET @Range = 'A'
	
	SELECT  @IndicatorID = i.IndicatorID, @QNum = p.QNum
		,@MAP = CASE WHEN (SELECT COUNT(1) FROM dbo.t_MapLegend ml WHERE ml.QNum = p.QNUM) > = 1 THEN 1 ELSE 0 END
	FROM t_Chart c 
		INNER JOIN t_Page p ON c.PageID = p.PageID
		INNER JOIN t_Indicator i ON i.IndicatorID = p.IndicatorID
	WHERE c.ChartID = @ChartID
	
	-- get the strat sets and their sequence from t_chart
	DECLARE @t udtt_OrderOfChartStratificationSets;
	insert into @t SELECT * from dbo.udf_StratificationSetOrderWithoutStratifierFromChartID(@ChartID)
	--select * from @t

	-- use Groupby1 when it exist else use DataSeries
	IF exists (select * from @t StratSetSequence where StratSetSequence.StratSetLevel = 'GroupBy1')   
		select @XAxisLabel = t.StratificationText FROM @t t WHERE t.StratSetLevel = 'GroupBy1' 
	ELSE  
		SELECT @XAxisLabel = t.StratificationText FROM @t t WHERE t.StratSetLevel = 'DataSeries' 
	--PRINT '@XAxisLabel=' + @XAxisLabel 
	
	--added 1/21/2019, one call to the udf_chartTitle function
	 DECLARE @chartHeader [nvarchar](500) 
	 DECLARE @chartHeaderWithSuperscripts [nvarchar](500) 
	 DECLARE @pageTitleWithSuperscripts [nvarchar](500) 
	 DECLARE @indicatorShortTitle [nvarchar](500) 
	 DECLARE @byPopulation [nvarchar](500) 
	 DECLARE @ChartTip NVARCHAR(500)

	 SELECT @chartHeader = ChartTitle,@chartHeaderWithSuperscripts = ChartTitleWithSuperscripts, @pageTitleWithSuperscripts = PageTitleWithSuperscripts, @indicatorShortTitle = IndicatorShortTitle, @byPopulation = ByPopulation  from dbo.udf_ChartTitleWithShort(@ChartID, @Year)

	
	 SELECT @ChartTip = [Value] FROM dbo.ApplicationConfiguration WHERE [Name] = 'ChartTip'

	-- Return a record set with the general parameters for the chart.
	SELECT top 1
		DotNetChartStyleID 
		,COALESCE (c.XAxisLabel, @XAxisLabel) as XAxisLabel
		,YAxisLabel
		,@chartHeader AS ChartHeader
		,@chartHeaderWithSuperscripts AS ChartHeaderWithSuperscripts
		,@pageTitleWithSuperscripts AS PageTitleWithSuperscripts
		,case when exists (select dp.HighConfidenceInterval from dbo.t_Chart c inner join dbo.t_DataPoint dp on c.ChartID = dp.ChartID where dp.HighConfidenceInterval is not null) then 1 else 0 end AS HasConfidenceIntervals
		,c.DisplayOrder
		,ds.DataSourceFullName
		, CASE WHEN c.StratificationType2 IS NULL AND c.StratificationSetID1 = 49 THEN REPLACE(ISNULL(p.ChartExplanation, ''), 'Placeholder Chart Explanation', '') 
		ELSE REPLACE(ISNULL(p.ChartExplanation, ''), 'Placeholder Chart Explanation', '') + '<i>'+ @ChartTip +'</i>' END AS Explanation
		--,REPLACE(ISNULL(p.ChartExplanation, ''), 'Placeholder Chart Explanation', '') + '<i>'+ @ChartTip +'</i>' as Explanation
		,c.ShowTableOnly
		,c.EnableEntireChart
		,c.XAxisLabelAngle
		,c.YAxisLabelMaxValue
		,I.HP2020Logo
		,c.DecimalPlaces AS SignificantDigits
		,c.ScaleBreak
		,@indicatorShortTitle as IndicatorShortTitle
		,@byPopulation as ByPopulation
		, CASE WHEN ISNULL(c.ChartTitle , '') = '' THEN REPLACE(c.YAxisLabel, ' (per 1,000 patient-years)', '') +', ' 
		ELSE REPLACE(c.ChartTitle, ' (per 1,000 patient-years)', '') +', ' END AS SubTitlePrefix
		--,REPLACE(c.YAxisLabel, ' (per 1,000 patient-years)', '') +', ' AS SubTitlePrefix
	FROM t_Chart c 
		INNER JOIN t_Page p on c.PageID = p.PageID
		INNER JOIN t_Indicator i on i.IndicatorID = p.IndicatorID
		inner JOIN t_DataSource ds on p.DataSourceID = ds.DataSourceID
		INNER JOIN t_ChartStyle cs on c.ChartStyleID = cs.ChartStyleID
	WHERE c.ChartID = @ChartID
	
	if OBJECT_ID('tempdb..#DP') is not NULL drop table #DP
	Create Table #DP
		(	
			[GroupBy2ID] int NULL 
			,[GroupBy2Strat] nvarchar(100) NULL 
			,[GroupBy2StratSet] nvarchar(100) NULL 
			,[GroupBy2StratDisplayOrder] smallint
			,[GroupBy1ID] int NULL 
			,[GroupBy1Strat] nvarchar(100) NULL 
			,[GroupBy1StratSet] nvarchar(100) NULL 
			,[GroupBy1StratDisplayOrder] smallint
			,[DataSeriesID] int NULL 
			,[DataSeriesStrat] nvarchar(100)  NULL 
			,[DataSeriesStratDisplayOrder] smallint
			,[DataSeriesStratSet] nvarchar(100) NULL 
			,[DataPoint] varchar(50) NULL 
			,[DataPointSort] numeric (30,15) NULL 
			,[HighConfidenceInterval]  varchar(50) NULL   
			,[LowConfidenceInterval]  varchar(50) NULL 
			--,[HighConfidenceInterval]  decimal(20,10) NULL
			--,[LowConfidenceInterval]  decimal(20,10) NULL
		)

		IF @Year = ''
			BEGIN
				insert into #DP (GroupBy2ID, GroupBy1ID, DataSeriesID, DataPoint, DataPointSort, HighConfidenceInterval, LowConfidenceInterval)
				SELECT 
				   (select Case 
						when StratificationText = ss1.StratificationText then s1.StratificationID	
						when StratificationText = ss2.StratificationText then s2.StratificationID				
						when StratificationText = ss3.StratificationText then s3.StratificationID end 			
						from @t
						where StratSetRank = 3 and ChartID = c.ChartID)
					,(select Case 
						when StratificationText = ss1.StratificationText then s1.StratificationID	
						when StratificationText = ss2.StratificationText then s2.StratificationID				
						when StratificationText = ss3.StratificationText then s3.StratificationID end 			
						from @t
						where StratSetRank = 2 and ChartID = c.ChartID) 
					 ,(select Case 
						when StratificationText = ss1.StratificationText then s1.StratificationID	
						when StratificationText = ss2.StratificationText then s2.StratificationID				
						when StratificationText = ss3.StratificationText then s3.StratificationID end 				
						from @t
						where StratSetRank = 1 and ChartID = c.ChartID)   
				   --,CASE mvsd.MainValueAdjustedForDigitsRightOfDecimal when '*' then '0' WHEN 'NA' then '0' else mvsd.MainValueAdjustedForDigitsRightOfDecimal END as Datapoint	
				   ,d.MainValue
				   ,case when isnumeric(d.MainValue) = 0 then 0 else Cast(replace(d.MainValue, ',','') as Numeric(30,15)) end as DatapointSort
				   --,mvsd.HighCIChartSigDigits
				   --,mvsd.LowCIChartSigDigits
				   ,HighConfidenceInterval
				   ,LowConfidenceInterval
				from 
					t_Chart c 
					left join 	t_DataPoint d on d.ChartID = c.ChartID
					--inner join  dbo.udf_SignificantDigitsMainValue (@ChartID) mvsd on c.ChartID = mvsd.ChartID and d.DatapointID = mvsd.DatapointID  
					left JOIN	t_Stratification s1 on s1.StratificationId = d.StratificationID1
					left join   t_StratificationSet ss1 on ss1.StratificationSetID = s1.StratificationSetID
					left JOIN	t_Stratification s2 on s2.StratificationId = d.StratificationID2
					left join   t_StratificationSet ss2 on ss2.StratificationSetID = s2.StratificationSetID
					left JOIN	t_Stratification s3 on s3.StratificationId = d.StratificationID3
					left join   t_StratificationSet ss3 on ss3.StratificationSetID = s3.StratificationSetID
				where c.ChartID = @ChartID
			END
		ELSE
			BEGIN
				INSERT INTO #DP ( GroupBy2ID, GroupBy1ID, DataSeriesID, DataPoint, DataPointSort, HighConfidenceInterval, LowConfidenceInterval)
				SELECT 
				   (SELECT CASE 
						WHEN StratificationText = ss1.StratificationText THEN s1.StratificationID	
						WHEN StratificationText = ss2.StratificationText THEN s2.StratificationID				
						WHEN StratificationText = ss3.StratificationText THEN s3.StratificationID END 				
						FROM @t
						WHERE StratSetRank = 3 AND ChartID = c.ChartID)
					,(SELECT CASE 
						WHEN StratificationText = ss1.StratificationText THEN s1.StratificationID	
						WHEN StratificationText = ss2.StratificationText THEN s2.StratificationID				
						WHEN StratificationText = ss3.StratificationText THEN s3.StratificationID END 			
						FROM @t
						WHERE StratSetRank = 2 AND ChartID = c.ChartID) 
					 ,(SELECT CASE 
						WHEN StratificationText = ss1.StratificationText THEN s1.StratificationID	
						WHEN StratificationText = ss2.StratificationText THEN s2.StratificationID				
						WHEN StratificationText = ss3.StratificationText THEN s3.StratificationID END 				
						FROM @t
						WHERE StratSetRank = 1 AND ChartID = c.ChartID)   
				   --,CASE mvsd.MainValueAdjustedForDigitsRightOfDecimal when '*' then '0' WHEN 'NA' then '0' else mvsd.MainValueAdjustedForDigitsRightOfDecimal END as Datapoint	
				   ,d.MainValue
				   ,CASE WHEN ISNUMERIC(MainValue) = 0 THEN 0 ELSE CAST(REPLACE(d.Mainvalue, ',','') AS NUMERIC(30,15)) END AS DatapointSort
				   --,mvsd.HighCIChartSigDigits
				   --,mvsd.LowCIChartSigDigits
				   ,HighConfidenceInterval
				   ,LowConfidenceInterval
				FROM 
					t_Chart c 
					LEFT JOIN 	t_DataPoint d ON d.ChartID = c.ChartID
					--inner join  dbo.udf_SignificantDigitsMainValue (@ChartID) mvsd on c.ChartID = mvsd.ChartID and d.DatapointID = mvsd.DatapointID  
					LEFT JOIN	t_Stratification s1 ON s1.StratificationId = d.StratificationID1
					LEFT JOIN   t_StratificationSet ss1 ON ss1.StratificationSetID = s1.StratificationSetID
					LEFT JOIN	t_Stratification s2 ON s2.StratificationId = d.StratificationID2
					LEFT JOIN   t_StratificationSet ss2 ON ss2.StratificationSetID = s2.StratificationSetID
					LEFT JOIN	t_Stratification s3 ON s3.StratificationId = d.StratificationID3
					LEFT JOIN   t_StratificationSet ss3 ON ss3.StratificationSetID = s3.StratificationSetID
				WHERE c.ChartID = @ChartID AND 
					(s1.Stratification = @Year OR s2.Stratification = @Year OR s3.Stratification = @Year)
			END


		-- You have the stratIDs now get the Stratifcations for those IDs. 
		Update #DP set 
			#DP.DataSeriesStrat = s1.Stratification, #DP.DataSeriesStratDisplayOrder = s1.StratificationDisplayOrder, #DP.DataSeriesStratSet = ss1.StratificationText
		from #DP 
		inner join dbo.t_Stratification s1 on #DP.DataSeriesID = s1.StratificationId	
		inner join dbo.t_StratificationSet ss1 on s1.StratificationSetID = ss1.StratificationSetID
			 
		Update #DP set 
			#DP.GroupBy1Strat = s2.Stratification, #DP.GroupBy1StratDisplayOrder = s2.StratificationDisplayOrder, #DP.GroupBy1StratSet = ss2.StratificationText
		from #DP 
		inner join dbo.t_Stratification s2 on #DP.GroupBy1ID = s2.StratificationId
		inner join dbo.t_StratificationSet ss2 on s2.StratificationSetID = ss2.StratificationSetID
		
		Update #DP set 
			#DP.GroupBy2Strat = s3.Stratification, #DP.GroupBy2StratDisplayOrder = s3.StratificationDisplayOrder, #DP.GroupBy2StratSet = ss3.StratificationText
		from #DP 
		inner join dbo.t_Stratification s3 on #DP.GroupBy2ID = s3.StratificationId
		inner join dbo.t_StratificationSet ss3 on s3.StratificationSetID = ss3.StratificationSetID

					--4/7/21 REMOVE THIS
			--Select * From #DP

		----------------------------------------------------------------------------------------------------------------------------------------------

		-- remove "Total" when map
		if @MAP = 1 Delete #DP where #DP.DataSeriesStrat = 'Total'

		-- There is some funny business for charts with one strat X
		select @GroupByStrat = #dp.GroupBy1Strat  from #DP 
		
		-- CX and X
		if @GroupByStrat is  NULL  
			select NULL as Tertiary, #dp.DataSeriesStrat as Secondary, #dp.DataSeriesStratSet as SeriesLabel, #dp.DataPoint, #dp.DataPointSort, #dp.HighConfidenceInterval, #dp.LowConfidenceInterval--, Coalesce(Coalesce(DataSeriesStratDisplayOrder, GroupBy1StratDisplayOrder), GroupBy2StratDisplayOrder) as DisplayOrder
			from #DP  order by DataSeriesStratDisplayOrder, GroupBy1StratDisplayOrder, GroupBy2StratDisplayOrder -- #dp.DataSeriesStratSet--,
		ELSE
		BEGIN	
		-- xx, xxx, cxx -Changing the order by sequence so that the Data Series are ordered correctly now, Q715 was the start of this
		IF @ChartID IN (4365) OR @QNUM IN ('Q812', '@S812', 'Q813', 'S813', 'Q814', '@S814', 'Q815', 'S815')
		BEGIN				
			;WITH cte1 AS (SELECT DISTINCT GroupBy1ID FROM #DP),
			cte2 AS (SELECT DISTINCT DataSeriesID FROM #DP)
			SELECT * INTO #tmpMissingData FROM cte1, cte2
			WHERE NOT EXISTS (SELECT 1 FROM #DP WHERE #DP.GroupBy1ID = cte1.GroupBy1ID AND #DP.DataSeriesID = cte2.DataSeriesID)

				INSERT INTO #DP
				(
					GroupBy2ID,
					GroupBy2Strat,
					GroupBy2StratSet,
					GroupBy2StratDisplayOrder,
					GroupBy1ID,
					GroupBy1Strat,
					GroupBy1StratSet,
					GroupBy1StratDisplayOrder,
					DataSeriesID,
					DataSeriesStrat,
					DataSeriesStratDisplayOrder,
					DataSeriesStratSet,
					DataPoint,
					DataPointSort,
					HighConfidenceInterval,
					LowConfidenceInterval
				)
				SELECT
					NULL,
					NULL,
					NULL,
					NULL,
					gt.StratificationId,
					gt.Stratification,
					sst.StratificationText,
					gt.StratificationDisplayOrder,
					t.DataSeriesID,
					st.Stratification,
					st.StratificationDisplayOrder,
					gst.StratificationText,
					NULL,
					NULL,
					NULL,
					NULL
				FROM #tmpMissingData t 
				INNER JOIN dbo.t_Stratification st ON t.DataSeriesID = st.StratificationId
				INNER JOIN dbo.t_Stratification gt ON t.GroupBy1ID = gt.StratificationId
				INNER JOIN dbo.t_StratificationSet sst ON sst.StratificationSetID = gt.StratificationSetID
				INNER JOIN dbo.t_StratificationSet gst ON gst.StratificationSetID = st.StratificationSetID
				LEFT OUTER JOIN #DP ON t.DataSeriesID = #DP.DataSeriesID AND t.GroupBy1ID = #DP.GroupBy1ID;
		END
			SELECT #dp.GroupBy2Strat AS Tertiary, #dp.GroupBy1Strat AS Secondary, #dp.DataSeriesStrat AS SeriesLabel,  
			#dp.DataPoint, #dp.DataPointSort, #dp.HighConfidenceInterval, #dp.LowConfidenceInterval--, Coalesce(Coalesce(GroupBy2StratDisplayOrder, GroupBy1StratDisplayOrder), DataSeriesStratDisplayOrder) as DisplayOrder
			FROM #DP ORDER BY DataSeriesStratDisplayOrder, GroupBy2StratDisplayOrder, GroupBy1StratDisplayOrder--, DataSeriesStratDisplayOrder; --#dp.DataSeriesStratSet--,
		END


		----------------------------------------------------------------------------------------------------------------------------------------------
		--if this is a map return two more rowsets:  Map Legend, Map Data Point
		IF @Range = 'Y'  
			-- ntile within one year
			BEGIN
					;WITH CTE1 AS ( SELECT * FROM   [dbo].[udf_MapNTilesByChartid] (@ChartID, @NTiles) )
					,CTE2 AS 
						(
							SELECT indicatorID, QNUM,  MapNtileWithinOneYear, MIN(CAST(MainValueAdjustedForDigitsRightOfDecimalNumeric AS DECIMAL(30,15))) AS MinValue, MAX(CAST(MainValueAdjustedForDigitsRightOfDecimalNumeric AS DECIMAL(30,15))) AS  MaxValue
							FROM  CTE1
							GROUP BY IndicatorID, QNUM, Year, MapNtileWithinOneYear
							HAVING year = @Year
						) 
					,CTE3 AS 
						( 
						SELECT indicatorID, QNUM,  MapNtileWithinOneYear, minvalue, maxvalue
						,(SELECT TOP 1 MainValueAdjustedForDigitsRightOfDecimal FROM cte1 WHERE CAST(cte1.MainValueAdjustedForDigitsRightOfDecimalNumeric AS DECIMAL(30,15)) = cte2.minvalue AND cte1.MapNtileWithinOneYear = cte2.MapNtileWithinOneYear ) MinValueChar
						,(SELECT TOP 1 MainValueAdjustedForDigitsRightOfDecimal FROM cte1 WHERE CAST(cte1.MainValueAdjustedForDigitsRightOfDecimalNumeric AS DECIMAL(30,15)) = cte2.maxvalue AND cte1.MapNtileWithinOneYear = cte2.MapNtileWithinOneYear ) MaxValueChar
						FROM cte2
						)
					SELECT QNUM,  MapNtileWithinOneYear AS LegendOrder,  pc.Color AS LegendColor, pc.ColorDescription
					      , CTE3.MinValueChar + ' to ' + CTE3.MaxValueChar AS LegendDisplay
						  , (SELECT TOP 1 LegendTitle FROM t_MapLegend ml WHERE ml.QNum = @QNUM) AS LegendTitle 
					FROM CTE3
					INNER JOIN dbo.t_PalettesColors pc ON CTE3.MapNtileWithinOneYear = pc.ColorOrder 
					ORDER BY  IndicatorID, QNUM,  MapNtileWithinOneYear
			END
		ELSE
			-- ntiles across all years
			BEGIN
					;WITH CTE1 AS ( SELECT * FROM   [dbo].[udf_MapNTilesByChartid] (@ChartID, @NTiles) )
					,CTE2 AS 
						(
							SELECT indicatorID, QNUM,  MapNtileAllYears, MIN(CAST(MainValueAdjustedForDigitsRightOfDecimalNumeric AS DECIMAL(30,15))) AS MinValue, MAX(CAST(MainValueAdjustedForDigitsRightOfDecimalNumeric AS DECIMAL(30,15))) AS  MaxValue
							FROM  CTE1
							GROUP BY IndicatorID, QNUM, MapNtileAllYears
						) 
					,CTE3 AS 
						( 
						SELECT indicatorID, QNUM,  MapNtileAllYears, minvalue, maxvalue
						,(SELECT TOP 1 MainValueAdjustedForDigitsRightOfDecimal FROM cte1 WHERE CAST(cte1.MainValueAdjustedForDigitsRightOfDecimalNumeric AS DECIMAL(30,15)) = cte2.minvalue AND cte1.MapNtileAllYears = cte2.MapNtileAllYears ) MinValueChar
						,(SELECT TOP 1 MainValueAdjustedForDigitsRightOfDecimal FROM cte1 WHERE CAST(cte1.MainValueAdjustedForDigitsRightOfDecimalNumeric AS DECIMAL(30,15)) = cte2.maxvalue AND cte1.MapNtileAllYears = cte2.MapNtileAllYears ) MaxValueChar
						FROM cte2
						)
					SELECT QNUM,  MapNtileAllYears AS LegendOrder,  pc.Color AS LegendColor, pc.ColorDescription
					      , CTE3.MinValueChar + ' to ' + CTE3.MaxValueChar AS LegendDisplay
						  , (SELECT TOP 1 LegendTitle FROM t_MapLegend ml WHERE ml.QNum = @QNUM) AS LegendTitle 
					FROM CTE3
					INNER JOIN dbo.t_PalettesColors pc ON CTE3.MapNtileAllYears = pc.ColorOrder 
					ORDER BY  IndicatorID, QNUM,  MapNtileAllYears
			END	
	
		-- Map Data Points
		IF @Range = 'A'  
			SELECT MainValueAdjustedForDigitsRightOfDecimal, tile.State, s.StateAbbrev, Color 
			FROM [dbo].[udf_MapNTilesByChartid] (@ChartID, @NTiles) Tile
			LEFT JOIN[dbo].[t_PalettesColors] pc ON tile.MapNtileAllYears = pc.ColorOrder
			LEFT JOIN dbo.t_State s ON s.State = Tile.State
			WHERE tile.QNum = @QNUM  AND tile.State <> 'Total' AND tile.year = @Year
		ELSE 
			SELECT MainValueAdjustedForDigitsRightOfDecimal, tile.State, s.StateAbbrev,Color 
			FROM [dbo].[udf_MapNTilesByChartid] (@ChartID, @NTiles) Tile
			LEFT JOIN[dbo].[t_PalettesColors] pc ON tile.MapNtileWithinOneYear = pc.ColorOrder
			LEFT JOIN dbo.t_State s ON s.State = Tile.State
			WHERE tile.QNum = @QNUM AND tile.State <> 'Total' AND tile.Year = @Year 

GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
COMMIT TRANSACTION
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
-- This statement writes to the SQL Server Log so SQL Monitor can show this deployment.
IF HAS_PERMS_BY_NAME(N'sys.xp_logevent', N'OBJECT', N'EXECUTE') = 1
BEGIN
    DECLARE @databaseName AS nvarchar(2048), @eventMessage AS nvarchar(2048)
    SET @databaseName = REPLACE(REPLACE(DB_NAME(), N'\', N'\\'), N'"', N'\"')
    SET @eventMessage = N'Redgate SQL Compare: { "deployment": { "description": "Redgate SQL Compare deployed to ' + @databaseName + N'", "database": "' + @databaseName + N'" }}'
    EXECUTE sys.xp_logevent 55000, @eventMessage
END
GO
DECLARE @Success AS BIT
SET @Success = 1
SET NOEXEC OFF
IF (@Success = 1) PRINT 'The database update succeeded'
ELSE BEGIN
	IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION
	PRINT 'The database update failed'
END
GO
