/*
Run this script on:

awssqlprodm.51349_CDCCKD    -  This database will be modified

to synchronize it with:

awssqlstgm.51349_CDCCKD_TED

You are recommended to back up your database before running this script

Script created by SQL Data Compare version 14.0.7.13517 from Red Gate Software Ltd at 5/20/2026 12:29:01 PM

*/
		
USE [NCCD_DDT_CKD]
GO
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS, NOCOUNT ON
GO
SET DATEFORMAT YMD
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL Serializable
GO
BEGIN TRANSACTION

PRINT(N'Drop constraints from [dbo].[t_SpecSheet]')
ALTER TABLE [dbo].[t_SpecSheet] NOCHECK CONSTRAINT [FK_t_SpecSheet_t_Page]

PRINT(N'Drop constraints from [dbo].[t_PageLink]')
ALTER TABLE [dbo].[t_PageLink] NOCHECK CONSTRAINT [FK_t_PageLink_t_Page]

PRINT(N'Drop constraints from [dbo].[t_KeyPoint]')
ALTER TABLE [dbo].[t_KeyPoint] NOCHECK CONSTRAINT [FK_t_KeyPoint_t_Page]

PRINT(N'Update rows in [dbo].[t_SpecSheet]')
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>Trends in Sodium-glucose cotransporter 2 inhibitor (SGLT2i) used among beneficiaries with type 2 diabetes mellitus and chronic kidney disease (CKD) in the Military Health System (MHS).</p>
' WHERE [SpecSheetID] = 12663
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>Trends in Glucagon-like peptide-1 receptor agonist (GLP-1 RA) used among beneficiaries with type 2 diabetes mellitus and chronic kidney disease (CKD) in the Military Health System (MHS).</p>
' WHERE [SpecSheetID] = 12664
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>Trends in use of angiotensin-converting enzyme inhibitors (ACEi) or angiotensin receptor blockers (ARB) among MHS beneficiaries with diabetes mellitus (types 1 and 2) and chronic kidney disease (CKD) in the Military Health System (MHS).</p>
' WHERE [SpecSheetID] = 12665
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>Trends in use of angiotensin-converting enzyme inhibitor (ACEi) or angiotensin receptor blocker (ARB) among MHS beneficiaries with chronic kidney disease (CKD) stages 3-5 in the Military Health System (MHS).</p>
' WHERE [SpecSheetID] = 12666
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>Trends in Sodium-glucose cotransporter 2 inhibitor (SGLT2i) used among beneficiaries with type 2 diabetes mellitus and chronic kidney disease (CKD) in the Military Health System (MHS).</p>
' WHERE [SpecSheetID] = 12667
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>Trends in Glucagon-like peptide-1 receptor agonist (GLP-1 RA) used among beneficiaries with type 2 diabetes mellitus and chronic kidney disease (CKD) in the Military Health System (MHS).</p>
' WHERE [SpecSheetID] = 12668
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>Trends in use of angiotensin-converting enzyme inhibitors (ACEi) or angiotensin receptor blockers (ARB) among MHS beneficiaries with diabetes mellitus (types 1 and 2) and chronic kidney disease (CKD) in the Military Health System (MHS).</p>
' WHERE [SpecSheetID] = 12669
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>Trends in use of angiotensin-converting enzyme inhibitor (ACEi) or angiotensin receptor blocker (ARB) among MHS beneficiaries with chronic kidney disease (CKD) stages 3-5 in the Military Health System (MHS).</p>
' WHERE [SpecSheetID] = 12670
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>Type 2 diabetes is determined using the Stanford algorithm (https://phekb.org/phenotype/1506), which uses one encounter with an ICD code for diabetes plus either the presence of prescribed hypoglycemic medications or the presence of abnormal chemistries (random outpatient glucose &gt; 200 mg/dL or hemoglobin A1C &ge; 6.5%).</p>
' WHERE [SpecSheetID] = 12712
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>Type 2 diabetes is determined using the Stanford algorithm (https://phekb.org/phenotype/1506), which uses one encounter with an ICD code for diabetes plus either the presence of prescribed hypoglycemic medications or the presence of abnormal chemistries (random outpatient glucose &gt; 200 mg/dL or hemoglobin A1C &ge; 6.5%).</p>
' WHERE [SpecSheetID] = 12736
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>Type 2 diabetes is determined using the Stanford algorithm (https://phekb.org/phenotype/1506), which uses one encounter with an ICD code for diabetes plus either the presence of prescribed hypoglycemic medications or the presence of abnormal chemistries (random outpatient glucose &gt; 200 mg/dL or hemoglobin A1C &ge; 6.5%).</p>
' WHERE [SpecSheetID] = 12760
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>Type 2 diabetes is determined using the Stanford algorithm (https://phekb.org/phenotype/1506), which uses one encounter with an ICD code for diabetes plus either the presence of prescribed hypoglycemic medications or the presence of abnormal chemistries (random outpatient glucose &gt; 200 mg/dL or hemoglobin A1C &ge; 6.5%).</p>
' WHERE [SpecSheetID] = 12784
PRINT(N'Operation applied to 12 rows out of 12')

PRINT(N'Update rows in [dbo].[t_PageLink]')
UPDATE [dbo].[t_PageLink] SET [LinkedPageSource]='Military Health System' WHERE [PageLinkId] = 1
UPDATE [dbo].[t_PageLink] SET [LinkedPageSource]='Military Health System' WHERE [PageLinkId] = 5
UPDATE [dbo].[t_PageLink] SET [LinkedPageSource]='Military Health System' WHERE [PageLinkId] = 6
UPDATE [dbo].[t_PageLink] SET [LinkedPageSource]='Military Health System' WHERE [PageLinkId] = 9
UPDATE [dbo].[t_PageLink] SET [LinkedPageSource]='Military Health System' WHERE [PageLinkId] = 12
UPDATE [dbo].[t_PageLink] SET [LinkedPageSource]='Military Health System' WHERE [PageLinkId] = 13
PRINT(N'Operation applied to 6 rows out of 6')

PRINT(N'Update rows in [dbo].[t_KeyPoint]')
UPDATE [dbo].[t_KeyPoint] SET [KeyPointText]=N'<p>The crude prevalence of Military Health System (MHS) beneficiaries with CKD stages 3&ndash;5 (estimated glomerular filtration rate [eGFR] &lt;60 ml/min/1.73<sup>2</sup>) ranged from 5.9% to 4.8% during 2009&ndash;2023. The age-standardized prevalence decreased from 7.7% to 5.6%. The crude prevalence of CKD stages 3&ndash;5 was highest in adults aged &ge;70 years and Black adults (among those with known race and ethnicity). The age-standardized prevalence was higher&nbsp;in Black adults compared with their counterparts.</p>
' WHERE [KeyPointID] = 455
UPDATE [dbo].[t_KeyPoint] SET [KeyPointText]=N'<p>The crude prevalence of Military Health System (MHS) beneficiaries with CKD stages 3&ndash;5 (estimated glomerular filtration rate [eGFR] &lt;60 ml/min/1.73<sup>2</sup>) ranged from 5.9% to 4.8% during 2009&ndash;2023. The age-standardized prevalence decreased from 7.7% to 5.6%. The crude prevalence of CKD stages 3&ndash;5 was highest in adults aged &ge;70 years and Black adults (among those with known race and ethnicity). The age-standardized prevalence was higher&nbsp;in Black adults compared with their counterparts.</p>
' WHERE [KeyPointID] = 551
UPDATE [dbo].[t_KeyPoint] SET [KeyPointText]=N'<p>Sodium-glucose cotransporter 2 inhibitor (SGLT2i) use among Military Health System (MHS) beneficiaries with type 2 diabetes mellitus and chronic kidney disease (CKD) significantly increased from 4.2% to 34.0% (age-standardized) between 2016 and 2023. The use was higher among males (both crude and age-standardized);&nbsp;those with known race and ethnicity; and individuals with CKD stage 4 (age-standardized).</p>
' WHERE [KeyPointID] = 598
UPDATE [dbo].[t_KeyPoint] SET [KeyPointText]=N'<p>Glucagon-like peptide-1 receptor agonist (GLP-1 RA) use among&nbsp;Military Health System (MHS) beneficiaries with type 2 diabetes mellitus and CKD significantly increased from 6.3% to 41.2% (age-standardized) between 2016 and 2023,&nbsp;was highest&nbsp;among individuals aged 40&ndash;59 years, and higher in females than males (age-standardized). During this period, no distinct patterns were observed within specific race and ethnicity or CKD stage strata.</p>
' WHERE [KeyPointID] = 599
UPDATE [dbo].[t_KeyPoint] SET [KeyPointText]=N'<p>Angiotensin-converting enzyme inhibitor (ACEi) or angiotensin receptor blocker (ARB) use among Military Health System (MHS) beneficiaries with types 1 and 2 diabetes mellitus and chronic kidney disease (CKD) decreased from 69.7% to 63.6% (age-standardized) between 2016 and 2023. Use was generally higher during the period among adults aged over 60 years (crude) and males (age-standardized).</p>
' WHERE [KeyPointID] = 600
UPDATE [dbo].[t_KeyPoint] SET [KeyPointText]=N'<p>Angiotensin-converting enzyme inhibitor (ACEi) or angiotensin receptor blocker (ARB) use among Department of Defense Military Health System (MHS) beneficiaries with chronic kidney disease (CKD) stages 3&ndash;5 has decreased slightly from 47.3% to 44.1% (age-standardized) between 2016 and 2023. ACEi and ARB use was higher among adults aged 60 years and older (crude); Asian American or Pacific Islander beneficiaries (age-standardized); and beneficiaries with CKD stage 4, hypertension, or diabetes (all age-standardized).</p>
' WHERE [KeyPointID] = 601
UPDATE [dbo].[t_KeyPoint] SET [KeyPointText]=N'<p>Sodium-glucose cotransporter 2 inhibitor (SGLT2i) use among&nbsp;Military Health System (MHS) beneficiaries with type 2 diabetes mellitus and chronic kidney disease (CKD) significantly increased from 4.2% to 34.0% (age-standardized) between 2016 and 2023. The use was higher among males (both crude and age-standardized);&nbsp;those with known race and ethnicity; and individuals with CKD stage 4 (age-standardized).</p>
' WHERE [KeyPointID] = 602
UPDATE [dbo].[t_KeyPoint] SET [KeyPointText]=N'<p>Glucagon-like peptide-1 receptor agonist (GLP-1 RA) use among&nbsp;Military Health System (MHS) beneficiaries with type 2 diabetes mellitus and CKD significantly increased from 6.3% to 41.2% (age-standardized) between 2016 and 2023,&nbsp;was highest&nbsp;among individuals aged 40&ndash;59 years, and higher in females than males (age-standardized). During this period, no distinct patterns were observed within specific race and ethnicity or CKD stage strata.</p>
' WHERE [KeyPointID] = 603
UPDATE [dbo].[t_KeyPoint] SET [KeyPointText]=N'<p>Angiotensin-converting enzyme inhibitor (ACEi) or angiotensin receptor blocker (ARB) use among Military Health System (MHS) beneficiaries with types 1 and 2 diabetes mellitus and chronic kidney disease (CKD) decreased from 69.7% to 63.6% (age-standardized) between 2016 and 2023. Use was generally higher during the period among adults aged over 60 years (crude) and males (age-standardized).</p>
' WHERE [KeyPointID] = 604
UPDATE [dbo].[t_KeyPoint] SET [KeyPointText]=N'<p>Angiotensin-converting enzyme inhibitor (ACEi) or angiotensin receptor blocker (ARB) use among&nbsp;Military Health System (MHS) beneficiaries with chronic kidney disease (CKD) stages 3&ndash;5 has decreased slightly from 47.3% to 44.1% (age-standardized) between 2016 and 2023. ACEi and ARB use was higher among adults aged 60 years and older (crude); Asian American or Pacific Islander beneficiaries (age-standardized); and beneficiaries with CKD stage 4, hypertension, or diabetes (all age-standardized).</p>
' WHERE [KeyPointID] = 605
PRINT(N'Operation applied to 10 rows out of 10')

PRINT(N'Add constraints to [dbo].[t_SpecSheet]')
ALTER TABLE [dbo].[t_SpecSheet] WITH CHECK CHECK CONSTRAINT [FK_t_SpecSheet_t_Page]

PRINT(N'Add constraints to [dbo].[t_PageLink]')
ALTER TABLE [dbo].[t_PageLink] WITH CHECK CHECK CONSTRAINT [FK_t_PageLink_t_Page]

PRINT(N'Add constraints to [dbo].[t_KeyPoint]')
ALTER TABLE [dbo].[t_KeyPoint] WITH CHECK CHECK CONSTRAINT [FK_t_KeyPoint_t_Page]
COMMIT TRANSACTION
GO
