/*
Run this script on:

awssqlprodm.51349_CDCCKD    -  This database will be modified

to synchronize it with:

awssqlstgm.51349_CDCCKD_TED

You are recommended to back up your database before running this script

Script created by SQL Data Compare version 14.0.7.13517 from Red Gate Software Ltd at 5/21/2026 11:16:43 AM

*/
		
USE [NCCD_DDT_CKD]
GO
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS, NOCOUNT ON
GO
SET DATEFORMAT YMD
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL Serializable
GO
BEGIN TRANSACTION

PRINT(N'Update rows in [dbo].[ApplicationConfiguration]')
UPDATE [dbo].[ApplicationConfiguration] SET [Value]='Tip: Click legend items to hide or show lines/bars. Double-click to isolate one line/bar.' WHERE [ID] = 12
PRINT(N'Operation applied to 1 rows out of 4')
COMMIT TRANSACTION
GO
