/*
Run this script on:

awssqlstgm.51349_CDCCKD_TED    -  This database will be modified

to synchronize it with:

awssqldevm.51349_CDCCKD

You are recommended to back up your database before running this script

Script created by SQL Data Compare version 14.0.7.13517 from Red Gate Software Ltd at 3/13/2026 12:15:23 PM

*/
		
USE [NCCD_DDT_CKD]
GO
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS, NOCOUNT ON
GO
SET DATEFORMAT YMD
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL Serializable
GO
BEGIN TRANSACTION

PRINT(N'Drop constraints from [dbo].[t_StratificationColor]')
ALTER TABLE [dbo].[t_StratificationColor] NOCHECK CONSTRAINT [FK_t_StratificationColor_t_Stratification]

PRINT(N'Update rows in [dbo].[t_StratificationColor]')
UPDATE [dbo].[t_StratificationColor] SET [StratificationColor]=N'#7B3294' WHERE [StratificationColorId] = 29
UPDATE [dbo].[t_StratificationColor] SET [StratificationColor]=N'#E69F00' WHERE [StratificationColorId] = 71
UPDATE [dbo].[t_StratificationColor] SET [StratificationColor]=N'#E69F00' WHERE [StratificationColorId] = 148
UPDATE [dbo].[t_StratificationColor] SET [StratificationColor]=N'#FEE12B' WHERE [StratificationColorId] = 233
UPDATE [dbo].[t_StratificationColor] SET [StratificationColor]=N'#1F8383' WHERE [StratificationColorId] = 238
UPDATE [dbo].[t_StratificationColor] SET [StratificationColor]=N'#FCAE1E' WHERE [StratificationColorId] = 4016
PRINT(N'Operation applied to 6 rows out of 6')

PRINT(N'Add constraints to [dbo].[t_StratificationColor]')
ALTER TABLE [dbo].[t_StratificationColor] WITH CHECK CHECK CONSTRAINT [FK_t_StratificationColor_t_Stratification]
COMMIT TRANSACTION
GO
