/*
Run this script on:

awssqlprodm.51349_CDCCKD    -  This database will be modified

to synchronize it with:

awssqlstgm.51349_CDCCKD_TED

You are recommended to back up your database before running this script

Script created by SQL Data Compare version 14.0.7.13517 from Red Gate Software Ltd at 2/26/2026 2:37:22 PM

*/
		
USE [NCCD_DDT_CKD]
GO
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS, NOCOUNT ON
GO
SET DATEFORMAT YMD
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL Serializable
GO
BEGIN TRANSACTION

PRINT(N'Drop constraints from [dbo].[t_KeyPoint]')
ALTER TABLE [dbo].[t_KeyPoint] NOCHECK CONSTRAINT [FK_t_KeyPoint_t_Page]

PRINT(N'Drop constraint FK_t_IndicatorFactorOfInterestLink_t_Indicator from [dbo].[t_IndicatorFactorOfInterestLink]')
ALTER TABLE [dbo].[t_IndicatorFactorOfInterestLink] NOCHECK CONSTRAINT [FK_t_IndicatorFactorOfInterestLink_t_Indicator]

PRINT(N'Drop constraint FK_t_IndicatorLink_t_Indicator_1 from [dbo].[t_IndicatorLink]')
ALTER TABLE [dbo].[t_IndicatorLink] NOCHECK CONSTRAINT [FK_t_IndicatorLink_t_Indicator_1]

PRINT(N'Drop constraint FK_t_IndicatorLink_t_Indicator_2 from [dbo].[t_IndicatorLink]')
ALTER TABLE [dbo].[t_IndicatorLink] NOCHECK CONSTRAINT [FK_t_IndicatorLink_t_Indicator_2]

PRINT(N'Drop constraint FK_t_MeasureIndicatorLink_t_Indicator from [dbo].[t_MeasureIndicatorLink]')
ALTER TABLE [dbo].[t_MeasureIndicatorLink] NOCHECK CONSTRAINT [FK_t_MeasureIndicatorLink_t_Indicator]

PRINT(N'Drop constraint FK_t_Page_t_Indicator from [dbo].[t_Page]')
ALTER TABLE [dbo].[t_Page] NOCHECK CONSTRAINT [FK_t_Page_t_Indicator]

PRINT(N'Update rows in [dbo].[t_KeyPoint]')
UPDATE [dbo].[t_KeyPoint] SET [KeyPointText]=N'<p>Hypertension prevalence was higher among adults with CKD for both crude and age-standardized prevalence, with the crude burden at its highest level in recent years at 78.0% among adults with CKD. Hypertension prevalence (crude) appeared higher among older, male, and non-Hispanic Black adults.</p>
' WHERE [KeyPointID] = 580
UPDATE [dbo].[t_KeyPoint] SET [KeyPointText]=N'<p>Among adults with CKD, the crude and age-adjusted prevalence was on average threefold higher than among adults without CKD. During 2017&ndash;March 2020, the crude prevalence of diabetes was 37.4% among adults with CKD vs. 10.3% among adults without CKD. Among adults with CKD, diabetes prevalence (crude) was highest among those aged 60&ndash;69 years and males. The lowest prevalence of diabetes was seen among non-Hispanic White adults with CKD.</p>
' WHERE [KeyPointID] = 581
UPDATE [dbo].[t_KeyPoint] SET [KeyPointText]=N'<p>The crude prevalence of cardiovascular disease (CVD) was at least threefold higher among adults with CKD compared to adults without CKD across the time periods. Age-standardized prevalence of CVD was about twofold higher in adults with than without CKD. Crude prevalence of CVD among adults with CKD was higher among older, male, and non-Hispanic White adults.</p>
' WHERE [KeyPointID] = 582
UPDATE [dbo].[t_KeyPoint] SET [KeyPointText]=N'<p>Anemia prevalence was at least 2.6 times higher among adults with CKD compared to adults without CKD across the time periods. Crude prevalence of anemia among adults with CKD was higher among older, female (except 2013-2016), and non-Hispanic Black adults.</p>
' WHERE [KeyPointID] = 583
UPDATE [dbo].[t_KeyPoint] SET [KeyPointText]=N'<p>Hypertension prevalence was higher among adults with CKD for both crude and age-standardized prevalence, with the crude burden at its highest level in recent years at 78.0% among adults with CKD. Hypertension prevalence (crude) appeared higher among older, male, and non-Hispanic Black adults.</p>
' WHERE [KeyPointID] = 587
UPDATE [dbo].[t_KeyPoint] SET [KeyPointText]=N'<p>Among adults with CKD, the crude and age-adjusted prevalence was on average threefold higher than among adults without CKD. During 2017&ndash;March 2020, the crude prevalence of diabetes was 37.4% among adults with CKD vs. 10.3% among adults without CKD. Among adults with CKD, diabetes prevalence (crude) was highest among those aged 60&ndash;69 years and males. The lowest prevalence of diabetes was seen among non-Hispanic White adults with CKD.</p>
' WHERE [KeyPointID] = 588
UPDATE [dbo].[t_KeyPoint] SET [KeyPointText]=N'<p>The crude prevalence of cardiovascular disease (CVD) was at least threefold higher among adults with CKD compared to adults without CKD across the time periods.&nbsp;Age-standardized prevalence of CVD was about twofold higher in adults with than without CKD. Crude prevalence of CVD among adults with CKD was higher among older, male, and non-Hispanic White adults.</p>
' WHERE [KeyPointID] = 589
UPDATE [dbo].[t_KeyPoint] SET [KeyPointText]=N'<p>Anemia prevalence was at least 2.6 times higher among adults with CKD compared to adults without CKD across the time periods. Crude prevalence of anemia among adults with CKD was higher among older, female (except 2013-2016), and non-Hispanic Black adults.</p>
' WHERE [KeyPointID] = 590
PRINT(N'Operation applied to 8 rows out of 8')

PRINT(N'Update rows in [dbo].[t_Indicator]')
UPDATE [dbo].[t_Indicator] SET [IndicatorText]=N'Trends in Prevalence of Hypertension by CKD', [IndicatorTitleRoot]=N'Prevalence of Hypertension by CKD' WHERE [IndicatorID] = 453
UPDATE [dbo].[t_Indicator] SET [IndicatorText]=N'Trends in Prevalence of Diabetes by CKD', [IndicatorTitleRoot]=N'Prevalence of Diabetes by CKD' WHERE [IndicatorID] = 454
UPDATE [dbo].[t_Indicator] SET [IndicatorText]=N'Trends in Prevalence of Cardiovascular Disease by CKD', [IndicatorTitleRoot]=N'Prevalence of Cardiovascular Disease by CKD' WHERE [IndicatorID] = 455
UPDATE [dbo].[t_Indicator] SET [IndicatorText]=N'Trends in Prevalence of Anemia by CKD', [IndicatorTitleRoot]=N'Prevalence of Anemia by CKD' WHERE [IndicatorID] = 456
PRINT(N'Operation applied to 4 rows out of 4')

PRINT(N'Add constraints to [dbo].[t_KeyPoint]')
ALTER TABLE [dbo].[t_KeyPoint] WITH CHECK CHECK CONSTRAINT [FK_t_KeyPoint_t_Page]
ALTER TABLE [dbo].[t_IndicatorFactorOfInterestLink] WITH CHECK CHECK CONSTRAINT [FK_t_IndicatorFactorOfInterestLink_t_Indicator]
ALTER TABLE [dbo].[t_IndicatorLink] WITH CHECK CHECK CONSTRAINT [FK_t_IndicatorLink_t_Indicator_1]
ALTER TABLE [dbo].[t_IndicatorLink] WITH CHECK CHECK CONSTRAINT [FK_t_IndicatorLink_t_Indicator_2]
ALTER TABLE [dbo].[t_MeasureIndicatorLink] WITH CHECK CHECK CONSTRAINT [FK_t_MeasureIndicatorLink_t_Indicator]
ALTER TABLE [dbo].[t_Page] WITH CHECK CHECK CONSTRAINT [FK_t_Page_t_Indicator]
COMMIT TRANSACTION
GO
