/*
Run this script on:

awssqlprodm.51349_CDCCKD    -  This database will be modified

to synchronize it with:

awssqlstgm.51349_CDCCKD_TED

You are recommended to back up your database before running this script

Script created by SQL Data Compare version 14.0.7.13517 from Red Gate Software Ltd at 3/19/2026 2:40:13 PM

*/
		
USE [51349_CDCCKD]
GO
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS, NOCOUNT ON
GO
SET DATEFORMAT YMD
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL Serializable
GO
BEGIN TRANSACTION

PRINT(N'Drop constraints from [dbo].[t_StratificationColor]')
ALTER TABLE [dbo].[t_StratificationColor] NOCHECK CONSTRAINT [FK_t_StratificationColor_t_Stratification]

PRINT(N'Update rows in [dbo].[t_StratificationColor]')
UPDATE [dbo].[t_StratificationColor] SET [StratificationColor]=N'#7B3294' WHERE [StratificationColorId] = 29
UPDATE [dbo].[t_StratificationColor] SET [StratificationColor]=N'#CC5500' WHERE [StratificationColorId] = 71
UPDATE [dbo].[t_StratificationColor] SET [StratificationColor]=N'#CC5801' WHERE [StratificationColorId] = 148
UPDATE [dbo].[t_StratificationColor] SET [StratificationColor]=N'#80400B' WHERE [StratificationColorId] = 149
UPDATE [dbo].[t_StratificationColor] SET [StratificationColor]=N'#D47C00' WHERE [StratificationColorId] = 233
UPDATE [dbo].[t_StratificationColor] SET [StratificationColor]=N'#1b7575' WHERE [StratificationColorId] = 238
UPDATE [dbo].[t_StratificationColor] SET [StratificationColor]=N'#E86100' WHERE [StratificationColorId] = 4016
PRINT(N'Operation applied to 7 rows out of 7')

PRINT(N'Add constraints to [dbo].[t_StratificationColor]')
ALTER TABLE [dbo].[t_StratificationColor] WITH CHECK CHECK CONSTRAINT [FK_t_StratificationColor_t_Stratification]
COMMIT TRANSACTION
GO
