/*
Run this script on:

awssqlprodm.51349_CDCCKD    -  This database will be modified

to synchronize it with:

awssqlstgm.51349_CDCCKD_TED

You are recommended to back up your database before running this script

Script created by SQL Data Compare version 14.0.7.13517 from Red Gate Software Ltd at 3/9/2026 2:08:24 PM

*/
		
USE [NCCD_DDT_CKD]
GO
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS, NOCOUNT ON
GO
SET DATEFORMAT YMD
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL Serializable
GO
BEGIN TRANSACTION

PRINT(N'Drop constraints from [dbo].[t_DataPoint]')
ALTER TABLE [dbo].[t_DataPoint] NOCHECK CONSTRAINT [FK_t_DataPoint_t_Chart]
ALTER TABLE [dbo].[t_DataPoint] NOCHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_1]
ALTER TABLE [dbo].[t_DataPoint] NOCHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_2]
ALTER TABLE [dbo].[t_DataPoint] NOCHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_3]

PRINT(N'Drop constraints from [dbo].[t_Chart]')
ALTER TABLE [dbo].[t_Chart] NOCHECK CONSTRAINT [FK_t_Chart_t_ChartStyle]
ALTER TABLE [dbo].[t_Chart] NOCHECK CONSTRAINT [FK_t_Chart_t_DisplayFormat]
ALTER TABLE [dbo].[t_Chart] NOCHECK CONSTRAINT [FK_t_Chart_t_Page]
ALTER TABLE [dbo].[t_Chart] NOCHECK CONSTRAINT [FK_t_Chart_t_StratificationSet_1]
ALTER TABLE [dbo].[t_Chart] NOCHECK CONSTRAINT [FK_t_Chart_t_StratificationSet_2]
ALTER TABLE [dbo].[t_Chart] NOCHECK CONSTRAINT [FK_t_Chart_t_StratificationSet_3]

PRINT(N'Drop constraint FK_t_DisparitiesDP_t_Chart from [dbo].[t_DisparitiesDataPoint]')
ALTER TABLE [dbo].[t_DisparitiesDataPoint] NOCHECK CONSTRAINT [FK_t_DisparitiesDP_t_Chart]

PRINT(N'Delete rows from [dbo].[t_DataPoint]')
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 392750
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 392751
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 392752
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 392753
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 392754
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 393775
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 393776
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 393777
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 393778
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 393779
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 393865
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 393866
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 393867
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 393868
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 393869
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 393885
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 393886
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 393887
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 393888
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 393889
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394410
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394411
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394412
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394413
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394414
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394480
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394481
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394482
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394483
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394484
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394549
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394550
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394551
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394552
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394553
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394750
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394751
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394752
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394753
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394754
PRINT(N'Operation applied to 40 rows out of 40')

PRINT(N'Delete rows from [dbo].[t_Chart]')
DELETE FROM [dbo].[t_Chart] WHERE [ChartID] = 4340
DELETE FROM [dbo].[t_Chart] WHERE [ChartID] = 4345
DELETE FROM [dbo].[t_Chart] WHERE [ChartID] = 4347
DELETE FROM [dbo].[t_Chart] WHERE [ChartID] = 4349
DELETE FROM [dbo].[t_Chart] WHERE [ChartID] = 4354
DELETE FROM [dbo].[t_Chart] WHERE [ChartID] = 4356
DELETE FROM [dbo].[t_Chart] WHERE [ChartID] = 4358
DELETE FROM [dbo].[t_Chart] WHERE [ChartID] = 4363
PRINT(N'Operation applied to 8 rows out of 8')

PRINT(N'Add constraints to [dbo].[t_DataPoint]')
ALTER TABLE [dbo].[t_DataPoint] WITH CHECK CHECK CONSTRAINT [FK_t_DataPoint_t_Chart]
ALTER TABLE [dbo].[t_DataPoint] WITH CHECK CHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_1]
ALTER TABLE [dbo].[t_DataPoint] WITH CHECK CHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_2]
ALTER TABLE [dbo].[t_DataPoint] WITH CHECK CHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_3]

PRINT(N'Add constraints to [dbo].[t_Chart]')
ALTER TABLE [dbo].[t_Chart] WITH CHECK CHECK CONSTRAINT [FK_t_Chart_t_ChartStyle]
ALTER TABLE [dbo].[t_Chart] WITH CHECK CHECK CONSTRAINT [FK_t_Chart_t_DisplayFormat]
ALTER TABLE [dbo].[t_Chart] WITH CHECK CHECK CONSTRAINT [FK_t_Chart_t_Page]
ALTER TABLE [dbo].[t_Chart] WITH CHECK CHECK CONSTRAINT [FK_t_Chart_t_StratificationSet_1]
ALTER TABLE [dbo].[t_Chart] WITH CHECK CHECK CONSTRAINT [FK_t_Chart_t_StratificationSet_2]
ALTER TABLE [dbo].[t_Chart] WITH CHECK CHECK CONSTRAINT [FK_t_Chart_t_StratificationSet_3]
ALTER TABLE [dbo].[t_DisparitiesDataPoint] WITH CHECK CHECK CONSTRAINT [FK_t_DisparitiesDP_t_Chart]
COMMIT TRANSACTION
GO
