/*
Run this script on:

awssqlstgm.51349_CDCCKD_TED    -  This database will be modified

to synchronize it with:

awssqldevm.51349_CDCCKD

You are recommended to back up your database before running this script

Script created by SQL Data Compare version 14.0.7.13517 from Red Gate Software Ltd at 3/10/2026 12:21:03 PM

*/
		
USE [NCCD_DDT_CKD]
GO
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS, NOCOUNT ON
GO
SET DATEFORMAT YMD
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL Serializable
GO
BEGIN TRANSACTION

PRINT(N'Drop constraints from [dbo].[t_DataPoint]')
ALTER TABLE [dbo].[t_DataPoint] NOCHECK CONSTRAINT [FK_t_DataPoint_t_Chart]
ALTER TABLE [dbo].[t_DataPoint] NOCHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_1]
ALTER TABLE [dbo].[t_DataPoint] NOCHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_2]
ALTER TABLE [dbo].[t_DataPoint] NOCHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_3]

PRINT(N'Add rows to [dbo].[t_DataPoint]')
SET IDENTITY_INSERT [dbo].[t_DataPoint] ON
INSERT INTO [dbo].[t_DataPoint] ([DatapointID], [ChartID], [StratificationID1], [StratificationID2], [StratificationID3], [MainValue], [HighConfidenceInterval], [LowConfidenceInterval], [StandardError]) VALUES (398723, 4352, 5994, 244, NULL, N'None', NULL, NULL, NULL)
INSERT INTO [dbo].[t_DataPoint] ([DatapointID], [ChartID], [StratificationID1], [StratificationID2], [StratificationID3], [MainValue], [HighConfidenceInterval], [LowConfidenceInterval], [StandardError]) VALUES (398724, 4352, 5995, 244, NULL, N'None', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[t_DataPoint] OFF
PRINT(N'Operation applied to 2 rows out of 2')

PRINT(N'Add constraints to [dbo].[t_DataPoint]')
ALTER TABLE [dbo].[t_DataPoint] WITH CHECK CHECK CONSTRAINT [FK_t_DataPoint_t_Chart]
ALTER TABLE [dbo].[t_DataPoint] WITH CHECK CHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_1]
ALTER TABLE [dbo].[t_DataPoint] WITH CHECK CHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_2]
ALTER TABLE [dbo].[t_DataPoint] WITH CHECK CHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_3]
COMMIT TRANSACTION
GO
