/*
Run this script on:

awssqlstgm.51349_CDCCKD_TED    -  This database will be modified

to synchronize it with:

awssqldevm.51349_CDCCKD

You are recommended to back up your database before running this script

Script created by SQL Data Compare version 14.0.7.13517 from Red Gate Software Ltd at 8/7/2026 11:10:39 AM

*/
		
USE [NCCD_DDT_CKD]
GO
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS, NOCOUNT ON
GO
SET DATEFORMAT YMD
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL Serializable
GO
BEGIN TRANSACTION

PRINT(N'Drop constraints from [dbo].[t_StratificationColor]')
ALTER TABLE [dbo].[t_StratificationColor] NOCHECK CONSTRAINT [FK_t_StratificationColor_t_Stratification]

PRINT(N'Update row in [dbo].[t_StratificationColor]')
UPDATE [dbo].[t_StratificationColor] SET [StratificationColor]=N'#BF5911' WHERE [StratificationColorId] = 4016

PRINT(N'Add constraints to [dbo].[t_StratificationColor]')
ALTER TABLE [dbo].[t_StratificationColor] WITH CHECK CHECK CONSTRAINT [FK_t_StratificationColor_t_Stratification]
COMMIT TRANSACTION
GO
