body {
}
/*
.theme-teal .btn-primary {
    background-color:#1a7aa2;
    border-color:#1a7aa2;
    color: #FFF;
}

.theme-teal .titlebar {
    background-color:#1a7aa2;
}

.theme-teal .btn-primary:focus {
    background-color:#1a7aa2;
     border-color:#1a7aa2;
}
*/