/*
Run this script on:

awssqlprodm.51349_CDCCKD    -  This database will be modified

to synchronize it with:

awssqldevm.51349_CDCCKD

You are recommended to back up your database before running this script

Script created by SQL Data Compare version 14.0.7.13517 from Red Gate Software Ltd at 2/10/2026 3:10:16 PM

*/
		
USE [51349_CDCCKD]
GO
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS, NOCOUNT ON
GO
SET DATEFORMAT YMD
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL Serializable
GO
BEGIN TRANSACTION

PRINT(N'Drop constraints from [dbo].[t_DataPoint]')
ALTER TABLE [dbo].[t_DataPoint] NOCHECK CONSTRAINT [FK_t_DataPoint_t_Chart]
ALTER TABLE [dbo].[t_DataPoint] NOCHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_1]
ALTER TABLE [dbo].[t_DataPoint] NOCHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_2]
ALTER TABLE [dbo].[t_DataPoint] NOCHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_3]

PRINT(N'Drop constraints from [dbo].[t_Page]')
ALTER TABLE [dbo].[t_Page] NOCHECK CONSTRAINT [FK_t_Page_t_DataSource]
ALTER TABLE [dbo].[t_Page] NOCHECK CONSTRAINT [FK_t_Page_t_Indicator]

PRINT(N'Drop constraint FK_t_Chart_t_Page from [dbo].[t_Chart]')
ALTER TABLE [dbo].[t_Chart] NOCHECK CONSTRAINT [FK_t_Chart_t_Page]

PRINT(N'Drop constraint FK_t_FootNote_t_Page from [dbo].[t_FootNote]')
ALTER TABLE [dbo].[t_FootNote] NOCHECK CONSTRAINT [FK_t_FootNote_t_Page]

PRINT(N'Drop constraint FK_t_Image_t_Page from [dbo].[t_Image]')
ALTER TABLE [dbo].[t_Image] NOCHECK CONSTRAINT [FK_t_Image_t_Page]

PRINT(N'Drop constraint FK_t_KeyPoint_t_Page from [dbo].[t_KeyPoint]')
ALTER TABLE [dbo].[t_KeyPoint] NOCHECK CONSTRAINT [FK_t_KeyPoint_t_Page]

PRINT(N'Drop constraint FK_t_MapLegend_t_Page from [dbo].[t_MapLegend]')
ALTER TABLE [dbo].[t_MapLegend] NOCHECK CONSTRAINT [FK_t_MapLegend_t_Page]

PRINT(N'Drop constraint FK_t_MethodsPage_t_Page from [dbo].[t_MethodsPage]')
ALTER TABLE [dbo].[t_MethodsPage] NOCHECK CONSTRAINT [FK_t_MethodsPage_t_Page]

PRINT(N'Drop constraint FK_t_PageReferenceLink_t_Page from [dbo].[t_PageReferenceLink]')
ALTER TABLE [dbo].[t_PageReferenceLink] NOCHECK CONSTRAINT [FK_t_PageReferenceLink_t_Page]

PRINT(N'Drop constraint FK_t_SpecSheet_t_Page from [dbo].[t_SpecSheet]')
ALTER TABLE [dbo].[t_SpecSheet] NOCHECK CONSTRAINT [FK_t_SpecSheet_t_Page]

PRINT(N'Update rows in [dbo].[t_Page]')
UPDATE [dbo].[t_Page] SET [Active]=1 WHERE [PageID] = 588
UPDATE [dbo].[t_Page] SET [Active]=1 WHERE [PageID] = 595
PRINT(N'Operation applied to 2 rows out of 2')

PRINT(N'Add rows to [dbo].[t_DataPoint]')
SET IDENTITY_INSERT [dbo].[t_DataPoint] ON
INSERT INTO [dbo].[t_DataPoint] ([DatapointID], [ChartID], [StratificationID1], [StratificationID2], [StratificationID3], [MainValue], [HighConfidenceInterval], [LowConfidenceInterval], [StandardError]) VALUES (398723, 4352, 5994, 244, NULL, N'None', NULL, NULL, NULL)
INSERT INTO [dbo].[t_DataPoint] ([DatapointID], [ChartID], [StratificationID1], [StratificationID2], [StratificationID3], [MainValue], [HighConfidenceInterval], [LowConfidenceInterval], [StandardError]) VALUES (398724, 4352, 5995, 244, NULL, N'None', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[t_DataPoint] OFF
PRINT(N'Operation applied to 2 rows out of 1576')

PRINT(N'Add constraints to [dbo].[t_DataPoint]')
ALTER TABLE [dbo].[t_DataPoint] WITH CHECK CHECK CONSTRAINT [FK_t_DataPoint_t_Chart]
ALTER TABLE [dbo].[t_DataPoint] WITH CHECK CHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_1]
ALTER TABLE [dbo].[t_DataPoint] WITH CHECK CHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_2]
ALTER TABLE [dbo].[t_DataPoint] WITH CHECK CHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_3]

PRINT(N'Add constraints to [dbo].[t_Page]')
ALTER TABLE [dbo].[t_Page] WITH CHECK CHECK CONSTRAINT [FK_t_Page_t_DataSource]
ALTER TABLE [dbo].[t_Page] WITH CHECK CHECK CONSTRAINT [FK_t_Page_t_Indicator]
ALTER TABLE [dbo].[t_Chart] WITH CHECK CHECK CONSTRAINT [FK_t_Chart_t_Page]
ALTER TABLE [dbo].[t_FootNote] WITH CHECK CHECK CONSTRAINT [FK_t_FootNote_t_Page]
ALTER TABLE [dbo].[t_Image] WITH CHECK CHECK CONSTRAINT [FK_t_Image_t_Page]
ALTER TABLE [dbo].[t_KeyPoint] WITH CHECK CHECK CONSTRAINT [FK_t_KeyPoint_t_Page]
ALTER TABLE [dbo].[t_MapLegend] WITH CHECK CHECK CONSTRAINT [FK_t_MapLegend_t_Page]
ALTER TABLE [dbo].[t_MethodsPage] WITH CHECK CHECK CONSTRAINT [FK_t_MethodsPage_t_Page]
ALTER TABLE [dbo].[t_PageReferenceLink] WITH CHECK CHECK CONSTRAINT [FK_t_PageReferenceLink_t_Page]
ALTER TABLE [dbo].[t_SpecSheet] WITH CHECK CHECK CONSTRAINT [FK_t_SpecSheet_t_Page]
COMMIT TRANSACTION
GO
