
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS, NOCOUNT ON
GO
SET DATEFORMAT YMD
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL Serializable
GO
BEGIN TRANSACTION

PRINT(N'Drop constraints from [dbo].[t_DataPoint]')
ALTER TABLE [dbo].[t_DataPoint] NOCHECK CONSTRAINT [FK_t_DataPoint_t_Chart]
ALTER TABLE [dbo].[t_DataPoint] NOCHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_1]
ALTER TABLE [dbo].[t_DataPoint] NOCHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_2]
ALTER TABLE [dbo].[t_DataPoint] NOCHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_3]

PRINT(N'Add rows to [dbo].[t_DataPoint]')
SET IDENTITY_INSERT [dbo].[t_DataPoint] ON
INSERT INTO [dbo].[t_DataPoint] ([DatapointID], [ChartID], [StratificationID1], [StratificationID2], [StratificationID3], [MainValue], [HighConfidenceInterval], [LowConfidenceInterval], [StandardError]) VALUES (395104, 4091, 491, 247, NULL, N'2.2', NULL, NULL, NULL)
INSERT INTO [dbo].[t_DataPoint] ([DatapointID], [ChartID], [StratificationID1], [StratificationID2], [StratificationID3], [MainValue], [HighConfidenceInterval], [LowConfidenceInterval], [StandardError]) VALUES (395105, 4091, 839, 247, NULL, N'2.3', NULL, NULL, NULL)
INSERT INTO [dbo].[t_DataPoint] ([DatapointID], [ChartID], [StratificationID1], [StratificationID2], [StratificationID3], [MainValue], [HighConfidenceInterval], [LowConfidenceInterval], [StandardError]) VALUES (395106, 4091, 857, 247, NULL, N'2.2', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[t_DataPoint] OFF
PRINT(N'Operation applied to 325 rows out of 1893')

PRINT(N'Add constraints to [dbo].[t_DataPoint]')
ALTER TABLE [dbo].[t_DataPoint] WITH CHECK CHECK CONSTRAINT [FK_t_DataPoint_t_Chart]
ALTER TABLE [dbo].[t_DataPoint] WITH CHECK CHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_1]
ALTER TABLE [dbo].[t_DataPoint] WITH CHECK CHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_2]
ALTER TABLE [dbo].[t_DataPoint] WITH CHECK CHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_3]
COMMIT TRANSACTION
GO
