/*
Run this script on:

awssqlprodm.51349_CDCCKD    -  This database will be modified

to synchronize it with:

awssqlstgm.51349_CDCCKD_TED

You are recommended to back up your database before running this script

Script created by SQL Data Compare version 14.0.7.13517 from Red Gate Software Ltd at 2/5/2026 3:14:10 PM

*/
		
USE [NCCD_DDT_CKD]
GO
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS, NOCOUNT ON
GO
SET DATEFORMAT YMD
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL Serializable
GO
BEGIN TRANSACTION

PRINT(N'Drop constraints from [dbo].[t_SpecSheet]')
ALTER TABLE [dbo].[t_SpecSheet] NOCHECK CONSTRAINT [FK_t_SpecSheet_t_Page]

PRINT(N'Update rows in [dbo].[t_SpecSheet]')
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>Noninstitutionalized U.S. adults aged &ge; 18 years. Pregnant women excluded.</p>
' WHERE [SpecSheetID] = 12560
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>Noninstitutionalized U.S. adults aged &ge; 18 years. Pregnant women excluded.</p>
' WHERE [SpecSheetID] = 12563
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>Overall: U.S. adults aged &ge; 18 years with diabetes.</p>

<p>By strata: U.S. adults aged &ge; 18 years with CKD and diabetes.</p>
' WHERE [SpecSheetID] = 12565
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>Overall: U.S. adults aged &ge; 18 years with estimates for CKD and diabetes.</p>

<p>By strata: U.S. adults aged &ge; 18 years with CKD (eGFR &lt; 60 ml/min/1.73 m<sup>2</sup> or albuminuria)&nbsp;and data for diabetes.</p>
' WHERE [SpecSheetID] = 12566
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>Noninstitutionalized U.S. adults aged &ge; 18 years. Pregnant women excluded.</p>
' WHERE [SpecSheetID] = 12576
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>Overall: U.S. adults aged &ge; 18 years with data for CKD and diabetes.</p>

<p>By strata: U.S. adults aged &ge; 18 years with CKD (eGFR &lt; 60 ml/min/1.73 m<sup>2</sup> or albuminuria) and data for diabetes.</p>
' WHERE [SpecSheetID] = 12579
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>Overall: U.S. adults aged &ge; 18 years with hypertension.</p>

<p>By strata: U.S. adults aged &ge; 18 years with CKD and hypertension.</p>
' WHERE [SpecSheetID] = 12588
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>Overall: U.S. adults aged &ge; 18 years with data for CKD and hypertension.</p>

<p>By strata: U.S. adults aged &ge; 18 years with CKD (eGFR &lt; 60 ml/min/1.73 m<sup>2</sup> or albuminuria) and data for hypertension.</p>
' WHERE [SpecSheetID] = 12589
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>CKD is defined by an estimated glomerular filtration rate (eGFR) &lt; 60 ml/min/1.73 m&sup2; or albuminuria (urine albumin to creatinine ratio [UACR] &ge; 30 mg/g). Estimates are based on single eGFR and UACR measurements.</p>
' WHERE [SpecSheetID] = 12590
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>Noninstitutionalized U.S. adults aged &ge; 18 years. Pregnant women excluded.</p>
' WHERE [SpecSheetID] = 12599
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>Overall: U.S. adults aged &ge; 18 years with hypertension.</p>

<p>By strata: U.S. adults aged &ge; 18 years with CKD and hypertension.</p>
' WHERE [SpecSheetID] = 12601
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>Overall: U.S. adults aged &ge; 18 years with data for CKD and hypertension.</p>

<p>By strata: U.S. adults aged &ge; 18 years with CKD (eGFR &lt; 60 ml/min/1.73 m<sup>2</sup> or albuminuria) and data for hypertension.</p>
' WHERE [SpecSheetID] = 12602
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>CKD is defined by an estimated glomerular filtration rate (eGFR) &lt; 60 ml/min/1.73 m&sup2; or albuminuria (urine albumin to creatinine ratio [UACR] &ge; 30 mg/g). Estimates are based on single eGFR and UACR measurements.</p>
' WHERE [SpecSheetID] = 12603
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>Based on the CKD-EPI (2021) equation for calibrated creatinine: eGFR=142 x [min(serum creatinine in mg/dL) /&kappa;, 1)]^&alpha;&nbsp;x [max(serum creatinine/&kappa;, 1)]^-1.20 x 0.9938^age&nbsp;x (1.012 if female).<br />
&kappa; = 0.7 if female and 0.9 if male<br />
&alpha; = -0.241 if female and -0.302 if male</p>
' WHERE [SpecSheetID] = 12604
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>Noninstitutionalized U.S. adults aged &ge; 20 years, pregnant women excluded.</p>
' WHERE [SpecSheetID] = 12612
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>Noninstitutionalized U.S. adults aged &ge; 20 years, pregnant women excluded.</p>
' WHERE [SpecSheetID] = 12625
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>Noninstitutionalized U.S. adults aged &ge; 18 years, pregnant women excluded.</p>
' WHERE [SpecSheetID] = 12638
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>Overall: U.S. adults aged &ge; 18 years with data for CKD and anemia.</p>

<p>By strata: U.S. adults aged &ge; 18 years with CKD (eGFR &lt; 60 ml/min/1.73 m<sup>2</sup> or albuminuria) and data for anemia</p>
' WHERE [SpecSheetID] = 12641
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>CKD is defined by an estimated glomerular filtration rate (eGFR) &lt; 60 ml/min/1.73 m&sup2; or albuminuria (urine albumin to creatinine ratio [UACR] &ge; 30 mg/g). Estimates are based on single estimates of eGFR and UACR.</p>
' WHERE [SpecSheetID] = 12642
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>Noninstitutionalized U.S. adults aged &ge; 18 years, pregnant women excluded.</p>
' WHERE [SpecSheetID] = 12651
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>Overall: U.S. adults aged &ge; 18 years with data for CKD and anemia.</p>

<p>By strata: U.S. adults aged &ge; 18 years with CKD (eGFR &lt; 60 ml/min/1.73 m<sup>2</sup> or albuminuria) and data for anemia.</p>
' WHERE [SpecSheetID] = 12654
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>CKD is defined by an estimated glomerular filtration rate (eGFR) &lt; 60 ml/min/1.73 m&sup2; or albuminuria (urine albumin to creatinine ratio [UACR] &ge; 30 mg/g). Estimates are based on single estimates of eGFR and UACR.</p>
' WHERE [SpecSheetID] = 12655
PRINT(N'Operation applied to 22 rows out of 22')

PRINT(N'Add constraints to [dbo].[t_SpecSheet]')
ALTER TABLE [dbo].[t_SpecSheet] WITH CHECK CHECK CONSTRAINT [FK_t_SpecSheet_t_Page]
COMMIT TRANSACTION
GO
