USE [51349_CDCCKD]
GO
/****** Object:  StoredProcedure [dbo].[proc_GetLinkedPagesFromQNum]    Script Date: 10/7/2025 9:16:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Object:  Table [dbo].[t_PageLink]    Script Date: 10/7/2025 1:56:28 PM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[t_PageLink](
	[PageLinkId] [INT] IDENTITY(1,1) NOT NULL,
	[PageId] [INT] NULL,
	[LinkedPageId] [INT] NULL,
	[LinkedQNum] [NCHAR](10) NULL,
	[LinkedPageSource] [NCHAR](25) NULL,
 CONSTRAINT [PK_t_PageLink] PRIMARY KEY CLUSTERED 
(
	[PageLinkId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[t_PageLink]  WITH CHECK ADD  CONSTRAINT [FK_t_PageLink_t_Page] FOREIGN KEY([PageId])
REFERENCES [dbo].[t_Page] ([PageID])
GO

ALTER TABLE [dbo].[t_PageLink] CHECK CONSTRAINT [FK_t_PageLink_t_Page]
GO

CREATE proc [dbo].[proc_GetLinkedPagesFromQNum]
		@QNum VARCHAR(6) 
AS
	BEGIN  
  
	DECLARE @PageID INT = 0
	select @PageID=p.PageID
	from dbo.t_Page p
	where p.QNum = @QNum
  
	SELECT * FROM dbo.t_PageLink pL 
		WHERE pL.PageId = @PageID
END
