/*
Run this script on:

awssqlprodm.51349_CDCCKD    -  This database will be modified

to synchronize it with:

awssqlstgm.51349_CDCCKD_TED

You are recommended to back up your database before running this script

Script created by SQL Data Compare version 14.0.7.13517 from Red Gate Software Ltd at 4/23/2026 8:54:57 PM

*/
		
USE [NCCD_DDT_CKD]
GO
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS, NOCOUNT ON
GO
SET DATEFORMAT YMD
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL Serializable
GO
BEGIN TRANSACTION

PRINT(N'Drop constraints from [dbo].[t_DataPoint]')
ALTER TABLE [dbo].[t_DataPoint] NOCHECK CONSTRAINT [FK_t_DataPoint_t_Chart]
ALTER TABLE [dbo].[t_DataPoint] NOCHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_1]
ALTER TABLE [dbo].[t_DataPoint] NOCHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_2]
ALTER TABLE [dbo].[t_DataPoint] NOCHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_3]

PRINT(N'Drop constraints from [dbo].[t_Chart]')
ALTER TABLE [dbo].[t_Chart] NOCHECK CONSTRAINT [FK_t_Chart_t_ChartStyle]
ALTER TABLE [dbo].[t_Chart] NOCHECK CONSTRAINT [FK_t_Chart_t_DisplayFormat]
ALTER TABLE [dbo].[t_Chart] NOCHECK CONSTRAINT [FK_t_Chart_t_Page]
ALTER TABLE [dbo].[t_Chart] NOCHECK CONSTRAINT [FK_t_Chart_t_StratificationSet_1]
ALTER TABLE [dbo].[t_Chart] NOCHECK CONSTRAINT [FK_t_Chart_t_StratificationSet_2]
ALTER TABLE [dbo].[t_Chart] NOCHECK CONSTRAINT [FK_t_Chart_t_StratificationSet_3]

PRINT(N'Drop constraint FK_t_DisparitiesDP_t_Chart from [dbo].[t_DisparitiesDataPoint]')
ALTER TABLE [dbo].[t_DisparitiesDataPoint] NOCHECK CONSTRAINT [FK_t_DisparitiesDP_t_Chart]

PRINT(N'Delete rows from [dbo].[t_DataPoint]')
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399755
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399756
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399757
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399758
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399759
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399760
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399761
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399762
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399763
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399764
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399765
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399766
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399767
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399768
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399769
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399770
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399771
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399772
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399773
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399774
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399775
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399776
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399777
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399778
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399779
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399780
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399781
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399782
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399783
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399784
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399785
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399786
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399787
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399788
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399789
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399790
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399791
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399792
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399793
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399794
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399795
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399796
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399797
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399798
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399799
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399800
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399801
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399802
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399803
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399804
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399805
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399806
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399807
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399808
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399809
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399810
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399811
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399812
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399813
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399814
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399815
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399816
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399817
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399818
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399819
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399820
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399821
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399822
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399823
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399824
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399825
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399826
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399827
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399828
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399829
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399830
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399831
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399832
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399833
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399834
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399835
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399836
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399837
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399838
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399839
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399840
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399841
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399842
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399843
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399844
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399845
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399846
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399847
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399848
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399849
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399850
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399851
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399852
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399853
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399854
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399855
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399856
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399857
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399858
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399859
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399860
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399861
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399862
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399863
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399864
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399865
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399866
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399867
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399868
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399869
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399870
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399871
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399872
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399873
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399874
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399875
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399876
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399877
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399878
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399879
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399880
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399881
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399882
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399883
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399884
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399885
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399886
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399887
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399888
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399889
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399890
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399891
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399892
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399893
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399894
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399895
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399896
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399897
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399898
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399899
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399900
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399901
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399902
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399903
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399904
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399905
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399906
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399907
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399908
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399909
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399910
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399911
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399912
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399913
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399914
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399915
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399916
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399917
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399918
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399919
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399920
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399921
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399922
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399923
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399924
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399925
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399926
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399927
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399928
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399929
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399930
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399931
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399932
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399933
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399934
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399935
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399936
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399937
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399938
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399939
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399940
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399941
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399942
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399943
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399944
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399945
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399946
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399947
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399948
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399949
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399950
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399951
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399952
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399953
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399954
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399955
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399956
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399957
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399958
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399959
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399960
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399961
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399962
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399963
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399964
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399965
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399966
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399967
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399968
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399969
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399970
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399971
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399972
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399973
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399974
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399975
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399976
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399977
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399978
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399979
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399980
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399981
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399982
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399983
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399984
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399985
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399986
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399987
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399988
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399989
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399990
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399991
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399992
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399993
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399994
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399995
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399996
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399997
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399998
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 399999
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 400000
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 400001
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 400002
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 400003
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 400004
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 400005
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 400006
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 400007
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 400008
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 400009
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 400010
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 400011
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 400012
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 400013
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 400014
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 400015
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 400016
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 400017
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 400018
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 400019
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 400020
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 400021
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 400022
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 400023
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 400024
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 400025
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 400026
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 400027
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 400028
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 400029
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 400030
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 400031
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 400032
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 400033
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 400034
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 400035
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 400036
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 400037
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 400038
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 400039
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 400040
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 400041
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 400042
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 400043
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 400044
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 400045
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 400046
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 400047
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 400048
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 400049
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 400050
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 400051
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 400052
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 400053
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 400054
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 400055
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 400056
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 400057
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 400058
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401257
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401258
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401259
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401260
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401261
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401262
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401263
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401264
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401265
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401266
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401267
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401268
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401269
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401270
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401271
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401272
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401273
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401274
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401275
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401276
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401277
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401278
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401279
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401280
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401281
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401282
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401283
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401284
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401285
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401286
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401287
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401288
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401289
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401290
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401291
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401292
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401293
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401294
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401295
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401296
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401297
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401298
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401299
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401300
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401301
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401302
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401303
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401304
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401305
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401306
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401307
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401308
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401309
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401310
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401311
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401312
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401313
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401314
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401315
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401316
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401317
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401318
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401319
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401320
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401321
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401322
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401323
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401324
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401325
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401326
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401327
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401328
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401329
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401330
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401331
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401332
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401333
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401334
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401335
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401336
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401337
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401338
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401339
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401340
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401341
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401342
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401343
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401344
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401345
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401346
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401347
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401348
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401349
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401350
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401351
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401352
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401353
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401354
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401355
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401356
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401357
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401358
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401359
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401360
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401361
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401362
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401363
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401364
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401365
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401366
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401367
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401368
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401369
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401370
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401371
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401372
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401373
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401374
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401375
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401376
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401377
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401378
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401379
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401380
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401381
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401382
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401383
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401384
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401385
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401386
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401387
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401388
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401389
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401390
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401391
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401392
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401393
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401394
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401395
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401396
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401397
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401398
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401399
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401400
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401401
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401402
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401403
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401404
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401405
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401406
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401407
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401408
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401409
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401410
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401411
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401412
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401413
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401414
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401415
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401416
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401417
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401418
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401419
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401420
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401421
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401422
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401423
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401424
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401425
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401426
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401427
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401428
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401429
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401430
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401431
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401432
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401433
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401434
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401435
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401436
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401437
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401438
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401439
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401440
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401441
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401442
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401443
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401444
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401445
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401446
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401447
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401448
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401449
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401450
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401451
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401452
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401453
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401454
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401455
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401456
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401457
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401458
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401459
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401460
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401461
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401462
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401463
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401464
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401465
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401466
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401467
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401468
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401469
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401470
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401471
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401472
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401473
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401474
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401475
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401476
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401477
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401478
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401479
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401480
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401481
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401482
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401483
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401484
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401485
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401486
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401487
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401488
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401489
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401490
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401491
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401492
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401493
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401494
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401495
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401496
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401497
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401498
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401499
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401500
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401501
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401502
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401503
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401504
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401505
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401506
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401507
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401508
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401509
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401510
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401511
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401512
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401513
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401514
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401515
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401516
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401517
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401518
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401519
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401520
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401521
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401522
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401523
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401524
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401525
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401526
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401527
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401528
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401529
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401530
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401531
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401532
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401533
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401534
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401535
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401536
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401537
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401538
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401539
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401540
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401541
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401542
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401543
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401544
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401545
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401546
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401547
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401548
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401549
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 401550
PRINT(N'Operation applied to 598 rows out of 598')

PRINT(N'Update rows in [dbo].[t_Chart]')
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'GLP-1 RA Use (%)', [ChartTitle]=N'GLP-1 RA Use in T2DM with CKD' WHERE [ChartID] = 4374
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'GLP-1 RA Use (%)', [ChartTitle]=N'GLP-1 RA Use in T2DM with CKD' WHERE [ChartID] = 4375
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'GLP-1 RA Use (%)', [ChartTitle]=N'GLP-1 RA Use in T2DM with CKD' WHERE [ChartID] = 4376
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'GLP-1 RA Use (%)', [ChartTitle]=N'GLP-1 RA Use in T2DM with CKD' WHERE [ChartID] = 4377
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'GLP-1 RA Use (%)', [ChartTitle]=N'GLP-1 RA Use in T2DM with CKD' WHERE [ChartID] = 4378
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'ACEi/ARB Use (%)', [ChartTitle]=N'ACEi/ARB Use in DM with CKD' WHERE [ChartID] = 4383
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'ACEi/ARB Use (%)', [ChartTitle]=N'ACEi/ARB Use in DM with CKD' WHERE [ChartID] = 4384
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'ACEi/ARB Use (%)', [ChartTitle]=N'ACEi/ARB Use in DM with CKD' WHERE [ChartID] = 4385
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'ACEi/ARB Use (%)', [ChartTitle]=N'ACEi/ARB Use in DM with CKD' WHERE [ChartID] = 4386
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'ACEi/ARB Use (%)', [ChartTitle]=N'ACEi/ARB Use in DM with CKD' WHERE [ChartID] = 4387
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'ACEi/ARB Use (%)', [ChartTitle]=N'ACEi/ARB Use in DM with CKD' WHERE [ChartID] = 4388
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'ACEi/ARB Use (%)', [ChartTitle]=N'ACEi/ARB Use in DM with CKD' WHERE [ChartID] = 4389
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'ACEi/ARB Use (%)', [ChartTitle]=N'ACEi/ARB Use in DM with CKD' WHERE [ChartID] = 4390
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'ACEi/ARB Use (%)', [ChartTitle]=N'ACEi/ARB Use in DM with CKD' WHERE [ChartID] = 4391
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'ACEi/ARB Use (%)', [ChartTitle]=N'ACEi/ARB Use in CKD G3-5' WHERE [ChartID] = 4392
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'ACEi/ARB Use (%)', [ChartTitle]=N'ACEi/ARB Use in CKD G3-5' WHERE [ChartID] = 4393
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'ACEi/ARB Use (%)', [ChartTitle]=N'ACEi/ARB Use in CKD G3-5' WHERE [ChartID] = 4394
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'ACEi/ARB Use (%)', [ChartTitle]=N'ACEi/ARB Use in CKD G3-5' WHERE [ChartID] = 4395
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'ACEi/ARB Use (%)', [ChartTitle]=N'ACEi/ARB Use in CKD G3-5' WHERE [ChartID] = 4396
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'ACEi/ARB Use (%)', [ChartTitle]=N'ACEi/ARB Use in CKD G3-5' WHERE [ChartID] = 4397
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'ACEi/ARB Use (%)', [ChartTitle]=N'ACEi/ARB Use in CKD G3-5' WHERE [ChartID] = 4398
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'ACEi/ARB Use (%)', [ChartTitle]=N'ACEi/ARB Use in CKD G3-5' WHERE [ChartID] = 4399
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'ACEi/ARB Use (%)', [ChartTitle]=N'ACEi/ARB Use in CKD G3-5' WHERE [ChartID] = 4400
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'ACEi/ARB Use (%)', [ChartTitle]=N'ACEi/ARB Use in CKD G3-5' WHERE [ChartID] = 4401
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'ACEi/ARB Use (%)', [ChartTitle]=N'ACEi/ARB Use in CKD G3-5' WHERE [ChartID] = 4402
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'ACEi/ARB Use (%)', [ChartTitle]=N'ACEi/ARB Use in CKD G3-5' WHERE [ChartID] = 4403
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'ACEi/ARB Use (%)', [ChartTitle]=N'ACEi/ARB Use in CKD G3-5' WHERE [ChartID] = 4404
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'SGLT2i Use (%)', [ChartTitle]=N'SGLT2i Use in T2DM with CKD' WHERE [ChartID] = 4425
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'SGLT2i Use (%)', [ChartTitle]=N'SGLT2i Use in T2DM with CKD' WHERE [ChartID] = 4426
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'SGLT2i Use (%)', [ChartTitle]=N'SGLT2i Use in T2DM with CKD' WHERE [ChartID] = 4427
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'SGLT2i Use (%)', [ChartTitle]=N'SGLT2i Use in T2DM with CKD' WHERE [ChartID] = 4428
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'SGLT2i Use (%)', [ChartTitle]=N'SGLT2i Use in T2DM with CKD' WHERE [ChartID] = 4429
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'GLP-1 RA Use (%)', [ChartTitle]=N'GLP-1 RA Use in T2DM with CKD', [DecimalPlaces]=1 WHERE [ChartID] = 4432
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'GLP-1 RA Use (%)', [ChartTitle]=N'GLP-1 RA Use in T2DM with CKD', [DecimalPlaces]=1 WHERE [ChartID] = 4433
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'GLP-1 RA Use (%)', [ChartTitle]=N'GLP-1 RA Use in T2DM with CKD', [DecimalPlaces]=1 WHERE [ChartID] = 4434
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'GLP-1 RA Use (%)', [ChartTitle]=N'GLP-1 RA Use in T2DM with CKD', [DecimalPlaces]=1 WHERE [ChartID] = 4435
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'SGLT2i Use (%)', [ChartTitle]=N'SGLT2i Use in T2DM with CKD' WHERE [ChartID] = 4440
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'SGLT2i Use (%)', [ChartTitle]=N'SGLT2i Use in T2DM with CKD' WHERE [ChartID] = 4441
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'SGLT2i Use (%)', [ChartTitle]=N'SGLT2i Use in T2DM with CKD' WHERE [ChartID] = 4442
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'SGLT2i Use (%)', [ChartTitle]=N'SGLT2i Use in T2DM with CKD' WHERE [ChartID] = 4443
PRINT(N'Operation applied to 40 rows out of 40')

PRINT(N'Add rows to [dbo].[t_DataPoint]')
SET IDENTITY_INSERT [dbo].[t_DataPoint] ON
INSERT INTO [dbo].[t_DataPoint] ([DatapointID], [ChartID], [StratificationID1], [StratificationID2], [StratificationID3], [MainValue], [HighConfidenceInterval], [LowConfidenceInterval], [StandardError]) VALUES (401611, 4429, 858, NULL, NULL, N'3.6', NULL, NULL, NULL)
INSERT INTO [dbo].[t_DataPoint] ([DatapointID], [ChartID], [StratificationID1], [StratificationID2], [StratificationID3], [MainValue], [HighConfidenceInterval], [LowConfidenceInterval], [StandardError]) VALUES (401612, 4429, 859, NULL, NULL, N'5.4', NULL, NULL, NULL)
INSERT INTO [dbo].[t_DataPoint] ([DatapointID], [ChartID], [StratificationID1], [StratificationID2], [StratificationID3], [MainValue], [HighConfidenceInterval], [LowConfidenceInterval], [StandardError]) VALUES (401613, 4429, 860, NULL, NULL, N'9.1', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[t_DataPoint] OFF
PRINT(N'Operation applied to 592 rows out of 592')

PRINT(N'Add constraints to [dbo].[t_DataPoint]')
ALTER TABLE [dbo].[t_DataPoint] WITH CHECK CHECK CONSTRAINT [FK_t_DataPoint_t_Chart]
ALTER TABLE [dbo].[t_DataPoint] WITH CHECK CHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_1]
ALTER TABLE [dbo].[t_DataPoint] WITH CHECK CHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_2]
ALTER TABLE [dbo].[t_DataPoint] WITH CHECK CHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_3]

PRINT(N'Add constraints to [dbo].[t_Chart]')
ALTER TABLE [dbo].[t_Chart] WITH CHECK CHECK CONSTRAINT [FK_t_Chart_t_ChartStyle]
ALTER TABLE [dbo].[t_Chart] WITH CHECK CHECK CONSTRAINT [FK_t_Chart_t_DisplayFormat]
ALTER TABLE [dbo].[t_Chart] WITH CHECK CHECK CONSTRAINT [FK_t_Chart_t_Page]
ALTER TABLE [dbo].[t_Chart] WITH CHECK CHECK CONSTRAINT [FK_t_Chart_t_StratificationSet_1]
ALTER TABLE [dbo].[t_Chart] WITH CHECK CHECK CONSTRAINT [FK_t_Chart_t_StratificationSet_2]
ALTER TABLE [dbo].[t_Chart] WITH CHECK CHECK CONSTRAINT [FK_t_Chart_t_StratificationSet_3]
ALTER TABLE [dbo].[t_DisparitiesDataPoint] WITH CHECK CHECK CONSTRAINT [FK_t_DisparitiesDP_t_Chart]
COMMIT TRANSACTION
GO
