
USE [NCCD_DDT_CKD]
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS ON
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL Serializable
GO
BEGIN TRANSACTION
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Altering [dbo].[udf_ChartTitleWithShort]'
GO
 
ALTER	 FUNCTION [dbo].[udf_ChartTitleWithShort] (@ChartID int, @Stratifier varchar(50) = NULL)  
RETURNS @retChartTitleTable TABLE  
( 
	[ChartTitle] [NVARCHAR](500) NULL, 
	[ChartTitleWithSuperscripts] [NVARCHAR](500) NULL,  
	[PageTitleWithSuperscripts] [NVARCHAR](500) NULL,
	[IndicatorShortTitle] [NVARCHAR](500) NULL,
	[ByPopulation] [NVARCHAR](500) NULL     
) 
AS   
/*  
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
  
Function Purpose: Return a list of chart titles, with and without superscripts. 
  
Created By:       Ben Sutton
 
-- usage 
-- Q240 has one footnote 
-- select * from  dbo.udf_ChartTitle(411, NULL)  
-- Q103 has 2 footnotes 
-- select * from dbo.udf_ChartTitle(252, '2003')   
-- Q116 has 3 footnotes 
-- select * from dbo.udf_ChartTitle(256, '2007')   
-- select * from dbo.udf_ChartTitle(898, 'Transplant') 
---------------------------------------------------------------------------------------------------------- 
  History:    
  10/03/2016	dh	Exclude year from ChartTitleWithSuperscripts when All Years are displayed in table 
  01/30/2017	ms	allowing stratification sets other than year as "stratifier" 
  01/30/2017	ms	Updates to allow for stratifying by strat set other than year 
                    funcation replaced  
						from dbo.udf_StratificationSetOrderFromChartID 
						to   dbo.udf_StratificationSetOrderWithStratifierFromChartID  
						and  dbo.udf_StratificationSetOrderWithStratifierFromChartID  
  02/16/2018	ms	fix the @PageTitleWithSuperscripts, to use indicator text instead of the indicator title root
  01/16/2019	bs	built off of udf_ChartTitle to add additional shortened titles
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
*/ 

BEGIN 
--DECLARE @ChartID int = 1008, @Stratifier nvarchar(100) = '2010' 
	 
    DECLARE @ChartTitle NVARCHAR(500) 
	DECLARE @ChartTitleText AS NVARCHAR(500) 
	DECLARE @ChartTitleRoot NVARCHAR(500) 
    DECLARE @ChartTitleWithSubscripts NVARCHAR(500) 
    DECLARE @IndicatorText AS NVARCHAR(500) 
    DECLARE @IndicatorTitleRoot AS NVARCHAR(500) 
	DECLARE @IndicatorShortTitle AS NVARCHAR(500) 
	DECLARE @ByPopulation AS NVARCHAR(500) 
    DECLARE @PageTitleWithSuperscripts NVARCHAR(500) 
    DECLARE @TitleViewBy AS NVARCHAR(500) = N'' 
    DECLARE @FootnoteCount INT 
	DECLARE @QNUM VARCHAR(6) 
	DECLARE @AllYears BIT 
	DECLARE @TableTitle [NVARCHAR](500) 
	DECLARE @ChartStyleID INT 
	
	 
	--DECLARE @SuperScripts AS dbo.udtt_SuperScripts 
	--INSERT INTO @SuperScripts SELECT * FROM udf_SuperscriptTable () 
	--select * from @SuperScripts 
		 
    ---- for testing 
    --declare @ChartID int = 411  
    --declare @Year varchar(50) = '2007-2009' 
         
    DECLARE @t udtt_OrderOfChartStratificationSets 
	--insert into @t select @ChartID, * from dbo.udf_StratificationSetOrderFromChartID (@ChartID) 
	INSERT INTO @t SELECT * FROM dbo.udf_StratificationSetOrderWithStratifierFromChartID (@ChartID)   
	--select * from @t 
 
	DECLARE @StratifierSetText NVARCHAR(100) 
	SELECT @StratifierSetText = StratificationText FROM @t WHERE StratSetLevel = 'Stratifier' 
	--Select @StratifierSetText as '@StratifierSetText' 
 
	SELECT @QNUM = p.QNum, @AllYears = p.DisplayTableAllYears 
	FROM dbo.t_Chart c 
	INNER JOIN dbo.t_page p ON c.PageID = p.PageID 
	WHERE c.ChartID = @chartid 
	-- comment when not testing 
	-- select @QNUM as '@Qnum' 
 
    SET @Stratifier = ISNULL(@Stratifier, '') 

	SELECT @ChartStyleID = ChartStyleID FROM dbo.t_Chart WHERE ChartID = @ChartID

     
	IF @ChartID = 4319
	 SELECT DISTINCT  
			   @IndicatorText = i.IndicatorText
			  ,@IndicatorTitleRoot = i.IndicatorTitleRoot 
			  ,@ChartTitleText = c.ChartTitle 
			  ,@IndicatorShortTitle = COALESCE(ts.ShortTitle, i.IndicatorText) 
		FROM t_Chart c  
				INNER JOIN t_Page p ON c.PageID = p.PageID 
				INNER JOIN t_Indicator i ON i.IndicatorID = p.IndicatorID 
				LEFT JOIN t_DataPoint d ON c.ChartID = d.ChartID 
				LEFT JOIN t_Stratification s1 ON s1.StratificationId = d.StratificationID1 
				LEFT JOIN t_StratificationSet ss1 ON ss1.StratificationSetID = s1.StratificationSetID 
				LEFT JOIN t_Stratification s2 ON s2.StratificationId = d.StratificationID2 
				LEFT JOIN t_StratificationSet ss2 ON ss2.StratificationSetID = s2.StratificationSetID 
				LEFT JOIN t_Stratification s3 ON s3.StratificationId = d.StratificationID3 
				LEFT JOIN t_StratificationSet ss3 ON ss3.StratificationSetID = s3.StratificationSetID 
				INNER JOIN t_ChartStyle cs ON c.ChartStyleID = cs.ChartStyleID 
				LEFT JOIN dbo.t_ShortTitles ts ON ts.Qnum = p.QNum /*BS added 1/17/2019 */
			WHERE c.ChartID = @ChartID 
	ELSE IF @ChartStyleID = 12 -- PieTableChart
		SELECT DISTINCT  
			   @IndicatorText = i.IndicatorText
			  ,@IndicatorTitleRoot = i.IndicatorTitleRoot 
			  ,@ChartTitleText = c.ChartTitle
			  ,@IndicatorShortTitle = COALESCE(ts.ShortTitle, i.IndicatorText) 
		FROM t_Chart c  
				INNER JOIN t_Page p ON c.PageID = p.PageID 
				INNER JOIN t_Indicator i ON i.IndicatorID = p.IndicatorID 
				LEFT JOIN t_DataPoint d ON c.ChartID = d.ChartID 
				LEFT JOIN t_Stratification s1 ON s1.StratificationId = d.StratificationID1 
				LEFT JOIN t_StratificationSet ss1 ON ss1.StratificationSetID = s1.StratificationSetID 
				LEFT JOIN t_Stratification s2 ON s2.StratificationId = d.StratificationID2 
				LEFT JOIN t_StratificationSet ss2 ON ss2.StratificationSetID = s2.StratificationSetID 
				LEFT JOIN t_Stratification s3 ON s3.StratificationId = d.StratificationID3 
				LEFT JOIN t_StratificationSet ss3 ON ss3.StratificationSetID = s3.StratificationSetID 
				INNER JOIN t_ChartStyle cs ON c.ChartStyleID = cs.ChartStyleID 
				LEFT JOIN dbo.t_ShortTitles ts ON ts.Qnum = p.QNum /*BS added 1/17/2019 */
			WHERE c.ChartID = @ChartID 
    ELSE IF @Stratifier = ''     
		 SELECT DISTINCT  
			   @IndicatorText = i.IndicatorText
			  ,@IndicatorTitleRoot = i.IndicatorTitleRoot 
			  ,@ChartTitleText = c.ChartTitle  
			  ,@IndicatorShortTitle = COALESCE(ts.ShortTitle, i.IndicatorText) 
		FROM t_Chart c  
				INNER JOIN t_Page p ON c.PageID = p.PageID 
				INNER JOIN t_Indicator i ON i.IndicatorID = p.IndicatorID 
				INNER JOIN t_DataPoint d ON c.ChartID = d.ChartID 
				INNER JOIN t_Stratification s1 ON s1.StratificationId = d.StratificationID1 
				INNER JOIN t_StratificationSet ss1 ON ss1.StratificationSetID = s1.StratificationSetID 
				LEFT JOIN t_Stratification s2 ON s2.StratificationId = d.StratificationID2 
				LEFT JOIN t_StratificationSet ss2 ON ss2.StratificationSetID = s2.StratificationSetID 
				LEFT JOIN t_Stratification s3 ON s3.StratificationId = d.StratificationID3 
				LEFT JOIN t_StratificationSet ss3 ON ss3.StratificationSetID = s3.StratificationSetID 
				INNER JOIN t_ChartStyle cs ON c.ChartStyleID = cs.ChartStyleID 
				LEFT JOIN dbo.t_ShortTitles ts ON ts.Qnum = p.QNum /*BS added 1/17/2019 */
			WHERE c.ChartID = @ChartID 
	ELSE 
		SELECT DISTINCT  
			   @IndicatorText = i.IndicatorText
			  ,@IndicatorTitleRoot = i.IndicatorTitleRoot  
			  ,@ChartTitleText = c.ChartTitle  
			  ,@IndicatorShortTitle = COALESCE(ts.ShortTitle, i.IndicatorText) 
		FROM t_Chart c  
				INNER JOIN t_Page p ON c.PageID = p.PageID 
				INNER JOIN t_Indicator i ON i.IndicatorID = p.IndicatorID 
				INNER JOIN t_DataPoint d ON c.ChartID = d.ChartID 
				INNER JOIN t_Stratification s1 ON s1.StratificationId = d.StratificationID1 
				INNER JOIN t_StratificationSet ss1 ON ss1.StratificationSetID = s1.StratificationSetID 
				LEFT JOIN t_Stratification s2 ON s2.StratificationId = d.StratificationID2 
				LEFT JOIN t_StratificationSet ss2 ON ss2.StratificationSetID = s2.StratificationSetID 
				LEFT JOIN t_Stratification s3 ON s3.StratificationId = d.StratificationID3 
				LEFT JOIN t_StratificationSet ss3 ON ss3.StratificationSetID = s3.StratificationSetID 
				INNER JOIN t_ChartStyle cs ON c.ChartStyleID = cs.ChartStyleID 
				LEFT JOIN dbo.t_ShortTitles ts ON ts.Qnum = p.QNum /*BS added 1/17/2019 */
			WHERE c.ChartID = @ChartID AND  
			      (s1.Stratification = @Stratifier OR s2.Stratification = @Stratifier OR s3.Stratification = @Stratifier) 
  
	----select @IndicatorText as '@IndicatorText' 
	----select @IndicatorTitleRoot as '@IndicatorTitleRoot' 
	 
	SET @IndicatorTitleRoot = RTRIM(LTRIM(@IndicatorTitleRoot)) 
	SET @ChartTitleText = RTRIM(LTRIM(@ChartTitleText)) 
	 
	IF @ChartTitleText IS NOT NULL 
		SET @TitleViewBy = '' 
	ELSE  
	BEGIN 
		IF @ChartID IN (4220,4221,4222,4223,4224) -- CDK-260 Remove "Overall" from the table view
			BEGIN
				SELECT @TitleViewBy = StratificationText FROM @t WHERE StratSetRank = 1 AND ChartID = @ChartID
			END
		ELSE
			BEGIN
				SET @TitleViewBy =  
					CASE WHEN (SELECT MAX(StratSetRank) FROM @t WHERE ChartID = @ChartID) = 3 THEN (SELECT StratificationText FROM @t WHERE StratSetRank = 3 AND ChartID = @ChartID) + N' and ' + (SELECT StratificationText FROM @t WHERE StratSetRank = 2 AND ChartID = @ChartID) + N' and ' + (SELECT StratificationText FROM @t WHERE StratSetRank = 1 AND ChartID = @ChartID) 
						 WHEN (SELECT MAX(StratSetRank) FROM @t WHERE ChartID = @ChartID) = 2 THEN (SELECT StratificationText FROM @t WHERE StratSetRank = 2 AND ChartID = @ChartID) + N' and ' + (SELECT StratificationText FROM @t WHERE StratSetRank = 1 AND ChartID = @ChartID)  
						 WHEN (SELECT MAX(StratSetRank) FROM @t WHERE ChartID = @ChartID) = 1 THEN (SELECT StratificationText FROM @t WHERE StratSetRank = 1 AND ChartID = @ChartID)  
						 ELSE '' END  
			END
		
	----select @TitleViewBy as '@TitleViewBy'  
	 END 
 
	/*BEGIN Add [Override] to charttitle 1/25/2019 BS */
	--to be deleted before moving to PROD

	DECLARE @override AS NVARCHAR(15)
	--if @ChartTitleText is not null 
	--	set @override = ' -- OVERRIDE' 
	--Else 
		set @override = ''
	/*END Add [Override] to charttitle*/

	set @ChartTitleRoot = coalesce(@ChartTitleText, @IndicatorTitleRoot) 
 
	--added 1/21/2019 BS, original code (--set @ChartTitle = @ChartTitleRoot + case @TitleViewBy when N'' then N'' when 'State' then ' by U.S. State' else N' by ' + @TitleViewBy end )
	set @ByPopulation = case @TitleViewBy when N'' then N'' when 'State' then 'by U.S. State' else N'by ' + @TitleViewBy end 
	set @ChartTitle = @ChartTitleRoot + @override
	
	-- Exclude Year from @ChartTitleWithSubscripts when @AllYears are displayed in table  
	if @AllYears = 1 set @TableTitle = @ChartTitle 
	 
	 --added 1/21/2019 BS, added 'For' 1/25/2019 BS
	IF @Stratifier <> N''  
		IF @StratifierSetText = 'Year' SET @ByPopulation = @ByPopulation + N' For ' + @Stratifier 
		ELSE  
		IF @StratifierSetText = 'Age' SET @ByPopulation = @ByPopulation + N', For ' + @StratifierSetText + N' ' + @Stratifier 
		ELSE SET @ByPopulation = @ByPopulation  + N', For ' + @Stratifier 
	
	--original code before the 1/21/2019 modifications above
	/*IF @Stratifier <> N''  
		IF @StratifierSetText = 'Year' SET @ChartTitle = @ChartTitle + N' ' + @Stratifier 
		ELSE  
		IF @StratifierSetText = 'Age' SET @ChartTitle = @ChartTitle + N', ' + @StratifierSetText + N' ' + @Stratifier 
		ELSE SET @ChartTitle = @ChartTitle  + N', ' + @Stratifier 
	*/
	--end original code

	-- JIRA 109
	IF @ChartID NOT IN (2932, 4041, 693, 4095, 4083,4084,4093,4094, 4146, 4216, 4217, 4218, 4130, 4131, 4132, 4133, 4134, 4147, 3141, 4085, 4086, 4087, 4088, 4089, 4164, 4165, 4166, 4167, 4168, 4169, 4170,4171,4172,4173,4174,4175,4176,4177,4178,4179,4180,4181,4182,4183,4184,4185,4186,4187,4188,4189,4190,4191,4192,4193,4194,4195,4196,4197,4198,2932, 2933, 2935, 2936, 2937, 4130, 4131, 4132, 4133, 4134, 4147, 4108, 4109, 4200, 4110, 4201,
	4019,4039,4040) AND @ChartID NOT IN (SELECT c.ChartID FROM dbo.t_Chart c INNER JOIN dbo.t_Page p ON p.PageID = c.PageID WHERE p.QNum IN ('Q89', 'Q730', 'Q98', 'Q784', 'Q372', 'Q9', 'Q11', 'Q605', 'Q811'))
		SET @ChartTitle = dbo.udf_TitleCase(@ChartTitle,NULL,NULL) 

	IF @ChartID NOT IN (2932, 4041, 693, 4095, 4083,4084,4093,4094, 4146, 4216, 4217, 4218, 4130, 4131, 4132, 4133, 4134, 4147, 3141, 4085, 4086, 4087, 4088, 4089, 4164, 4165, 4166, 4167, 4168, 4169, 4170,4171,4172,4173,4174,4175,4176,4177,4178,4179,4180,4181,4182,4183,4184,4185,4186,4187,4188,4189,4190,4191,4192,4193,4194,4195,4196,4197,4198,2932, 2933, 2935, 2936, 2937, 4130, 4131, 4132, 4133, 4134, 4147, 4108, 4109, 4200, 4110, 4201,
	4019,4039,4040) AND @ChartID NOT IN (SELECT c.ChartID FROM dbo.t_Chart c INNER JOIN dbo.t_Page p ON p.PageID = c.PageID WHERE p.QNum IN ('Q89', 'Q730', 'Q98', 'Q784', 'Q372', 'Q9', 'Q11', 'Q605', 'Q811'))
		SET @IndicatorShortTitle = dbo.udf_TitleCase(@IndicatorShortTitle,NULL,NULL) 
	--set @ChartTitle = RTRIM(ltrim(@ChartTitle)) 
	 
	-- foot note symbols	 
	select @FootnoteCount = COUNT(1) from dbo.t_Chart c inner join dbo.t_Page p on c.PageID = p.PageID inner join dbo.t_FootNote f on p.PageID = f.PageID where c.ChartID = @ChartID  
		 
	--set @ChartTitle = @ChartTitle + '<sup><font size="6">a</font></sup>'   
	-- Exclude Year from @ChartTitleWithSubscripts when @AllYears are displayed in table  
	if @AllYears = 1 
		SET @ChartTitleWithSubscripts = @TableTitle --+ SuperscriptHTMLCombined from @SuperScripts where ID = @FootnoteCount 
	else 
		SET @ChartTitleWithSubscripts = @ChartTitle --+ SuperscriptHTMLCombined from @SuperScripts where ID = @FootnoteCount 

	IF @ChartID = 2932 OR @ChartID = 4041 OR @ChartID = 693 OR @ChartID = 4095 OR 
	@ChartID IN (4083,4084,4093,4094, 4146, 4216, 4217, 4218, 4130, 4131, 4132, 4133, 4134, 4147, 3141, 4085, 4086, 4087, 4088, 4089, 4164, 4165, 4166, 4167, 4168, 4169, 4170,4171,4172,4173,4174,4175,4176,4177,4178,4179,4180,4181,4182,4183,4184,4185,4186,4187,4188,4189,4190,4191,4192,4193,4194,4195,4196,4197,4198,2932, 2933, 2935, 2936, 2937, 4130, 4131, 4132, 4133, 4134, 4147, 4108, 4109, 4200, 4110, 4201,
	4019,4039,4040) OR @ChartID IN (SELECT c.ChartID FROM dbo.t_Chart c INNER JOIN dbo.t_Page p ON p.PageID = c.PageID 
	WHERE p.QNum IN ('Q89', 'Q730', 'Q98', 'Q784', 'Q372', 'Q9', 'Q11', 'Q605', 'Q811','Q812','Q813','Q814','Q815','S812','S813','S814','S815')
	)
		SET @PageTitleWithSuperscripts =  @IndicatorText --+ SuperscriptHTMLCombined from @SuperScripts where ID = @FootnoteCount 
	Else
		SET @PageTitleWithSuperscripts = dbo.udf_TitleCase(@IndicatorText,NULL,NULL) -- + SuperscriptHTMLCombined from @SuperScripts where ID = @FootnoteCount 

	
	IF EXISTS (SELECT 'x' FROM dbo.t_Chart c INNER JOIN dbo.t_Page p ON p.PageID = c.PageID WHERE p.QNum LIKE 'S%' AND c.ChartID = @ChartID)
	BEGIN
		INSERT into @retChartTitleTable select  @ChartTitle, @ChartTitleWithSubscripts, '' , @IndicatorShortTitle, @ByPopulation
	END	 
	ELSE
    BEGIN
		INSERT into @retChartTitleTable select  @ChartTitle, @ChartTitleWithSubscripts, @PageTitleWithSuperscripts , @IndicatorShortTitle, @ByPopulation
	END	 
	
	Return 
 
end 
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
COMMIT TRANSACTION
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
-- This statement writes to the SQL Server Log so SQL Monitor can show this deployment.
IF HAS_PERMS_BY_NAME(N'sys.xp_logevent', N'OBJECT', N'EXECUTE') = 1
BEGIN
    DECLARE @databaseName AS nvarchar(2048), @eventMessage AS nvarchar(2048)
    SET @databaseName = REPLACE(REPLACE(DB_NAME(), N'\', N'\\'), N'"', N'\"')
    SET @eventMessage = N'Redgate SQL Compare: { "deployment": { "description": "Redgate SQL Compare deployed to ' + @databaseName + N'", "database": "' + @databaseName + N'" }}'
    EXECUTE sys.xp_logevent 55000, @eventMessage
END
GO
DECLARE @Success AS BIT
SET @Success = 1
SET NOEXEC OFF
IF (@Success = 1) PRINT 'The database update succeeded'
ELSE BEGIN
	IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION
	PRINT 'The database update failed'
END
GO
