/*
Run this script on:

        awssqlprodm.51349_CDCCKD    -  This database will be modified

to synchronize it with:

        awssqldevm.51349_CDCCKD

You are recommended to back up your database before running this script

Script created by SQL Compare version 14.0.7.13517 from Red Gate Software Ltd at 12/29/2025 5:55:00 PM

*/

USE [NCCD_DDT_CKD]
GO
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS ON
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL Serializable
GO
BEGIN TRANSACTION
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Creating [dbo].[t_StratificationColor]'
GO
CREATE TABLE [dbo].[t_StratificationColor]
(
[StratificationColorId] [int] NOT NULL IDENTITY(1, 1),
[StratificationId] [int] NOT NULL,
[StratificationColor] [nvarchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
)
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Creating primary key [PK_t_StratificationColor] on [dbo].[t_StratificationColor]'
GO
ALTER TABLE [dbo].[t_StratificationColor] ADD CONSTRAINT [PK_t_StratificationColor] PRIMARY KEY CLUSTERED  ([StratificationColorId])
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Creating [dbo].[t_StratificationColorAudit]'
GO
CREATE TABLE [dbo].[t_StratificationColorAudit]
(
[StratificationColorAuditID] [int] NOT NULL IDENTITY(1, 1),
[ChangeType] [char] (1) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL,
[ChangeUser] [nvarchar] (128) COLLATE SQL_Latin1_General_CP1_CI_AS NOT NULL CONSTRAINT [DF_t_StratificationColorAudit_ChangeUser] DEFAULT (suser_sname()),
[ChangeDate] [datetime] NOT NULL CONSTRAINT [DF_t_StratificationColorAudit_ChangeDate] DEFAULT (getdate()),
[StratificationColorId] [int] NOT NULL,
[StratificationId] [int] NOT NULL,
[StratificationColor] [nvarchar] (50) COLLATE SQL_Latin1_General_CP1_CI_AS NULL
)
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Creating primary key [PK_t_StratificationColorAudit] on [dbo].[t_StratificationColorAudit]'
GO
ALTER TABLE [dbo].[t_StratificationColorAudit] ADD CONSTRAINT [PK_t_StratificationColorAudit] PRIMARY KEY CLUSTERED  ([StratificationColorAuditID])
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Creating trigger [dbo].[t_StratificationColor_Trigger] on [dbo].[t_StratificationColor]'
GO

CREATE TRIGGER [dbo].[t_StratificationColor_Trigger] ON [dbo].[t_StratificationColor]
FOR INSERT,UPDATE,DELETE AS
BEGIN
	IF ((SELECT COUNT(*) FROM INSERTED) > 0) AND ((SELECT COUNT(*) FROM DELETED) = 0)
	BEGIN
		INSERT INTO dbo.t_StratificationColorAudit ([ChangeType],[StratificationColorId],[StratificationID], [StratificationColor])
		SELECT 'I',[StratificationColorId],[StratificationID], [StratificationColor] FROM INSERTED
	END
	IF ((SELECT COUNT(*) FROM INSERTED) > 0) AND ((SELECT COUNT(*) FROM DELETED) > 0)
	BEGIN
	   WITH Update_CTE
	   AS
	   (SELECT * FROM INSERTED EXCEPT SELECT * FROM DELETED)
		INSERT INTO dbo.t_StratificationColorAudit ([ChangeType],[StratificationColorId],[StratificationID], [StratificationColor])
		SELECT 'U',[StratificationColorId],[StratificationID] , [StratificationColor] FROM Update_CTE
	END
	IF ((SELECT COUNT(*) FROM INSERTED) = 0) AND ((SELECT COUNT(*) FROM DELETED) > 0)
	BEGIN
		INSERT INTO dbo.t_StratificationColorAudit ([ChangeType],[StratificationColorId],[StratificationID], [StratificationColor])
		SELECT 'D',[StratificationColorId],[StratificationID] , [StratificationColor] FROM DELETED
	END
END
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Creating [dbo].[proc_GetChartIDsByQNum]'
GO
CREATE PROCEDURE [dbo].[proc_GetChartIDsByQNum]
	@QNum VARCHAR(4)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT ChartID FROM dbo.t_Chart c INNER JOIN dbo.t_Page p ON p.PageID = c.PageID
	WHERE QNum = @QNum
END
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Creating [dbo].[proc_GetStratColorCode]'
GO
CREATE PROCEDURE [dbo].[proc_GetStratColorCode]
    @ChartID  INT,
    @StratSeq INT
AS
    BEGIN

        IF @StratSeq = 1
            SELECT  DISTINCT
                    t.StratificationColor,
                    s.StratificationDisplayOrder
            FROM
                    [t_StratificationColor] t
                INNER JOIN
                    dbo.t_DataPoint         dp
                        ON dp.StratificationID1 = t.StratificationId
                INNER JOIN
                    dbo.t_Stratification    s
                        ON s.StratificationId = dp.StratificationID1
            WHERE
                    dp.ChartID = @ChartID
            ORDER BY
                    s.StratificationDisplayOrder;
        ELSE IF @StratSeq = 2
            SELECT  DISTINCT
                    t.StratificationColor,
                    s.StratificationDisplayOrder
            FROM
                    [t_StratificationColor] t
                INNER JOIN
                    dbo.t_DataPoint         dp
                        ON dp.StratificationID2 = t.StratificationId
                INNER JOIN
                    dbo.t_Stratification    s
                        ON s.StratificationId = dp.StratificationID2
            WHERE
                    dp.ChartID = @ChartID
            ORDER BY
                    s.StratificationDisplayOrder;
        ELSE
            SELECT  DISTINCT
                    t.StratificationColor,
                    s.StratificationDisplayOrder
            FROM
                    [t_StratificationColor] t
                INNER JOIN
                    dbo.t_DataPoint         dp
                        ON dp.StratificationID3 = t.StratificationId
                INNER JOIN
                    dbo.t_Stratification    s
                        ON s.StratificationId = dp.StratificationID3
            WHERE
                    dp.ChartID = @ChartID
            ORDER BY
                    s.StratificationDisplayOrder;
    END;
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Adding foreign keys to [dbo].[t_StratificationColor]'
GO
ALTER TABLE [dbo].[t_StratificationColor] ADD CONSTRAINT [FK_t_StratificationColor_t_Stratification] FOREIGN KEY ([StratificationId]) REFERENCES [dbo].[t_Stratification] ([StratificationId])
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
COMMIT TRANSACTION
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
-- This statement writes to the SQL Server Log so SQL Monitor can show this deployment.
IF HAS_PERMS_BY_NAME(N'sys.xp_logevent', N'OBJECT', N'EXECUTE') = 1
BEGIN
    DECLARE @databaseName AS nvarchar(2048), @eventMessage AS nvarchar(2048)
    SET @databaseName = REPLACE(REPLACE(DB_NAME(), N'\', N'\\'), N'"', N'\"')
    SET @eventMessage = N'Redgate SQL Compare: { "deployment": { "description": "Redgate SQL Compare deployed to ' + @databaseName + N'", "database": "' + @databaseName + N'" }}'
    EXECUTE sys.xp_logevent 55000, @eventMessage
END
GO
DECLARE @Success AS BIT
SET @Success = 1
SET NOEXEC OFF
IF (@Success = 1) PRINT 'The database update succeeded'
ELSE BEGIN
	IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION
	PRINT 'The database update failed'
END
GO
