/*
Run this script on:

awssqlstgm.51349_CDCCKD_TED    -  This database will be modified

to synchronize it with:

awssqldevm.51349_CDCCKD

You are recommended to back up your database before running this script

Script created by SQL Data Compare version 14.0.7.13517 from Red Gate Software Ltd at 12/29/2025 6:40:43 PM

*/
USE [NCCD_DDT_CKD]
GO
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS, NOCOUNT ON
GO
SET DATEFORMAT YMD
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL Serializable
GO
BEGIN TRANSACTION

PRINT(N'Drop constraints from [dbo].[t_StratificationColor]')
ALTER TABLE [dbo].[t_StratificationColor] NOCHECK CONSTRAINT [FK_t_StratificationColor_t_Stratification]

PRINT(N'Add 4130 rows to [dbo].[t_StratificationColor]')
SET IDENTITY_INSERT [dbo].[t_StratificationColor] ON
INSERT INTO [dbo].[t_StratificationColor] ([StratificationColorId], [StratificationId], [StratificationColor]) VALUES (1, 1, N'#3C6FEB')
INSERT INTO [dbo].[t_StratificationColor] ([StratificationColorId], [StratificationId], [StratificationColor]) VALUES (2, 2, N'#58821C')
INSERT INTO [dbo].[t_StratificationColor] ([StratificationColorId], [StratificationId], [StratificationColor]) VALUES (3, 3, N'#DC297B')
SET IDENTITY_INSERT [dbo].[t_StratificationColor] OFF

PRINT(N'Add constraints to [dbo].[t_StratificationColor]')
ALTER TABLE [dbo].[t_StratificationColor] WITH CHECK CHECK CONSTRAINT [FK_t_StratificationColor_t_Stratification]
COMMIT TRANSACTION
GO
