/*
Run this script on:

awssqlprodm.51349_CDCCKD    -  This database will be modified

to synchronize it with:

awssqlstgm.51349_CDCCKD_TED

You are recommended to back up your database before running this script

Script created by SQL Data Compare version 14.0.7.13517 from Red Gate Software Ltd at 7/6/2026 11:08:07 AM

*/
		
USE [NCCD_DDT_CKD]
GO
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS, NOCOUNT ON
GO
SET DATEFORMAT YMD
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL Serializable
GO
BEGIN TRANSACTION

PRINT(N'Drop constraints from [dbo].[t_Chart]')
ALTER TABLE [dbo].[t_Chart] NOCHECK CONSTRAINT [FK_t_Chart_t_ChartStyle]
ALTER TABLE [dbo].[t_Chart] NOCHECK CONSTRAINT [FK_t_Chart_t_DisplayFormat]
ALTER TABLE [dbo].[t_Chart] NOCHECK CONSTRAINT [FK_t_Chart_t_Page]
ALTER TABLE [dbo].[t_Chart] NOCHECK CONSTRAINT [FK_t_Chart_t_StratificationSet_1]
ALTER TABLE [dbo].[t_Chart] NOCHECK CONSTRAINT [FK_t_Chart_t_StratificationSet_2]
ALTER TABLE [dbo].[t_Chart] NOCHECK CONSTRAINT [FK_t_Chart_t_StratificationSet_3]

PRINT(N'Drop constraint FK_t_DataPoint_t_Chart from [dbo].[t_DataPoint]')
ALTER TABLE [dbo].[t_DataPoint] NOCHECK CONSTRAINT [FK_t_DataPoint_t_Chart]

PRINT(N'Drop constraint FK_t_DisparitiesDP_t_Chart from [dbo].[t_DisparitiesDataPoint]')
ALTER TABLE [dbo].[t_DisparitiesDataPoint] NOCHECK CONSTRAINT [FK_t_DisparitiesDP_t_Chart]

PRINT(N'Update rows in [dbo].[t_Chart]')
UPDATE [dbo].[t_Chart] SET [ChartStyleID]=2 WHERE [ChartID] = 4432
UPDATE [dbo].[t_Chart] SET [ChartStyleID]=2 WHERE [ChartID] = 4433
UPDATE [dbo].[t_Chart] SET [ChartStyleID]=2 WHERE [ChartID] = 4434
UPDATE [dbo].[t_Chart] SET [ChartStyleID]=2 WHERE [ChartID] = 4435
UPDATE [dbo].[t_Chart] SET [ChartStyleID]=2 WHERE [ChartID] = 4440
UPDATE [dbo].[t_Chart] SET [ChartStyleID]=2 WHERE [ChartID] = 4441
UPDATE [dbo].[t_Chart] SET [ChartStyleID]=2 WHERE [ChartID] = 4442
UPDATE [dbo].[t_Chart] SET [ChartStyleID]=2 WHERE [ChartID] = 4443
PRINT(N'Operation applied to 8 rows out of 8')

PRINT(N'Add constraints to [dbo].[t_Chart]')
ALTER TABLE [dbo].[t_Chart] WITH CHECK CHECK CONSTRAINT [FK_t_Chart_t_ChartStyle]
ALTER TABLE [dbo].[t_Chart] WITH CHECK CHECK CONSTRAINT [FK_t_Chart_t_DisplayFormat]
ALTER TABLE [dbo].[t_Chart] WITH CHECK CHECK CONSTRAINT [FK_t_Chart_t_Page]
ALTER TABLE [dbo].[t_Chart] WITH CHECK CHECK CONSTRAINT [FK_t_Chart_t_StratificationSet_1]
ALTER TABLE [dbo].[t_Chart] WITH CHECK CHECK CONSTRAINT [FK_t_Chart_t_StratificationSet_2]
ALTER TABLE [dbo].[t_Chart] WITH CHECK CHECK CONSTRAINT [FK_t_Chart_t_StratificationSet_3]
ALTER TABLE [dbo].[t_DataPoint] WITH CHECK CHECK CONSTRAINT [FK_t_DataPoint_t_Chart]
ALTER TABLE [dbo].[t_DisparitiesDataPoint] WITH CHECK CHECK CONSTRAINT [FK_t_DisparitiesDP_t_Chart]
COMMIT TRANSACTION
GO
