/*
Run this script on:

awssqlprodm.51349_CDCCKD    -  This database will be modified

to synchronize it with:

awssqlstgm.51349_CDCCKD_TED

You are recommended to back up your database before running this script

Script created by SQL Data Compare version 14.0.7.13517 from Red Gate Software Ltd at 1/30/2026 5:23:11 PM

*/
		
USE [NCCD_DDT_CKD]
GO
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS, NOCOUNT ON
GO
SET DATEFORMAT YMD
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL Serializable
GO
BEGIN TRANSACTION

PRINT(N'Drop constraint FK_t_IndicatorFactorOfInterestLink_t_Indicator from [dbo].[t_IndicatorFactorOfInterestLink]')
ALTER TABLE [dbo].[t_IndicatorFactorOfInterestLink] NOCHECK CONSTRAINT [FK_t_IndicatorFactorOfInterestLink_t_Indicator]

PRINT(N'Drop constraint FK_t_IndicatorLink_t_Indicator_1 from [dbo].[t_IndicatorLink]')
ALTER TABLE [dbo].[t_IndicatorLink] NOCHECK CONSTRAINT [FK_t_IndicatorLink_t_Indicator_1]

PRINT(N'Drop constraint FK_t_IndicatorLink_t_Indicator_2 from [dbo].[t_IndicatorLink]')
ALTER TABLE [dbo].[t_IndicatorLink] NOCHECK CONSTRAINT [FK_t_IndicatorLink_t_Indicator_2]

PRINT(N'Drop constraint FK_t_MeasureIndicatorLink_t_Indicator from [dbo].[t_MeasureIndicatorLink]')
ALTER TABLE [dbo].[t_MeasureIndicatorLink] NOCHECK CONSTRAINT [FK_t_MeasureIndicatorLink_t_Indicator]

PRINT(N'Drop constraint FK_t_Page_t_Indicator from [dbo].[t_Page]')
ALTER TABLE [dbo].[t_Page] NOCHECK CONSTRAINT [FK_t_Page_t_Indicator]

PRINT(N'Update row in [dbo].[t_Indicator]')
UPDATE [dbo].[t_Indicator] SET [IndicatorText]=N'Prevalence of Diagnosed CKD Among Medicare Beneficiaries aged ≥ 65 Years, by U.S. State and County' WHERE [IndicatorID] = 371
ALTER TABLE [dbo].[t_IndicatorFactorOfInterestLink] WITH CHECK CHECK CONSTRAINT [FK_t_IndicatorFactorOfInterestLink_t_Indicator]
ALTER TABLE [dbo].[t_IndicatorLink] WITH CHECK CHECK CONSTRAINT [FK_t_IndicatorLink_t_Indicator_1]
ALTER TABLE [dbo].[t_IndicatorLink] WITH CHECK CHECK CONSTRAINT [FK_t_IndicatorLink_t_Indicator_2]
ALTER TABLE [dbo].[t_MeasureIndicatorLink] WITH CHECK CHECK CONSTRAINT [FK_t_MeasureIndicatorLink_t_Indicator]
ALTER TABLE [dbo].[t_Page] WITH CHECK CHECK CONSTRAINT [FK_t_Page_t_Indicator]
COMMIT TRANSACTION
GO
