/*
Run this script on:

awssqlprodm.51349_CDCCKD    -  This database will be modified

to synchronize it with:

awssqlstgm.51349_CDCCKD_TED

You are recommended to back up your database before running this script

Script created by SQL Data Compare version 14.0.7.13517 from Red Gate Software Ltd at 1/8/2026 12:08:23 PM

*/
		
USE [51349_CDCCKD]
GO
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS, NOCOUNT ON
GO
SET DATEFORMAT YMD
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL Serializable
GO
BEGIN TRANSACTION

PRINT(N'Drop constraints from [dbo].[t_Page]')
ALTER TABLE [dbo].[t_Page] NOCHECK CONSTRAINT [FK_t_Page_t_DataSource]
ALTER TABLE [dbo].[t_Page] NOCHECK CONSTRAINT [FK_t_Page_t_Indicator]

PRINT(N'Drop constraint FK_t_Chart_t_Page from [dbo].[t_Chart]')
ALTER TABLE [dbo].[t_Chart] NOCHECK CONSTRAINT [FK_t_Chart_t_Page]

PRINT(N'Drop constraint FK_t_FootNote_t_Page from [dbo].[t_FootNote]')
ALTER TABLE [dbo].[t_FootNote] NOCHECK CONSTRAINT [FK_t_FootNote_t_Page]

PRINT(N'Drop constraint FK_t_Image_t_Page from [dbo].[t_Image]')
ALTER TABLE [dbo].[t_Image] NOCHECK CONSTRAINT [FK_t_Image_t_Page]

PRINT(N'Drop constraint FK_t_KeyPoint_t_Page from [dbo].[t_KeyPoint]')
ALTER TABLE [dbo].[t_KeyPoint] NOCHECK CONSTRAINT [FK_t_KeyPoint_t_Page]

PRINT(N'Drop constraint FK_t_MapLegend_t_Page from [dbo].[t_MapLegend]')
ALTER TABLE [dbo].[t_MapLegend] NOCHECK CONSTRAINT [FK_t_MapLegend_t_Page]

PRINT(N'Drop constraint FK_t_MethodsPage_t_Page from [dbo].[t_MethodsPage]')
ALTER TABLE [dbo].[t_MethodsPage] NOCHECK CONSTRAINT [FK_t_MethodsPage_t_Page]

PRINT(N'Drop constraint FK_t_PageReferenceLink_t_Page from [dbo].[t_PageReferenceLink]')
ALTER TABLE [dbo].[t_PageReferenceLink] NOCHECK CONSTRAINT [FK_t_PageReferenceLink_t_Page]

PRINT(N'Drop constraint FK_t_SpecSheet_t_Page from [dbo].[t_SpecSheet]')
ALTER TABLE [dbo].[t_SpecSheet] NOCHECK CONSTRAINT [FK_t_SpecSheet_t_Page]

PRINT(N'Update rows in [dbo].[t_Page]')
UPDATE [dbo].[t_Page] SET [Active]=0 WHERE [PageID] = 586
UPDATE [dbo].[t_Page] SET [Active]=0 WHERE [PageID] = 587
UPDATE [dbo].[t_Page] SET [Active]=0 WHERE [PageID] = 588
UPDATE [dbo].[t_Page] SET [Active]=0 WHERE [PageID] = 589
UPDATE [dbo].[t_Page] SET [Active]=0 WHERE [PageID] = 593
UPDATE [dbo].[t_Page] SET [Active]=0 WHERE [PageID] = 594
UPDATE [dbo].[t_Page] SET [Active]=0 WHERE [PageID] = 595
UPDATE [dbo].[t_Page] SET [Active]=0 WHERE [PageID] = 596
PRINT(N'Operation applied to 8 rows out of 8')

PRINT(N'Add constraints to [dbo].[t_Page]')
ALTER TABLE [dbo].[t_Page] WITH CHECK CHECK CONSTRAINT [FK_t_Page_t_DataSource]
ALTER TABLE [dbo].[t_Page] WITH CHECK CHECK CONSTRAINT [FK_t_Page_t_Indicator]
ALTER TABLE [dbo].[t_Chart] WITH CHECK CHECK CONSTRAINT [FK_t_Chart_t_Page]
ALTER TABLE [dbo].[t_FootNote] WITH CHECK CHECK CONSTRAINT [FK_t_FootNote_t_Page]
ALTER TABLE [dbo].[t_Image] WITH CHECK CHECK CONSTRAINT [FK_t_Image_t_Page]
ALTER TABLE [dbo].[t_KeyPoint] WITH CHECK CHECK CONSTRAINT [FK_t_KeyPoint_t_Page]
ALTER TABLE [dbo].[t_MapLegend] WITH CHECK CHECK CONSTRAINT [FK_t_MapLegend_t_Page]
ALTER TABLE [dbo].[t_MethodsPage] WITH CHECK CHECK CONSTRAINT [FK_t_MethodsPage_t_Page]
ALTER TABLE [dbo].[t_PageReferenceLink] WITH CHECK CHECK CONSTRAINT [FK_t_PageReferenceLink_t_Page]
ALTER TABLE [dbo].[t_SpecSheet] WITH CHECK CHECK CONSTRAINT [FK_t_SpecSheet_t_Page]
COMMIT TRANSACTION
GO
