/*
Run this script on:

awssqlprodm.51349_CDCCKD    -  This database will be modified

to synchronize it with:

awssqlstgm.51349_CDCCKD_TED

You are recommended to back up your database before running this script

Script created by SQL Data Compare version 14.0.7.13517 from Red Gate Software Ltd at 12/18/2025 1:20:00 PM

*/
		
USE [51349_CDCCKD]
GO
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS, NOCOUNT ON
GO
SET DATEFORMAT YMD
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL Serializable
GO
BEGIN TRANSACTION

PRINT(N'Drop constraints from [dbo].[t_DataPoint]')
ALTER TABLE [dbo].[t_DataPoint] NOCHECK CONSTRAINT [FK_t_DataPoint_t_Chart]
ALTER TABLE [dbo].[t_DataPoint] NOCHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_1]
ALTER TABLE [dbo].[t_DataPoint] NOCHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_2]
ALTER TABLE [dbo].[t_DataPoint] NOCHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_3]

PRINT(N'Drop constraints from [dbo].[t_Chart]')
ALTER TABLE [dbo].[t_Chart] NOCHECK CONSTRAINT [FK_t_Chart_t_ChartStyle]
ALTER TABLE [dbo].[t_Chart] NOCHECK CONSTRAINT [FK_t_Chart_t_DisplayFormat]
ALTER TABLE [dbo].[t_Chart] NOCHECK CONSTRAINT [FK_t_Chart_t_Page]
ALTER TABLE [dbo].[t_Chart] NOCHECK CONSTRAINT [FK_t_Chart_t_StratificationSet_1]
ALTER TABLE [dbo].[t_Chart] NOCHECK CONSTRAINT [FK_t_Chart_t_StratificationSet_2]
ALTER TABLE [dbo].[t_Chart] NOCHECK CONSTRAINT [FK_t_Chart_t_StratificationSet_3]

PRINT(N'Drop constraint FK_t_DisparitiesDP_t_Chart from [dbo].[t_DisparitiesDataPoint]')
ALTER TABLE [dbo].[t_DisparitiesDataPoint] NOCHECK CONSTRAINT [FK_t_DisparitiesDP_t_Chart]

PRINT(N'Delete rows from [dbo].[t_DataPoint]')
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365302
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365303
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365304
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365305
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365306
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365307
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365308
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365309
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365310
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365311
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365312
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365313
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365314
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365315
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365316
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365317
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365318
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365319
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365320
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365321
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365322
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365323
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365324
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365325
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365326
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365327
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365328
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365329
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365330
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365331
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365332
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365333
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365334
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365335
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365336
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365337
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365338
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365339
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365340
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365341
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365342
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365343
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365344
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365345
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365346
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365347
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365348
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365349
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365350
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365351
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365352
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365353
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365354
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365355
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365356
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365357
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365358
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365359
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365360
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365361
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365362
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365363
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365364
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365365
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365366
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365367
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365368
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365369
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365370
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365371
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365372
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365373
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365374
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365375
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365376
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365377
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365378
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365379
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365380
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365381
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365382
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365383
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365384
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365385
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365386
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365387
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365388
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365389
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365390
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365391
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365392
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365393
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365394
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365395
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365396
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365397
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365398
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365399
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365400
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365401
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365402
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365403
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365404
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365405
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365406
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365407
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365408
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365409
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365410
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365411
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365412
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365413
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365414
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365415
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365416
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365417
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365418
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365419
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365420
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365421
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365422
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365423
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365424
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365425
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365426
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365427
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365428
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365429
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365430
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365431
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365432
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365433
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365434
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365435
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365436
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365437
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365438
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365439
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365440
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365441
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365442
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365443
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365444
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365445
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365446
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365447
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365448
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365449
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365450
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365451
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365452
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365453
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365454
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365455
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365456
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365457
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365458
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365459
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365460
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365461
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365462
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365463
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365464
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365465
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365466
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365467
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365468
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365469
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365470
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365471
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365472
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365473
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365474
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365475
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365476
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365477
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365478
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365479
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365480
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365481
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365482
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365483
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365484
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365485
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365486
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365487
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365488
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365489
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365490
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365491
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365492
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365493
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365494
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365495
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365496
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365497
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365498
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365499
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365500
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365501
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365502
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365503
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365504
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365505
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365506
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365507
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365508
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365509
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365510
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365511
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365512
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365513
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365514
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365515
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365516
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365517
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365518
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365519
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365520
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365521
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365522
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365523
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365524
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365525
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365526
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365527
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365528
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365529
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365530
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365531
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365532
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394819
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394820
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394821
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394822
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394823
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394824
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394825
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394826
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394827
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394828
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394829
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394830
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394831
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394832
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394833
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394834
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394835
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394836
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394837
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394838
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394839
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394840
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394841
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394842
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394843
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394844
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394845
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394846
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394847
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394848
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394849
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394850
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394851
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394852
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394853
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394854
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394855
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394856
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394857
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394858
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394859
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394860
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394861
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394862
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394863
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394864
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394865
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394866
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394867
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394868
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394869
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394870
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394871
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394872
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394873
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394874
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394875
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394876
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394877
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394878
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394879
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394880
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394881
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394882
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394883
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394884
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394885
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394886
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394887
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394888
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394889
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394890
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394891
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394892
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394893
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394894
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394895
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394896
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394897
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394898
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394899
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394900
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394901
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 394902
PRINT(N'Operation applied to 315 rows out of 525')

PRINT(N'Update rows in [dbo].[t_Chart]')
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'CKD Stages 3-5 with ICD Codes (%)' WHERE [ChartID] = 4289
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'CKD Stages 3-5 with ICD Codes (%)' WHERE [ChartID] = 4290
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'CKD Stages 3-5 with ICD Codes (%)' WHERE [ChartID] = 4291
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'CKD Stages 3-5 with ICD Codes (%)' WHERE [ChartID] = 4292
UPDATE [dbo].[t_Chart] SET [YAxisLabel]=N'CKD Stages 3-5 with ICD Codes (%)' WHERE [ChartID] = 4293
PRINT(N'Operation applied to 5 rows out of 17')

PRINT(N'Add rows to [dbo].[t_DataPoint]')
SET IDENTITY_INSERT [dbo].[t_DataPoint] ON
INSERT INTO [dbo].[t_DataPoint] ([DatapointID], [ChartID], [StratificationID1], [StratificationID2], [StratificationID3], [MainValue], [HighConfidenceInterval], [LowConfidenceInterval], [StandardError]) VALUES (397264, 4293, 484, NULL, NULL, N'25.0', NULL, NULL, NULL)
INSERT INTO [dbo].[t_DataPoint] ([DatapointID], [ChartID], [StratificationID1], [StratificationID2], [StratificationID3], [MainValue], [HighConfidenceInterval], [LowConfidenceInterval], [StandardError]) VALUES (397265, 4293, 486, NULL, NULL, N'31.6', NULL, NULL, NULL)
INSERT INTO [dbo].[t_DataPoint] ([DatapointID], [ChartID], [StratificationID1], [StratificationID2], [StratificationID3], [MainValue], [HighConfidenceInterval], [LowConfidenceInterval], [StandardError]) VALUES (397266, 4293, 487, NULL, NULL, N'34.1', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[t_DataPoint] OFF
PRINT(N'Operation applied to 315 rows out of 1889')

PRINT(N'Add constraints to [dbo].[t_DataPoint]')
ALTER TABLE [dbo].[t_DataPoint] WITH CHECK CHECK CONSTRAINT [FK_t_DataPoint_t_Chart]
ALTER TABLE [dbo].[t_DataPoint] WITH CHECK CHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_1]
ALTER TABLE [dbo].[t_DataPoint] WITH CHECK CHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_2]
ALTER TABLE [dbo].[t_DataPoint] WITH CHECK CHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_3]

PRINT(N'Add constraints to [dbo].[t_Chart]')
ALTER TABLE [dbo].[t_Chart] WITH CHECK CHECK CONSTRAINT [FK_t_Chart_t_ChartStyle]
ALTER TABLE [dbo].[t_Chart] WITH CHECK CHECK CONSTRAINT [FK_t_Chart_t_DisplayFormat]
ALTER TABLE [dbo].[t_Chart] WITH CHECK CHECK CONSTRAINT [FK_t_Chart_t_Page]
ALTER TABLE [dbo].[t_Chart] WITH CHECK CHECK CONSTRAINT [FK_t_Chart_t_StratificationSet_1]
ALTER TABLE [dbo].[t_Chart] WITH CHECK CHECK CONSTRAINT [FK_t_Chart_t_StratificationSet_2]
ALTER TABLE [dbo].[t_Chart] WITH CHECK CHECK CONSTRAINT [FK_t_Chart_t_StratificationSet_3]
ALTER TABLE [dbo].[t_DisparitiesDataPoint] WITH CHECK CHECK CONSTRAINT [FK_t_DisparitiesDP_t_Chart]
COMMIT TRANSACTION
GO
