/*
Run this script on:

awssqlprodm.51349_CDCCKD    -  This database will be modified

to synchronize it with:

awssqlstgm.51349_CDCCKD_TED

You are recommended to back up your database before running this script

Script created by SQL Data Compare version 14.0.7.13517 from Red Gate Software Ltd at 12/23/2025 1:14:44 PM

*/
		
USE [NCCD_DDT_CKD]
GO
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS, NOCOUNT ON
GO
SET DATEFORMAT YMD
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL Serializable
GO
BEGIN TRANSACTION

PRINT(N'Update row in [dbo].[t_ShortTitles]')
UPDATE [dbo].[t_ShortTitles] SET [ShortTitle]=N'Trends in Kidney Disease Awareness among U.S. Adults with CKD Stages 1–5' WHERE [Topic] = N'Awareness' AND [Qnum] = N'Q98' AND [ShortTitleKey] = 21
COMMIT TRANSACTION
GO
