
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS, NOCOUNT ON
GO
SET DATEFORMAT YMD
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL Serializable
GO
BEGIN TRANSACTION

PRINT(N'Drop constraints from [dbo].[t_SpecSheet]')
ALTER TABLE [dbo].[t_SpecSheet] NOCHECK CONSTRAINT [FK_t_SpecSheet_t_Page]

PRINT(N'Drop constraints from [dbo].[t_DataPoint]')
ALTER TABLE [dbo].[t_DataPoint] NOCHECK CONSTRAINT [FK_t_DataPoint_t_Chart]
ALTER TABLE [dbo].[t_DataPoint] NOCHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_1]
ALTER TABLE [dbo].[t_DataPoint] NOCHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_2]
ALTER TABLE [dbo].[t_DataPoint] NOCHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_3]

PRINT(N'Delete rows from [dbo].[t_DataPoint]')
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364900
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364901
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364902
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364903
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364904
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364905
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364906
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364907
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364908
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364909
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364910
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364911
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364912
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364913
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364914
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364915
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364916
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364917
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364918
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364919
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364920
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364921
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364922
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364923
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364924
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364925
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364926
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364927
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364928
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364929
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364930
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364931
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364932
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364933
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364934
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364935
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364936
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364937
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364938
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364939
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364940
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364941
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364942
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364943
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364944
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364945
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364946
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364947
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364948
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364949
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364950
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364951
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364952
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364953
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364954
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364955
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364956
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364957
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364958
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364959
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364960
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364961
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364962
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364963
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364964
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364965
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364966
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364967
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364968
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364969
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364970
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364971
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364972
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364973
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364974
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364975
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364976
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364977
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364978
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364979
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364980
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364981
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364982
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364983
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364984
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364985
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364986
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364987
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364988
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364989
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364990
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364991
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364992
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364993
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364994
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364995
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364996
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364997
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364998
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 364999
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365000
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365001
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365002
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365003
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365004
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365005
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365006
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365007
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365008
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365009
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365010
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365011
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365012
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365013
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365014
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365015
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365016
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365017
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365018
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365019
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365020
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365021
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365022
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365023
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365024
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365025
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365026
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365027
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365028
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365029
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365030
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365031
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365032
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365033
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365034
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365035
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365036
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365037
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365038
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365039
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365040
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365041
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365042
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365043
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365044
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365045
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365046
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365047
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365048
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365049
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365050
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365051
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365052
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365053
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365054
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365055
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365056
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365057
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365058
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365059
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365060
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365061
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365062
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365063
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365064
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365065
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365066
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365067
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365068
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365069
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365070
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365071
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365072
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365073
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365074
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365075
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365076
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365077
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365078
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365079
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365080
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365081
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365082
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365083
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365084
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365085
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365086
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365202
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365203
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365204
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365205
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365206
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365207
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365208
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365209
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365210
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365211
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365212
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365213
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365214
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365215
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365216
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365217
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365218
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365219
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365220
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365221
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365222
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365223
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365224
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365225
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365226
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365227
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365228
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365229
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365230
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365231
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365232
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365233
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365234
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365235
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365236
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365237
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365238
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365239
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365240
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365241
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365242
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365243
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365244
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365245
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365246
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365247
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365248
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365249
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365250
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365251
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365252
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365253
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365254
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365255
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365256
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365257
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365258
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365259
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365260
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365261
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365262
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365263
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365264
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365265
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365266
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365267
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365268
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365269
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365270
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365271
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365272
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365273
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365274
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365275
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365276
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365277
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365278
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365279
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365280
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365281
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365282
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365283
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365284
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365285
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365286
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365287
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365288
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365289
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365290
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365291
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365292
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365293
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365294
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365295
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365296
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365297
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365298
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365299
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365300
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 365301
PRINT(N'Operation applied to 287 rows out of 287')

PRINT(N'Update rows in [dbo].[t_SpecSheet]')
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>CKD (ICD-9): 16, 95.4, 189, 189.1, 189.9, 236.91, 250.4, 250.41, 250.42, 250.43, 271.4, 274.1, 283.11, 403, 403.01, 403.1, 403.11, 403.9, 403.91, 404, 404.01, 404.02, 404.03, 404.1, 404.11, 404.12, 404.13, 404.9, 404.91, 404.92, 404.93, 405.01, 440.1, 442.1, 447.3, 453.3, 572.4, 580, 580.4, 580.81, 580.89, 580.9, 581, 581.1, 581.2, 581.3, 581.81, 581.89, 581.9, 582, 582.1, 582.2, 582.4, 582.81, 582.89, 582.9, 583, 583.1, 583.2, 583.4, 583.6, 583.7, 583.81, 583.89, 583.9, 584.5, 584.6, 584.7, 584.8, 584.9, 585.x, 586, 587, 588, 588.1, 588.81, 588.89, 588.9, 589, 590, 590.8, 591, 593.1, 593.3, 593.4, 593.5, 593.6, 593.7, 593.81, 593.89, 593.9, 642.1, 646.2, 753, 753.1, 753.11, 753.12, 753.13, 753.14, 753.15, 753.16, 753.17, 753.19, 753.2, 753.21, 753.22, 753.23, 753.29, 753.3, 753.4, 753.5, 753.6, 753.7, 753.8, 753.9, 791, 791.1, 791.2, 791.3, 791.4, 791.5, 791.6, 791.7, 791.9, 794.4, 585.6, 996.81, V42.0, V45.1, V56.0, V56.1, V56.2, V56.3, V56.31, V56.32, V56.8, E879.1.<br />  CKD (ICD-10): A18.11, B58.83, C64.1, C64.2, C64.9, C65.1, C65.2, C65.9, C66.1, C66.2, C66.9, C79.00, C79.01, C79.02, C7A.093, D30.00, D30.01, D30.02, D30.10, D30.11, D30.12, D30.20, D30.21, D30.22, D3A.093, D41.00, D41.01, D41.02, D41.10, D41.11, D41.12, D41.20, D41.21, D41.22, D49.511, D49.512, D49.519, D51.1, D86.84, E08.21, E08.22, E08.29, E09.21, E09.22, E09.29, E10.21, E10.22, E10.29, E11.21, E11.22, E11.29, E13.21, E13.22, E13.29, E26.81, E72.00, E72.01, E72.02, E72.03, E72.04, E72.09, E72.53, E83.31, E87.21, E87.22, I12.0, I12.9, I13.0, I13.10, I13.11, I13.2, I15.0, I15.1, I72.2, I75.81, I77.73, I77.82, I82.3, M32.14, M32.15, M35.04, M35.0A, N02.0, N02.1, N02.2, N02.3, N02.4, N02.5, N02.6, N02.7, N02.8, N02.9, N02.A, N03.0, N03.1, N03.2, N03.3, N03.4, N03.5, N03.6, N03.7, N03.8, N03.9, N03.A, N04.0, N04.1, N04.2, N04.3, N04.4, N04.5, N04.6, N04.7, N04.8, N04.9, N04.A, N05.0, N05.1, N05.2, N05.3, N05.4, N05.5, N05.6, N05.7, N05.8, N05.9, N05.A, N06.0, N06.1, N06.2, N06.3, N06.4, N06.5, N06.6, N06.7, N06.8, N06.9, N06.A, N07.0, N07.1, N07.2, N07.3, N07.4, N07.5, N07.6, N07.7, N07.8, N07.9, N07.A, N08, N11.0, N11.1, N11.8, N11.9, N12., N13.0, N13.1, N13.2, N13.30, N13.39, N13.4, N13.5, N13.6, N13.70, N13.71, N13.721, N13.722, N13.729, N13.731, N13.732, N13.739, N13.8, N13.9, N14.0, N14.11, N14.19, N14.2, N14.3, N14.4, N15.0, N15.1, N15.8, N15.9, N16, N18.1, N18.2, N18.30, N18.31, N18.32, N18.4, N18.5, N18.6, N18.9, N21.0, N21.1, N21.8, N21.9, N22, N23, N25.1, N25.89, N25.9, N26.1, N26.2, N26.9, N27.0, N27.1, N27.9, N28.0, N28.1, N28.81, N28.82, N28.83, N28.84, N28.85, N28.86, N28.89, N28.9, N29, O10.211, O10.212, O10.213, O10.219, O10.22, O10.23, O10.311, O10.312, O10.313, O10.319, O10.32, O10.33, O26.831, O26.832, O26.833, O26.839, P96.0, Q27.1, Q27.2, Q60.0, Q60.1, Q60.2, Q60.3, Q60.4, Q60.5, Q60.6, Q61.00, Q61.01, Q61.02, Q61.11, Q61.19, Q61.2, Q61.3, Q61.4, Q61.5, Q61.8, Q61.9, Q62.0, Q62.10, Q62.11, Q62.12, Q62.2, Q62.31, Q62.32, Q62.39, Q62.4, Q62.5, Q62.60, Q62.61, Q62.62, Q62.63, Q62.69, Q62.7, Q62.8, Q63.0, Q63.1, Q63.2, Q63.3, Q63.8, Q63.9, Q79.4, Q79.51, R80.1, R80.3, R80.8, R80.9, R82.991, R82.992, R82.993, R82.994, R88.0, T86.10, T86.11, T86.12, T86.13, T86.19, Z48.22, Z49.31, Z49.32, Z52.4, Z85.520, Z85.528, Z85.53, Z85.54, Z87.441, Z90.5, Z94.0.</p>    <p>Dialysis (ICD-9): V45.1, V45.0, V56.1, V56.2, V56.3, V56.31, V56.32, V56.8, E879.1.<br />  Dialysis (ICD-10): I95.3, R88.0, T81.502A, T81.502D, T81.502S, T81.512A, T81.512D, T81.512S, T81.522A, T81.522D, T81.522S, T81.532A, T81.532D, T81.532S, T81.592A, T81.592D, T81.592S, T82.41XA, T82.41XD, T82.41XS, T82.42XA, T82.42XD, T82.42XS, T82.43XA, T82.43XD, T82.43XS, T82.49XA, T82.49XD, T82.49XS, T85.611A, T85.611D, T85.611S, T85.621A, T85.621D, T85.621S, T85.631A, T85.631D, T85.631S, T85.691A, T85.691D, T85.691S, T85.71XA, T85.71XD, T85.71XS, Y62.2, Y84.1, Z49.01, Z49.02, Z49.31, Z49.32, Z91.151, Z91.158, Z91.A5, Z99.2.</p>    <p>Transplant (ICD-9): V42.0, 996.81.</p>    <p>Transplant (ICD-10): T86.10, T86.11, T86.12, T86.13, Z48.22, Z94.0. </p>' WHERE [SpecSheetID] = 10832
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>CKD (ICD-9): 16, 95.4, 189, 189.1, 189.9, 236.91, 250.4, 250.41, 250.42, 250.43, 271.4, 274.1, 283.11, 403, 403.01, 403.1, 403.11, 403.9, 403.91, 404, 404.01, 404.02, 404.03, 404.1, 404.11, 404.12, 404.13, 404.9, 404.91, 404.92, 404.93, 405.01, 440.1, 442.1, 447.3, 453.3, 572.4, 580, 580.4, 580.81, 580.89, 580.9, 581, 581.1, 581.2, 581.3, 581.81, 581.89, 581.9, 582, 582.1, 582.2, 582.4, 582.81, 582.89, 582.9, 583, 583.1, 583.2, 583.4, 583.6, 583.7, 583.81, 583.89, 583.9, 584.5, 584.6, 584.7, 584.8, 584.9, 585.x, 586, 587, 588, 588.1, 588.81, 588.89, 588.9, 589, 590, 590.8, 591, 593.1, 593.3, 593.4, 593.5, 593.6, 593.7, 593.81, 593.89, 593.9, 642.1, 646.2, 753, 753.1, 753.11, 753.12, 753.13, 753.14, 753.15, 753.16, 753.17, 753.19, 753.2, 753.21, 753.22, 753.23, 753.29, 753.3, 753.4, 753.5, 753.6, 753.7, 753.8, 753.9, 791, 791.1, 791.2, 791.3, 791.4, 791.5, 791.6, 791.7, 791.9, 794.4, 585.6, 996.81, V42.0, V45.1, V56.0, V56.1, V56.2, V56.3, V56.31, V56.32, V56.8, E879.1.<br />  CKD (ICD-10): A18.11, B58.83, C64.1, C64.2, C64.9, C65.1, C65.2, C65.9, C66.1, C66.2, C66.9, C79.00, C79.01, C79.02, C7A.093, D30.00, D30.01, D30.02, D30.10, D30.11, D30.12, D30.20, D30.21, D30.22, D3A.093, D41.00, D41.01, D41.02, D41.10, D41.11, D41.12, D41.20, D41.21, D41.22, D49.511, D49.512, D49.519, D51.1, D86.84, E08.21, E08.22, E08.29, E09.21, E09.22, E09.29, E10.21, E10.22, E10.29, E11.21, E11.22, E11.29, E13.21, E13.22, E13.29, E26.81, E72.00, E72.01, E72.02, E72.03, E72.04, E72.09, E72.53, E83.31, E87.21, E87.22, I12.0, I12.9, I13.0, I13.10, I13.11, I13.2, I15.0, I15.1, I72.2, I75.81, I77.73, I77.82, I82.3, M32.14, M32.15, M35.04, M35.0A, N02.0, N02.1, N02.2, N02.3, N02.4, N02.5, N02.6, N02.7, N02.8, N02.9, N02.A, N03.0, N03.1, N03.2, N03.3, N03.4, N03.5, N03.6, N03.7, N03.8, N03.9, N03.A, N04.0, N04.1, N04.2, N04.3, N04.4, N04.5, N04.6, N04.7, N04.8, N04.9, N04.A, N05.0, N05.1, N05.2, N05.3, N05.4, N05.5, N05.6, N05.7, N05.8, N05.9, N05.A, N06.0, N06.1, N06.2, N06.3, N06.4, N06.5, N06.6, N06.7, N06.8, N06.9, N06.A, N07.0, N07.1, N07.2, N07.3, N07.4, N07.5, N07.6, N07.7, N07.8, N07.9, N07.A, N08, N11.0, N11.1, N11.8, N11.9, N12., N13.0, N13.1, N13.2, N13.30, N13.39, N13.4, N13.5, N13.6, N13.70, N13.71, N13.721, N13.722, N13.729, N13.731, N13.732, N13.739, N13.8, N13.9, N14.0, N14.11, N14.19, N14.2, N14.3, N14.4, N15.0, N15.1, N15.8, N15.9, N16, N18.1, N18.2, N18.30, N18.31, N18.32, N18.4, N18.5, N18.6, N18.9, N21.0, N21.1, N21.8, N21.9, N22, N23, N25.1, N25.89, N25.9, N26.1, N26.2, N26.9, N27.0, N27.1, N27.9, N28.0, N28.1, N28.81, N28.82, N28.83, N28.84, N28.85, N28.86, N28.89, N28.9, N29, O10.211, O10.212, O10.213, O10.219, O10.22, O10.23, O10.311, O10.312, O10.313, O10.319, O10.32, O10.33, O26.831, O26.832, O26.833, O26.839, P96.0, Q27.1, Q27.2, Q60.0, Q60.1, Q60.2, Q60.3, Q60.4, Q60.5, Q60.6, Q61.00, Q61.01, Q61.02, Q61.11, Q61.19, Q61.2, Q61.3, Q61.4, Q61.5, Q61.8, Q61.9, Q62.0, Q62.10, Q62.11, Q62.12, Q62.2, Q62.31, Q62.32, Q62.39, Q62.4, Q62.5, Q62.60, Q62.61, Q62.62, Q62.63, Q62.69, Q62.7, Q62.8, Q63.0, Q63.1, Q63.2, Q63.3, Q63.8, Q63.9, Q79.4, Q79.51, R80.1, R80.3, R80.8, R80.9, R82.991, R82.992, R82.993, R82.994, R88.0, T86.10, T86.11, T86.12, T86.13, T86.19, Z48.22, Z49.31, Z49.32, Z52.4, Z85.520, Z85.528, Z85.53, Z85.54, Z87.441, Z90.5, Z94.0.</p>    <p>Dialysis (ICD-9): V45.1, V45.0, V56.1, V56.2, V56.3, V56.31, V56.32, V56.8, E879.1.<br />  Dialysis (ICD-10): I95.3, R88.0, T81.502A, T81.502D, T81.502S, T81.512A, T81.512D, T81.512S, T81.522A, T81.522D, T81.522S, T81.532A, T81.532D, T81.532S, T81.592A, T81.592D, T81.592S, T82.41XA, T82.41XD, T82.41XS, T82.42XA, T82.42XD, T82.42XS, T82.43XA, T82.43XD, T82.43XS, T82.49XA, T82.49XD, T82.49XS, T85.611A, T85.611D, T85.611S, T85.621A, T85.621D, T85.621S, T85.631A, T85.631D, T85.631S, T85.691A, T85.691D, T85.691S, T85.71XA, T85.71XD, T85.71XS, Y62.2, Y84.1, Z49.01, Z49.02, Z49.31, Z49.32, Z91.151, Z91.158, Z91.A5, Z99.2.</p>    <p>Transplant (ICD-9): V42.0, 996.81.</p>    <p>Transplant (ICD-10): T86.10, T86.11, T86.12, T86.13, Z48.22, Z94.0. </p>' WHERE [SpecSheetID] = 11307
PRINT(N'Operation applied to 2 rows out of 2')

PRINT(N'Update rows in [dbo].[t_DataPoint]')
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'6.2' WHERE [DatapointID] = 365094
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'6.5' WHERE [DatapointID] = 365095
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'6.4' WHERE [DatapointID] = 365096
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'6.5' WHERE [DatapointID] = 365097
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'6.4' WHERE [DatapointID] = 365105
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'6.6' WHERE [DatapointID] = 365106
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'6.6' WHERE [DatapointID] = 365107
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'6.7' WHERE [DatapointID] = 365108
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'6.2' WHERE [DatapointID] = 365127
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'6.5' WHERE [DatapointID] = 365128
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'6.4' WHERE [DatapointID] = 365129
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'6.5' WHERE [DatapointID] = 365130
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'6.2' WHERE [DatapointID] = 365138
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'6.5' WHERE [DatapointID] = 365139
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'6.4' WHERE [DatapointID] = 365140
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'6.5' WHERE [DatapointID] = 365141
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'4.9' WHERE [DatapointID] = 365149
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'5.2' WHERE [DatapointID] = 365150
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'5.2' WHERE [DatapointID] = 365151
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'5.2' WHERE [DatapointID] = 365152
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'9.8' WHERE [DatapointID] = 365160
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'10.3' WHERE [DatapointID] = 365161
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'10.3' WHERE [DatapointID] = 365162
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'10.5' WHERE [DatapointID] = 365163
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'4.6' WHERE [DatapointID] = 365171
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'5.0' WHERE [DatapointID] = 365172
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'5.1' WHERE [DatapointID] = 365173
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'5.2' WHERE [DatapointID] = 365174
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'4.1' WHERE [DatapointID] = 365182
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'4.5' WHERE [DatapointID] = 365183
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'4.5' WHERE [DatapointID] = 365184
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'4.6' WHERE [DatapointID] = 365185
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'4.7' WHERE [DatapointID] = 365193
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'5.4' WHERE [DatapointID] = 365194
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'4.8' WHERE [DatapointID] = 365195
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'5.0' WHERE [DatapointID] = 365196
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'28.7' WHERE [DatapointID] = 365538
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'29.3' WHERE [DatapointID] = 365539
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'29.1' WHERE [DatapointID] = 365540
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'28.3' WHERE [DatapointID] = 365541
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'28.3' WHERE [DatapointID] = 365549
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'28.0' WHERE [DatapointID] = 365550
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'26.8' WHERE [DatapointID] = 365551
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'26.5' WHERE [DatapointID] = 365552
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'35.7' WHERE [DatapointID] = 365560
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'32.1' WHERE [DatapointID] = 365561
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'34.1' WHERE [DatapointID] = 365562
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'28.5' WHERE [DatapointID] = 365563
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'32.5' WHERE [DatapointID] = 365564
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'23.3' WHERE [DatapointID] = 365572
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'36.7' WHERE [DatapointID] = 365573
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'30.6' WHERE [DatapointID] = 365574
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'34.6' WHERE [DatapointID] = 365575
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'31.9' WHERE [DatapointID] = 365583
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'28.0' WHERE [DatapointID] = 365584
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'31.7' WHERE [DatapointID] = 365585
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'31.8' WHERE [DatapointID] = 365586
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'30.1' WHERE [DatapointID] = 365594
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'30.2' WHERE [DatapointID] = 365595
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'29.6' WHERE [DatapointID] = 365596
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'27.1' WHERE [DatapointID] = 365604
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'27.0' WHERE [DatapointID] = 365605
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'26.6' WHERE [DatapointID] = 365606
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'77.3' WHERE [DatapointID] = 365615
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'81.0' WHERE [DatapointID] = 365616
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'80.7' WHERE [DatapointID] = 365617
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'78.6' WHERE [DatapointID] = 365618
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'70.9' WHERE [DatapointID] = 365626
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'79.8' WHERE [DatapointID] = 365627
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'76.7' WHERE [DatapointID] = 365628
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'78.7' WHERE [DatapointID] = 365629
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'30.1' WHERE [DatapointID] = 365637
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'30.2' WHERE [DatapointID] = 365638
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'29.6' WHERE [DatapointID] = 365639
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'28.5' WHERE [DatapointID] = 365640
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'30.1' WHERE [DatapointID] = 365648
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'30.2' WHERE [DatapointID] = 365649
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'29.6' WHERE [DatapointID] = 365650
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'28.5' WHERE [DatapointID] = 365651
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'31.3' WHERE [DatapointID] = 365659
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'30.8' WHERE [DatapointID] = 365660
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'29.7' WHERE [DatapointID] = 365661
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'29.3' WHERE [DatapointID] = 365670
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'30.5' WHERE [DatapointID] = 365671
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'30.2' WHERE [DatapointID] = 365672
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'29.8' WHERE [DatapointID] = 365673
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'30.1' WHERE [DatapointID] = 365681
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'30.2' WHERE [DatapointID] = 365682
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'29.6' WHERE [DatapointID] = 365683
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'28.5' WHERE [DatapointID] = 365684
PRINT(N'Operation applied to 90 rows out of 90')

PRINT(N'Add rows to [dbo].[t_DataPoint]')
SET IDENTITY_INSERT [dbo].[t_DataPoint] ON
INSERT INTO [dbo].[t_DataPoint] ([DatapointID], [ChartID], [StratificationID1], [StratificationID2], [StratificationID3], [MainValue], [HighConfidenceInterval], [LowConfidenceInterval], [StandardError]) VALUES (394903, 4297, 488, NULL, NULL, N'28.5', NULL, NULL, NULL)
INSERT INTO [dbo].[t_DataPoint] ([DatapointID], [ChartID], [StratificationID1], [StratificationID2], [StratificationID3], [MainValue], [HighConfidenceInterval], [LowConfidenceInterval], [StandardError]) VALUES (394904, 4297, 6007, NULL, NULL, N'32.1', NULL, NULL, NULL)
INSERT INTO [dbo].[t_DataPoint] ([DatapointID], [ChartID], [StratificationID1], [StratificationID2], [StratificationID3], [MainValue], [HighConfidenceInterval], [LowConfidenceInterval], [StandardError]) VALUES (394905, 4297, 6008, NULL, NULL, N'31.6', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[t_DataPoint] OFF
PRINT(N'Operation applied to 201 rows out of 2094')

PRINT(N'Add constraints to [dbo].[t_SpecSheet]')
ALTER TABLE [dbo].[t_SpecSheet] WITH CHECK CHECK CONSTRAINT [FK_t_SpecSheet_t_Page]

PRINT(N'Add constraints to [dbo].[t_DataPoint]')
ALTER TABLE [dbo].[t_DataPoint] WITH CHECK CHECK CONSTRAINT [FK_t_DataPoint_t_Chart]
ALTER TABLE [dbo].[t_DataPoint] WITH CHECK CHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_1]
ALTER TABLE [dbo].[t_DataPoint] WITH CHECK CHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_2]
ALTER TABLE [dbo].[t_DataPoint] WITH CHECK CHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_3]
COMMIT TRANSACTION
GO
