/*
Run this script on:

        awssqlprodm.51349_CDCCKD    -  This database will be modified

to synchronize it with:

        awssqlstgm.51349_CDCCKD_TED

You are recommended to back up your database before running this script

Script created by SQL Compare version 14.0.7.13517 from Red Gate Software Ltd at 11/14/2025 3:29:20 PM

*/
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS ON
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL Serializable
GO
BEGIN TRANSACTION
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Altering [dbo].[udf_TitleCase]'
GO

ALTER FUNCTION [dbo].[udf_TitleCase]
	(
	@Value NVARCHAR(4000), 
	@Exceptions NVARCHAR(4000)= NULL,
	@UCASEWordLength TINYINT = NULL
	) 
RETURNS NVARCHAR(4000) 
AS
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 
Function Purpose: To convert text to Title Case.

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 
INPUT Parameters:
 
@Value :                This is the text to be converted to Proper Case
 
@Exceptions:            'ACE|ARB' do not include the beginning and ending delimiter bars
						A list of exceptions to the default Proper Case rules. e.g. |RAM|CPU|HDD|TFT|
                        Without exception list they would display as Ram, Cpu, Hdd and Tft
                        Note the use of the Pipe "|" symbol to separate exceptions. 
                        (You can change the @sep variable to something else if you prefer)

@UCASEWordLength: You can specify that words less than a certain length are automatically displayed in UPPERCASE

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 

USAGE: 
select dbo.udf_TitleCase('SGLT2 chart ARB CNI Ooops',null,null)
select dbo.udf_TitleCase('SIMPSON, HJ',null,3)
select dbo.udf_TitleCase('sApienza, M',default,default)
select dbo.udf_TitleCase(N'By Annual change in a AKI BY measured kidney function wasn't in patients with ADPKD', NULL, NULL)
select dbo.udf_titleCase(N'Prevalence of CKD Stages, 1988-1994 Vs. 1999-2010', default, default)
select dbo.udf_titleCase(N'Prevalence of NSAID Use Among Persons With and Without CKD in the General Porpulation 1999-2004', NULL, NULL)

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
reference for Capitalization in Titles 101

http://www.grammarcheck.net/capitalization-in-titles-101/
http://www.grammarbook.com/punctuation/capital.asp

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
12/11/2013 MS add code to maintain the capitilization of the first word as it is passed into the proc. 
12/18/2013 MS add code to maintain the capitilization of the first word as it is passed into the proc. 
02/01/2016 MS remove "past" from lsit of @ArticalAndPrepositionExceptions
11/29/2016 MS exception for 'With and Without'
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
*/
 
BEGIN
 
	--DECLARE 	@Value nvarchar(4000) = N'Percentage of patients with diabetes and CKD stages 3-5 filling at least one prescription for either an ACE inhibitor or an ARB, stratified'
	--DECLARE @Exceptions nvarchar(4000)= NULL 

	declare @i int = 1 -- counter 
	declare @WordCount int = 1 -- counter
	DECLARE @SecondWord NVARCHAR (2000) = N''
	DECLARE @ThirdWord NVARCHAR (2000) = N''
	declare @ProperCaseText nvarchar(4000) = N'' -- Used to build our Proper Case string for Function return
	declare @Word nvarchar(2000)= N'' -- Temporary storage for each word
	declare @c nchar(1) = ' ' -- Temp storage location for each character
	declare @StaticExceptions nvarchar(1000) = N'1-Year|3-Year|ACE|(ACE)|ACE/ARB|ACEi/ARB|ADPKD|ADPKD,|(ADPKD)|Age-Adjusted|AKI|AKIN|(AKIN)|All-Cause||ARB|ARB,|ARBs|(ARBs)|ARG|BMI|CKD|CKD,|CVD|CVD,|CM|CNI|CNI-based|eGFR|eGFR,|ESRD|(ESRD)|ESRD,|GLP-1|HP2020|ICD|ICD-9-CM|IDMS|Inhibitor/ARB|II|Pre-ESRD|RA|Race/Ethnicity|Race/Ethnicity,|SGLT2i|Stages/eGFR|U.S.|VA|vs.|vs|AASK|APOL1|CRIC|NEAP|Protein-to-Creatinine|D-ARIC|(T2DM)|NSAID|With and Without|IDMS-Traceable|ACR|(ACR)|End-Stage|MDRD|ICD-10-CM|SGLT2|PLACEHOLDERTEXT|2003–March' 
	declare @ArticalAndPrepositionExceptions nvarchar(1000) = N'a|among|an|at|and|are|as|but|by|down|for|from|if|in|into|like|near|nor|not|of|off|per|on|once|onto|or|over|so|than|that|the|till|to|upon|use|when|with|yet|NSAIDs' 
    
	if @Exceptions is NULL
		set @Exceptions = N'|' + @StaticExceptions + N'|' + @ArticalAndPrepositionExceptions + N'|'
	else
		set @Exceptions =  N'|' +  @Exceptions + N'|' +  @StaticExceptions + N'|' + @ArticalAndPrepositionExceptions + N'|'
	--select @Exceptions as '@Exceptions'

	-- Convert user input to lower case 
	set @Value = LOWER(@Value) 
	--select @Value as '@value'  
	-------------------------------------
	-- very fast split function
	  			 
	DECLARE @tList TABLE (ID INT IDENTITY(1,1),  position int, word nvarchar(100) )		  
	declare @string  nvarchar(4000)
	set @string = @Value
	
	INSERT INTO @tList (position, word)
	select pos, ListString FROM dbo.udf_Split2(N' ',@String)
	
	--select * from @tList
		
	--------------------------------------------------
	select @WordCount = COUNT(1) from  @tList
	while (@i <= @WordCount)
		begin
				-- Reset the Temp @Word variable, ready for a new word
				set @Word = N''
				-- get the next word
				select @Word = cast(word as nvarchar) from @tList where position = @i
				
				--select @Word as '@Word'
				--select @ProperCaseText as '@ProperCaseText'	  
				
				if @i = 1
					BEGIN
						-- first word, maintain the capitalizaion of the first word  
						-- select @Word as '@Word'
						-- Check word against user STATIC exceptions list. If exception is found, use the case specified in the exception. e.g. eGFR.
						-- do not check article and prepositon exceptions e.g. by, a, and, the....
						-- select @Word as '@Word'
						set @Word = case 
								when charindex('|'  + @Word + '|' ,@StaticExceptions collate Latin1_General_CI_AS) > 0 
								then substring(@StaticExceptions,charindex('|'  + @Word + '|' ,@StaticExceptions collate Latin1_General_CI_AS)+1,len(@Word))
								else upper(SUBSTRING(@Word, 1, 1)) + SUBSTRING(@word,2,len(@word))  end 
						--select @Word as '@Word'
					END
				ELSE
					BEGIN	
							-- exception for three words 'With and Without'
							IF @Word = 'With'   
							BEGIN 
								SELECT @SecondWord = CAST(word as nvarchar) from @tList where position = @i + 1
								SELECT @ThirdWord =  CAST(word as nvarchar) from @tList where position = @i + 2
								IF @SecondWord = 'and'  AND @ThirdWord = 'without'
									BEGIN
										SET @i += 2
										set @Word = 'With and Without'
									END
								END
				  				  							
			 			  -- Check word against all exception lists. If exception is found, use the case specified in the exception.
						  -- select @Word as '@Word'
						  set @Word = case 
								when charindex('|' + @Word + '|',@exceptions collate Latin1_General_CI_AS) > 0 
								then substring(@exceptions,charindex('|' + @Word + '|' , @exceptions collate Latin1_General_CI_AS)+1,len(@Word))
								else upper(SUBSTRING(@Word, 1, 1)) + SUBSTRING(@word,2,len(@word))  end 
						  --select @Word as '@Word'
					END
			
			--Append the word to the @ProperCaseText along with the whitespace character
			--select @Word as '@Word'
			set @ProperCaseText = @ProperCaseText + @Word + @c
	 		--select @ProperCaseText as '@ProperCaseText first word'	
			-- Increment the counter
			set @i = @i + 1

		end
				
  --select @ProperCaseText = word from @tList
  --select @ProperCaseText = cast (@WordCount as varchar)
  return ltrim(rtrim(@ProperCaseText)) 
END
 


GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
COMMIT TRANSACTION
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
-- This statement writes to the SQL Server Log so SQL Monitor can show this deployment.
IF HAS_PERMS_BY_NAME(N'sys.xp_logevent', N'OBJECT', N'EXECUTE') = 1
BEGIN
    DECLARE @databaseName AS nvarchar(2048), @eventMessage AS nvarchar(2048)
    SET @databaseName = REPLACE(REPLACE(DB_NAME(), N'\', N'\\'), N'"', N'\"')
    SET @eventMessage = N'Redgate SQL Compare: { "deployment": { "description": "Redgate SQL Compare deployed to ' + @databaseName + N'", "database": "' + @databaseName + N'" }}'
    EXECUTE sys.xp_logevent 55000, @eventMessage
END
GO
DECLARE @Success AS BIT
SET @Success = 1
SET NOEXEC OFF
IF (@Success = 1) PRINT 'The database update succeeded'
ELSE BEGIN
	IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION
	PRINT 'The database update failed'
END
GO
