
/*
Run this script on:

        awssqlprodm.51349_CDCCKD    -  This database will be modified

to synchronize it with:

        awssqlstgm.mathematica.net.51349_CDCCKD_TED

You are recommended to back up your database before running this script

Script created by SQL Compare version 14.0.7.13517 from Red Gate Software Ltd at 4/7/2026 3:09:48 PM

*/
USE [NCCD_DDT_CKD]
GO
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS ON
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL Serializable
GO
BEGIN TRANSACTION
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Altering [dbo].[udf_TitleCase]'
GO

ALTER FUNCTION [dbo].[udf_TitleCase]
	(
	@Value NVARCHAR(4000), 
	@Exceptions NVARCHAR(4000)= NULL,
	@UCASEWordLength TINYINT = NULL
	) 
RETURNS NVARCHAR(4000) 
AS
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 
Function Purpose: To convert text to Title Case.

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 
INPUT Parameters:
 
@Value :                This is the text to be converted to Proper Case
 
@Exceptions:            'ACE|ARB' do not include the beginning and ending delimiter bars
						A list of exceptions to the default Proper Case rules. e.g. |RAM|CPU|HDD|TFT|
                        Without exception list they would display as Ram, Cpu, Hdd and Tft
                        Note the use of the Pipe "|" symbol to separate exceptions. 
                        (You can change the @sep variable to something else if you prefer)

@UCASEWordLength: You can specify that words less than a certain length are automatically displayed in UPPERCASE

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 

USAGE: 
select dbo.udf_TitleCase('SGLT2 chart ARB CNI Ooops',null,null)
select dbo.udf_TitleCase('SIMPSON, HJ',null,3)
select dbo.udf_TitleCase('sApienza, M',default,default)
select dbo.udf_TitleCase(N'By Annual change in a AKI BY measured kidney function wasn't in patients with ADPKD', NULL, NULL)
select dbo.udf_titleCase(N'Prevalence of CKD Stages, 1988-1994 Vs. 1999-2010', default, default)
select dbo.udf_titleCase(N'Prevalence of NSAID Use Among Persons With and Without CKD in the General Porpulation 1999-2004', NULL, NULL)

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
reference for Capitalization in Titles 101

http://www.grammarcheck.net/capitalization-in-titles-101/
http://www.grammarbook.com/punctuation/capital.asp

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
12/11/2013 MS add code to maintain the capitilization of the first word as it is passed into the proc. 
12/18/2013 MS add code to maintain the capitilization of the first word as it is passed into the proc. 
02/01/2016 MS remove "past" from lsit of @ArticalAndPrepositionExceptions
11/29/2016 MS exception for 'With and Without'
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ 
*/
 
BEGIN
 
	--DECLARE 	@Value nvarchar(4000) = N'Percentage of patients with diabetes and CKD stages 3-5 filling at least one prescription for either an ACE inhibitor or an ARB, stratified'
	--DECLARE @Exceptions nvarchar(4000)= NULL 

	declare @i int = 1 -- counter 
	declare @WordCount int = 1 -- counter
	DECLARE @SecondWord NVARCHAR (2000) = N''
	DECLARE @ThirdWord NVARCHAR (2000) = N''
	declare @ProperCaseText nvarchar(4000) = N'' -- Used to build our Proper Case string for Function return
	declare @Word nvarchar(2000)= N'' -- Temporary storage for each word
	declare @c nchar(1) = ' ' -- Temp storage location for each character
	declare @StaticExceptions nvarchar(1000) = N'1-Year|3-Year|ACE|(ACE)|ACE/ARB|ACEi/ARB|ACEi|ADPKD|ADPKD,|(ADPKD)|Age-Adjusted|AKI|AKIN|(AKIN)|All-Cause||ARB|ARB,|ARBs|(ARBs)|ARG|BMI|CKD|CKD,|(CKD)|CVD|CVD,|CM|CNI|CNI-based|eGFR|eGFR,|eGFR-based|ESRD|(ESRD)|ESRD,|GLP-1|HP2020|ICD|ICD-9-CM|IDMS|Inhibitor/ARB|II|Pre-ESRD|RA|Race/Ethnicity|Race/Ethnicity,|SGLT2i|Stages/eGFR|U.S.|VA|vs.|vs|AASK|APOL1|CRIC|NEAP|Protein-to-Creatinine|D-ARIC|(T2DM)|NSAID|With and Without|IDMS-Traceable|ACR|(ACR)|End-Stage|MDRD|ICD-10-CM|SGLT2|PLACEHOLDERTEXT|2003–March|(Types' 
	declare @ArticalAndPrepositionExceptions nvarchar(1000) = N'a|among|an|at|and|are|as|but|by|down|for|from|if|in|into|like|near|nor|not|of|off|per|on|once|onto|or|over|so|than|that|the|till|to|upon|use|when|with|yet|NSAIDs' 
    
	if @Exceptions is NULL
		set @Exceptions = N'|' + @StaticExceptions + N'|' + @ArticalAndPrepositionExceptions + N'|'
	else
		set @Exceptions =  N'|' +  @Exceptions + N'|' +  @StaticExceptions + N'|' + @ArticalAndPrepositionExceptions + N'|'
	--select @Exceptions as '@Exceptions'

	-- Convert user input to lower case 
	set @Value = LOWER(@Value) 
	--select @Value as '@value'  
	-------------------------------------
	-- very fast split function
	  			 
	DECLARE @tList TABLE (ID INT IDENTITY(1,1),  position int, word nvarchar(100) )		  
	declare @string  nvarchar(4000)
	set @string = @Value
	
	INSERT INTO @tList (position, word)
	select pos, ListString FROM dbo.udf_Split2(N' ',@String)
	
	--select * from @tList
		
	--------------------------------------------------
	select @WordCount = COUNT(1) from  @tList
	while (@i <= @WordCount)
		begin
				-- Reset the Temp @Word variable, ready for a new word
				set @Word = N''
				-- get the next word
				select @Word = cast(word as nvarchar) from @tList where position = @i
				
				--select @Word as '@Word'
				--select @ProperCaseText as '@ProperCaseText'	  
				
				if @i = 1
					BEGIN
						-- first word, maintain the capitalizaion of the first word  
						-- select @Word as '@Word'
						-- Check word against user STATIC exceptions list. If exception is found, use the case specified in the exception. e.g. eGFR.
						-- do not check article and prepositon exceptions e.g. by, a, and, the....
						-- select @Word as '@Word'
						set @Word = case 
								when charindex('|'  + @Word + '|' ,@StaticExceptions collate Latin1_General_CI_AS) > 0 
								then substring(@StaticExceptions,charindex('|'  + @Word + '|' ,@StaticExceptions collate Latin1_General_CI_AS)+1,len(@Word))
								else upper(SUBSTRING(@Word, 1, 1)) + SUBSTRING(@word,2,len(@word))  end 
						--select @Word as '@Word'
					END
				ELSE
					BEGIN	
							-- exception for three words 'With and Without'
							IF @Word = 'With'   
							BEGIN 
								SELECT @SecondWord = CAST(word as nvarchar) from @tList where position = @i + 1
								SELECT @ThirdWord =  CAST(word as nvarchar) from @tList where position = @i + 2
								IF @SecondWord = 'and'  AND @ThirdWord = 'without'
									BEGIN
										SET @i += 2
										set @Word = 'With and Without'
									END
								END
				  				  							
			 			  -- Check word against all exception lists. If exception is found, use the case specified in the exception.
						  -- select @Word as '@Word'
						  set @Word = case 
								when charindex('|' + @Word + '|',@exceptions collate Latin1_General_CI_AS) > 0 
								then substring(@exceptions,charindex('|' + @Word + '|' , @exceptions collate Latin1_General_CI_AS)+1,len(@Word))
								else upper(SUBSTRING(@Word, 1, 1)) + SUBSTRING(@word,2,len(@word))  end 
						  --select @Word as '@Word'
					END
			
			--Append the word to the @ProperCaseText along with the whitespace character
			--select @Word as '@Word'
			set @ProperCaseText = @ProperCaseText + @Word + @c
	 		--select @ProperCaseText as '@ProperCaseText first word'	
			-- Increment the counter
			set @i = @i + 1

		end
				
  --select @ProperCaseText = word from @tList
  --select @ProperCaseText = cast (@WordCount as varchar)
  return ltrim(rtrim(@ProperCaseText)) 
END
 


GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Altering [dbo].[proc_GetChartWithShort]'
GO


/******************************************************************************

  Name:         [proc_GetChartWithShort]
  
  Description:  

  Called By:    

-------------------------------------------------------------------------------
  Notes:
                                                                   
-------------------------------------------------------------------------------
  History:             
  02/29/2012	rg		Created as proof of concept.
         	    ms		Updates / rewrite 
  04/14/2012	ms		HP2020 logo on website for a few QNUMs
  04/15/2012	ms		Update for MainValue = NA, on Q631-Q634
  05/06/2015	ms		New Map Stuff
  01/30/2017	ms		Updates to allow for stratifying by strat set other than year
                        funcation replaced 
						from dbo.udf_StratificationSetOrderFromChartID
						to   dbo.udf_StratificationSetOrderWithStratifierFromChartID 
						and  dbo.udf_StratificationSetOrderWithStratifierFromChartID 
  02/01/2017	ms	    new column XAxisLabel 
  2019			bs		created this proc based on the proc_getChart
  04/07/2021	bs		Change order by sequence on the #dp table, Q715 was the reason for this fix
-------------------------------------------------------------------------------
usage:
	 exec [proc_GetChartWithShort] 4022, ''
	 exec proc_getPage 'Q600'
	 exec [proc_GetChartWithShort] 204, '2013'
	 select * from v_datapoint vdp where vdp.ChartID = 204
	 
-- usage
-- Q240 has one footnote
-- exec proc_getPage 'Q240'
-- exec [proc_GetChartWithShort] 411, '2006-2008'

-- Q103 has 2 footnotes
-- select * from dbo.udf_ChartTitle(252, '2003')
  
-- Q116 has 3 footnotes
-- exec proc_getPage 'Q116'
-- exec [proc_GetChartWithShort] 256, '2007'

-- Q96 map
-- exec proc_getPage 'Q96'
-- exec [proc_GetChartWithShort] 228, '2009'
-- exec proc_getPage 'Q600'
-- exec [proc_GetChartWithShort] 204, '2013'

-- Q631 map
-- exec proc_getPage 'Q631' 
-- exec [proc_GetChartWithShort] 2954, ''

-- exec proc_getPage 'Q600'
-- exec [proc_GetChartWithShort] 204, '2013'

-- Y - this year
-- A - all years
exec [proc_GetChartWithShort] @ChartID=216,@year=N'2013',@nTiles=5,@Range=N'A'
exec [proc_GetChartWithShort] @ChartID=216,@year=N'2013',@nTiles=5,@Range=N'Y'
exec [proc_GetChartWithShort] @ChartID=193,@year=N'2013',@nTiles=5,@Range=N'Y'  
exec [proc_GetChartWithShort] @ChartID=216, @year=N'2013', @nTiles=5, @Range=N'A'

*******************************************************************************/
ALTER  PROCEDURE [dbo].[proc_GetChartWithShort]
(
	@ChartID INT 
	,@Year NVARCHAR(100)  -- stratifier
	,@NTiles TINYINT  = 5
	,@Range CHAR(1) = 'A'
)
AS

	--DECLARE @ChartID int = 193, @Year VARCHAR(4) ='2005', @NTiles tinyint=5 , @Range char(1) ='A'
		
 	DECLARE  @GroupByStrat NVARCHAR(50)
			,@XAxisLabel AS VARCHAR(50)
			,@IndicatorID INT
			,@Map BIT
			,@QNUM VARCHAR(6) = ''

	IF @Year = '' SET @Range = 'A'
	
	SELECT  @IndicatorID = i.IndicatorID, @QNum = p.QNum
		,@MAP = CASE WHEN (SELECT COUNT(1) FROM dbo.t_MapLegend ml WHERE ml.QNum = p.QNUM) > = 1 THEN 1 ELSE 0 END
	FROM t_Chart c 
		INNER JOIN t_Page p ON c.PageID = p.PageID
		INNER JOIN t_Indicator i ON i.IndicatorID = p.IndicatorID
	WHERE c.ChartID = @ChartID
	
	-- get the strat sets and their sequence from t_chart
	DECLARE @t udtt_OrderOfChartStratificationSets;
	insert into @t SELECT * from dbo.udf_StratificationSetOrderWithoutStratifierFromChartID(@ChartID)
	--select * from @t

	-- use Groupby1 when it exist else use DataSeries
	IF exists (select * from @t StratSetSequence where StratSetSequence.StratSetLevel = 'GroupBy1')   
		select @XAxisLabel = t.StratificationText FROM @t t WHERE t.StratSetLevel = 'GroupBy1' 
	ELSE  
		SELECT @XAxisLabel = t.StratificationText FROM @t t WHERE t.StratSetLevel = 'DataSeries' 
	--PRINT '@XAxisLabel=' + @XAxisLabel 
	
	--added 1/21/2019, one call to the udf_chartTitle function
	 DECLARE @chartHeader [nvarchar](500) 
	 DECLARE @chartHeaderWithSuperscripts [nvarchar](500) 
	 DECLARE @pageTitleWithSuperscripts [nvarchar](500) 
	 DECLARE @indicatorShortTitle [nvarchar](500) 
	 DECLARE @byPopulation [nvarchar](500) 
	 DECLARE @ChartTip NVARCHAR(500)

	 SELECT @chartHeader = ChartTitle,@chartHeaderWithSuperscripts = ChartTitleWithSuperscripts, @pageTitleWithSuperscripts = PageTitleWithSuperscripts, @indicatorShortTitle = IndicatorShortTitle, @byPopulation = ByPopulation  from dbo.udf_ChartTitleWithShort(@ChartID, @Year)

	
	 SELECT @ChartTip = [Value] FROM dbo.ApplicationConfiguration WHERE [Name] = 'ChartTip'

	-- Return a record set with the general parameters for the chart.
	SELECT top 1
		DotNetChartStyleID 
		,COALESCE (c.XAxisLabel, @XAxisLabel) as XAxisLabel
		,YAxisLabel
		,@chartHeader AS ChartHeader
		,@chartHeaderWithSuperscripts AS ChartHeaderWithSuperscripts
		,@pageTitleWithSuperscripts AS PageTitleWithSuperscripts
		,case when exists (select dp.HighConfidenceInterval from dbo.t_Chart c inner join dbo.t_DataPoint dp on c.ChartID = dp.ChartID where dp.HighConfidenceInterval is not null) then 1 else 0 end AS HasConfidenceIntervals
		,c.DisplayOrder
		,ds.DataSourceFullName
		,REPLACE(ISNULL(p.ChartExplanation, ''), 'Placeholder Chart Explanation', '') + '<i>'+ @ChartTip +'</i>' as Explanation
		,c.ShowTableOnly
		,c.EnableEntireChart
		,c.XAxisLabelAngle
		,c.YAxisLabelMaxValue
		,I.HP2020Logo
		,c.DecimalPlaces AS SignificantDigits
		,c.ScaleBreak
		,@indicatorShortTitle as IndicatorShortTitle
		,@byPopulation as ByPopulation
		, CASE WHEN ISNULL(c.ChartTitle , '') = '' THEN REPLACE(c.YAxisLabel, ' (per 1,000 patient-years)', '') +', ' 
		ELSE REPLACE(c.ChartTitle, ' (per 1,000 patient-years)', '') +', ' END AS SubTitlePrefix
		--,REPLACE(c.YAxisLabel, ' (per 1,000 patient-years)', '') +', ' AS SubTitlePrefix
	FROM t_Chart c 
		INNER JOIN t_Page p on c.PageID = p.PageID
		INNER JOIN t_Indicator i on i.IndicatorID = p.IndicatorID
		inner JOIN t_DataSource ds on p.DataSourceID = ds.DataSourceID
		INNER JOIN t_ChartStyle cs on c.ChartStyleID = cs.ChartStyleID
	WHERE c.ChartID = @ChartID
	
	if OBJECT_ID('tempdb..#DP') is not NULL drop table #DP
	Create Table #DP
		(	
			[GroupBy2ID] int NULL 
			,[GroupBy2Strat] nvarchar(100) NULL 
			,[GroupBy2StratSet] nvarchar(100) NULL 
			,[GroupBy2StratDisplayOrder] smallint
			,[GroupBy1ID] int NULL 
			,[GroupBy1Strat] nvarchar(100) NULL 
			,[GroupBy1StratSet] nvarchar(100) NULL 
			,[GroupBy1StratDisplayOrder] smallint
			,[DataSeriesID] int NULL 
			,[DataSeriesStrat] nvarchar(100)  NULL 
			,[DataSeriesStratDisplayOrder] smallint
			,[DataSeriesStratSet] nvarchar(100) NULL 
			,[DataPoint] varchar(50) NULL 
			,[DataPointSort] numeric (30,15) NULL 
			,[HighConfidenceInterval]  varchar(50) NULL   
			,[LowConfidenceInterval]  varchar(50) NULL 
			--,[HighConfidenceInterval]  decimal(20,10) NULL
			--,[LowConfidenceInterval]  decimal(20,10) NULL
		)

		IF @Year = ''
			BEGIN
				insert into #DP (GroupBy2ID, GroupBy1ID, DataSeriesID, DataPoint, DataPointSort, HighConfidenceInterval, LowConfidenceInterval)
				SELECT 
				   (select Case 
						when StratificationText = ss1.StratificationText then s1.StratificationID	
						when StratificationText = ss2.StratificationText then s2.StratificationID				
						when StratificationText = ss3.StratificationText then s3.StratificationID end 			
						from @t
						where StratSetRank = 3 and ChartID = c.ChartID)
					,(select Case 
						when StratificationText = ss1.StratificationText then s1.StratificationID	
						when StratificationText = ss2.StratificationText then s2.StratificationID				
						when StratificationText = ss3.StratificationText then s3.StratificationID end 			
						from @t
						where StratSetRank = 2 and ChartID = c.ChartID) 
					 ,(select Case 
						when StratificationText = ss1.StratificationText then s1.StratificationID	
						when StratificationText = ss2.StratificationText then s2.StratificationID				
						when StratificationText = ss3.StratificationText then s3.StratificationID end 				
						from @t
						where StratSetRank = 1 and ChartID = c.ChartID)   
				   --,CASE mvsd.MainValueAdjustedForDigitsRightOfDecimal when '*' then '0' WHEN 'NA' then '0' else mvsd.MainValueAdjustedForDigitsRightOfDecimal END as Datapoint	
				   ,d.MainValue
				   ,case when isnumeric(d.MainValue) = 0 then 0 else Cast(replace(d.MainValue, ',','') as Numeric(30,15)) end as DatapointSort
				   --,mvsd.HighCIChartSigDigits
				   --,mvsd.LowCIChartSigDigits
				   ,HighConfidenceInterval
				   ,LowConfidenceInterval
				from 
					t_Chart c 
					left join 	t_DataPoint d on d.ChartID = c.ChartID
					--inner join  dbo.udf_SignificantDigitsMainValue (@ChartID) mvsd on c.ChartID = mvsd.ChartID and d.DatapointID = mvsd.DatapointID  
					left JOIN	t_Stratification s1 on s1.StratificationId = d.StratificationID1
					left join   t_StratificationSet ss1 on ss1.StratificationSetID = s1.StratificationSetID
					left JOIN	t_Stratification s2 on s2.StratificationId = d.StratificationID2
					left join   t_StratificationSet ss2 on ss2.StratificationSetID = s2.StratificationSetID
					left JOIN	t_Stratification s3 on s3.StratificationId = d.StratificationID3
					left join   t_StratificationSet ss3 on ss3.StratificationSetID = s3.StratificationSetID
				where c.ChartID = @ChartID
			END
		ELSE
			BEGIN
				INSERT INTO #DP ( GroupBy2ID, GroupBy1ID, DataSeriesID, DataPoint, DataPointSort, HighConfidenceInterval, LowConfidenceInterval)
				SELECT 
				   (SELECT CASE 
						WHEN StratificationText = ss1.StratificationText THEN s1.StratificationID	
						WHEN StratificationText = ss2.StratificationText THEN s2.StratificationID				
						WHEN StratificationText = ss3.StratificationText THEN s3.StratificationID END 				
						FROM @t
						WHERE StratSetRank = 3 AND ChartID = c.ChartID)
					,(SELECT CASE 
						WHEN StratificationText = ss1.StratificationText THEN s1.StratificationID	
						WHEN StratificationText = ss2.StratificationText THEN s2.StratificationID				
						WHEN StratificationText = ss3.StratificationText THEN s3.StratificationID END 			
						FROM @t
						WHERE StratSetRank = 2 AND ChartID = c.ChartID) 
					 ,(SELECT CASE 
						WHEN StratificationText = ss1.StratificationText THEN s1.StratificationID	
						WHEN StratificationText = ss2.StratificationText THEN s2.StratificationID				
						WHEN StratificationText = ss3.StratificationText THEN s3.StratificationID END 				
						FROM @t
						WHERE StratSetRank = 1 AND ChartID = c.ChartID)   
				   --,CASE mvsd.MainValueAdjustedForDigitsRightOfDecimal when '*' then '0' WHEN 'NA' then '0' else mvsd.MainValueAdjustedForDigitsRightOfDecimal END as Datapoint	
				   ,d.MainValue
				   ,CASE WHEN ISNUMERIC(MainValue) = 0 THEN 0 ELSE CAST(REPLACE(d.Mainvalue, ',','') AS NUMERIC(30,15)) END AS DatapointSort
				   --,mvsd.HighCIChartSigDigits
				   --,mvsd.LowCIChartSigDigits
				   ,HighConfidenceInterval
				   ,LowConfidenceInterval
				FROM 
					t_Chart c 
					LEFT JOIN 	t_DataPoint d ON d.ChartID = c.ChartID
					--inner join  dbo.udf_SignificantDigitsMainValue (@ChartID) mvsd on c.ChartID = mvsd.ChartID and d.DatapointID = mvsd.DatapointID  
					LEFT JOIN	t_Stratification s1 ON s1.StratificationId = d.StratificationID1
					LEFT JOIN   t_StratificationSet ss1 ON ss1.StratificationSetID = s1.StratificationSetID
					LEFT JOIN	t_Stratification s2 ON s2.StratificationId = d.StratificationID2
					LEFT JOIN   t_StratificationSet ss2 ON ss2.StratificationSetID = s2.StratificationSetID
					LEFT JOIN	t_Stratification s3 ON s3.StratificationId = d.StratificationID3
					LEFT JOIN   t_StratificationSet ss3 ON ss3.StratificationSetID = s3.StratificationSetID
				WHERE c.ChartID = @ChartID AND 
					(s1.Stratification = @Year OR s2.Stratification = @Year OR s3.Stratification = @Year)
			END


		-- You have the stratIDs now get the Stratifcations for those IDs. 
		Update #DP set 
			#DP.DataSeriesStrat = s1.Stratification, #DP.DataSeriesStratDisplayOrder = s1.StratificationDisplayOrder, #DP.DataSeriesStratSet = ss1.StratificationText
		from #DP 
		inner join dbo.t_Stratification s1 on #DP.DataSeriesID = s1.StratificationId	
		inner join dbo.t_StratificationSet ss1 on s1.StratificationSetID = ss1.StratificationSetID
			 
		Update #DP set 
			#DP.GroupBy1Strat = s2.Stratification, #DP.GroupBy1StratDisplayOrder = s2.StratificationDisplayOrder, #DP.GroupBy1StratSet = ss2.StratificationText
		from #DP 
		inner join dbo.t_Stratification s2 on #DP.GroupBy1ID = s2.StratificationId
		inner join dbo.t_StratificationSet ss2 on s2.StratificationSetID = ss2.StratificationSetID
		
		Update #DP set 
			#DP.GroupBy2Strat = s3.Stratification, #DP.GroupBy2StratDisplayOrder = s3.StratificationDisplayOrder, #DP.GroupBy2StratSet = ss3.StratificationText
		from #DP 
		inner join dbo.t_Stratification s3 on #DP.GroupBy2ID = s3.StratificationId
		inner join dbo.t_StratificationSet ss3 on s3.StratificationSetID = ss3.StratificationSetID

					--4/7/21 REMOVE THIS
			--Select * From #DP

		----------------------------------------------------------------------------------------------------------------------------------------------

		-- remove "Total" when map
		if @MAP = 1 Delete #DP where #DP.DataSeriesStrat = 'Total'

		-- There is some funny business for charts with one strat X
		select @GroupByStrat = #dp.GroupBy1Strat  from #DP 
		
		-- CX and X
		if @GroupByStrat is  NULL  
			select NULL as Tertiary, #dp.DataSeriesStrat as Secondary, #dp.DataSeriesStratSet as SeriesLabel, #dp.DataPoint, #dp.DataPointSort, #dp.HighConfidenceInterval, #dp.LowConfidenceInterval--, Coalesce(Coalesce(DataSeriesStratDisplayOrder, GroupBy1StratDisplayOrder), GroupBy2StratDisplayOrder) as DisplayOrder
			from #DP  order by DataSeriesStratDisplayOrder, GroupBy1StratDisplayOrder, GroupBy2StratDisplayOrder -- #dp.DataSeriesStratSet--,
		ELSE
		BEGIN	
		-- xx, xxx, cxx -Changing the order by sequence so that the Data Series are ordered correctly now, Q715 was the start of this
		IF @ChartID IN (4365) OR @QNUM IN ('Q812', '@S812', 'Q813', 'S813', 'Q814', '@S814', 'Q815', 'S815')
		BEGIN				
			;WITH cte1 AS (SELECT DISTINCT GroupBy1ID FROM #DP),
			cte2 AS (SELECT DISTINCT DataSeriesID FROM #DP)
			SELECT * INTO #tmpMissingData FROM cte1, cte2
			WHERE NOT EXISTS (SELECT 1 FROM #DP WHERE #DP.GroupBy1ID = cte1.GroupBy1ID AND #DP.DataSeriesID = cte2.DataSeriesID)

				INSERT INTO #DP
				(
					GroupBy2ID,
					GroupBy2Strat,
					GroupBy2StratSet,
					GroupBy2StratDisplayOrder,
					GroupBy1ID,
					GroupBy1Strat,
					GroupBy1StratSet,
					GroupBy1StratDisplayOrder,
					DataSeriesID,
					DataSeriesStrat,
					DataSeriesStratDisplayOrder,
					DataSeriesStratSet,
					DataPoint,
					DataPointSort,
					HighConfidenceInterval,
					LowConfidenceInterval
				)
				SELECT
					NULL,
					NULL,
					NULL,
					NULL,
					gt.StratificationId,
					gt.Stratification,
					sst.StratificationText,
					gt.StratificationDisplayOrder,
					t.DataSeriesID,
					st.Stratification,
					st.StratificationDisplayOrder,
					gst.StratificationText,
					NULL,
					NULL,
					NULL,
					NULL
				FROM #tmpMissingData t 
				INNER JOIN dbo.t_Stratification st ON t.DataSeriesID = st.StratificationId
				INNER JOIN dbo.t_Stratification gt ON t.GroupBy1ID = gt.StratificationId
				INNER JOIN dbo.t_StratificationSet sst ON sst.StratificationSetID = gt.StratificationSetID
				INNER JOIN dbo.t_StratificationSet gst ON gst.StratificationSetID = st.StratificationSetID
				LEFT OUTER JOIN #DP ON t.DataSeriesID = #DP.DataSeriesID AND t.GroupBy1ID = #DP.GroupBy1ID;
		END
			SELECT #dp.GroupBy2Strat AS Tertiary, #dp.GroupBy1Strat AS Secondary, #dp.DataSeriesStrat AS SeriesLabel,  
			#dp.DataPoint, #dp.DataPointSort, #dp.HighConfidenceInterval, #dp.LowConfidenceInterval--, Coalesce(Coalesce(GroupBy2StratDisplayOrder, GroupBy1StratDisplayOrder), DataSeriesStratDisplayOrder) as DisplayOrder
			FROM #DP ORDER BY DataSeriesStratDisplayOrder, GroupBy2StratDisplayOrder, GroupBy1StratDisplayOrder--, DataSeriesStratDisplayOrder; --#dp.DataSeriesStratSet--,
		END


		----------------------------------------------------------------------------------------------------------------------------------------------
		--if this is a map return two more rowsets:  Map Legend, Map Data Point
		IF @Range = 'Y'  
			-- ntile within one year
			BEGIN
					;WITH CTE1 AS ( SELECT * FROM   [dbo].[udf_MapNTilesByChartid] (@ChartID, @NTiles) )
					,CTE2 AS 
						(
							SELECT indicatorID, QNUM,  MapNtileWithinOneYear, MIN(CAST(MainValueAdjustedForDigitsRightOfDecimalNumeric AS DECIMAL(30,15))) AS MinValue, MAX(CAST(MainValueAdjustedForDigitsRightOfDecimalNumeric AS DECIMAL(30,15))) AS  MaxValue
							FROM  CTE1
							GROUP BY IndicatorID, QNUM, Year, MapNtileWithinOneYear
							HAVING year = @Year
						) 
					,CTE3 AS 
						( 
						SELECT indicatorID, QNUM,  MapNtileWithinOneYear, minvalue, maxvalue
						,(SELECT TOP 1 MainValueAdjustedForDigitsRightOfDecimal FROM cte1 WHERE CAST(cte1.MainValueAdjustedForDigitsRightOfDecimalNumeric AS DECIMAL(30,15)) = cte2.minvalue AND cte1.MapNtileWithinOneYear = cte2.MapNtileWithinOneYear ) MinValueChar
						,(SELECT TOP 1 MainValueAdjustedForDigitsRightOfDecimal FROM cte1 WHERE CAST(cte1.MainValueAdjustedForDigitsRightOfDecimalNumeric AS DECIMAL(30,15)) = cte2.maxvalue AND cte1.MapNtileWithinOneYear = cte2.MapNtileWithinOneYear ) MaxValueChar
						FROM cte2
						)
					SELECT QNUM,  MapNtileWithinOneYear AS LegendOrder,  pc.Color AS LegendColor, pc.ColorDescription
					      , CTE3.MinValueChar + ' to ' + CTE3.MaxValueChar AS LegendDisplay
						  , (SELECT TOP 1 LegendTitle FROM t_MapLegend ml WHERE ml.QNum = @QNUM) AS LegendTitle 
					FROM CTE3
					INNER JOIN dbo.t_PalettesColors pc ON CTE3.MapNtileWithinOneYear = pc.ColorOrder 
					ORDER BY  IndicatorID, QNUM,  MapNtileWithinOneYear
			END
		ELSE
			-- ntiles across all years
			BEGIN
					;WITH CTE1 AS ( SELECT * FROM   [dbo].[udf_MapNTilesByChartid] (@ChartID, @NTiles) )
					,CTE2 AS 
						(
							SELECT indicatorID, QNUM,  MapNtileAllYears, MIN(CAST(MainValueAdjustedForDigitsRightOfDecimalNumeric AS DECIMAL(30,15))) AS MinValue, MAX(CAST(MainValueAdjustedForDigitsRightOfDecimalNumeric AS DECIMAL(30,15))) AS  MaxValue
							FROM  CTE1
							GROUP BY IndicatorID, QNUM, MapNtileAllYears
						) 
					,CTE3 AS 
						( 
						SELECT indicatorID, QNUM,  MapNtileAllYears, minvalue, maxvalue
						,(SELECT TOP 1 MainValueAdjustedForDigitsRightOfDecimal FROM cte1 WHERE CAST(cte1.MainValueAdjustedForDigitsRightOfDecimalNumeric AS DECIMAL(30,15)) = cte2.minvalue AND cte1.MapNtileAllYears = cte2.MapNtileAllYears ) MinValueChar
						,(SELECT TOP 1 MainValueAdjustedForDigitsRightOfDecimal FROM cte1 WHERE CAST(cte1.MainValueAdjustedForDigitsRightOfDecimalNumeric AS DECIMAL(30,15)) = cte2.maxvalue AND cte1.MapNtileAllYears = cte2.MapNtileAllYears ) MaxValueChar
						FROM cte2
						)
					SELECT QNUM,  MapNtileAllYears AS LegendOrder,  pc.Color AS LegendColor, pc.ColorDescription
					      , CTE3.MinValueChar + ' to ' + CTE3.MaxValueChar AS LegendDisplay
						  , (SELECT TOP 1 LegendTitle FROM t_MapLegend ml WHERE ml.QNum = @QNUM) AS LegendTitle 
					FROM CTE3
					INNER JOIN dbo.t_PalettesColors pc ON CTE3.MapNtileAllYears = pc.ColorOrder 
					ORDER BY  IndicatorID, QNUM,  MapNtileAllYears
			END	
	
		-- Map Data Points
		IF @Range = 'A'  
			SELECT MainValueAdjustedForDigitsRightOfDecimal, tile.State, s.StateAbbrev, Color 
			FROM [dbo].[udf_MapNTilesByChartid] (@ChartID, @NTiles) Tile
			LEFT JOIN[dbo].[t_PalettesColors] pc ON tile.MapNtileAllYears = pc.ColorOrder
			LEFT JOIN dbo.t_State s ON s.State = Tile.State
			WHERE tile.QNum = @QNUM  AND tile.State <> 'Total' AND tile.year = @Year
		ELSE 
			SELECT MainValueAdjustedForDigitsRightOfDecimal, tile.State, s.StateAbbrev,Color 
			FROM [dbo].[udf_MapNTilesByChartid] (@ChartID, @NTiles) Tile
			LEFT JOIN[dbo].[t_PalettesColors] pc ON tile.MapNtileWithinOneYear = pc.ColorOrder
			LEFT JOIN dbo.t_State s ON s.State = Tile.State
			WHERE tile.QNum = @QNUM AND tile.State <> 'Total' AND tile.Year = @Year 

GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Altering [dbo].[proc_GetTable]'
GO
   
/******************************************************************************   
   
  Name:         proc_GetTable   
     
  Description:  Get the data to populate the table on the web site      
   
  Called By:       
   
-------------------------------------------------------------------------------   
  Notes:   
                                                                      
-------------------------------------------------------------------------------   
  History:                
  08/15/2013	ms      new for CKDSurveillance v2.0   
  09/27/2016	dh		Return Year as strat when @AllYears (Q239 Q242), per Adrienne   
  10/03/2016	dh		Exclude year strats that don't have data (Q240 Q243), per Adrienne    
  01/30/2017	ms		Updates to allow for stratifying by strat set other than year   
                        funcation replaced    
						from dbo.udf_StratificationSetOrderFromChartID   
						to   dbo.udf_StratificationSetOrderWithStratifierFromChartID    
						and  dbo.udf_StratificationSetOrderWithStratifierFromChartID    
   
-------------------------------------------------------------------------------   
--usage: exec proc_GetTable @ChartID=724   
--usage: exec [proc_GetTable] 125   
   
--select *    
--from dbo.v_chart vc   
--inner join dbo.t_Indicator i on vc.IndicatorID = i.IndicatorID   
--where i.Active = 1     
   
exec proc_getPage 'Q156'   
exec proc_getTable 1001, ''    
exec proc_getTableSAVE 1001, ''     
select top 1 QNUM, ChartID     
from dbo.v_chart vc   
inner join dbo.t_Indicator i on vc.IndicatorID = i.IndicatorID   
where i.Active = 1  and ChartStratType1 = 'x' and ChartStratType2 = 'x' and ChartStratType3 = 'x'   
    
exec proc_getPage 'Q103'   
exec proc_getTable 252, ''    
exec proc_getTableSAVE 252, ''    
select top 1 QNUM, ChartID, *   
from dbo.v_chart vc   
inner join dbo.t_Indicator i on vc.IndicatorID = i.IndicatorID   
where i.Active = 1  and ChartStratType1 = 'c' and ChartStratType2 = 'x' and ChartStratType3 = 'x'   
   
exec proc_getPage 'Q143'   
exec proc_getTable 970, ''    
exec proc_getTableSAVE 970, ''    
select top 1 QNUM, ChartID     
from dbo.v_chart vc   
inner join dbo.t_Indicator i on vc.IndicatorID = i.IndicatorID   
where i.Active = 1  and ChartStratType1 = 'x' and ChartStratType2 = 'x' and ChartStratType3 is null   
   
exec proc_getPage 'Q179'   
exec proc_getTable 39, ''    
exec proc_getTableSAVE 39, ''    
select top 1 QNUM, ChartID     
from dbo.v_chart vc   
inner join dbo.t_Indicator i on vc.IndicatorID = i.IndicatorID   
where i.Active = 1  and ChartStratType1 = 'c' and ChartStratType2 = 'x' and ChartStratSet3 is null   
   
exec proc_getPage 'Q146'   
exec proc_getTable 241, ''    
exec proc_getTableSAVE 241, ''    
select top 1 QNUM, ChartID     
from dbo.v_chart vc   
inner join dbo.t_Indicator i on vc.IndicatorID = i.IndicatorID   
where i.Active = 1  and ChartStratType1 = 'x' and ChartStratType2 is null and ChartStratType3 is null   
   
exec proc_getPage 'Q235'   
exec proc_getTable 193, '2008'    
exec proc_getTableSAVE 193, '2008'    
select top 1 QNUM, ChartID     
from dbo.v_chart vc   
inner join dbo.t_Indicator i on vc.IndicatorID = i.IndicatorID   
where i.Active = 1  and ChartStratType1 = 'x' and ChartStratType2 is null and ChartStratType3 is null   
   
EXEC proc_getPage 'Q683'   
 EXEC PROC_getchart @ChartID=3210, @Year= N'18-21 years'   
 EXEC proc_GetTable @ChartID=3210, @Year= N'18-21 years'    
   
   
 EXEC proc_getPage 'Q242'   
 EXEC PROC_getchart @ChartID=1008, @Year= N'18-21 years'   
 EXEC proc_GetTable @ChartID=1008, @Year= N'18-21 years'    
   
*******************************************************************************/   
ALTER PROCEDURE [dbo].[proc_GetTable]   
(   
	@ChartID INT   
	,@Year nvarchar(100) = N'' -- this is the stratifier it maybe a year or some other stratification    
)   
AS   
 	--DECLARE @ChartID INT = 58, @Year varchar(50) = '2009-2011'   
	DECLARE @Map bit   
	DECLARE @ListStringNoPivot NVARCHAR(MAX)   
	DECLARE @ListStringPivot NVARCHAR(MAX)   
	DECLARE @ListString NVARCHAR(MAX)   
	DECLARE @MinStratSetRank int   
	DECLARE @MinStratSetText NVARCHAR(100)   
	DECLARE @MidStratSetRank int   
	DECLARE @MidStratSetText NVARCHAR(100)   
	DECLARE @MaxStratSetRank int   
	DECLARE @MaxStratSetText NVARCHAR(100)   
	DECLARE @SQL NVARCHAR(MAX)   
	DECLARE @YearIsChart bit   
	DECLARE @SigDigits tinyint   
	DECLARE @IndicatorID int   
	DECLARE @AllYears bit --DECLARE @QNum NVARCHAR(4)   
	DECLARE @ErrorMessage nvarchar(2048), @ErrorNumber BIGINT, @ErrorSeverity INT, @ErrorLine INT, @ErrorProcedure NVARCHAR(126)   
	DECLARE @StratifierSetText NVARCHAR(100)   
	DECLARE @IsOverallDetail BIT = 0

	SET @StratifierSetText = dbo.udf_ChartStratifierTextFromChartID (@ChartID)  
	-- comment when not testing  
	Print '@StratifierSetText= ' + @StratifierSetText   
	   
	Declare @CaseMainValue nvarchar(4000)   
	--set @CaseMainValue = 'Case when IsNumeric(MainValue) = 1                then Cast(CONVERT(DECIMAL(20,2), replace(d.MainValue, '','','''') as varchar) Else MainValue End'     
	set @CaseMainValue =   'Case when IsNumeric(MainValue) = 1 then mvsd.MainValueChartSigDigits Else MainValue End'     
	--print @CaseMainValue   
	   
	select @Map = case when @ChartID IN (select distinct c.ChartID    
										 from dbo.t_MapLegend ML    
										 inner join dbo.t_Page p on p.PageID = ml.PageID    
										 inner join dbo.t_Chart C on c.PageID = p.PageID   
										 where c.ChartID = @ChartID   
									    ) then 1 else 0 end   
	-- comment when not testing   
	--select @Map as '@Map'   
   
	select @IndicatorID = i.IndicatorID, @AllYears = p.DisplayTableAllYears --@QNum = p.QNum   
	FROM t_Chart c   
		INNER JOIN t_Page p on p.PageID = c.PageID   
		inner join t_Indicator i on i.IndicatorID = p.IndicatorID   
	WHERE c.ChartID = @ChartID   
	-- comment when not testing   
	--SELECT @IndicatorID AS '@IndicatorID', @AllYears AS '@AllYears'   
	   
	Declare @t udtt_OrderOfChartStratificationSets   
	IF (@AllYears = 1) -- (@QNum = N'Q239' or @QNum = N'Q242') /* process table as if @MaxStratSetRank = 3, per Adrienne */    
		BEGIN   
			SELECT @Year = '' -- there is no stratifier    
			insert into @t SELECT * from dbo.udf_StratificationSetOrderWithStratifierFromChartID(@ChartID)   
			-- override Each stratifier as a Chart indicator by giving the stratifier a rank   
			UPDATE @t SET StratSetRank = 3 WHERE StratSetLevel = 'Stratifier' AND StratSetRank = 0   
		END   
	ELSE   
		BEGIN   
			-- get the strat sets and their sequence from t_chart   
			--insert into @t select @ChartID, * from dbo.udf_StratificationSetOrderFromChartID(@ChartID)   
			insert into @t SELECT * from dbo.udf_StratificationSetOrderWithStratifierFromChartID(@ChartID) WHERE StratSetLevel <> 'Stratifier'   
		END   
	--select * from @t   
   
	-- retrun a rowset with the title, x-axis label... general info   
	SELECT    
		i.IndicatorTitleRoot    
		,(select top 1 StratificationText from @t order by StratSetRank Desc) as XAxisLabel    
		,case when df.Format = N'P2' then N'%' else N'' end as Format   
		,c.DecimalPlaces AS SignificantDigits   
	FROM t_Chart c   
		INNER JOIN t_DisplayFormat df on c.DisplayFormatID = df.DisplayFormatID   
		INNER JOIN t_Page p on p.PageID = c.PageID   
		inner join t_Indicator i on i.IndicatorID = p.IndicatorID   
	WHERE c.ChartID = @ChartID   
		   
	select @MaxStratSetRank =  MAX(StratSetRank) from @t    
	select @MaxStratSetText =  StratificationText from @t where StratSetRank = @MaxStratSetRank   
	-- comment when not testing   
	--select @MaxStratSetRank as '@MaxStratSetRank'   
	--select @MaxStratSetText as '@MaxStratSetText'   
   
	select @MinStratSetText =  StratificationText from @t where StratSetRank = 1   
	-- comment when not testing   
	--select @MinStratSetText as '@MinStratSetText'   
	   
	select @MidStratSetText =  StratificationText from @t where StratSetRank = 2   
	-- comment when not testing   
	--select @MidStratSetText as '@MidStratSetText'   
	   
	-- DataSeries = rank 1   
	-- GroupBy1 =	rank 2   
	-- GroupBy2 =	rank 3   
	-- list for the pivot   
	Select @ListStringNoPivot = COALESCE(@ListStringNoPivot + N',','') + N'[' + StratificationText + N']'   
	from @t   
	where StratSetRank < @MaxStratSetRank   
	ORDER by StratSetRank desc   
	-- comment when not testing   
	--select @ListStringNoPivot as '@ListStringNoPivot'   
		   
	-- get a list of stratifications for the largest GroupBy strat, this is the stratification with the max rank   
	-- this is the stratification that you will pivot on.   
	-- 10/3/16 - get only the year strats for the given @Year   
	;With CTE_PivotStrat (PivotStratCode, StratCodeDisplayOrder) as    
	(   
		select s1.Stratification, s1.StratificationDisplayOrder   
		from    
						t_Chart c    
						INNER JOIN 	t_DataPoint d on d.ChartID = c.ChartID   
						INNER JOIN	t_Stratification s1 on s1.StratificationId = d.StratificationID1   
						INNER JOIN  t_StratificationSet ss1 on ss1.StratificationSetID = s1.StratificationSetID   
							left JOIN	t_Stratification s2 on s2.StratificationId = d.StratificationID2   
							left join   t_StratificationSet ss2 on ss2.StratificationSetID = s2.StratificationSetID   
							left JOIN	t_Stratification s3 on s3.StratificationId = d.StratificationID3   
							left join   t_StratificationSet ss3 on ss3.StratificationSetID = s3.StratificationSetID   
					where c.ChartID = @ChartID and ss1.StratificationText = @MaxStratSetText     
							and	(Case     
									when @Year = N'' then N''   
									when ss1.StratificationText = @StratifierSetText then s1.Stratification 	   
									when ss2.StratificationText = @StratifierSetText then s2.Stratification 				   
									when ss3.StratificationText = @StratifierSetText then s3.Stratification end) = @Year   
		UNION   
		select s2.Stratification, s2.StratificationDisplayOrder   
		from    
						t_Chart c    
						INNER JOIN 	t_DataPoint d on d.ChartID = c.ChartID   
						INNER JOIN	t_Stratification s2 on s2.StratificationId = d.StratificationID2   
						INNER JOIN  t_StratificationSet ss2 on ss2.StratificationSetID = s2.StratificationSetID   
							left JOIN	t_Stratification s1 on s1.StratificationId = d.StratificationID1   
							left join   t_StratificationSet ss1 on ss1.StratificationSetID = s1.StratificationSetID   
							left JOIN	t_Stratification s3 on s3.StratificationId = d.StratificationID3   
							left join   t_StratificationSet ss3 on ss3.StratificationSetID = s3.StratificationSetID   
					where c.ChartID = @ChartID and ss2.StratificationText = @MaxStratSetText     
							and	(Case     
									when @Year = N'' then N''   
									when ss1.StratificationText = @StratifierSetText then s1.Stratification 	   
									when ss2.StratificationText = @StratifierSetText then s2.Stratification 				   
									when ss3.StratificationText = @StratifierSetText then s3.Stratification end) = @Year   
		UNION   
		select s3.Stratification, s3.StratificationDisplayOrder   
		from    
						t_Chart c    
						INNER JOIN	t_DataPoint d on d.ChartID = c.ChartID   
						INNER JOIN	t_Stratification s3 on s3.StratificationId = d.StratificationID3   
						INNER JOIN  t_StratificationSet ss3 on ss3.StratificationSetID = s3.StratificationSetID   
							left JOIN	t_Stratification s1 on s1.StratificationId = d.StratificationID1   
							left join   t_StratificationSet ss1 on ss1.StratificationSetID = s1.StratificationSetID   
							left JOIN	t_Stratification s2 on s2.StratificationId = d.StratificationID2   
							left join   t_StratificationSet ss2 on ss2.StratificationSetID = s2.StratificationSetID   
					where c.ChartID = @ChartID and ss3.StratificationText = @MaxStratSetText     
							and	(Case     
									when @Year = N'' then N''   
									when ss1.StratificationText = @StratifierSetText then s1.Stratification 	   
									when ss2.StratificationText = @StratifierSetText then s2.Stratification 				   
									when ss3.StratificationText = @StratifierSetText then s3.Stratification end) = @Year   
	)Select @ListStringPivot = COALESCE(@ListStringPivot + N',','') + N'[' + PivotStratCode + N']'   
		from CTE_PivotStrat   
		order by StratCodeDisplayOrder    
	   
	-- comment when not testing   
	--select @ListStringPivot as '@ListStringPivot'   
   
	set @ListString = isnull(@ListStringNoPivot + ',','') + @ListStringPivot   
	-- comment when not testing   
	--select @ListString as '@ListString'   
	
	IF EXISTS (SELECT 'x' FROM dbo.t_Chart c INNER JOIN dbo.t_Page p ON p.PageID = c.PageID
		WHERE p.QNum IN ('Q9', 'Q11', 'Q712') AND c.ChartID = @ChartID AND @ListString LIKE '%[Age-Standardized]%')
		SET @ListString = REPLACE(@ListString, '[Age-Standardized]' , '[Age-Standardized] AS [Overall]')

	IF EXISTS (SELECT 'x' FROM dbo.t_Chart c INNER JOIN dbo.t_Page p ON p.PageID = c.PageID
		WHERE (p.QNum IN ('Q818') OR p.QNum IN ('S818')) AND c.ChartID = @ChartID ) --AND @ListString LIKE '%,[Overall]%')
	BEGIN	
		SET @ListString = REPLACE(@ListString, ',[Overall]' , '')
		SET @ListStringPivot = REPLACE(@ListStringPivot, ',[Overall]' , '')
		SET @IsOverallDetail = 1
	END

	PRINT @ListString
	PRINT @ListStringPivot

	IF @ListString LIKE '%[CKD Stage]%'
		SET @ListString = REPLACE(@ListString, '[CKD Stage]', 'REPLACE([CKD Stage], ''CKD Stage '', '''') AS [CKD Stage]')
	
	if @Map = 1    
		BEGIN   
			SELECT   
			 (select Case    
					when StratificationText = ss1.StratificationText and  ss1.StratificationText <> 'Year' then s1.Stratification	   
					when StratificationText = ss2.StratificationText and  ss2.StratificationText <> 'Year' then s2.Stratification				   
					when StratificationText = ss3.StratificationText and  ss3.StratificationText <> 'Year' then s3.Stratification end 			   
					from @t    
					where StratSetRank = 1) as 'State'     
				,d.MainValue + N'|' + ISNULL(cast(d.LowConfidenceInterval as varchar),N'') + N'|' + ISNULL(cast(d.HighConfidenceInterval as varchar),N'') as MainValue   
			from t_Chart c    
					inner join  dbo.t_DisplayFormat df on df.DisplayFormatID = c.DisplayFormatID   
					inner join dbo.t_DataPoint d on  c.ChartID = d.ChartID     
					left JOIN	t_Stratification s1 on s1.StratificationId = d.StratificationID1   
					left join   t_StratificationSet ss1 on ss1.StratificationSetID = s1.StratificationSetID   
					left JOIN	t_Stratification s2 on s2.StratificationId = d.StratificationID2   
					left join   t_StratificationSet ss2 on ss2.StratificationSetID = s2.StratificationSetID   
					left JOIN	t_Stratification s3 on s3.StratificationId = d.StratificationID3   
					left join   t_StratificationSet ss3 on ss3.StratificationSetID = s3.StratificationSetID   
			where c.ChartID = @ChartID and    
					(Case    
						when ss1.StratificationText = @StratifierSetText then s1.Stratification 	   
						when ss2.StratificationText = @StratifierSetText then s2.Stratification 				   
						when ss3.StratificationText = @StratifierSetText then s3.Stratification end) = @Year   
			order by (select Case    
					when StratificationText = ss1.StratificationText then s1.StratificationDisplayOrder	   
					when StratificationText = ss2.StratificationText then s2.StratificationDisplayOrder				   
					when StratificationText = ss3.StratificationText then s3.StratificationDisplayOrder	 end 			   
					from @t   
					where StratSetRank = 1)   
		END   
	   
	ELSE   
   
	if (@AllYears = 1) -- (@QNum = N'Q239' or @QNum = N'Q242') /* process as if @MaxStratSetRank = 3 */    
		BEGIN   
				-- override Each Stratifier as a Chart indicator by calling dbo.udf_StratificationSetOrderWithStratifierFromChartID  
				SET @SQL = '   
				Declare @t udtt_OrderOfChartStratificationSets   
				insert into @t select * from dbo.udf_StratificationSetOrderWithStratifierFromChartID(' + CAST(@ChartID AS NVARCHAR(10)) + ')   
				-- override Each stratifier as a Chart indicator by giving the stratifier a rank   
				UPDATE @t SET StratSetRank = 3 WHERE StratSetLevel = ''Stratifier'' AND StratSetRank = 0   
					   
				SELECT ' + @ListString + ' FROM    
					(SELECT   
						(select Case    
							when StratificationText = ss1.StratificationText then s1.Stratification 	   
							when StratificationText = ss2.StratificationText then s2.Stratification 				   
							when StratificationText = ss3.StratificationText then s3.Stratification  end 			   
							from @t   
							where StratSetRank = 1) as [' + @MinStratSetText + ']   
						,(select Case    
							when StratificationText = ss1.StratificationText then s1.Stratification 	   
							when StratificationText = ss2.StratificationText then s2.Stratification 				   
							when StratificationText = ss3.StratificationText then s3.Stratification  end 			   
							from @t   
							where StratSetRank = 2) as [' + @MidStratSetText + ']   
							,(select Case    
							when StratificationText = ss1.StratificationText then s1.Stratification	   
							when StratificationText = ss2.StratificationText then s2.Stratification				   
							when StratificationText = ss3.StratificationText then s3.Stratification end 				   
							from @t   
							where StratSetRank = 3) as PivotStrat        
						,d.MainValue  + N''|'' + ISNULL(cast(d.LowConfidenceInterval as varchar),N'''') + N''|'' + ISNULL(cast(d.HighConfidenceInterval as varchar),N'''') as MainValue   
						,(select case    
								when ss1.StratificationText = (select StratificationText from @t where StratSetRank = 1) then s1.StratificationDisplayOrder    
								when ss2.StratificationText = (select StratificationText from @t where StratSetRank = 1) then s2.StratificationDisplayOrder   
								when ss3.StratificationText = (select StratificationText from @t where StratSetRank = 1) then s3.StratificationDisplayOrder end) as DisplayOrder1     
						,(select case    
								when ss1.StratificationText = (select StratificationText from @t where StratSetRank = 2) then s1.StratificationDisplayOrder    
								when ss2.StratificationText = (select StratificationText from @t where StratSetRank = 2) then s2.StratificationDisplayOrder   
								when ss3.StratificationText = (select StratificationText from @t where StratSetRank = 2) then s3.StratificationDisplayOrder end) as DisplayOrder2    
						,(select case    
								when ss1.StratificationText = (select StratificationText from @t where StratSetRank = 2) then s1.StratificationDisplayOrder    
								when ss2.StratificationText = (select StratificationText from @t where StratSetRank = 2) then s2.StratificationDisplayOrder   
								when ss3.StratificationText = (select StratificationText from @t where StratSetRank = 2) then s3.StratificationDisplayOrder end) as DisplayOrder3   
					from t_Chart c    
							inner join dbo.t_DisplayFormat df on df.DisplayFormatID =c.DisplayFormatID   
							inner join dbo.t_DataPoint d on  c.ChartID = d.ChartID     
							left JOIN	dbo.t_Stratification s1 on s1.StratificationId = d.StratificationID1   
							left join   dbo.t_StratificationSet ss1 on ss1.StratificationSetID = s1.StratificationSetID   
							left JOIN	dbo.t_Stratification s2 on s2.StratificationId = d.StratificationID2   
							left join   dbo.t_StratificationSet ss2 on ss2.StratificationSetID = s2.StratificationSetID   
							left JOIN	dbo.t_Stratification s3 on s3.StratificationId = d.StratificationID3   
							left join   dbo.t_StratificationSet ss3 on ss3.StratificationSetID = s3.StratificationSetID   
							where c.ChartID =' + CAST(@ChartID AS NVARCHAR(10)) + '    
					) AS Query   
				PIVOT (MAX(Mainvalue) for PivotStrat in (' + @ListStringPivot + ')) AS DLTable   
				ORDER BY DisplayOrder2, DisplayOrder1'   
				PRINT '@SQL=' + @SQL   
				EXEC sp_ExecuteSQL @SQL   
		END   
	ELSE   
	   
	if @StratifierSetText IS NOT null     
		BEGIN	   
		   
			Declare @Where nvarchar(4000)   
			set @Where = case when @Year = N'' then N'' else N'   
							and	(Case     
									when ss1.StratificationText = ''' + @StratifierSetText + ''' then s1.Stratification 	   
									when ss2.StratificationText = ''' + @StratifierSetText + ''' then s2.Stratification 				   
									when ss3.StratificationText = ''' + @StratifierSetText + ''' then s3.Stratification end) = ''' + @Year + '''' end    
			--print @where   
	   
			if  @MaxStratSetRank = 2   
		   
				BEGIN   
					-- CXX   
					SET @SQL = '   
					Declare @t udtt_OrderOfChartStratificationSets   
					insert into @t select * from dbo.udf_StratificationSetOrderWithoutStratifierFromChartID(' + CAST(@ChartID AS NVARCHAR(10)) + ')   
							   
					SELECT ' + @ListString + ' FROM    
						(SELECT   
							Case    
								when ss1.StratificationText = ''' + @StratifierSetText + ''' then s1.Stratification	   
								when ss2.StratificationText = ''' + @StratifierSetText + ''' then s2.Stratification				   
								when ss3.StratificationText = ''' + @StratifierSetText + ''' then s3.Stratification end as [' + @StratifierSetText + ']   
							,(select Case    
								when StratificationText = ss1.StratificationText then s1.Stratification	   
								when StratificationText = ss2.StratificationText then s2.Stratification				   
								when StratificationText = ss3.StratificationText then s3.Stratification end 			   
								from @t   
								where StratSetRank = 1) as [' + @MinStratSetText + ']   
							,(select Case    
								when StratificationText = ss1.StratificationText then s1.Stratification	   
								when StratificationText = ss2.StratificationText then s2.Stratification				   
								when StratificationText = ss3.StratificationText then s3.Stratification end 			   
								from @t   
								where StratSetRank =  2) as PivotStrat     
						   ,d.MainValue  + N''|'' + ISNULL(cast(d.LowConfidenceInterval as varchar),N'''') + N''|'' + ISNULL(cast(d.HighConfidenceInterval as varchar),N'''') as MainValue   
						   ,(select case    
									when ss1.StratificationText = (select StratificationText from @t where StratSetRank = 1) then s1.StratificationDisplayOrder    
									when ss2.StratificationText = (select StratificationText from @t where StratSetRank = 1) then s2.StratificationDisplayOrder   
									when ss3.StratificationText = (select StratificationText from @t where StratSetRank = 1) then s3.StratificationDisplayOrder end)   +  
							--(select case    
							--		when ss1.StratificationText = (select StratificationText from @t where StratSetRank = 2) then s1.StratificationDisplayOrder    
							--		when ss2.StratificationText = (select StratificationText from @t where StratSetRank = 2) then s2.StratificationDisplayOrder   
							--		when ss3.StratificationText = (select StratificationText from @t where StratSetRank = 2) then s3.StratificationDisplayOrder end)   +    
							(select case    
									when ss1.StratificationText = ''' + @StratifierSetText + ''' then s1.StratificationDisplayOrder 	   
									when ss2.StratificationText = ''' + @StratifierSetText + ''' then s2.StratificationDisplayOrder 				   
									when ss3.StratificationText = ''' + @StratifierSetText + ''' then s3.StratificationDisplayOrder  end)   
							as DisplayOrder   
						from t_Chart c    
								inner join dbo.t_DisplayFormat df on df.DisplayFormatID = c.DisplayFormatID   
								inner join dbo.t_DataPoint d on  c.ChartID = d.ChartID     
								left JOIN	t_Stratification s1 on s1.StratificationId = d.StratificationID1   
								left join   t_StratificationSet ss1 on ss1.StratificationSetID = s1.StratificationSetID   
								left JOIN	t_Stratification s2 on s2.StratificationId = d.StratificationID2   
								left join   t_StratificationSet ss2 on ss2.StratificationSetID = s2.StratificationSetID   
								left JOIN	t_Stratification s3 on s3.StratificationId = d.StratificationID3   
								left join   t_StratificationSet ss3 on ss3.StratificationSetID = s3.StratificationSetID   
						where c.ChartID =' + CAST(@ChartID AS NVARCHAR(10)) + ' ' + @Where + '    
						) AS Query   
					PIVOT (MAX(Mainvalue) for PivotStrat in (' + @ListStringPivot + ')) AS DLTable   
					ORDER BY DisplayOrder'   
					PRINT '@SQL=' + @SQL   
					EXEC sp_ExecuteSQL @SQL   
				END   
			   
			else if  @MaxStratSetRank = 1	   
				BEGIN   
					-- CX   
					SET @SQL = '   
					Declare @t udtt_OrderOfChartStratificationSets   
					insert into @t select * from dbo.udf_StratificationSetOrderWithoutStratifierFromChartID(' + CAST(@ChartID AS NVARCHAR(10)) + ')   
					   
						SELECT [' + @StratifierSetText+ '],' + @ListString + ' FROM    
						(SELECT   
							Case    
								when ss1.StratificationText = ''' + @StratifierSetText + ''' then s1.Stratification	   
								when ss2.StratificationText = ''' + @StratifierSetText + ''' then s2.Stratification				   
								when ss3.StratificationText = ''' + @StratifierSetText + ''' then s3.Stratification end as [' + @StratifierSetText + ']   
							,(select Case    
								when StratificationText = ss1.StratificationText then s1.Stratification	   
								when StratificationText = ss2.StratificationText then s2.Stratification				   
								when StratificationText = ss3.StratificationText then s3.Stratification end 			   
								from @t   
								where StratSetRank = 1) as PivotStrat     
						   ,d.MainValue  + N''|'' + ISNULL(cast(d.LowConfidenceInterval as varchar),N'''') + N''|'' + ISNULL(cast(d.HighConfidenceInterval as varchar),N'''') as MainValue    
						   ,(select case    
									when ss1.StratificationText = ''' + @StratifierSetText + ''' then s1.StratificationDisplayOrder 	   
									when ss2.StratificationText = ''' + @StratifierSetText + ''' then s2.StratificationDisplayOrder 				   
									when ss3.StratificationText = ''' + @StratifierSetText + ''' then s3.StratificationDisplayOrder  end)   
							as DisplayOrder   
						from t_Chart c    
								inner join dbo.t_DisplayFormat df on df.DisplayFormatID =c.DisplayFormatID   
								inner join dbo.t_DataPoint d on  c.ChartID = d.ChartID     
								left JOIN	t_Stratification s1 on s1.StratificationId = d.StratificationID1   
								left join   t_StratificationSet ss1 on ss1.StratificationSetID = s1.StratificationSetID   
								left JOIN	t_Stratification s2 on s2.StratificationId = d.StratificationID2   
								left join   t_StratificationSet ss2 on ss2.StratificationSetID = s2.StratificationSetID   
								left JOIN	t_Stratification s3 on s3.StratificationId = d.StratificationID3   
								left join   t_StratificationSet ss3 on ss3.StratificationSetID = s3.StratificationSetID   
						where c.ChartID =' + CAST(@ChartID AS NVARCHAR(10)) + ' ' + @Where + '    
						) AS Query   
					PIVOT (MAX(Mainvalue) for PivotStrat in (' + @ListStringPivot + ')) AS DLTable 
					ORDER BY DisplayOrder'   
					PRINT '@SQL=' + @SQL   
					EXEC sp_ExecuteSQL @SQL   
				END   
		END   
	   
	ELSE     
		BEGIN	   
			if @MaxStratSetRank = 3   
				BEGIN   
					SET @SQL = '   
					Declare @t udtt_OrderOfChartStratificationSets   
					insert into @t select * from dbo.udf_StratificationSetOrderWithoutStratifierFromChartID(' + CAST(@ChartID AS NVARCHAR(10)) + ')   
					   
					SELECT ' + @ListString + ' FROM    
						(SELECT   
							(select Case    
								when StratificationText = ss1.StratificationText then s1.Stratification 	   
								when StratificationText = ss2.StratificationText then s2.Stratification 				   
								when StratificationText = ss3.StratificationText then s3.Stratification  end 			   
								from @t   
								where StratSetRank = 1) as [' + @MinStratSetText + ']   
							,(select Case    
								when StratificationText = ss1.StratificationText then s1.Stratification 	   
								when StratificationText = ss2.StratificationText then s2.Stratification 				   
								when StratificationText = ss3.StratificationText then s3.Stratification  end 			   
								from @t   
								where StratSetRank = 2) as [' + @MidStratSetText + ']   
							 ,(select Case    
								when StratificationText = ss1.StratificationText then s1.Stratification	   
								when StratificationText = ss2.StratificationText then s2.Stratification				   
								when StratificationText = ss3.StratificationText then s3.Stratification end 				   
								from @t   
								where StratSetRank = 3) as PivotStrat        
						   ,d.MainValue  + N''|'' + ISNULL(cast(d.LowConfidenceInterval as varchar),N'''') + N''|'' + ISNULL(cast(d.HighConfidenceInterval as varchar),N'''') as MainValue   
						   ,(select case    
									when ss1.StratificationText = (select StratificationText from @t where StratSetRank = 1) then s1.StratificationDisplayOrder    
									when ss2.StratificationText = (select StratificationText from @t where StratSetRank = 1) then s2.StratificationDisplayOrder   
									when ss3.StratificationText = (select StratificationText from @t where StratSetRank = 1) then s3.StratificationDisplayOrder end) as DisplayOrder1     
						    ,(select case    
									when ss1.StratificationText = (select StratificationText from @t where StratSetRank = 2) then s1.StratificationDisplayOrder    
									when ss2.StratificationText = (select StratificationText from @t where StratSetRank = 2) then s2.StratificationDisplayOrder   
									when ss3.StratificationText = (select StratificationText from @t where StratSetRank = 2) then s3.StratificationDisplayOrder end) as DisplayOrder2    
 						from t_Chart c    
								inner join dbo.t_DisplayFormat df on df.DisplayFormatID =c.DisplayFormatID   
								inner join dbo.t_DataPoint d on  c.ChartID = d.ChartID     
								left JOIN	dbo.t_Stratification s1 on s1.StratificationId = d.StratificationID1   
								left join   dbo.t_StratificationSet ss1 on ss1.StratificationSetID = s1.StratificationSetID   
								left JOIN	dbo.t_Stratification s2 on s2.StratificationId = d.StratificationID2   
								left join   dbo.t_StratificationSet ss2 on ss2.StratificationSetID = s2.StratificationSetID   
								left JOIN	dbo.t_Stratification s3 on s3.StratificationId = d.StratificationID3   
								left join   dbo.t_StratificationSet ss3 on ss3.StratificationSetID = s3.StratificationSetID   
								where c.ChartID =' + CAST(@ChartID AS NVARCHAR(10)) + '    
						) AS Query   
					PIVOT (MAX(Mainvalue) for PivotStrat in (' + @ListStringPivot + ')) AS DLTable   
					ORDER BY DisplayOrder2, DisplayOrder1'   
					PRINT '@SQL=' + @SQL   
					EXEC sp_ExecuteSQL @SQL   
				END   
			   
			else if  @MaxStratSetRank = 2   
			   
				BEGIN   
					SET @SQL = '   
					Declare @t udtt_OrderOfChartStratificationSets   
					insert into @t select * from dbo.udf_StratificationSetOrderWithoutStratifierFromChartID(' + CAST(@ChartID AS NVARCHAR(10)) + ')   
					   
					SELECT ' + @ListString + ' FROM    
						(SELECT   
							(select Case    
								when StratificationText = ss1.StratificationText then s1.Stratification	   
								when StratificationText = ss2.StratificationText then s2.Stratification				   
								when StratificationText = ss3.StratificationText then s3.Stratification end 			   
								from @t   
								where StratSetRank = 1 and ChartID = c.ChartID) as [' + @MinStratSetText + ']   
							,(select Case    
								when StratificationText = ss1.StratificationText then s1.Stratification	   
								when StratificationText = ss2.StratificationText then s2.Stratification				   
								when StratificationText = ss3.StratificationText then s3.Stratification end 			   
								from @t   
								where StratSetRank = 2 and ChartID = c.ChartID) as PivotStrat'     
						IF (@IsOverallDetail = 1)
						BEGIN
							SET @SQL = @SQL + ',d.MainValue  as MainValue   '
						END
						ELSE
                        BEGIN
							SET @SQL = @SQL + ',d.MainValue  + N''|'' + ISNULL(cast(d.LowConfidenceInterval as varchar),N'''') + N''|'' + ISNULL(cast(d.HighConfidenceInterval as varchar),N'''') as MainValue   
'
                        END
						SET @SQL = @SQL +   ',(select case    
									when ss1.StratificationText = (select StratificationText from @t where StratSetRank = 1) then s1.StratificationDisplayOrder    
									when ss2.StratificationText = (select StratificationText from @t where StratSetRank = 1) then s2.StratificationDisplayOrder   
									when ss3.StratificationText = (select StratificationText from @t where StratSetRank = 1) then s3.StratificationDisplayOrder end) as DisplayOrder1     
						from t_Chart c    
								inner join dbo.t_DisplayFormat df on df.DisplayFormatID =c.DisplayFormatID   
								inner join dbo.t_DataPoint d on  c.ChartID = d.ChartID     
								left JOIN	t_Stratification s1 on s1.StratificationId = d.StratificationID1   
								left join   t_StratificationSet ss1 on ss1.StratificationSetID = s1.StratificationSetID   
								left JOIN	t_Stratification s2 on s2.StratificationId = d.StratificationID2   
								left join   t_StratificationSet ss2 on ss2.StratificationSetID = s2.StratificationSetID   
								left JOIN	t_Stratification s3 on s3.StratificationId = d.StratificationID3   
								left join   t_StratificationSet ss3 on ss3.StratificationSetID = s3.StratificationSetID   
						where c.ChartID =' + CAST(@ChartID AS NVARCHAR(10)) + '    
						) AS Query   
					PIVOT (MAX(Mainvalue) for PivotStrat in (' + @ListStringPivot + ')) AS DLTable   
					ORDER BY DisplayOrder1' 
					PRINT '@SQL=' + @SQL   
					EXEC sp_ExecuteSQL @SQL   
				END   
			   
			else if  @MaxStratSetRank = 1	   
				BEGIN   
					SET @SQL = '   
					Declare @t udtt_OrderOfChartStratificationSets   
					insert into @t select * from dbo.udf_StratificationSetOrderWithoutStratifierFromChartID(' + CAST(@ChartID AS NVARCHAR(10)) + ')   
					   
					SELECT ' + @ListString + ' FROM    
						(SELECT   
							(select Case    
								when StratificationText = ss1.StratificationText then s1.Stratification	   
								when StratificationText = ss2.StratificationText then s2.Stratification				   
								when StratificationText = ss3.StratificationText then s3.Stratification end 			   
								from @t   
								where StratSetRank = 1 and ChartID = c.ChartID) as PivotStrat   
						   ,d.MainValue  + N''|'' + ISNULL(cast(d.LowConfidenceInterval as varchar),N'''') + N''|'' + ISNULL(cast(d.HighConfidenceInterval as varchar),N'''') as MainValue   
						from t_Chart c    
								inner join dbo.t_DisplayFormat df on df.DisplayFormatID =c.DisplayFormatID   
								inner join dbo.t_DataPoint d on  c.ChartID = d.ChartID     
								left JOIN	t_Stratification s1 on s1.StratificationId = d.StratificationID1   
								left join   t_StratificationSet ss1 on ss1.StratificationSetID = s1.StratificationSetID   
								left JOIN	t_Stratification s2 on s2.StratificationId = d.StratificationID2   
								left join   t_StratificationSet ss2 on ss2.StratificationSetID = s2.StratificationSetID   
								left JOIN	t_Stratification s3 on s3.StratificationId = d.StratificationID3   
								left join   t_StratificationSet ss3 on ss3.StratificationSetID = s3.StratificationSetID   
						where c.ChartID =' + CAST(@ChartID AS NVARCHAR(10)) + '    
						) AS Query   
					PIVOT (MAX(Mainvalue) for PivotStrat in (' + @ListStringPivot + ')) AS DLTable' 
					PRINT '@SQL=' + @SQL   
					EXEC sp_ExecuteSQL @SQL   
				END   
   
		END   
	   
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
COMMIT TRANSACTION
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
-- This statement writes to the SQL Server Log so SQL Monitor can show this deployment.
IF HAS_PERMS_BY_NAME(N'sys.xp_logevent', N'OBJECT', N'EXECUTE') = 1
BEGIN
    DECLARE @databaseName AS nvarchar(2048), @eventMessage AS nvarchar(2048)
    SET @databaseName = REPLACE(REPLACE(DB_NAME(), N'\', N'\\'), N'"', N'\"')
    SET @eventMessage = N'Redgate SQL Compare: { "deployment": { "description": "Redgate SQL Compare deployed to ' + @databaseName + N'", "database": "' + @databaseName + N'" }}'
    EXECUTE sys.xp_logevent 55000, @eventMessage
END
GO
DECLARE @Success AS BIT
SET @Success = 1
SET NOEXEC OFF
IF (@Success = 1) PRINT 'The database update succeeded'
ELSE BEGIN
	IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION
	PRINT 'The database update failed'
END
GO
