/*
Run this script on:

awssqlprodm.51349_CDCCKD    -  This database will be modified

to synchronize it with:

awssqlstgm.51349_CDCCKD_TED

You are recommended to back up your database before running this script

Script created by SQL Data Compare version 14.0.7.13517 from Red Gate Software Ltd at 4/7/2026 3:28:07 PM

*/
USE [NCCD_DDT_CKD]		
GO
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS, NOCOUNT ON
GO
SET DATEFORMAT YMD
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL Serializable
GO
BEGIN TRANSACTION

PRINT(N'Drop constraints from [dbo].[t_DataPoint]')
ALTER TABLE [dbo].[t_DataPoint] NOCHECK CONSTRAINT [FK_t_DataPoint_t_Chart]
ALTER TABLE [dbo].[t_DataPoint] NOCHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_1]
ALTER TABLE [dbo].[t_DataPoint] NOCHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_2]
ALTER TABLE [dbo].[t_DataPoint] NOCHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_3]

PRINT(N'Drop constraints from [dbo].[t_SpecSheet]')
ALTER TABLE [dbo].[t_SpecSheet] NOCHECK CONSTRAINT [FK_t_SpecSheet_t_Page]

PRINT(N'Drop constraints from [dbo].[t_PageReferenceLink]')
ALTER TABLE [dbo].[t_PageReferenceLink] NOCHECK CONSTRAINT [FK_t_PageReferenceLink_t_Page]
ALTER TABLE [dbo].[t_PageReferenceLink] NOCHECK CONSTRAINT [FK_t_PageReferenceLink_t_Reference]

PRINT(N'Drop constraints from [dbo].[t_MethodsPage]')
ALTER TABLE [dbo].[t_MethodsPage] NOCHECK CONSTRAINT [FK_t_MethodsPage_t_Page]

PRINT(N'Drop constraints from [dbo].[t_KeyPoint]')
ALTER TABLE [dbo].[t_KeyPoint] NOCHECK CONSTRAINT [FK_t_KeyPoint_t_Page]

PRINT(N'Drop constraints from [dbo].[t_FootNote]')
ALTER TABLE [dbo].[t_FootNote] NOCHECK CONSTRAINT [FK_t_FootNote_t_Page]

PRINT(N'Drop constraints from [dbo].[t_Chart]')
ALTER TABLE [dbo].[t_Chart] NOCHECK CONSTRAINT [FK_t_Chart_t_ChartStyle]
ALTER TABLE [dbo].[t_Chart] NOCHECK CONSTRAINT [FK_t_Chart_t_DisplayFormat]
ALTER TABLE [dbo].[t_Chart] NOCHECK CONSTRAINT [FK_t_Chart_t_Page]
ALTER TABLE [dbo].[t_Chart] NOCHECK CONSTRAINT [FK_t_Chart_t_StratificationSet_1]
ALTER TABLE [dbo].[t_Chart] NOCHECK CONSTRAINT [FK_t_Chart_t_StratificationSet_2]
ALTER TABLE [dbo].[t_Chart] NOCHECK CONSTRAINT [FK_t_Chart_t_StratificationSet_3]

PRINT(N'Drop constraint FK_t_DisparitiesDP_t_Chart from [dbo].[t_DisparitiesDataPoint]')
ALTER TABLE [dbo].[t_DisparitiesDataPoint] NOCHECK CONSTRAINT [FK_t_DisparitiesDP_t_Chart]

PRINT(N'Drop constraints from [dbo].[t_Page]')
ALTER TABLE [dbo].[t_Page] NOCHECK CONSTRAINT [FK_t_Page_t_DataSource]
ALTER TABLE [dbo].[t_Page] NOCHECK CONSTRAINT [FK_t_Page_t_Indicator]

PRINT(N'Drop constraint FK_t_Image_t_Page from [dbo].[t_Image]')
ALTER TABLE [dbo].[t_Image] NOCHECK CONSTRAINT [FK_t_Image_t_Page]

PRINT(N'Drop constraint FK_t_MapLegend_t_Page from [dbo].[t_MapLegend]')
ALTER TABLE [dbo].[t_MapLegend] NOCHECK CONSTRAINT [FK_t_MapLegend_t_Page]

PRINT(N'Drop constraints from [dbo].[t_MeasureIndicatorLink]')
ALTER TABLE [dbo].[t_MeasureIndicatorLink] NOCHECK CONSTRAINT [FK_t_MeasureIndicatorLink_t_Indicator]
ALTER TABLE [dbo].[t_MeasureIndicatorLink] NOCHECK CONSTRAINT [FK_t_MeasureIndicatorLink_t_Measure]

PRINT(N'Drop constraint FK_t_IndicatorFactorOfInterestLink_t_Indicator from [dbo].[t_IndicatorFactorOfInterestLink]')
ALTER TABLE [dbo].[t_IndicatorFactorOfInterestLink] NOCHECK CONSTRAINT [FK_t_IndicatorFactorOfInterestLink_t_Indicator]

PRINT(N'Drop constraint FK_t_IndicatorLink_t_Indicator_1 from [dbo].[t_IndicatorLink]')
ALTER TABLE [dbo].[t_IndicatorLink] NOCHECK CONSTRAINT [FK_t_IndicatorLink_t_Indicator_1]

PRINT(N'Drop constraint FK_t_IndicatorLink_t_Indicator_2 from [dbo].[t_IndicatorLink]')
ALTER TABLE [dbo].[t_IndicatorLink] NOCHECK CONSTRAINT [FK_t_IndicatorLink_t_Indicator_2]

PRINT(N'Update row in [dbo].[t_DataPoint]')
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'None' WHERE [DatapointID] = 364815

PRINT(N'Update rows in [dbo].[t_SpecSheet]')
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>Prevalence of U.S Department of Defense Military Health System (MHS) beneficiaries with eGFR &lt;60 mL/min/1.73 m&sup2;.</p>
' WHERE [SpecSheetID] = 10803
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>Beneficiaries aged &ge;18 years enrolled in the TRICARE Prime or Plus managed care options.</p>
' WHERE [SpecSheetID] = 10815
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>CKD was defined by an average eGFR &lt;60 ml/min/1.73 m&sup2; over the fiscal year. Serum creatinine measured during inpatient encounters were excluded. Outlier values (serum creatinine &le;0 mg/dL or &gt;25 mg/dL, or eGFR &gt;200 ml/min/1.73 m&sup2;) were excluded. Beneficiaries with diagnosis of dialysis or transplant were excluded from eGFR categorization.&nbsp;&nbsp;&nbsp;</p>
' WHERE [SpecSheetID] = 10819
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>Prevalence of U.S Department of Defense Military Health System (MHS) beneficiaries with eGFR &lt;60 mL/min/1.73 m&sup2;.</p>
' WHERE [SpecSheetID] = 11143
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>Beneficiaries aged &ge;18 years enrolled in the TRICARE Prime or Plus managed care options.</p>
' WHERE [SpecSheetID] = 11286
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>CKD was defined by an average eGFR &lt;60 ml/min/1.73 m&sup2; over the fiscal year. Serum creatinine measured during inpatient encounters were excluded. Outlier values (serum creatinine &le;0 mg/dL or &gt;25 mg/dL, or eGFR &gt;200 ml/min/1.73 m&sup2;) were excluded. Beneficiaries with diagnosis of dialysis or transplant were excluded from eGFR categorization.&nbsp;&nbsp;&nbsp;</p>
' WHERE [SpecSheetID] = 11290
PRINT(N'Operation applied to 6 rows out of 6')

PRINT(N'Update row in [dbo].[t_Reference]')
UPDATE [dbo].[t_Reference] SET [ReferenceText]=N'<p>Whelton PK, Carey RM, Aronow WS, et al. 2017 ACC/AHA/AAPA/ABC/ACPM/AGS/APhA/ ASH/ASPC/NMA/PCNA Guideline for the Prevention, Detection, Evaluation, and Management of High Blood Pressure in Adults: a report of the American College of Cardiology/American Heart Association Task Force on Clinical Practice Guidelines. Hypertension. 2018;71(6):e13‐e115.</p>
', [URL]=NULL WHERE [ReferenceID] = 1142

PRINT(N'Update rows in [dbo].[t_Indicator]')
UPDATE [dbo].[t_Indicator] SET [IndicatorText]=N'Trends in Daily Dietary Sodium Intake among Adults with CKD', [IndicatorTitleRoot]=N'Trends in Daily Dietary Sodium Intake among Adults with CKD' WHERE [IndicatorID] = 443
UPDATE [dbo].[t_Indicator] SET [IndicatorText]=N'Trends in Daily Dietary Potassium Intake among Adults with CKD', [IndicatorTitleRoot]=N'Trends in Daily Dietary Potassium Intake among Adults with CKD' WHERE [IndicatorID] = 444
PRINT(N'Operation applied to 2 rows out of 2')

PRINT(N'Update row in [dbo].[AYA]')
UPDATE [dbo].[AYA] SET [ShortDescription]=N'Anemia (low hemoglobin level) is a well-known complication in chronic kidney disease (CKD) that gets worse with progression of the disease. National survey data show that over the past two decades, anemia has been more common among those with CKD than without CKD. Additionally, it is consistently more common among Black adults with CKD than other racial and ethnic groups. Anemia related to CKD is important to recognize and manage early on to optimize patients’ quality of life. Awareness of factors specific to Black populations (e.g., genetics, poorer access to healthcare, faster progression of CKD) may additionally help providers in improving management of anemia in CKD in this patient population., -- ShortDescription - nvarchar(max)' WHERE [AYAId] = 3057

PRINT(N'Update rows in [dbo].[ApplicationConfiguration]')
UPDATE [dbo].[ApplicationConfiguration] SET [Value]='Q9;Q11;Q89;Q98;Q185;Q364;Q372;Q605;Q640;Q700;Q703;Q712;Q719;Q730;Q756;Q759;Q762;Q763;Q764;Q773;Q781;Q784;Q785;Q786;Q787;Q788;Q789;Q790;Q791;Q802;Q794;Q795;Q796;Q800;Q801;Q804;Q811;Q805;Q806;Q807;Q808;Q812;Q813;Q814;Q815;Q818' WHERE [ID] = 11
PRINT(N'Operation applied to 1 rows out of 4')

PRINT(N'Add row to [dbo].[ApplicationConfiguration]')
SET IDENTITY_INSERT [dbo].[ApplicationConfiguration] ON
INSERT INTO [dbo].[ApplicationConfiguration] ([ID], [Name], [Value], [EntryDescription]) VALUES (12, 'ChartTip', 'Tip: Click legend items to hide or show lines. Double-click to isolate one line.', 'Instruction of click event on charts.')
SET IDENTITY_INSERT [dbo].[ApplicationConfiguration] OFF

PRINT(N'Add rows to [dbo].[t_Indicator]')
SET IDENTITY_INSERT [dbo].[t_Indicator] ON
INSERT INTO [dbo].[t_Indicator] ([IndicatorID], [IndicatorText], [DisplayOrder], [IndicatorTitleRoot], [Active], [IndicatorKeyPoint], [IndicatorMethod], [maxYear], [HP2020Logo], [SampleIndicator], [LiteratureIndicator]) VALUES (460, N'SGLT2i use in Type 2 Diabetes Mellitus with Chronic Kidney Disease (CKD) in the Military Health System', 5498, N'SGLT2i use among Adults with Type 2 Diabetes Mellitus with CKD in the Military Health System', 1, NULL, NULL, '2023', 0, 0, 0)
INSERT INTO [dbo].[t_Indicator] ([IndicatorID], [IndicatorText], [DisplayOrder], [IndicatorTitleRoot], [Active], [IndicatorKeyPoint], [IndicatorMethod], [maxYear], [HP2020Logo], [SampleIndicator], [LiteratureIndicator]) VALUES (461, N'GLP-1 RA use among Adults with Type 2 Diabetes Mellitus with CKD in the Military Health System', 5499, N'GLP-1 RA use among Adults with Type 2 Diabetes Mellitus with CKD in the Military Health System', 1, NULL, NULL, '2023', 0, 0, 0)
INSERT INTO [dbo].[t_Indicator] ([IndicatorID], [IndicatorText], [DisplayOrder], [IndicatorTitleRoot], [Active], [IndicatorKeyPoint], [IndicatorMethod], [maxYear], [HP2020Logo], [SampleIndicator], [LiteratureIndicator]) VALUES (462, N'ACEi or ARB use in Diabetes Mellitus (Types 1 and 2) with Chronic Kidney Disease in the Military Health System', 5500, N'ACEi or ARB use in Diabetes Mellitus (Types 1 and 2) with Chronic Kidney Disease in the Military Health System', 1, NULL, NULL, '2023', 0, 0, 0)
SET IDENTITY_INSERT [dbo].[t_Indicator] OFF
PRINT(N'Operation applied to 9 rows out of 14')

PRINT(N'Add row to [dbo].[t_Reference]')
SET IDENTITY_INSERT [dbo].[t_Reference] ON
INSERT INTO [dbo].[t_Reference] ([ReferenceID], [ReferenceText], [URL]) VALUES (1144, N'<p>1 Inker LA, Eneanya ND, Coresh J, et al. New creatinine- and cystatin C&ndash;based equations to estimate GFR without race. <em>N Engl J Med</em>. 2021;385:1737-1749. doi: 10.1056/NEJMoa2102953</p>', N'')
SET IDENTITY_INSERT [dbo].[t_Reference] OFF

PRINT(N'Add rows to [dbo].[t_MeasureIndicatorLink]')
SET IDENTITY_INSERT [dbo].[t_MeasureIndicatorLink] ON
INSERT INTO [dbo].[t_MeasureIndicatorLink] ([MeasureIndicatorLinkID], [MeasureID], [IndicatorID]) VALUES (546, 36, 460)
INSERT INTO [dbo].[t_MeasureIndicatorLink] ([MeasureIndicatorLinkID], [MeasureID], [IndicatorID]) VALUES (547, 36, 461)
INSERT INTO [dbo].[t_MeasureIndicatorLink] ([MeasureIndicatorLinkID], [MeasureID], [IndicatorID]) VALUES (548, 36, 462)
SET IDENTITY_INSERT [dbo].[t_MeasureIndicatorLink] OFF
PRINT(N'Operation applied to 9 rows out of 14')

PRINT(N'Add rows to [dbo].[t_Page]')
SET IDENTITY_INSERT [dbo].[t_Page] ON
INSERT INTO [dbo].[t_Page] ([PageID], [IndicatorID], [QNum], [DataSourceID], [ChartExplanation], [DisplayChart], [DisplayTable], [TEDMetadataUpdatesDone], [TEDDataPointUpdatesDone], [DisplayTableAllYears], [Active]) VALUES (604, 460, 'Q812', 60, N'<p>To view SGLT2i use in the DoD-MHS by risk categories, select from the drop-down menu below. Risk categories include Overall, Age Category, Sex, Race/Ethnicity, and CKD Stage.</p>
', 1, 1, 0, 0, 0, 1)
INSERT INTO [dbo].[t_Page] ([PageID], [IndicatorID], [QNum], [DataSourceID], [ChartExplanation], [DisplayChart], [DisplayTable], [TEDMetadataUpdatesDone], [TEDDataPointUpdatesDone], [DisplayTableAllYears], [Active]) VALUES (605, 461, 'Q813', 60, N'<p>To view GLP-1 RA&nbsp;use in the DoD-MHS by risk categories, select from the drop-down menu below. Risk categories include Overall, Age Category, Sex, Race/Ethnicity, and CKD Stage.</p>
', 1, 1, 0, 0, 0, 1)
INSERT INTO [dbo].[t_Page] ([PageID], [IndicatorID], [QNum], [DataSourceID], [ChartExplanation], [DisplayChart], [DisplayTable], [TEDMetadataUpdatesDone], [TEDDataPointUpdatesDone], [DisplayTableAllYears], [Active]) VALUES (606, 462, 'Q814', 60, N'<p>To view ACEi/ARB&nbsp;use in diabetes patients with CKD in the DoD-MHS by risk categories, select from the drop-down menu below. Risk categories include Overall, Age Category, Sex, Race/Ethnicity, and CKD Stage.</p>
', 1, 1, 0, 0, 0, 1)
SET IDENTITY_INSERT [dbo].[t_Page] OFF
PRINT(N'Operation applied to 10 rows out of 15')

PRINT(N'Add rows to [dbo].[t_Chart]')
SET IDENTITY_INSERT [dbo].[t_Chart] ON
SET IDENTITY_INSERT [dbo].[t_Chart] OFF
PRINT(N'Operation applied to 47 rows out of 47')

PRINT(N'Add rows to [dbo].[t_FootNote]')
SET IDENTITY_INSERT [dbo].[t_FootNote] ON
INSERT INTO [dbo].[t_FootNote] ([FootnoteID], [PageID], [FootnoteType_NU], [DisplayOrder], [FootnoteText]) VALUES (1279, 604, NULL, 1, N'<p>Data include CKD stages 1&ndash;5. Estimates were standardized to the 2010 U.S. Census population for adults.</p>

<p>*Estimates for Age Category &quot;18-29&quot;, and CKD Stage &quot;CKD Stage 4&quot; and &quot;CKD Stage 5&quot; were suppressed due to n&lt;11.</p>
')
INSERT INTO [dbo].[t_FootNote] ([FootnoteID], [PageID], [FootnoteType_NU], [DisplayOrder], [FootnoteText]) VALUES (1280, 608, NULL, 1, N'<p>Data include CKD stages 1&ndash;5. Estimates were standardized to the 2010 U.S. Census population for adults.</p>

<p>*Estimates for Age Category &quot;18-29&quot;, and CKD Stage &quot;CKD Stage 4&quot; and &quot;CKD Stage 5&quot; were suppressed due to n&lt;11.</p>
')
INSERT INTO [dbo].[t_FootNote] ([FootnoteID], [PageID], [FootnoteType_NU], [DisplayOrder], [FootnoteText]) VALUES (1281, 609, NULL, 1, N'<p>Data include CKD stages 1&ndash;5. Estimates were standardized to the 2010 U.S. Census population for adults.</p>

<p>*Estimates for CKD Stage &quot;CKD Stage 5&quot; were suppressed due to n&lt;11.</p>
')
SET IDENTITY_INSERT [dbo].[t_FootNote] OFF
PRINT(N'Operation applied to 10 rows out of 13')

PRINT(N'Add rows to [dbo].[t_KeyPoint]')
SET IDENTITY_INSERT [dbo].[t_KeyPoint] ON
INSERT INTO [dbo].[t_KeyPoint] ([KeyPointID], [PageID], [DisplayOrder], [KeyPointText]) VALUES (599, 605, 1, N'<p>Glucagon-like peptide-1 receptor agonist (GLP-1 RA) use among Department of Defense Military Health System (DoD-MHS) beneficiaries with type 2 diabetes mellitus and CKD significantly increased from 6.3% to 41.2% (age-standardized) between 2016 and 2023 and was higher among individuals aged 40&ndash;59 years. During this period, no distinct patterns were observed within specific race and ethnicity or CKD stage strata.</p>
')
SET IDENTITY_INSERT [dbo].[t_KeyPoint] OFF
PRINT(N'Operation applied to 10 rows out of 15')

PRINT(N'Add rows to [dbo].[t_MethodsPage]')
SET IDENTITY_INSERT [dbo].[t_MethodsPage] ON
SET IDENTITY_INSERT [dbo].[t_MethodsPage] OFF
PRINT(N'Operation applied to 10 rows out of 15')

PRINT(N'Add rows to [dbo].[t_PageReferenceLink]')
SET IDENTITY_INSERT [dbo].[t_PageReferenceLink] ON
INSERT INTO [dbo].[t_PageReferenceLink] ([PageReferenceLinkID], [PageID], [ReferenceID], [DisplayOrder]) VALUES (1690, 559, 1144, 1)
INSERT INTO [dbo].[t_PageReferenceLink] ([PageReferenceLinkID], [PageID], [ReferenceID], [DisplayOrder]) VALUES (1691, 454, 1144, 1)
INSERT INTO [dbo].[t_PageReferenceLink] ([PageReferenceLinkID], [PageID], [ReferenceID], [DisplayOrder]) VALUES (1692, 558, 1144, 1)
SET IDENTITY_INSERT [dbo].[t_PageReferenceLink] OFF
PRINT(N'Operation applied to 3 rows out of 4')

PRINT(N'Add rows to [dbo].[t_SpecSheet]')
SET IDENTITY_INSERT [dbo].[t_SpecSheet] ON
INSERT INTO [dbo].[t_SpecSheet] ([SpecSheetID], [PageID], [DisplayOrder], [FieldText], [DataText]) VALUES (12663, 604, 1, 'Description of Measure', N'<p>Trends in medication used among beneficiaries with type 2 diabetes mellitus and chronic kidney disease (CKD) in the U.S. Department of Defense (DoD) Military Health System (MHS).</p>

<p>&nbsp; &nbsp; &nbsp;(1)&nbsp; Sodium-glucose cotransporter 2 inhibitor (SGLT2i)</p>

<p>&nbsp; &nbsp; &nbsp;(2)&nbsp; Glucagon-like peptide-1 receptor agonist (GLP-1 RA)</p>
')
INSERT INTO [dbo].[t_SpecSheet] ([SpecSheetID], [PageID], [DisplayOrder], [FieldText], [DataText]) VALUES (12664, 605, 1, 'Description of Measure', N'<p>Trends in medication used among beneficiaries with type 2 diabetes mellitus and chronic kidney disease (CKD) in the U.S. Department of Defense (DoD) Military Health System (MHS).</p>

<p>&nbsp; &nbsp; &nbsp;(1)&nbsp; Sodium-glucose cotransporter 2 inhibitor (SGLT2i)</p>

<p>&nbsp; &nbsp; &nbsp;(2)&nbsp; Glucagon-like peptide-1 receptor agonist (GLP-1 RA)</p>
')
INSERT INTO [dbo].[t_SpecSheet] ([SpecSheetID], [PageID], [DisplayOrder], [FieldText], [DataText]) VALUES (12665, 606, 1, 'Description of Measure', N'<p>Trends in use of angiotensin-converting enzyme inhibitors (ACEi) or angiotensin receptor blockers (ARB) among MHS beneficiaries with diabetes mellitus (types 1 and 2) and chronic kidney disease (CKD) in DoD-MHS.</p>
')
SET IDENTITY_INSERT [dbo].[t_SpecSheet] OFF
PRINT(N'Operation applied to 228 rows out of 270')

PRINT(N'Add rows to [dbo].[t_DataPoint]')
SET IDENTITY_INSERT [dbo].[t_DataPoint] ON
INSERT INTO [dbo].[t_DataPoint] ([DatapointID], [ChartID], [StratificationID1], [StratificationID2], [StratificationID3], [MainValue], [HighConfidenceInterval], [LowConfidenceInterval], [StandardError]) VALUES (397200, 4410, 5981, NULL, NULL, N'58.21', NULL, NULL, NULL)
INSERT INTO [dbo].[t_DataPoint] ([DatapointID], [ChartID], [StratificationID1], [StratificationID2], [StratificationID3], [MainValue], [HighConfidenceInterval], [LowConfidenceInterval], [StandardError]) VALUES (397201, 4410, 8061, NULL, NULL, N'54.23', NULL, NULL, NULL)
INSERT INTO [dbo].[t_DataPoint] ([DatapointID], [ChartID], [StratificationID1], [StratificationID2], [StratificationID3], [MainValue], [HighConfidenceInterval], [LowConfidenceInterval], [StandardError]) VALUES (397202, 4407, 5981, 5988, NULL, N'29.67', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[t_DataPoint] OFF
PRINT(N'Operation applied to 1350 rows out of 1350')

PRINT(N'Add constraints to [dbo].[t_DataPoint]')
ALTER TABLE [dbo].[t_DataPoint] WITH CHECK CHECK CONSTRAINT [FK_t_DataPoint_t_Chart]
ALTER TABLE [dbo].[t_DataPoint] WITH CHECK CHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_1]
ALTER TABLE [dbo].[t_DataPoint] WITH CHECK CHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_2]
ALTER TABLE [dbo].[t_DataPoint] WITH CHECK CHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_3]

PRINT(N'Add constraints to [dbo].[t_SpecSheet]')
ALTER TABLE [dbo].[t_SpecSheet] WITH CHECK CHECK CONSTRAINT [FK_t_SpecSheet_t_Page]

PRINT(N'Add constraints to [dbo].[t_PageReferenceLink]')
ALTER TABLE [dbo].[t_PageReferenceLink] WITH CHECK CHECK CONSTRAINT [FK_t_PageReferenceLink_t_Page]
ALTER TABLE [dbo].[t_PageReferenceLink] WITH CHECK CHECK CONSTRAINT [FK_t_PageReferenceLink_t_Reference]

PRINT(N'Add constraints to [dbo].[t_MethodsPage]')
ALTER TABLE [dbo].[t_MethodsPage] WITH CHECK CHECK CONSTRAINT [FK_t_MethodsPage_t_Page]

PRINT(N'Add constraints to [dbo].[t_KeyPoint]')
ALTER TABLE [dbo].[t_KeyPoint] WITH CHECK CHECK CONSTRAINT [FK_t_KeyPoint_t_Page]

PRINT(N'Add constraints to [dbo].[t_FootNote]')
ALTER TABLE [dbo].[t_FootNote] WITH CHECK CHECK CONSTRAINT [FK_t_FootNote_t_Page]

PRINT(N'Add constraints to [dbo].[t_Chart]')
ALTER TABLE [dbo].[t_Chart] WITH CHECK CHECK CONSTRAINT [FK_t_Chart_t_ChartStyle]
ALTER TABLE [dbo].[t_Chart] WITH CHECK CHECK CONSTRAINT [FK_t_Chart_t_DisplayFormat]
ALTER TABLE [dbo].[t_Chart] WITH CHECK CHECK CONSTRAINT [FK_t_Chart_t_Page]
ALTER TABLE [dbo].[t_Chart] WITH CHECK CHECK CONSTRAINT [FK_t_Chart_t_StratificationSet_1]
ALTER TABLE [dbo].[t_Chart] WITH CHECK CHECK CONSTRAINT [FK_t_Chart_t_StratificationSet_2]
ALTER TABLE [dbo].[t_Chart] WITH CHECK CHECK CONSTRAINT [FK_t_Chart_t_StratificationSet_3]
ALTER TABLE [dbo].[t_DisparitiesDataPoint] WITH CHECK CHECK CONSTRAINT [FK_t_DisparitiesDP_t_Chart]

PRINT(N'Add constraints to [dbo].[t_Page]')
ALTER TABLE [dbo].[t_Page] WITH CHECK CHECK CONSTRAINT [FK_t_Page_t_DataSource]
ALTER TABLE [dbo].[t_Page] WITH CHECK CHECK CONSTRAINT [FK_t_Page_t_Indicator]
ALTER TABLE [dbo].[t_Image] WITH CHECK CHECK CONSTRAINT [FK_t_Image_t_Page]
ALTER TABLE [dbo].[t_MapLegend] WITH CHECK CHECK CONSTRAINT [FK_t_MapLegend_t_Page]

PRINT(N'Add constraints to [dbo].[t_MeasureIndicatorLink]')
ALTER TABLE [dbo].[t_MeasureIndicatorLink] WITH CHECK CHECK CONSTRAINT [FK_t_MeasureIndicatorLink_t_Indicator]
ALTER TABLE [dbo].[t_MeasureIndicatorLink] WITH CHECK CHECK CONSTRAINT [FK_t_MeasureIndicatorLink_t_Measure]
ALTER TABLE [dbo].[t_IndicatorFactorOfInterestLink] WITH CHECK CHECK CONSTRAINT [FK_t_IndicatorFactorOfInterestLink_t_Indicator]
ALTER TABLE [dbo].[t_IndicatorLink] WITH CHECK CHECK CONSTRAINT [FK_t_IndicatorLink_t_Indicator_1]
ALTER TABLE [dbo].[t_IndicatorLink] WITH CHECK CHECK CONSTRAINT [FK_t_IndicatorLink_t_Indicator_2]
COMMIT TRANSACTION
GO
