/*
Run this script on:

awssqlstgm.51349_CDCCKD_TED    -  This database will be modified

to synchronize it with:

awssqldevm.51349_CDCCKD

You are recommended to back up your database before running this script

Script created by SQL Data Compare version 14.0.7.13517 from Red Gate Software Ltd at 3/26/2026 11:04:04 AM

*/
		
USE [NCCD_DDT_CKD]
GO
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS, NOCOUNT ON
GO
SET DATEFORMAT YMD
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL Serializable
GO
BEGIN TRANSACTION

PRINT(N'Drop constraints from [dbo].[t_PageLink]')
ALTER TABLE [dbo].[t_PageLink] NOCHECK CONSTRAINT [FK_t_PageLink_t_Page]

PRINT(N'Add 12 rows to [dbo].[t_PageLink]')
SET IDENTITY_INSERT [dbo].[t_PageLink] ON
INSERT INTO [dbo].[t_PageLink] ([PageLinkId], [PageId], [LinkedPageId], [LinkedQNum], [LinkedPageSource]) VALUES (1, 437, 604, N'Q812      ', 'Department of Defense    ')
INSERT INTO [dbo].[t_PageLink] ([PageLinkId], [PageId], [LinkedPageId], [LinkedQNum], [LinkedPageSource]) VALUES (2, 604, 437, N'Q719      ', 'Clinformatics            ')
INSERT INTO [dbo].[t_PageLink] ([PageLinkId], [PageId], [LinkedPageId], [LinkedQNum], [LinkedPageSource]) VALUES (4, 437, 437, N'Q719      ', 'Clinformatics            ')
SET IDENTITY_INSERT [dbo].[t_PageLink] OFF

PRINT(N'Add constraints to [dbo].[t_PageLink]')
ALTER TABLE [dbo].[t_PageLink] WITH CHECK CHECK CONSTRAINT [FK_t_PageLink_t_Page]
COMMIT TRANSACTION
GO
