/*
Run this script on:

        awssqlprodm.51349_CDCCKD    -  This database will be modified

to synchronize it with:

        awssqldevm.51349_CDCCKD

You are recommended to back up your database before running this script

Script created by SQL Compare version 14.0.7.13517 from Red Gate Software Ltd at 4/7/2026 10:30:41 PM

*/
USE [NCCD_DDT_CKD]
GO
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS ON
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL Serializable
GO
BEGIN TRANSACTION
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
PRINT N'Altering [dbo].[proc_GetPage]'
GO
ALTER PROCEDURE [dbo].[proc_GetPage]  
	(  
		@QNum VARCHAR(6)  
	)  
	AS  
	BEGIN  
  
	DECLARE @ChartStyleID INT 

	SELECT TOP 1 @ChartStyleID = ChartSTyleID from dbo.t_Chart c INNER JOIN dbo.t_Page p ON p.PageID = c.PageID
	WHERE p.QNum = @QNum

	IF @ChartStyleID = 12 -- Pie Table
	BEGIN
		SELECT 
			p.PageID, 
			'' AS ViewBy, 
			'' AS year, 
			ChartID AS ChartID, 
			i.IndicatorTitleRoot As PageHeaderText  , 
			0 AS DisplayOrder, 
			0 AS StratificationDisplayOrder,
			TopicText AS Topic, 
			vi.MeasureText AS Measure, 
			0 AS Indicator, 
			0 AS LiteratureInd, 
			0 AS IndicatorID, 
			c.ChartStyleID
		FROM dbo.t_Page p INNER JOIN dbo.t_Indicator i ON i.IndicatorID = p.IndicatorID
		INNER JOIN dbo.t_Chart c ON c.PageID = p.PageID
		LEFT JOIN dbo.v_IndicatorInventory vi ON vi.IndicatorID= i.IndicatorID AND vi.HP2020=0 
		WHERE QNum = @QNum
	END	
	ELSE IF @QNum IN ('Q760', 'Q783', 'Q802')
	BEGIN
		SELECT 
			PageID, 
			'' AS ViewBy, 
			0 AS year, 
			0 AS ChartID, 
			i.IndicatorTitleRoot As PageHeaderText  , 
			0 AS DisplayOrder, 
			0 AS StratificationDisplayOrder,
			TopicText AS Topic, 
			vi.MeasureText AS Measure, 
			0 AS Indicator, 
			0 AS LiteratureInd, 
			0 AS IndicatorID, 
			0 AS ChartStyleID
	FROM dbo.t_Page p INNER JOIN dbo.t_Indicator i ON i.IndicatorID = p.IndicatorID
		LEFT JOIN dbo.v_IndicatorInventory vi ON vi.IndicatorID= i.IndicatorID AND vi.HP2020=0 
		WHERE QNum = @QNum
    END
	ELSE IF @QNum IN ('Q761')
		SELECT p.PageID, 
				--'' AS ViewBy, 
				CASE WHEN c.ChartID = 4319 THEN 'CKD' ELSE 'POV' END AS ViewBy,
				0 AS year, 
				ChartID, 
				i.IndicatorTitleRoot As PageHeaderText  , 
				0 AS DisplayOrder, 
				0 AS StratificationDisplayOrder,
				TopicText AS Topic, 
				vi.MeasureText AS Measure, 
				0 AS Indicator, 
				0 AS LiteratureInd, 
				0 AS IndicatorID, 
				6 AS ChartStyleID
		FROM dbo.t_Page p INNER JOIN dbo.t_Indicator i ON i.IndicatorID = p.IndicatorID
			LEFT JOIN dbo.v_IndicatorInventory vi ON vi.IndicatorID= i.IndicatorID AND vi.HP2020=0 
			INNER JOIN dbo.t_Chart c ON c.PageID = p.PageID
			WHERE QNum = @QNum
	ELSE
    BEGIN
    
		Declare @t udtt_OrderOfChartStratificationSets;  
		insert into @t select * from dbo.udf_StratificationSetOrderWithoutStratifierFromQNum(@QNum);  
		--select * from @t  
 
		-- stratifier 
		DECLARE @Strat udtt_StratIsChartByChartID;  
		INSERT INTO @Strat SELECT * FROM dbo.udf_StratIsChartByChartID (@QNum)  ;
		--SELECT * FROM @Strat  
		WITH cte AS (
		SELECT DISTINCT  
			p.PageID  
			,CASE WHEN (SELECT MAX(StratSetRank) FROM @t WHERE ChartID = c.ChartID) = 3 THEN (SELECT StratificationText FROM @t WHERE StratSetRank = 3 AND ChartID = c.ChartID) + ', ' + (SELECT StratificationText FROM @t WHERE StratSetRank = 2 AND ChartID = c.ChartID) + ', ' + (SELECT StratificationText FROM @t WHERE StratSetRank = 1 AND ChartID = c.ChartID)  
				  WHEN (SELECT MAX(StratSetRank) FROM @t WHERE ChartID = c.ChartID) = 2 THEN (SELECT StratificationText FROM @t WHERE StratSetRank = 2 AND ChartID = c.ChartID) + ', ' + (SELECT StratificationText FROM @t WHERE StratSetRank = 1 AND ChartID = c.ChartID)   
				  WHEN (SELECT MAX(StratSetRank) FROM @t WHERE ChartID = c.ChartID) = 1 THEN (SELECT StratificationText FROM @t WHERE StratSetRank = 1 AND ChartID = c.ChartID) END AS ViewBy  
			,CASE    
				WHEN strat.ChartID IS NOT NULL THEN 		   
				CASE   
					WHEN strat.StratificationText = dpss1.StratificationText THEN dps1.Stratification     
					WHEN strat.StratificationText = dpss2.StratificationText THEN dps2.Stratification   
					WHEN strat.StratificationText = dpss3.StratificationText THEN dps3.Stratification   
					ELSE '' END   
			 ELSE '' END AS year -- really this is the stratifier, the variable name is year  
			,c.ChartID  
			,i.IndicatorTitleRoot AS PageHeaderText  
			,c.DisplayOrder  
			,CASE WHEN strat.ChartID IS NOT NULL THEN 		   
				CASE   
					WHEN strat.StratificationText = dpss1.StratificationText THEN dps1.StratificationDisplayOrder     
					WHEN strat.StratificationText = dpss2.StratificationText THEN dps2.StratificationDisplayOrder   
					WHEN strat.StratificationText = dpss3.StratificationText THEN dps3.StratificationDisplayOrder   
					ELSE 1 END  
			 ELSE 1 END AS StratificationDisplayOrder  
			 ,vi.TopicText AS Topic 
			 ,vi.MeasureText AS Measure 
			 ,COALESCE(ts.ShortTitle, vi.IndicatorText) AS Indicator
			 ,CASE WHEN vi.LiteratureInd = 0 THEN 0 ELSE 1 END AS LiteratureInd
			 ,i.IndicatorID
			 ,c.ChartStyleID
		FROM   
		t_Page p   
		INNER JOIN t_Chart c ON p.PageID = c.PageID  
		INNER JOIN t_Indicator i ON i.IndicatorID = p.IndicatorID  
		INNER JOIN t_DataPoint d ON c.ChartID = d.ChartID  
		LEFT JOIN dbo.t_StratificationSet ss1 ON c.StratificationSetID1 = ss1.StratificationSetID   
		LEFT JOIN dbo.t_StratificationSet ss2 ON c.StratificationSetID2 = ss2.StratificationSetID   
		LEFT JOIN dbo.t_StratificationSet ss3 ON c.StratificationSetID3 = ss3.StratificationSetID  
		LEFT JOIN dbo.t_Stratification dps1 ON d.StratificationID1 = dps1.StratificationId  
		LEFT JOIN dbo.t_StratificationSet dpss1 ON dps1.StratificationSetID = dpss1.StratificationSetID  
		LEFT JOIN dbo.t_Stratification dps2 ON d.StratificationID2 = dps2.StratificationId  
		LEFT JOIN dbo.t_StratificationSet dpss2 ON dps2.StratificationSetID = dpss2.StratificationSetID  
		LEFT JOIN dbo.t_Stratification dps3 ON d.StratificationID3 = dps3.StratificationId  
		LEFT JOIN dbo.t_StratificationSet dpss3 ON dps3.StratificationSetID = dpss3.StratificationSetID  
		LEFT JOIN dbo.v_IndicatorInventory vi ON vi.IndicatorID= i.IndicatorID AND vi.HP2020=0 
		LEFT JOIN @Strat strat ON strat.chartID = c.ChartID  
		LEFT JOIN dbo.t_ShortTitles ts ON ts.QNum = p.QNum /*BS added 1/17/2019 */
		WHERE p.Qnum = @QNum AND c.EnableEntireChart = 1 AND p.Active=1  
		)
		SELECT 
			cte.PageID, 
			REPLACE(REPLACE(REPLACE(cte.ViewBy, 'Year', 'Overall'), 'Overall, ', '') , ', Overall', '') AS ViewBy, 
			cte.year, 
			cte.ChartID, 
			cte.PageHeaderText, 
			cte.DisplayOrder, 
			cte.StratificationDisplayOrder,
			cte.Topic, 
			cte.Measure, 
			cte.Indicator, 
			cte.LiteratureInd, 
			cte.IndicatorID, 
			cte.ChartStyleID
		INTO #tmpRet
		FROM cte
		--ORDER BY cte.DisplayOrder, StratificationDisplayOrder   

		IF @QNum IN ('Q9', 'Q11', 'Q712') OR REPLACE(REPLACE(@QNum, 'Q', ''), 'S', '') IN  ('9')
			BEGIN	
			;WITH cteRet AS (SELECT * FROM #tmpRet WHERE ViewBy <> 'Age-Standardized')
			SELECT PageID, 
			--REPLACE(ViewBy, 'Age-Standardized','Overall') AS ViewBy,
			cteRet.ViewBy,
			year, 
			ChartID, 
			PageHeaderText, 
			DisplayOrder, 
			StratificationDisplayOrder,
			Topic, 
			Measure, 
			Indicator, 
			LiteratureInd, 
			IndicatorID, 
			ChartStyleID  FROM cteRet
			ORDER BY DisplayOrder, StratificationDisplayOrder   
			END
		ELSE	
		BEGIN	
			SELECT * FROM #tmpRet ORDER BY DisplayOrder, StratificationDisplayOrder 
			END
				  
	END  
END
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
COMMIT TRANSACTION
GO
IF @@ERROR <> 0 SET NOEXEC ON
GO
-- This statement writes to the SQL Server Log so SQL Monitor can show this deployment.
IF HAS_PERMS_BY_NAME(N'sys.xp_logevent', N'OBJECT', N'EXECUTE') = 1
BEGIN
    DECLARE @databaseName AS nvarchar(2048), @eventMessage AS nvarchar(2048)
    SET @databaseName = REPLACE(REPLACE(DB_NAME(), N'\', N'\\'), N'"', N'\"')
    SET @eventMessage = N'Redgate SQL Compare: { "deployment": { "description": "Redgate SQL Compare deployed to ' + @databaseName + N'", "database": "' + @databaseName + N'" }}'
    EXECUTE sys.xp_logevent 55000, @eventMessage
END
GO
DECLARE @Success AS BIT
SET @Success = 1
SET NOEXEC OFF
IF (@Success = 1) PRINT 'The database update succeeded'
ELSE BEGIN
	IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION
	PRINT 'The database update failed'
END
GO
