/*
Run this script on:

awssqlprodm.51349_CDCCKD    -  This database will be modified

to synchronize it with:

awssqlstgm.51349_CDCCKD_TED

You are recommended to back up your database before running this script

Script created by SQL Data Compare version 14.0.7.13517 from Red Gate Software Ltd at 4/9/2026 11:01:19 AM

*/
		
USE [NCCD_DDT_CKD]
GO

SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS, NOCOUNT ON
GO
SET DATEFORMAT YMD
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL Serializable
GO
BEGIN TRANSACTION

PRINT(N'Drop constraints from [dbo].[t_PageReferenceLink]')
ALTER TABLE [dbo].[t_PageReferenceLink] NOCHECK CONSTRAINT [FK_t_PageReferenceLink_t_Page]
ALTER TABLE [dbo].[t_PageReferenceLink] NOCHECK CONSTRAINT [FK_t_PageReferenceLink_t_Reference]

PRINT(N'Drop constraints from [dbo].[t_DataPoint]')
ALTER TABLE [dbo].[t_DataPoint] NOCHECK CONSTRAINT [FK_t_DataPoint_t_Chart]
ALTER TABLE [dbo].[t_DataPoint] NOCHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_1]
ALTER TABLE [dbo].[t_DataPoint] NOCHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_2]
ALTER TABLE [dbo].[t_DataPoint] NOCHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_3]

PRINT(N'Drop constraint FK_t_IndicatorFactorOfInterestLink_t_Indicator from [dbo].[t_IndicatorFactorOfInterestLink]')
ALTER TABLE [dbo].[t_IndicatorFactorOfInterestLink] NOCHECK CONSTRAINT [FK_t_IndicatorFactorOfInterestLink_t_Indicator]

PRINT(N'Drop constraint FK_t_IndicatorLink_t_Indicator_1 from [dbo].[t_IndicatorLink]')
ALTER TABLE [dbo].[t_IndicatorLink] NOCHECK CONSTRAINT [FK_t_IndicatorLink_t_Indicator_1]

PRINT(N'Drop constraint FK_t_IndicatorLink_t_Indicator_2 from [dbo].[t_IndicatorLink]')
ALTER TABLE [dbo].[t_IndicatorLink] NOCHECK CONSTRAINT [FK_t_IndicatorLink_t_Indicator_2]

PRINT(N'Drop constraint FK_t_MeasureIndicatorLink_t_Indicator from [dbo].[t_MeasureIndicatorLink]')
ALTER TABLE [dbo].[t_MeasureIndicatorLink] NOCHECK CONSTRAINT [FK_t_MeasureIndicatorLink_t_Indicator]

PRINT(N'Drop constraint FK_t_Page_t_Indicator from [dbo].[t_Page]')
ALTER TABLE [dbo].[t_Page] NOCHECK CONSTRAINT [FK_t_Page_t_Indicator]

PRINT(N'Delete rows from [dbo].[t_PageReferenceLink]')
DELETE FROM [dbo].[t_PageReferenceLink] WHERE [PageReferenceLinkID] = 1685
DELETE FROM [dbo].[t_PageReferenceLink] WHERE [PageReferenceLinkID] = 1686
DELETE FROM [dbo].[t_PageReferenceLink] WHERE [PageReferenceLinkID] = 1687
DELETE FROM [dbo].[t_PageReferenceLink] WHERE [PageReferenceLinkID] = 1688
PRINT(N'Operation applied to 4 rows out of 4')

PRINT(N'Delete rows from [dbo].[t_DataPoint]')
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397200
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397201
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397202
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397203
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397204
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397205
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397206
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397207
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397208
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397209
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397210
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397211
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397212
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397213
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397214
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397215
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397216
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397217
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397218
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397219
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397220
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397221
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397222
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397223
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397224
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397225
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397226
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397227
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397228
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397229
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397230
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397231
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397232
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397233
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397234
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397235
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397236
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397237
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397238
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397239
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397240
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397241
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397242
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397243
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397244
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397245
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397246
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397247
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397248
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397249
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397250
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397251
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397252
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397253
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397254
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397255
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397256
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397257
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397258
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397259
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397260
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397261
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397262
DELETE FROM [dbo].[t_DataPoint] WHERE [DatapointID] = 397263
PRINT(N'Operation applied to 64 rows out of 64')

PRINT(N'Update row in [dbo].[t_Indicator]')
UPDATE [dbo].[t_Indicator] SET [IndicatorText]=N'Service Members and Their Dependents with eGFR-based CKD Stages 3–5 Who Also have a Diagnosis Code for CKD in the Military Health System' WHERE [IndicatorID] = 316

PRINT(N'Update row in [dbo].[AYA]')
UPDATE [dbo].[AYA] SET [ShortDescription]=N'Anemia (low hemoglobin level) is a well-known complication in chronic kidney disease (CKD) that gets worse with progression of the disease. National survey data show that over the past two decades, anemia has been more common among those with CKD than without CKD. Additionally, it is consistently more common among Black adults with CKD than other racial and ethnic groups. Anemia related to CKD is important to recognize and manage early on to optimize patients’ quality of life. Awareness of factors specific to Black populations (e.g., genetics, poorer access to healthcare, faster progression of CKD) may additionally help providers in improving management of anemia in CKD in this patient population.' WHERE [AYAId] = 3057

PRINT(N'Add rows to [dbo].[t_DataPoint]')
SET IDENTITY_INSERT [dbo].[t_DataPoint] ON
INSERT INTO [dbo].[t_DataPoint] ([DatapointID], [ChartID], [StratificationID1], [StratificationID2], [StratificationID3], [MainValue], [HighConfidenceInterval], [LowConfidenceInterval], [StandardError]) VALUES (401551, 4410, 5981, NULL, NULL, N'58.21', NULL, NULL, NULL)
INSERT INTO [dbo].[t_DataPoint] ([DatapointID], [ChartID], [StratificationID1], [StratificationID2], [StratificationID3], [MainValue], [HighConfidenceInterval], [LowConfidenceInterval], [StandardError]) VALUES (401552, 4410, 8061, NULL, NULL, N'54.23', NULL, NULL, NULL)
INSERT INTO [dbo].[t_DataPoint] ([DatapointID], [ChartID], [StratificationID1], [StratificationID2], [StratificationID3], [MainValue], [HighConfidenceInterval], [LowConfidenceInterval], [StandardError]) VALUES (401553, 4407, 5981, 8065, NULL, N'20.49', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[t_DataPoint] OFF
PRINT(N'Operation applied to 60 rows out of 60')

PRINT(N'Add row to [dbo].[t_PageReferenceLink]')
SET IDENTITY_INSERT [dbo].[t_PageReferenceLink] ON
INSERT INTO [dbo].[t_PageReferenceLink] ([PageReferenceLinkID], [PageID], [ReferenceID], [DisplayOrder]) VALUES (1689, 457, 1144, 1)
SET IDENTITY_INSERT [dbo].[t_PageReferenceLink] OFF

PRINT(N'Add constraints to [dbo].[t_PageReferenceLink]')
ALTER TABLE [dbo].[t_PageReferenceLink] WITH CHECK CHECK CONSTRAINT [FK_t_PageReferenceLink_t_Page]
ALTER TABLE [dbo].[t_PageReferenceLink] WITH CHECK CHECK CONSTRAINT [FK_t_PageReferenceLink_t_Reference]

PRINT(N'Add constraints to [dbo].[t_DataPoint]')
ALTER TABLE [dbo].[t_DataPoint] WITH CHECK CHECK CONSTRAINT [FK_t_DataPoint_t_Chart]
ALTER TABLE [dbo].[t_DataPoint] WITH CHECK CHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_1]
ALTER TABLE [dbo].[t_DataPoint] WITH CHECK CHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_2]
ALTER TABLE [dbo].[t_DataPoint] WITH CHECK CHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_3]
ALTER TABLE [dbo].[t_IndicatorFactorOfInterestLink] WITH CHECK CHECK CONSTRAINT [FK_t_IndicatorFactorOfInterestLink_t_Indicator]
ALTER TABLE [dbo].[t_IndicatorLink] WITH CHECK CHECK CONSTRAINT [FK_t_IndicatorLink_t_Indicator_1]
ALTER TABLE [dbo].[t_IndicatorLink] WITH CHECK CHECK CONSTRAINT [FK_t_IndicatorLink_t_Indicator_2]
ALTER TABLE [dbo].[t_MeasureIndicatorLink] WITH CHECK CHECK CONSTRAINT [FK_t_MeasureIndicatorLink_t_Indicator]
ALTER TABLE [dbo].[t_Page] WITH CHECK CHECK CONSTRAINT [FK_t_Page_t_Indicator]
COMMIT TRANSACTION
GO
