/*
Run this script on:

awssqlprodm.51349_CDCCKD    -  This database will be modified

to synchronize it with:

awssqlstgm.51349_CDCCKD_TED

You are recommended to back up your database before running this script

Script created by SQL Data Compare version 14.0.7.13517 from Red Gate Software Ltd at 11/6/2025 3:25:58 PM

*/
		
USE [51349_CDCCKD]
GO
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS, NOCOUNT ON
GO
SET DATEFORMAT YMD
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL Serializable
GO
BEGIN TRANSACTION

PRINT(N'Drop constraints from [dbo].[t_DataPoint]')
ALTER TABLE [dbo].[t_DataPoint] NOCHECK CONSTRAINT [FK_t_DataPoint_t_Chart]
ALTER TABLE [dbo].[t_DataPoint] NOCHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_1]
ALTER TABLE [dbo].[t_DataPoint] NOCHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_2]
ALTER TABLE [dbo].[t_DataPoint] NOCHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_3]

PRINT(N'Drop constraints from [dbo].[t_SpecSheet]')
ALTER TABLE [dbo].[t_SpecSheet] NOCHECK CONSTRAINT [FK_t_SpecSheet_t_Page]

PRINT(N'Drop constraints from [dbo].[t_PageReferenceLink]')
ALTER TABLE [dbo].[t_PageReferenceLink] NOCHECK CONSTRAINT [FK_t_PageReferenceLink_t_Page]
ALTER TABLE [dbo].[t_PageReferenceLink] NOCHECK CONSTRAINT [FK_t_PageReferenceLink_t_Reference]

PRINT(N'Drop constraints from [dbo].[t_KeyPoint]')
ALTER TABLE [dbo].[t_KeyPoint] NOCHECK CONSTRAINT [FK_t_KeyPoint_t_Page]

PRINT(N'Drop constraints from [dbo].[t_FootNote]')
ALTER TABLE [dbo].[t_FootNote] NOCHECK CONSTRAINT [FK_t_FootNote_t_Page]

PRINT(N'Drop constraints from [dbo].[t_Chart]')
ALTER TABLE [dbo].[t_Chart] NOCHECK CONSTRAINT [FK_t_Chart_t_ChartStyle]
ALTER TABLE [dbo].[t_Chart] NOCHECK CONSTRAINT [FK_t_Chart_t_DisplayFormat]
ALTER TABLE [dbo].[t_Chart] NOCHECK CONSTRAINT [FK_t_Chart_t_Page]
ALTER TABLE [dbo].[t_Chart] NOCHECK CONSTRAINT [FK_t_Chart_t_StratificationSet_1]
ALTER TABLE [dbo].[t_Chart] NOCHECK CONSTRAINT [FK_t_Chart_t_StratificationSet_2]
ALTER TABLE [dbo].[t_Chart] NOCHECK CONSTRAINT [FK_t_Chart_t_StratificationSet_3]

PRINT(N'Drop constraint FK_t_DisparitiesDP_t_Chart from [dbo].[t_DisparitiesDataPoint]')
ALTER TABLE [dbo].[t_DisparitiesDataPoint] NOCHECK CONSTRAINT [FK_t_DisparitiesDP_t_Chart]

PRINT(N'Drop constraints from [dbo].[t_Stratification]')
ALTER TABLE [dbo].[t_Stratification] NOCHECK CONSTRAINT [FK_t_Stratification_t_StratificationSet]

PRINT(N'Drop constraint FK_t_DisparitiesDP_t_Stratification_1 from [dbo].[t_DisparitiesDataPoint]')
ALTER TABLE [dbo].[t_DisparitiesDataPoint] NOCHECK CONSTRAINT [FK_t_DisparitiesDP_t_Stratification_1]

PRINT(N'Drop constraint FK_t_DisparitiesDP_t_Stratification_2 from [dbo].[t_DisparitiesDataPoint]')
ALTER TABLE [dbo].[t_DisparitiesDataPoint] NOCHECK CONSTRAINT [FK_t_DisparitiesDP_t_Stratification_2]

PRINT(N'Drop constraint FK_t_DisparitiesDP_t_Stratification_3 from [dbo].[t_DisparitiesDataPoint]')
ALTER TABLE [dbo].[t_DisparitiesDataPoint] NOCHECK CONSTRAINT [FK_t_DisparitiesDP_t_Stratification_3]

PRINT(N'Drop constraints from [dbo].[t_Page]')
ALTER TABLE [dbo].[t_Page] NOCHECK CONSTRAINT [FK_t_Page_t_DataSource]
ALTER TABLE [dbo].[t_Page] NOCHECK CONSTRAINT [FK_t_Page_t_Indicator]

PRINT(N'Drop constraint FK_t_Image_t_Page from [dbo].[t_Image]')
ALTER TABLE [dbo].[t_Image] NOCHECK CONSTRAINT [FK_t_Image_t_Page]

PRINT(N'Drop constraint FK_t_MapLegend_t_Page from [dbo].[t_MapLegend]')
ALTER TABLE [dbo].[t_MapLegend] NOCHECK CONSTRAINT [FK_t_MapLegend_t_Page]

PRINT(N'Drop constraint FK_t_MethodsPage_t_Page from [dbo].[t_MethodsPage]')
ALTER TABLE [dbo].[t_MethodsPage] NOCHECK CONSTRAINT [FK_t_MethodsPage_t_Page]

PRINT(N'Drop constraint FK_t_IndicatorFactorOfInterestLink_t_Indicator from [dbo].[t_IndicatorFactorOfInterestLink]')
ALTER TABLE [dbo].[t_IndicatorFactorOfInterestLink] NOCHECK CONSTRAINT [FK_t_IndicatorFactorOfInterestLink_t_Indicator]

PRINT(N'Drop constraint FK_t_IndicatorLink_t_Indicator_1 from [dbo].[t_IndicatorLink]')
ALTER TABLE [dbo].[t_IndicatorLink] NOCHECK CONSTRAINT [FK_t_IndicatorLink_t_Indicator_1]

PRINT(N'Drop constraint FK_t_IndicatorLink_t_Indicator_2 from [dbo].[t_IndicatorLink]')
ALTER TABLE [dbo].[t_IndicatorLink] NOCHECK CONSTRAINT [FK_t_IndicatorLink_t_Indicator_2]

PRINT(N'Drop constraint FK_t_MeasureIndicatorLink_t_Indicator from [dbo].[t_MeasureIndicatorLink]')
ALTER TABLE [dbo].[t_MeasureIndicatorLink] NOCHECK CONSTRAINT [FK_t_MeasureIndicatorLink_t_Indicator]

PRINT(N'Update rows in [dbo].[t_DataPoint]')
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'31.7' WHERE [DatapointID] = 365309
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'32.0' WHERE [DatapointID] = 365310
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'32.2' WHERE [DatapointID] = 365311
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'32.0' WHERE [DatapointID] = 365312
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'24.2' WHERE [DatapointID] = 365320
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'25.2' WHERE [DatapointID] = 365321
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'23.4' WHERE [DatapointID] = 365322
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'21.2' WHERE [DatapointID] = 365323
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'30.1' WHERE [DatapointID] = 365331
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'29.6' WHERE [DatapointID] = 365332
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'28.0' WHERE [DatapointID] = 365333
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'26.4' WHERE [DatapointID] = 365334
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'29.8' WHERE [DatapointID] = 365342
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'30.5' WHERE [DatapointID] = 365343
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'28.8' WHERE [DatapointID] = 365344
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'27.0' WHERE [DatapointID] = 365345
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'30.6' WHERE [DatapointID] = 365353
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'30.6' WHERE [DatapointID] = 365354
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'31.0' WHERE [DatapointID] = 365355
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'30.1' WHERE [DatapointID] = 365356
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'32.8' WHERE [DatapointID] = 365364
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'32.7' WHERE [DatapointID] = 365365
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'33.5' WHERE [DatapointID] = 365366
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'33.7' WHERE [DatapointID] = 365367
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'31.8' WHERE [DatapointID] = 365375
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'32.3' WHERE [DatapointID] = 365376
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'32.6' WHERE [DatapointID] = 365377
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'32.7' WHERE [DatapointID] = 365378
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'31.7' WHERE [DatapointID] = 365386
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'32.0' WHERE [DatapointID] = 365387
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'32.2' WHERE [DatapointID] = 365388
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'32.0' WHERE [DatapointID] = 365389
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'31.7' WHERE [DatapointID] = 365397
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'32.0' WHERE [DatapointID] = 365398
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'32.2' WHERE [DatapointID] = 365399
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'32.0' WHERE [DatapointID] = 365400
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'36.1' WHERE [DatapointID] = 365408
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'36.5' WHERE [DatapointID] = 365409
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'36.2' WHERE [DatapointID] = 365410
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'35.6' WHERE [DatapointID] = 365411
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'27.1' WHERE [DatapointID] = 365419
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'27.1' WHERE [DatapointID] = 365420
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'28.0' WHERE [DatapointID] = 365421
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'28.1' WHERE [DatapointID] = 365422
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'31.7' WHERE [DatapointID] = 365430
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'32.0' WHERE [DatapointID] = 365431
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'32.2' WHERE [DatapointID] = 365432
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'32.0' WHERE [DatapointID] = 365433
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'32.4' WHERE [DatapointID] = 365434
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'31.9' WHERE [DatapointID] = 365435
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'33.6' WHERE [DatapointID] = 365436
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'36.7' WHERE [DatapointID] = 365437
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'37.3' WHERE [DatapointID] = 365438
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'38.2' WHERE [DatapointID] = 365439
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'38.6' WHERE [DatapointID] = 365440
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'39.7' WHERE [DatapointID] = 365441
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'31.7' WHERE [DatapointID] = 365442
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'32.0' WHERE [DatapointID] = 365443
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'32.2' WHERE [DatapointID] = 365444
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'35.2' WHERE [DatapointID] = 365445
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'32.4' WHERE [DatapointID] = 365446
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'31.9' WHERE [DatapointID] = 365447
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'33.6' WHERE [DatapointID] = 365448
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'36.7' WHERE [DatapointID] = 365449
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'37.3' WHERE [DatapointID] = 365450
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'38.6' WHERE [DatapointID] = 365452
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'39.7' WHERE [DatapointID] = 365453
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'31.7' WHERE [DatapointID] = 365454
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'32.0' WHERE [DatapointID] = 365455
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'34.9' WHERE [DatapointID] = 365464
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'33.0' WHERE [DatapointID] = 365465
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'36.2' WHERE [DatapointID] = 365466
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'35.3' WHERE [DatapointID] = 365467
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'30.6' WHERE [DatapointID] = 365475
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'29.5' WHERE [DatapointID] = 365476
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'33.3' WHERE [DatapointID] = 365477
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'32.9' WHERE [DatapointID] = 365478
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'36.7' WHERE [DatapointID] = 365487
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'37.6' WHERE [DatapointID] = 365488
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'36.1' WHERE [DatapointID] = 365489
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'31.7' WHERE [DatapointID] = 365496
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'32.0' WHERE [DatapointID] = 365497
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'32.2' WHERE [DatapointID] = 365498
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'32.0' WHERE [DatapointID] = 365499
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'28.4' WHERE [DatapointID] = 365507
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'28.7' WHERE [DatapointID] = 365508
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'28.9' WHERE [DatapointID] = 365509
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'28.7' WHERE [DatapointID] = 365510
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'76.6' WHERE [DatapointID] = 365518
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'77.8' WHERE [DatapointID] = 365519
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'77.6' WHERE [DatapointID] = 365520
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'78.1' WHERE [DatapointID] = 365521
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'78.5' WHERE [DatapointID] = 365529
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'82.1' WHERE [DatapointID] = 365530
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'80.6' WHERE [DatapointID] = 365531
UPDATE [dbo].[t_DataPoint] SET [MainValue]=N'81.5' WHERE [DatapointID] = 365532
PRINT(N'Operation applied to 96 rows out of 186')

PRINT(N'Update rows in [dbo].[t_SpecSheet]')
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>Awareness of CKD among adults with CKD stages 1&ndash;5.</p>
' WHERE [SpecSheetID] = 1258
UPDATE [dbo].[t_SpecSheet] SET [FieldText]='Dataset' WHERE [SpecSheetID] = 1259
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>Noninstitutionalized U.S. adults aged &ge;20 years. Pregnant women excluded.</p>
' WHERE [SpecSheetID] = 1260
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>U.S. adults aged &ge;20 years with CKD who reported being told they have &ldquo;weak or failing kidneys.&rdquo;</p>
' WHERE [SpecSheetID] = 1262
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>Adults aged &ge;20 years with CKD stages 1&ndash;5 and data for awareness.</p>
' WHERE [SpecSheetID] = 1263
UPDATE [dbo].[t_SpecSheet] SET [FieldText]='Definition of CKD', [DataText]=N'<p>CKD is defined by an estimated glomerular filtration rate (eGFR) &lt; 60 ml/min/1.73 m&sup2; or albuminuria (urine albumin to creatinine ratio [UACR] &ge; 30 mg/g). Estimates are based on single estimates of eGFR and UACR.</p>
' WHERE [SpecSheetID] = 1264
UPDATE [dbo].[t_SpecSheet] SET [DisplayOrder]=10 WHERE [SpecSheetID] = 1266
UPDATE [dbo].[t_SpecSheet] SET [DisplayOrder]=12, [DataText]=N'<p>Self-reported diabetes or HbA1C &ge; 6.5%.</p>
' WHERE [SpecSheetID] = 1273
UPDATE [dbo].[t_SpecSheet] SET [DisplayOrder]=13, [DataText]=N'<p>Self-reported hypertension or measured blood pressure &ge; 130/80.&nbsp;</p>
' WHERE [SpecSheetID] = 1275
UPDATE [dbo].[t_SpecSheet] SET [DisplayOrder]=14, [DataText]=N'<p>Awareness of kidney disease is self-reported. Albuminuria and kidney function are assessed from one-time cross-sectional measurements, possibly overestimating CKD prevalence.</p>
' WHERE [SpecSheetID] = 1276
UPDATE [dbo].[t_SpecSheet] SET [DisplayOrder]=15 WHERE [SpecSheetID] = 1277
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>Source files from U.S. Department of Defense MHS Data Repository (MDR).</p>

<p>ICD Coding: GENESIS Encounter (BDE 3.0, direct care), GENESIS Admission Table (BDE 3.0, direct care), CAPER (direct care outpatient claims), SIDR (direct care inpatient claims), TED-NI (private care outpatient claims), TED-I Header (private care inpatient claims),</p>

<p>Laboratories: CDR Chemistry, SIDR, CADRE Laboratory Enhanced, GENESIS Laboratory Results (BDE 3.0), TED-NI (private-sector laboratory claims)</p>

<p>Demographics: VM6BEN (demographic information from the Defense Enrollment Eligibility Reporting System), GENESIS Person (BDE 3.0).</p>

<p>BDE: Bulk Data extract, CADRE: Comprehensive Ancillary Data Record Extract, CAPER: Comprehensive Ambulatory/Professional Encounter Record, CDR: Clinical Data Repository, GENESIS: name of the MHS EHR, SIDR: Standard Inpatient Data Record, TED-I: TRICARE Encounter Data &ndash; Institutional, TED-NI: TRICARE Encounter Data &ndash; Non-Institutional</p>
' WHERE [SpecSheetID] = 10807
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>Source files from U.S. Department of Defense MHS Data Repository (MDR).</p>

<p>ICD Coding: GENESIS Encounter (BDE 3.0, direct care), GENESIS Admission Table (BDE 3.0, direct care), CAPER (direct care outpatient claims), SIDR (direct care inpatient claims), TED-NI (private care outpatient claims), TED-I Header (private care inpatient claims),</p>

<p>Laboratories: CDR Chemistry, SIDR, CADRE Laboratory Enhanced, GENESIS Laboratory Results (BDE 3.0), TED-NI (private-sector laboratory claims)</p>

<p>Demographics: VM6BEN (demographic information from the Defense Enrollment Eligibility Reporting System), GENESIS Person (BDE 3.0).</p>

<p>BDE: Bulk Data extract, CADRE: Comprehensive Ancillary Data Record Extract, CAPER: Comprehensive Ambulatory/Professional Encounter Record, CDR: Clinical Data Repository, GENESIS: name of the MHS EHR, SIDR: Standard Inpatient Data Record, TED-I: TRICARE Encounter Data &ndash; Institutional, TED-NI: TRICARE Encounter Data &ndash; Non-Institutional</p>
' WHERE [SpecSheetID] = 10814
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>Fiscal years 2009&minus;2023 (October 1, 2008, to September 30, 2023).</p>
' WHERE [SpecSheetID] = 10816
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>People with CKD stage 3&minus;5 among the denominator population. Data cells with less than 11 counts were suppressed.</p>
' WHERE [SpecSheetID] = 10817
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>The occurrence of CKD stages 1 and 2 cannot be calculated as results from urine albumin or urine protein testing are not included. In the MHS, each year approximately 50% of all adults do not have an outpatient serum creatinine measured, and another 15% have serum creatinine measured only in the private sector with unavailable results.</p>

<p>Reporting of race and ethnicity data has improved over time. In 2009, combined Unknown or Missing race and ethnicity was 28.4% of the total population with measured serum creatinine and 52.1% of the CKD stage 3&ndash;5 population. By 2023, Unknown or Missing race and ethnicity was 8.7% of the total population with measured creatinine and 10.4% of the CKD stage 3&ndash;5 population.</p>
' WHERE [SpecSheetID] = 10824
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>In published literature, CKD is defined by serum creatinine in alternate ways (single measurement, average of multiple measurements, persistence &gt;90 days). Care must be taken in making comparisons. Our analysis used the average of measurements during the fiscal year in order to present data on a year-by-year basis. Active-duty service members constitute around 35% of TRICARE PRIME MHS beneficiaries and tend to be younger and healthier than the general population. Therefore, testing for serum creatinine may be performed less frequently than in other health care systems.</p>
' WHERE [SpecSheetID] = 10825
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>Fiscal years 2009&ndash;2023 (October 1, 2008, to September 30, 2023).</p>
' WHERE [SpecSheetID] = 10827
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>People had &ge;1 inpatient or &ge;2 outpatient encounters with matching ICD-9 or ICD-10 codes for CKD during the fiscal year among the denominator population. Data cells with less than 11 counts were suppressed.</p>
' WHERE [SpecSheetID] = 10828
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>CKD was defined by an average eGFR &lt;60 ml/min/1.73 m&sup2; over the fiscal year. Serum creatinine measured during inpatient encounters were excluded. Outlier values (serum creatinine &le;0 mg/dL or &gt;25 mg/dL, or eGFR &gt;200 ml/min/1.73 m&sup2;) were excluded.</p>

<p>Beneficiaries with a diagnosis of dialysis or transplant were excluded from eGFR categorization and the denominator. Of all MHS beneficiaries with serum creatinine measured during 2009&ndash;2023, only 0.12%&ndash;0.20% were on dialysis and only 0.14%&ndash;0.19% had received a transplant.&nbsp;</p>
' WHERE [SpecSheetID] = 10830
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>CKD (ICD-9): 16, 95.4, 189, 189.1, 189.9, 236.91, 250.4, 250.41, 250.42, 250.43, 271.4, 274.1, 283.11, 403, 403.01, 403.1, 403.11, 403.9, 403.91, 404, 404.01, 404.02, 404.03, 404.1, 404.11, 404.12, 404.13, 404.9, 404.91, 404.92, 404.93, 405.01, 440.1, 442.1, 447.3, 453.3, 572.4, 580, 580.4, 580.81, 580.89, 580.9, 581, 581.1, 581.2, 581.3, 581.81, 581.89, 581.9, 582, 582.1, 582.2, 582.4, 582.81, 582.89, 582.9, 583, 583.1, 583.2, 583.4, 583.6, 583.7, 583.81, 583.89, 583.9, 584.5, 584.6, 584.7, 584.8, 584.9, 585.x, 586, 587, 588, 588.1, 588.81, 588.89, 588.9, 589, 590, 590.8, 591, 593.1, 593.3, 593.4, 593.5, 593.6, 593.7, 593.81, 593.89, 593.9, 642.1, 646.2, 753, 753.1, 753.11, 753.12, 753.13, 753.14, 753.15, 753.16, 753.17, 753.19, 753.2, 753.21, 753.22, 753.23, 753.29, 753.3, 753.4, 753.5, 753.6, 753.7, 753.8, 753.9, 791, 791.1, 791.2, 791.3, 791.4, 791.5, 791.6, 791.7, 791.9, 794.4, 585.6, 996.81, V42.0, V45.1, V56.0, V56.1, V56.2, V56.3, V56.31, V56.32, V56.8, E879.1.<br />  CKD (ICD-10): A18.11, B58.83, C64.1, C64.2, C64.9, C65.1, C65.2, C65.9, C66.1, C66.2, C66.9, C79.00, C79.01, C79.02, C7A.093, D30.00, D30.01, D30.02, D30.10, D30.11, D30.12, D30.20, D30.21, D30.22, D3A.093, D41.00, D41.01, D41.02, D41.10, D41.11, D41.12, D41.20, D41.21, D41.22, D49.511, D49.512, D49.519, D51.1, D86.84, E08.21, E08.22, E08.29, E09.21, E09.22, E09.29, E10.21, E10.22, E10.29, E11.21, E11.22, E11.29, E13.21, E13.22, E13.29, E26.81, E72.00, E72.01, E72.02, E72.03, E72.04, E72.09, E72.53, E83.31, E87.21, E87.22, I12.0, I12.9, I13.0, I13.10, I13.11, I13.2, I15.0, I15.1, I72.2, I75.81, I77.73, I77.82, I82.3, M32.14, M32.15, M35.04, M35.0A, N02.0, N02.1, N02.2, N02.3, N02.4, N02.5, N02.6, N02.7, N02.8, N02.9, N02.A, N03.0, N03.1, N03.2, N03.3, N03.4, N03.5, N03.6, N03.7, N03.8, N03.9, N03.A, N04.0, N04.1, N04.2, N04.3, N04.4, N04.5, N04.6, N04.7, N04.8, N04.9, N04.A, N05.0, N05.1, N05.2, N05.3, N05.4, N05.5, N05.6, N05.7, N05.8, N05.9, N05.A, N06.0, N06.1, N06.2, N06.3, N06.4, N06.5, N06.6, N06.7, N06.8, N06.9, N06.A, N07.0, N07.1, N07.2, N07.3, N07.4, N07.5, N07.6, N07.7, N07.8, N07.9, N07.A, N08, N11.0, N11.1, N11.8, N11.9, N12., N13.0, N13.1, N13.2, N13.30, N13.39, N13.4, N13.5, N13.6, N13.70, N13.71, N13.721, N13.722, N13.729, N13.731, N13.732, N13.739, N13.8, N13.9, N14.0, N14.11, N14.19, N14.2, N14.3, N14.4, N15.0, N15.1, N15.8, N15.9, N16, N18.1, N18.2, N18.30, N18.31, N18.32, N18.4, N18.5, N18.6, N18.9, N21.0, N21.1, N21.8, N21.9, N22, N23, N25.1, N25.89, N25.9, N26.1, N26.2, N26.9, N27.0, N27.1, N27.9, N28.0, N28.1, N28.81, N28.82, N28.83, N28.84, N28.85, N28.86, N28.89, N28.9, N29, O10.211, O10.212, O10.213, O10.219, O10.22, O10.23, O10.311, O10.312, O10.313, O10.319, O10.32, O10.33, O26.831, O26.832, O26.833, O26.839, P96.0, Q27.1, Q27.2, Q60.0, Q60.1, Q60.2, Q60.3, Q60.4, Q60.5, Q60.6, Q61.00, Q61.01, Q61.02, Q61.11, Q61.19, Q61.2, Q61.3, Q61.4, Q61.5, Q61.8, Q61.9, Q62.0, Q62.10, Q62.11, Q62.12, Q62.2, Q62.31, Q62.32, Q62.39, Q62.4, Q62.5, Q62.60, Q62.61, Q62.62, Q62.63, Q62.69, Q62.7, Q62.8, Q63.0, Q63.1, Q63.2, Q63.3, Q63.8, Q63.9, Q79.4, Q79.51, R80.1, R80.3, R80.8, R80.9, R82.991, R82.992, R82.993, R82.994, R88.0, T86.10, T86.11, T86.12, T86.13, T86.19, Z48.22, Z49.31, Z49.32, Z52.4, Z85.520, Z85.528, Z85.53, Z85.54, Z87.441, Z90.5, Z94.0.</p>    <p>Dialysis (ICD-9): V45.1, V45.0, V56.1, V56.2, V56.3, V56.31, V56.32, V56.8, E879.1.<br />  Dialysis (ICD-10): I95.3, R88.0, T81.502A, T81.502D, T81.502S, T81.512A, T81.512D, T81.512S, T81.522A, T81.522D, T81.522S, T81.532A, T81.532D, T81.532S, T81.592A, T81.592D, T81.592S, T82.41XA, T82.41XD, T82.41XS, T82.42XA, T82.42XD, T82.42XS, T82.43XA, T82.43XD, T82.43XS, T82.49XA, T82.49XD, T82.49XS, T85.611A, T85.611D, T85.611S, T85.621A, T85.621D, T85.621S, T85.631A, T85.631D, T85.631S, T85.691A, T85.691D, T85.691S, T85.71XA, T85.71XD, T85.71XS, Y62.2, Y84.1, Z49.01, Z49.02, Z49.31, Z49.32, Z91.151, Z91.158, Z91.A5, Z99.2.</p>    <p>Transplant (ICD-9): V42.0, 996.81.<br />  Transplant (ICD-10): T86.10, T86.11, T86.12, T86.13, Z48.22, Z94.0.' WHERE [SpecSheetID] = 10832
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>The occurrence of CKD stages 1 and 2 cannot be calculated as urine albumin testing was not included. In the MHS, each year approximately 50% of all adults do not have an outpatient serum creatinine measured, and another 10% have serum creatinine measured only in the private sector with unavailable results.&nbsp;</p>

<p>Reporting of race and ethnicity data has improved over time. In 2009, combined Unknown or Missing race and ethnicity was 52.1% of the CKD stage 3&ndash;5 population. By 2023, Unknown or Missing race and ethnicity was 10.4% of the CKD stage 3&ndash;5 population.&nbsp;</p>
' WHERE [SpecSheetID] = 10834
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>In published literature, CKD is defined by serum creatinine in alternate ways (single measurement, average of multiple measurements, persistence &gt; 90 days). Care must be taken in making comparisons. Our analysis used the average of measurements during the fiscal year in order to present data on a year-by-year basis.</p>
' WHERE [SpecSheetID] = 10835
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>Beneficiaries with &ge;1 inpatient or &ge;2 outpatient encounters with ICD-9 or ICD-10 codes for dialysis or transplant were excluded. During 2009&ndash;2023, 2.0%&ndash;3.9% of the CKD population was on dialysis and 2.3%&ndash;3.6% had received a kidney transplant.</p>
' WHERE [SpecSheetID] = 11282
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>Source files from U.S. Department of Defense MHS Data Repository (MDR).</p>

<p>ICD Coding: GENESIS Encounter (BDE 3.0, direct care), GENESIS Admission Table (BDE 3.0, direct care), CAPER (direct care outpatient claims), SIDR (direct care inpatient claims), TED-NI (private care outpatient claims), TED-I Header (private care inpatient claims),</p>

<p>Laboratories: CDR Chemistry, SIDR, CADRE Laboratory Enhanced, GENESIS Laboratory Results (BDE 3.0), TED-NI (private-sector laboratory claims)</p>

<p>Demographics: VM6BEN (demographic information from the Defense Enrollment Eligibility Reporting System), GENESIS Person (BDE 3.0).</p>

<p>BDE: Bulk Data extract, CADRE: Comprehensive Ancillary Data Record Extract, CAPER: Comprehensive Ambulatory/Professional Encounter Record, CDR: Clinical Data Repository, GENESIS: name of the MHS EHR, SIDR: Standard Inpatient Data Record, TED-I: TRICARE Encounter Data &ndash; Institutional, TED-NI: TRICARE Encounter Data &ndash; Non-Institutional</p>
' WHERE [SpecSheetID] = 11285
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>Fiscal years 2009&minus;2023 (October 1, 2008, to September 30, 2023).</p>
' WHERE [SpecSheetID] = 11287
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>People with CKD stage 3&minus;5 among the denominator population. Data cells with less than 11 counts were suppressed.</p>
' WHERE [SpecSheetID] = 11288
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>Dialysis (ICD-9): V45.1, V45.0, V56.1, V56.2, V56.3, V56.31, V56.32, V56.8, E879.1.</p>

<p>Dialysis (ICD-10): I95.3, R88.0, T81.502A, T81.502D, T81.502S, T81.512A, T81.512D, T81.512S, T81.522A, T81.522D, T81.522S, T81.532A, T81.532D, T81.532S, T81.592A, T81.592D, T81.592S, T82.41XA, T82.41XD, T82.41XS, T82.42XA, T82.42XD, T82.42XS, T82.43XA, T82.43XD, T82.43XS, T82.49XA, T82.49XD, T82.49XS, T85.611A, T85.611D, T85.611S, T85.621A, T85.621D, T85.621S, T85.631A, T85.631D, T85.631S, T85.691A, T85.691D, T85.691S, T85.71XA, T85.71XD, T85.71XS, Y62.2, Y84.1, Z49.01, Z49.02, Z49.31, Z49.32, Z91.151, Z91.158, Z91.A5, Z99.2.</p>

<p>Transplant (ICD-9): V42.0, 996.81.</p>

<p>Transplant (ICD-10): T86.10, T86.11, T86.12, T86.13, Z48.22, Z94.0.</p>
' WHERE [SpecSheetID] = 11293
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>Beneficiaries with &ge;1 inpatient or &ge;2 outpatient encounters with ICD-9 or ICD-10 codes for dialysis or transplant were excluded. During 2009&ndash;2023, 2.0%&ndash;3.9% of the CKD population was on dialysis and 2.3%&ndash;3.6% had received a kidney transplant.</p>
' WHERE [SpecSheetID] = 11294
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>The occurrence of CKD stages 1 and 2 cannot be calculated as results from urine albumin or urine protein testing are not included. In the MHS, each year approximately 50% of all adults do not have an outpatient serum creatinine measured, and another 15% have serum creatinine measured only in the private sector with unavailable results.</p>

<p>Reporting of race and ethnicity data has improved over time. In 2009, combined Unknown or Missing race and ethnicity was 28.4% of the total population with measured serum creatinine and 52.1% of the CKD stage 3&ndash;5 population. By 2023, Unknown or Missing race and ethnicity was 8.7% of the total population with measured creatinine and 10.4% of the CKD stage 3&ndash;5 population.</p>
' WHERE [SpecSheetID] = 11296
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>In published literature, CKD is defined by serum creatinine in alternate ways (single measurement, average of multiple measurements, persistence &gt;90 days). Care must be taken in making comparisons. Our analysis used the average of measurements during the fiscal year in order to present data on a year-by-year basis. Active-duty service members constitute around 35% of TRICARE PRIME MHS beneficiaries and tend to be younger and healthier than the general population. Therefore, testing for serum creatinine may be performed less frequently than in other health care systems.</p>
' WHERE [SpecSheetID] = 11297
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>Source files from U.S. Department of Defense MHS Data Repository (MDR).</p>

<p>ICD Coding: GENESIS Encounter (BDE 3.0, direct care), GENESIS Admission Table (BDE 3.0, direct care), CAPER (direct care outpatient claims), SIDR (direct care inpatient claims), TED-NI (private care outpatient claims), TED-I Header (private care inpatient claims),</p>

<p>Laboratories: CDR Chemistry, SIDR, CADRE Laboratory Enhanced, GENESIS Laboratory Results (BDE 3.0), TED-NI (private-sector laboratory claims)</p>

<p>Demographics: VM6BEN (demographic information from the Defense Enrollment Eligibility Reporting System), GENESIS Person (BDE 3.0).</p>

<p>BDE: Bulk Data extract, CADRE: Comprehensive Ancillary Data Record Extract, CAPER: Comprehensive Ambulatory/Professional Encounter Record, CDR: Clinical Data Repository, GENESIS: name of the MHS EHR, SIDR: Standard Inpatient Data Record, TED-I: TRICARE Encounter Data &ndash; Institutional, TED-NI: TRICARE Encounter Data &ndash; Non-Institutional</p>
' WHERE [SpecSheetID] = 11300
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>Fiscal years 2009&ndash;2023 (October 1, 2008, to September 30, 2023).</p>
' WHERE [SpecSheetID] = 11302
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>CKD was defined by an average eGFR &lt;60 ml/min/1.73 m&sup2; over the fiscal year. Serum creatinine measured during inpatient encounters were excluded. Outlier values (serum creatinine &le;0 mg/dL or &gt;25 mg/dL, or eGFR &gt;200 ml/min/1.73 m&sup2;) were excluded.</p>

<p>Beneficiaries with a diagnosis of dialysis or transplant were excluded from eGFR categorization and the denominator. Of all MHS beneficiaries with serum creatinine measured during 2009&ndash;2023, only 0.12%&ndash;0.20% were on dialysis and only 0.14%&ndash;0.19% had received a transplant.&nbsp;</p>
' WHERE [SpecSheetID] = 11305
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>CKD (ICD-9): 16, 95.4, 189, 189.1, 189.9, 236.91, 250.4, 250.41, 250.42, 250.43, 271.4, 274.1, 283.11, 403, 403.01, 403.1, 403.11, 403.9, 403.91, 404, 404.01, 404.02, 404.03, 404.1, 404.11, 404.12, 404.13, 404.9, 404.91, 404.92, 404.93, 405.01, 440.1, 442.1, 447.3, 453.3, 572.4, 580, 580.4, 580.81, 580.89, 580.9, 581, 581.1, 581.2, 581.3, 581.81, 581.89, 581.9, 582, 582.1, 582.2, 582.4, 582.81, 582.89, 582.9, 583, 583.1, 583.2, 583.4, 583.6, 583.7, 583.81, 583.89, 583.9, 584.5, 584.6, 584.7, 584.8, 584.9, 585.x, 586, 587, 588, 588.1, 588.81, 588.89, 588.9, 589, 590, 590.8, 591, 593.1, 593.3, 593.4, 593.5, 593.6, 593.7, 593.81, 593.89, 593.9, 642.1, 646.2, 753, 753.1, 753.11, 753.12, 753.13, 753.14, 753.15, 753.16, 753.17, 753.19, 753.2, 753.21, 753.22, 753.23, 753.29, 753.3, 753.4, 753.5, 753.6, 753.7, 753.8, 753.9, 791, 791.1, 791.2, 791.3, 791.4, 791.5, 791.6, 791.7, 791.9, 794.4, 585.6, 996.81, V42.0, V45.1, V56.0, V56.1, V56.2, V56.3, V56.31, V56.32, V56.8, E879.1.<br />  CKD (ICD-10): A18.11, B58.83, C64.1, C64.2, C64.9, C65.1, C65.2, C65.9, C66.1, C66.2, C66.9, C79.00, C79.01, C79.02, C7A.093, D30.00, D30.01, D30.02, D30.10, D30.11, D30.12, D30.20, D30.21, D30.22, D3A.093, D41.00, D41.01, D41.02, D41.10, D41.11, D41.12, D41.20, D41.21, D41.22, D49.511, D49.512, D49.519, D51.1, D86.84, E08.21, E08.22, E08.29, E09.21, E09.22, E09.29, E10.21, E10.22, E10.29, E11.21, E11.22, E11.29, E13.21, E13.22, E13.29, E26.81, E72.00, E72.01, E72.02, E72.03, E72.04, E72.09, E72.53, E83.31, E87.21, E87.22, I12.0, I12.9, I13.0, I13.10, I13.11, I13.2, I15.0, I15.1, I72.2, I75.81, I77.73, I77.82, I82.3, M32.14, M32.15, M35.04, M35.0A, N02.0, N02.1, N02.2, N02.3, N02.4, N02.5, N02.6, N02.7, N02.8, N02.9, N02.A, N03.0, N03.1, N03.2, N03.3, N03.4, N03.5, N03.6, N03.7, N03.8, N03.9, N03.A, N04.0, N04.1, N04.2, N04.3, N04.4, N04.5, N04.6, N04.7, N04.8, N04.9, N04.A, N05.0, N05.1, N05.2, N05.3, N05.4, N05.5, N05.6, N05.7, N05.8, N05.9, N05.A, N06.0, N06.1, N06.2, N06.3, N06.4, N06.5, N06.6, N06.7, N06.8, N06.9, N06.A, N07.0, N07.1, N07.2, N07.3, N07.4, N07.5, N07.6, N07.7, N07.8, N07.9, N07.A, N08, N11.0, N11.1, N11.8, N11.9, N12., N13.0, N13.1, N13.2, N13.30, N13.39, N13.4, N13.5, N13.6, N13.70, N13.71, N13.721, N13.722, N13.729, N13.731, N13.732, N13.739, N13.8, N13.9, N14.0, N14.11, N14.19, N14.2, N14.3, N14.4, N15.0, N15.1, N15.8, N15.9, N16, N18.1, N18.2, N18.30, N18.31, N18.32, N18.4, N18.5, N18.6, N18.9, N21.0, N21.1, N21.8, N21.9, N22, N23, N25.1, N25.89, N25.9, N26.1, N26.2, N26.9, N27.0, N27.1, N27.9, N28.0, N28.1, N28.81, N28.82, N28.83, N28.84, N28.85, N28.86, N28.89, N28.9, N29, O10.211, O10.212, O10.213, O10.219, O10.22, O10.23, O10.311, O10.312, O10.313, O10.319, O10.32, O10.33, O26.831, O26.832, O26.833, O26.839, P96.0, Q27.1, Q27.2, Q60.0, Q60.1, Q60.2, Q60.3, Q60.4, Q60.5, Q60.6, Q61.00, Q61.01, Q61.02, Q61.11, Q61.19, Q61.2, Q61.3, Q61.4, Q61.5, Q61.8, Q61.9, Q62.0, Q62.10, Q62.11, Q62.12, Q62.2, Q62.31, Q62.32, Q62.39, Q62.4, Q62.5, Q62.60, Q62.61, Q62.62, Q62.63, Q62.69, Q62.7, Q62.8, Q63.0, Q63.1, Q63.2, Q63.3, Q63.8, Q63.9, Q79.4, Q79.51, R80.1, R80.3, R80.8, R80.9, R82.991, R82.992, R82.993, R82.994, R88.0, T86.10, T86.11, T86.12, T86.13, T86.19, Z48.22, Z49.31, Z49.32, Z52.4, Z85.520, Z85.528, Z85.53, Z85.54, Z87.441, Z90.5, Z94.0.</p>    <p>Dialysis (ICD-9): V45.1, V45.0, V56.1, V56.2, V56.3, V56.31, V56.32, V56.8, E879.1.<br />  Dialysis (ICD-10): I95.3, R88.0, T81.502A, T81.502D, T81.502S, T81.512A, T81.512D, T81.512S, T81.522A, T81.522D, T81.522S, T81.532A, T81.532D, T81.532S, T81.592A, T81.592D, T81.592S, T82.41XA, T82.41XD, T82.41XS, T82.42XA, T82.42XD, T82.42XS, T82.43XA, T82.43XD, T82.43XS, T82.49XA, T82.49XD, T82.49XS, T85.611A, T85.611D, T85.611S, T85.621A, T85.621D, T85.621S, T85.631A, T85.631D, T85.631S, T85.691A, T85.691D, T85.691S, T85.71XA, T85.71XD, T85.71XS, Y62.2, Y84.1, Z49.01, Z49.02, Z49.31, Z49.32, Z91.151, Z91.158, Z91.A5, Z99.2.</p>    <p>Transplant (ICD-9): V42.0, 996.81.<br />  Transplant (ICD-10): T86.10, T86.11, T86.12, T86.13, Z48.22, Z94.0.' WHERE [SpecSheetID] = 11307
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>The occurrence of CKD stages 1 and 2 cannot be calculated as urine albumin testing was not included. In the MHS, each year approximately 50% of all adults do not have an outpatient serum creatinine measured, and another 10% have serum creatinine measured only in the private sector with unavailable results.&nbsp;</p>

<p>Reporting of race and ethnicity data has improved over time. In 2009, combined Unknown or Missing race and ethnicity was 52.1% of the CKD stage 3&ndash;5 population. By 2023, Unknown or Missing race and ethnicity was 10.4% of the CKD stage 3&ndash;5 population.&nbsp;</p>
' WHERE [SpecSheetID] = 11311
UPDATE [dbo].[t_SpecSheet] SET [DataText]=N'<p>In published literature, CKD is defined by serum creatinine in alternate ways (single measurement, average of multiple measurements, persistence &gt; 90 days). Care must be taken in making comparisons. Our analysis used the average of measurements during the fiscal year in order to present data on a year-by-year basis.&nbsp;</p>
' WHERE [SpecSheetID] = 11312
PRINT(N'Operation applied to 37 rows out of 37')

PRINT(N'Update rows in [dbo].[t_KeyPoint]')
UPDATE [dbo].[t_KeyPoint] SET [KeyPointText]=N'<p>The crude prevalence of Military Health System (MHS) beneficiaries with CKD stages 3&ndash;5 (estimated glomerular filtration rate [eGFR] &lt;60 ml/min/1.73<sup>2</sup>) ranged from 5.9% to 4.8% during 2009&ndash;2023. The age-standardized prevalence decreased from 7.7% to 5.6%. The crude prevalence of CKD stages 3&ndash;5 was highest in adults aged &ge;70 years and Black adults (among those with known race and ethnicity). The age-standardized prevalence was highest in Black adults compared with their counterparts.</p>
' WHERE [KeyPointID] = 455
UPDATE [dbo].[t_KeyPoint] SET [KeyPointText]=N'<p>For MHS beneficiaries with CKD stages 3&ndash;5 based on eGFR, the crude prevalence of those who also had an ICD-9 diagnosis code for CKD was 25.0%&ndash;36.5% in 2009&ndash;2015. After conversion to ICD-10 in 2016, the prevalence was around 30.0%&ndash;36.0% in 2016&ndash;2023. The crude percentage of adults with a diagnosis code was higher in adults aged &ge;50 years, those with CKD stages 4&minus;5, and men compared with the corresponding counterparts. During 2009&ndash;2023, no distinct patterns were observed within specific race and ethnicity groups.</p>
' WHERE [KeyPointID] = 458
UPDATE [dbo].[t_KeyPoint] SET [KeyPointText]=N'<p>Overall, rates of kidney disease awareness (crude) have increased from 8.7% in 2001&ndash;2004 to 13.7% in 2017&ndash;March 2020. The highest increase after 2012 was observed in participants with CKD stages 3&ndash;5 (from 15.6% to 26.0%). CKD awareness did not differ by race and ethnicity or sex but tended to be lower among adults aged 20&ndash;39 years. A higher proportion of adults with CKD and hypertension or diabetes were aware of CKD than those without hypertension or diabetes.&nbsp;&nbsp;</p>
' WHERE [KeyPointID] = 468
UPDATE [dbo].[t_KeyPoint] SET [KeyPointText]=N'<p>The crude prevalence of Military Health System (MHS) beneficiaries with CKD stages 3&ndash;5 (estimated glomerular filtration rate [eGFR] &lt;60 ml/min/1.73<sup>2</sup>) ranged from 5.9% to 4.8% during 2009&ndash;2023. The age-standardized prevalence decreased from 7.7% to 5.6%. The crude prevalence of CKD stages 3&ndash;5 was highest in adults aged &ge;70 years and Black adults (among those with known race and ethnicity). The age-standardized prevalence was highest in Black adults compared with their counterparts.</p>
' WHERE [KeyPointID] = 551
UPDATE [dbo].[t_KeyPoint] SET [KeyPointText]=N'<p>For MHS beneficiaries with CKD stages 3&ndash;5 based on eGFR, the crude prevalence of those who also had an ICD-9 diagnosis code for CKD was 25.0%&ndash;36.5% in 2009&ndash;2015. After conversion to ICD-10 in 2016, the prevalence was around 30.0%&ndash;36.0% in 2016&ndash;2023. The crude percentage of adults with a diagnosis code was higher in adults aged &ge;50 years, those with CKD stages 4&minus;5, and men compared with the corresponding counterparts. During 2009&ndash;2023, no distinct patterns were observed within specific race and ethnicity groups.</p>
' WHERE [KeyPointID] = 552
PRINT(N'Operation applied to 5 rows out of 5')

PRINT(N'Update rows in [dbo].[t_FootNote]')
UPDATE [dbo].[t_FootNote] SET [FootnoteText]=N'<p>Data includes CKD stages 1&ndash;5.</p>
' WHERE [FootnoteID] = 76
UPDATE [dbo].[t_FootNote] SET [FootnoteText]=N'<p>The eGFR in ml/min/1.73m<sup>2</sup> was calculated from serum creatinine using the 2021 Chronic Kidney Disease Epidemiology Collaboration (CKD-EPI) equation.<sup>1</sup> Adults on dialysis or who received kidney transplants (identified by ICD-9 or ICD-10 codes) were excluded from eGFR calculations. Estimates were standardized to the 2010 U.S. Census population.</p>
' WHERE [FootnoteID] = 208
UPDATE [dbo].[t_FootNote] SET [FootnoteText]=N'<p>The eGFR in ml/min/1.73<sup>2</sup> was calculated from serum creatinine using the 2021 Chronic Kidney Disease Epidemiology Collaboration (CKD-EPI) equation.<sup>1</sup> End-stage kidney disease (ESKD) in adults (dialysis and transplant) who were identified by ICD-9 or ICD-10 codes were excluded from eGFR calculations. Estimates were standardized to the 2010 U.S. Census population.</p>
' WHERE [FootnoteID] = 210
UPDATE [dbo].[t_FootNote] SET [FootnoteText]=N'<p>The eGFR in ml/min/1.73m<sup>2</sup> was calculated from serum creatinine using the 2021 Chronic Kidney Disease Epidemiology Collaboration (CKD-EPI) equation.<sup>1</sup> Adults on dialysis or who received kidney transplants (identified by ICD-9 or ICD-10 codes) were excluded from eGFR calculations. Estimates were standardized to the 2010 U.S. Census population.</p>
' WHERE [FootnoteID] = 252
UPDATE [dbo].[t_FootNote] SET [FootnoteText]=N'<p>The eGFR in ml/min/1.73<sup>2</sup> was calculated from serum creatinine using the 2021 Chronic Kidney Disease Epidemiology Collaboration (CKD-EPI) equation.<sup>1</sup> End-stage kidney disease (ESKD) in adults (dialysis and transplant) who were identified by ICD-9 or ICD-10 codes were excluded from eGFR calculations. Estimates were standardized to the 2010 U.S. Census population.</p>
' WHERE [FootnoteID] = 253
PRINT(N'Operation applied to 5 rows out of 5')

PRINT(N'Update rows in [dbo].[t_Chart]')
UPDATE [dbo].[t_Chart] SET [DisplayOrder]=3 WHERE [ChartID] = 1000
UPDATE [dbo].[t_Chart] SET [DisplayOrder]=4 WHERE [ChartID] = 3966
UPDATE [dbo].[t_Chart] SET [DisplayOrder]=7 WHERE [ChartID] = 3967
UPDATE [dbo].[t_Chart] SET [DisplayOrder]=5 WHERE [ChartID] = 3968
UPDATE [dbo].[t_Chart] SET [DisplayOrder]=8 WHERE [ChartID] = 3969
UPDATE [dbo].[t_Chart] SET [DisplayOrder]=6 WHERE [ChartID] = 3970
PRINT(N'Operation applied to 6 rows out of 7')

PRINT(N'Update rows in [dbo].[t_Stratification]')
UPDATE [dbo].[t_Stratification] SET [Stratification]=N'18–39 years' WHERE [StratificationId] = 6001
UPDATE [dbo].[t_Stratification] SET [StratificationDisplayOrder]=3163 WHERE [StratificationId] = 7006
UPDATE [dbo].[t_Stratification] SET [StratificationDisplayOrder]=3164 WHERE [StratificationId] = 7007
UPDATE [dbo].[t_Stratification] SET [StratificationDisplayOrder]=3165 WHERE [StratificationId] = 7008
UPDATE [dbo].[t_Stratification] SET [StratificationDisplayOrder]=3166 WHERE [StratificationId] = 7009
UPDATE [dbo].[t_Stratification] SET [StratificationDisplayOrder]=3167 WHERE [StratificationId] = 7010
UPDATE [dbo].[t_Stratification] SET [StratificationDisplayOrder]=3168 WHERE [StratificationId] = 7011
UPDATE [dbo].[t_Stratification] SET [StratificationDisplayOrder]=3169 WHERE [StratificationId] = 7012
UPDATE [dbo].[t_Stratification] SET [StratificationDisplayOrder]=3170 WHERE [StratificationId] = 7013
UPDATE [dbo].[t_Stratification] SET [StratificationDisplayOrder]=3171 WHERE [StratificationId] = 7014
UPDATE [dbo].[t_Stratification] SET [StratificationDisplayOrder]=3172 WHERE [StratificationId] = 7015
UPDATE [dbo].[t_Stratification] SET [StratificationDisplayOrder]=3173 WHERE [StratificationId] = 7016
UPDATE [dbo].[t_Stratification] SET [StratificationDisplayOrder]=3174 WHERE [StratificationId] = 7017
UPDATE [dbo].[t_Stratification] SET [StratificationDisplayOrder]=3175 WHERE [StratificationId] = 7018
UPDATE [dbo].[t_Stratification] SET [StratificationDisplayOrder]=3176 WHERE [StratificationId] = 7019
UPDATE [dbo].[t_Stratification] SET [StratificationDisplayOrder]=3177 WHERE [StratificationId] = 7020
UPDATE [dbo].[t_Stratification] SET [StratificationDisplayOrder]=3178 WHERE [StratificationId] = 7021
UPDATE [dbo].[t_Stratification] SET [StratificationDisplayOrder]=3179 WHERE [StratificationId] = 7022
UPDATE [dbo].[t_Stratification] SET [StratificationDisplayOrder]=3180 WHERE [StratificationId] = 7023
UPDATE [dbo].[t_Stratification] SET [StratificationDisplayOrder]=3181 WHERE [StratificationId] = 7024
PRINT(N'Operation applied to 20 rows out of 20')

PRINT(N'Update rows in [dbo].[t_Page]')
UPDATE [dbo].[t_Page] SET [ChartExplanation]=N'<p>To view the awareness of CKD stages 1&ndash;5 by risk categories, select from the drop-down menu below. Risk categories include Overall, Age, Sex, Race/Ethnicity, Diabetes, Hypertension, and CKD Stage.</p>
' WHERE [PageID] = 58
UPDATE [dbo].[t_Page] SET [ChartExplanation]=N'<p>To view the frequency of albuminuria testing among U.S. veterans by risk categories, select from the drop-down menu below. Risk categories include Overall, Age Category, Sex, Race/Ethnicity, Diabetes, and Hypertension.</p>
' WHERE [PageID] = 326
PRINT(N'Operation applied to 2 rows out of 4')

PRINT(N'Update row in [dbo].[t_Reference]')
UPDATE [dbo].[t_Reference] SET [ReferenceText]=N'<p>Inker LA, Eneanya ND, Coresh J, et al. New creatinine- and cystatin C&ndash;based equations to estimate GFR without race. <em>N Engl J Med</em>. 2021;385:1737-1749. doi: 10.1056/NEJMoa2102953</p>
' WHERE [ReferenceID] = 135

PRINT(N'Update rows in [dbo].[t_Indicator]')
UPDATE [dbo].[t_Indicator] SET [IndicatorText]=N'Trends in Kidney Disease Awareness among U.S. Adults with CKD Stages 1–5', [IndicatorTitleRoot]=N'Kidney Disease Awareness Among U.S. Adults with CKD' WHERE [IndicatorID] = 120
UPDATE [dbo].[t_Indicator] SET [maxYear]='2023' WHERE [IndicatorID] = 179
UPDATE [dbo].[t_Indicator] SET [maxYear]='2023' WHERE [IndicatorID] = 316
PRINT(N'Operation applied to 3 rows out of 4')

PRINT(N'Update [dbo].[AYA]')
UPDATE dbo.AYA SET TopicHomePageURL = '../TopicHome/PrevalenceIncidence.aspx?topic=1' WHERE AYAId = 3055
PRINT(N'Update [dbo].[AYA]')

PRINT(N'Add row to [dbo].[AYA]')
SET IDENTITY_INSERT [dbo].[AYA] ON
SET IDENTITY_INSERT [dbo].[AYA] OFF

PRINT(N'Add row to [dbo].[t_DataSource]')
SET IDENTITY_INSERT [dbo].[t_DataSource] ON
INSERT INTO [dbo].[t_DataSource] ([DataSourceID], [DataSourceShortName], [DataSourceFullName], [DataSourceDescription], [DataSourceDisplayOrder], [SiteResponsible]) VALUES (76, 'LabCrop', 'LabCrop', NULL, 70, 'Unknown')
SET IDENTITY_INSERT [dbo].[t_DataSource] OFF

PRINT(N'Add rows to [dbo].[t_StratificationSet]')
SET IDENTITY_INSERT [dbo].[t_StratificationSet] ON
INSERT INTO [dbo].[t_StratificationSet] ([StratificationSetID], [StratificationText]) VALUES (1140, N'CKD Group')
INSERT INTO [dbo].[t_StratificationSet] ([StratificationSetID], [StratificationText]) VALUES (1142, N'CKD Stage in 2020')
INSERT INTO [dbo].[t_StratificationSet] ([StratificationSetID], [StratificationText]) VALUES (1143, N'CKD Stage in 2022')
SET IDENTITY_INSERT [dbo].[t_StratificationSet] OFF
PRINT(N'Operation applied to 4 rows out of 4')

PRINT(N'Add rows to [dbo].[t_Stratification]')
SET IDENTITY_INSERT [dbo].[t_Stratification] ON
INSERT INTO [dbo].[t_Stratification] ([StratificationId], [StratificationSetID], [StratificationCode], [Stratification], [StratificationDisplayOrder]) VALUES (8025, 49, '2023', N'2023', 2090)
INSERT INTO [dbo].[t_Stratification] ([StratificationId], [StratificationSetID], [StratificationCode], [Stratification], [StratificationDisplayOrder]) VALUES (8026, 49, '2024', N'2024', 2100)
INSERT INTO [dbo].[t_Stratification] ([StratificationId], [StratificationSetID], [StratificationCode], [Stratification], [StratificationDisplayOrder]) VALUES (8027, 49, '2025', N'2025', 2110)
SET IDENTITY_INSERT [dbo].[t_Stratification] OFF
PRINT(N'Operation applied to 35 rows out of 35')

PRINT(N'Add rows to [dbo].[t_Chart]')
SET IDENTITY_INSERT [dbo].[t_Chart] ON
SET IDENTITY_INSERT [dbo].[t_Chart] OFF
PRINT(N'Operation applied to 1 rows out of 69')

PRINT(N'Add rows to [dbo].[t_PageReferenceLink]')
SET IDENTITY_INSERT [dbo].[t_PageReferenceLink] ON
INSERT INTO [dbo].[t_PageReferenceLink] ([PageReferenceLinkID], [PageID], [ReferenceID], [DisplayOrder]) VALUES (1685, 559, 135, 1)
INSERT INTO [dbo].[t_PageReferenceLink] ([PageReferenceLinkID], [PageID], [ReferenceID], [DisplayOrder]) VALUES (1686, 457, 135, 1)
INSERT INTO [dbo].[t_PageReferenceLink] ([PageReferenceLinkID], [PageID], [ReferenceID], [DisplayOrder]) VALUES (1687, 558, 135, 1)
SET IDENTITY_INSERT [dbo].[t_PageReferenceLink] OFF
PRINT(N'Operation applied to 4 rows out of 8')

PRINT(N'Add rows to [dbo].[t_SpecSheet]')
SET IDENTITY_INSERT [dbo].[t_SpecSheet] ON
INSERT INTO [dbo].[t_SpecSheet] ([SpecSheetID], [PageID], [DisplayOrder], [FieldText], [DataText]) VALUES (12671, 457, 15, 'Disclaimer', N'<p>The contents of this publication are the sole responsibility of the authors and do not necessarily reflect the views, assertions, opinions, or policies of the Uniformed Services University of the Health Sciences (USUHS), the Henry M. Jackson Foundation for the Advancement of Military Medicine, Inc., the Departments of the Army, Navy, or Air Force, or the Department of Health and Human Services.</p>')
INSERT INTO [dbo].[t_SpecSheet] ([SpecSheetID], [PageID], [DisplayOrder], [FieldText], [DataText]) VALUES (12672, 559, 15, 'Disclaimer', N'<p>The contents of this publication are the sole responsibility of the authors and do not necessarily reflect the views, assertions, opinions, or policies of the Uniformed Services University of the Health Sciences (USUHS), the Henry M. Jackson Foundation for the Advancement of Military Medicine, Inc., the Departments of the Army, Navy, or Air Force, or the Department of Health and Human Services.</p>')
INSERT INTO [dbo].[t_SpecSheet] ([SpecSheetID], [PageID], [DisplayOrder], [FieldText], [DataText]) VALUES (12675, 454, 15, 'Disclaimer', N'<p>The contents of this publication are the sole responsibility of the authors and do not necessarily reflect the views, assertions, opinions or policies of the Uniformed Services University of the Health Sciences (USUHS), the Henry M. Jackson Foundation for the Advancement of Military Medicine, Inc., the Departments of the Army, Navy, or Air Force, or the Department of Health and Human Services.</p>')
SET IDENTITY_INSERT [dbo].[t_SpecSheet] OFF
PRINT(N'Operation applied to 6 rows out of 363')

PRINT(N'Add rows to [dbo].[t_DataPoint]')
SET IDENTITY_INSERT [dbo].[t_DataPoint] ON
INSERT INTO [dbo].[t_DataPoint] ([DatapointID], [ChartID], [StratificationID1], [StratificationID2], [StratificationID3], [MainValue], [HighConfidenceInterval], [LowConfidenceInterval], [StandardError]) VALUES (394819, 4293, 488, NULL, NULL, N'30.1', NULL, NULL, NULL)
INSERT INTO [dbo].[t_DataPoint] ([DatapointID], [ChartID], [StratificationID1], [StratificationID2], [StratificationID3], [MainValue], [HighConfidenceInterval], [LowConfidenceInterval], [StandardError]) VALUES (394820, 4293, 6007, NULL, NULL, N'36.0', NULL, NULL, NULL)
INSERT INTO [dbo].[t_DataPoint] ([DatapointID], [ChartID], [StratificationID1], [StratificationID2], [StratificationID3], [MainValue], [HighConfidenceInterval], [LowConfidenceInterval], [StandardError]) VALUES (394821, 4293, 6008, NULL, NULL, N'35.3', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[t_DataPoint] OFF
PRINT(N'Operation applied to 84 rows out of 2471')

PRINT(N'Add constraints to [dbo].[t_DataPoint]')
ALTER TABLE [dbo].[t_DataPoint] WITH CHECK CHECK CONSTRAINT [FK_t_DataPoint_t_Chart]
ALTER TABLE [dbo].[t_DataPoint] WITH CHECK CHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_1]
ALTER TABLE [dbo].[t_DataPoint] WITH CHECK CHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_2]
ALTER TABLE [dbo].[t_DataPoint] WITH CHECK CHECK CONSTRAINT [FK_t_DataPoint_t_Stratification_3]

PRINT(N'Add constraints to [dbo].[t_SpecSheet]')
ALTER TABLE [dbo].[t_SpecSheet] WITH CHECK CHECK CONSTRAINT [FK_t_SpecSheet_t_Page]

PRINT(N'Add constraints to [dbo].[t_PageReferenceLink]')
ALTER TABLE [dbo].[t_PageReferenceLink] WITH CHECK CHECK CONSTRAINT [FK_t_PageReferenceLink_t_Page]
ALTER TABLE [dbo].[t_PageReferenceLink] WITH CHECK CHECK CONSTRAINT [FK_t_PageReferenceLink_t_Reference]

PRINT(N'Add constraints to [dbo].[t_KeyPoint]')
ALTER TABLE [dbo].[t_KeyPoint] WITH CHECK CHECK CONSTRAINT [FK_t_KeyPoint_t_Page]

PRINT(N'Add constraints to [dbo].[t_FootNote]')
ALTER TABLE [dbo].[t_FootNote] WITH CHECK CHECK CONSTRAINT [FK_t_FootNote_t_Page]

PRINT(N'Add constraints to [dbo].[t_Chart]')
ALTER TABLE [dbo].[t_Chart] WITH CHECK CHECK CONSTRAINT [FK_t_Chart_t_ChartStyle]
ALTER TABLE [dbo].[t_Chart] WITH CHECK CHECK CONSTRAINT [FK_t_Chart_t_DisplayFormat]
ALTER TABLE [dbo].[t_Chart] WITH CHECK CHECK CONSTRAINT [FK_t_Chart_t_Page]
ALTER TABLE [dbo].[t_Chart] WITH CHECK CHECK CONSTRAINT [FK_t_Chart_t_StratificationSet_1]
ALTER TABLE [dbo].[t_Chart] WITH CHECK CHECK CONSTRAINT [FK_t_Chart_t_StratificationSet_2]
ALTER TABLE [dbo].[t_Chart] WITH CHECK CHECK CONSTRAINT [FK_t_Chart_t_StratificationSet_3]
ALTER TABLE [dbo].[t_DisparitiesDataPoint] WITH CHECK CHECK CONSTRAINT [FK_t_DisparitiesDP_t_Chart]

PRINT(N'Add constraints to [dbo].[t_Stratification]')
ALTER TABLE [dbo].[t_Stratification] WITH CHECK CHECK CONSTRAINT [FK_t_Stratification_t_StratificationSet]
ALTER TABLE [dbo].[t_DisparitiesDataPoint] WITH CHECK CHECK CONSTRAINT [FK_t_DisparitiesDP_t_Stratification_1]
ALTER TABLE [dbo].[t_DisparitiesDataPoint] WITH CHECK CHECK CONSTRAINT [FK_t_DisparitiesDP_t_Stratification_2]
ALTER TABLE [dbo].[t_DisparitiesDataPoint] WITH CHECK CHECK CONSTRAINT [FK_t_DisparitiesDP_t_Stratification_3]

PRINT(N'Add constraints to [dbo].[t_Page]')
ALTER TABLE [dbo].[t_Page] WITH CHECK CHECK CONSTRAINT [FK_t_Page_t_DataSource]
ALTER TABLE [dbo].[t_Page] WITH CHECK CHECK CONSTRAINT [FK_t_Page_t_Indicator]
ALTER TABLE [dbo].[t_Image] WITH CHECK CHECK CONSTRAINT [FK_t_Image_t_Page]
ALTER TABLE [dbo].[t_MapLegend] WITH CHECK CHECK CONSTRAINT [FK_t_MapLegend_t_Page]
ALTER TABLE [dbo].[t_MethodsPage] WITH CHECK CHECK CONSTRAINT [FK_t_MethodsPage_t_Page]
ALTER TABLE [dbo].[t_IndicatorFactorOfInterestLink] WITH CHECK CHECK CONSTRAINT [FK_t_IndicatorFactorOfInterestLink_t_Indicator]
ALTER TABLE [dbo].[t_IndicatorLink] WITH CHECK CHECK CONSTRAINT [FK_t_IndicatorLink_t_Indicator_1]
ALTER TABLE [dbo].[t_IndicatorLink] WITH CHECK CHECK CONSTRAINT [FK_t_IndicatorLink_t_Indicator_2]
ALTER TABLE [dbo].[t_MeasureIndicatorLink] WITH CHECK CHECK CONSTRAINT [FK_t_MeasureIndicatorLink_t_Indicator]
COMMIT TRANSACTION
GO
