SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_PADDING, ANSI_WARNINGS, CONCAT_NULL_YIELDS_NULL, ARITHABORT, QUOTED_IDENTIFIER, ANSI_NULLS, NOCOUNT ON
GO
SET DATEFORMAT YMD
GO
SET XACT_ABORT ON
GO
SET TRANSACTION ISOLATION LEVEL Serializable
GO
BEGIN TRANSACTION

PRINT(N'Drop constraints from [dbo].[t_Page]')
ALTER TABLE [dbo].[t_Page] NOCHECK CONSTRAINT [FK_t_Page_t_DataSource]
ALTER TABLE [dbo].[t_Page] NOCHECK CONSTRAINT [FK_t_Page_t_Indicator]

PRINT(N'Drop constraint FK_t_Chart_t_Page from [dbo].[t_Chart]')
ALTER TABLE [dbo].[t_Chart] NOCHECK CONSTRAINT [FK_t_Chart_t_Page]

PRINT(N'Drop constraint FK_t_FootNote_t_Page from [dbo].[t_FootNote]')
ALTER TABLE [dbo].[t_FootNote] NOCHECK CONSTRAINT [FK_t_FootNote_t_Page]

PRINT(N'Drop constraint FK_t_Image_t_Page from [dbo].[t_Image]')
ALTER TABLE [dbo].[t_Image] NOCHECK CONSTRAINT [FK_t_Image_t_Page]

PRINT(N'Drop constraint FK_t_KeyPoint_t_Page from [dbo].[t_KeyPoint]')
ALTER TABLE [dbo].[t_KeyPoint] NOCHECK CONSTRAINT [FK_t_KeyPoint_t_Page]

PRINT(N'Drop constraint FK_t_MapLegend_t_Page from [dbo].[t_MapLegend]')
ALTER TABLE [dbo].[t_MapLegend] NOCHECK CONSTRAINT [FK_t_MapLegend_t_Page]

PRINT(N'Drop constraint FK_t_MethodsPage_t_Page from [dbo].[t_MethodsPage]')
ALTER TABLE [dbo].[t_MethodsPage] NOCHECK CONSTRAINT [FK_t_MethodsPage_t_Page]

PRINT(N'Drop constraint FK_t_PageReferenceLink_t_Page from [dbo].[t_PageReferenceLink]')
ALTER TABLE [dbo].[t_PageReferenceLink] NOCHECK CONSTRAINT [FK_t_PageReferenceLink_t_Page]

PRINT(N'Drop constraint FK_t_SpecSheet_t_Page from [dbo].[t_SpecSheet]')
ALTER TABLE [dbo].[t_SpecSheet] NOCHECK CONSTRAINT [FK_t_SpecSheet_t_Page]

PRINT(N'Update rows in [dbo].[t_Page]')
UPDATE [dbo].[t_Page] SET [ChartExplanation]=N'<p>To view the awareness of CKD stages 1&ndash;5 by risk categories, select from the drop-down menu below. Risk categories include Overall, CKD Group, CKD Stage, Age Category, Sex, Race/Ethnicity, Diabetes, and Hypertension.</p>
' WHERE [PageID] = 58
UPDATE [dbo].[t_Page] SET [ChartExplanation]=N'<p>To view the burden of Hypertension by risk categories, select from the drop-down menu below. Risk categories include CKD, Age Category, Sex, and Race/Ethnicity.</p>
', [Active]=0 WHERE [PageID] = 586
UPDATE [dbo].[t_Page] SET [ChartExplanation]=N'<p>To view the burden of Diabetes by risk categories, select from the drop-down menu below. Risk categories include CKD, Age Category, Sex, and Race/Ethnicity.</p>
', [Active]=0 WHERE [PageID] = 587
UPDATE [dbo].[t_Page] SET [ChartExplanation]=N'<p>To view the burden of Cardiovascular Disease by risk categories, select from the drop-down menu below. Risk categories include CKD, Age Category, Sex, and Race/Ethnicity.</p>
', [Active]=0 WHERE [PageID] = 588
UPDATE [dbo].[t_Page] SET [ChartExplanation]=N'<p>To view the burden of Anemia by risk categories, select from the drop-down menu below. Risk categories include CKD, Age Category, Sex, and Race/Ethnicity.</p>
', [Active]=0 WHERE [PageID] = 589
UPDATE [dbo].[t_Page] SET [ChartExplanation]=N'<p>To view the burden of Hypertension by risk categories, select from the drop-down menu below. Risk categories include CKD, Age Category, Sex, and Race/Ethnicity.</p>
', [Active]=0 WHERE [PageID] = 593
UPDATE [dbo].[t_Page] SET [ChartExplanation]=N'<p>To view the burden of Diabetes by risk categories, select from the drop-down menu below. Risk categories include CKD, Age Category, Sex, and Race/Ethnicity.</p>
', [Active]=0 WHERE [PageID] = 594
UPDATE [dbo].[t_Page] SET [ChartExplanation]=N'<p>To view the burden of Cardiovascular Disease by risk categories, select from the drop-down menu below. Risk categories include CKD, Age Category, Sex, and Race/Ethnicity.</p>
', [Active]=0 WHERE [PageID] = 595
UPDATE [dbo].[t_Page] SET [ChartExplanation]=N'<p>To view the burden of Anemia by risk categories, select from the drop-down menu below. Risk categories include CKD, Age Category, Sex, and Race/Ethnicity.</p>
', [Active]=0 WHERE [PageID] = 596
PRINT(N'Operation applied to 9 rows out of 9')

PRINT(N'Update row in [dbo].[AYA]')
UPDATE [dbo].[AYA] SET [Month]=N'December  ', [AYALink]=N'../AreYouAware.aspx?emailDate=December_2025', [CKDSurveillanceChartLink]=N'https://wwwn.cdc.gov/KDSS/detail.aspx?Qnum=Q759&topic=3&Strat=CKD+Stage#refreshPosition', [MonthNum]=12 WHERE [AYAId] = 3056

PRINT(N'Add constraints to [dbo].[t_Page]')
ALTER TABLE [dbo].[t_Page] WITH CHECK CHECK CONSTRAINT [FK_t_Page_t_DataSource]
ALTER TABLE [dbo].[t_Page] WITH CHECK CHECK CONSTRAINT [FK_t_Page_t_Indicator]
ALTER TABLE [dbo].[t_Chart] WITH CHECK CHECK CONSTRAINT [FK_t_Chart_t_Page]
ALTER TABLE [dbo].[t_FootNote] WITH CHECK CHECK CONSTRAINT [FK_t_FootNote_t_Page]
ALTER TABLE [dbo].[t_Image] WITH CHECK CHECK CONSTRAINT [FK_t_Image_t_Page]
ALTER TABLE [dbo].[t_KeyPoint] WITH CHECK CHECK CONSTRAINT [FK_t_KeyPoint_t_Page]
ALTER TABLE [dbo].[t_MapLegend] WITH CHECK CHECK CONSTRAINT [FK_t_MapLegend_t_Page]
ALTER TABLE [dbo].[t_MethodsPage] WITH CHECK CHECK CONSTRAINT [FK_t_MethodsPage_t_Page]
ALTER TABLE [dbo].[t_PageReferenceLink] WITH CHECK CHECK CONSTRAINT [FK_t_PageReferenceLink_t_Page]
ALTER TABLE [dbo].[t_SpecSheet] WITH CHECK CHECK CONSTRAINT [FK_t_SpecSheet_t_Page]
COMMIT TRANSACTION
GO
